[2015-10-28 11:14] davecramer opened #4 "Build failure on OS X"
OS X 10.10.5
Apple LLVM version 6.1.0 (clang-602.0.53) (based on LLVM 3.6.0svn)
Target: x86_64-apple-darwin14.5.0

./configure
make
results in
strlcpy.c:45:1: error: expected parameter declarator
strlcpy(char *dst, const char *src, size_t siz)
^
/usr/include/secure/_string.h:105:44: note: expanded from macro 'strlcpy'
  __builtin___strlcpy_chk (dest, src, len, __darwin_obsz (dest))

[2015-10-28 16:29] viveksingh12 opened #7 "Hp,Dell(Kodak)) printer Support Number+[{{1+844 247 1987}}}}} Hp Printer customer support number @hp printer support number"
Hp,Dell(Kodak)) printer Support Number+[{{1+844 247 1987}}}}} Hp Printer customer support number @hp printer support number

Kodak HP 1844 247 1987 Lexmark Printer Tech support phone number, Lexmark Printer Customer support
Kodak HP Lexmark printer {{[[+1-844-247-1987]]]]+ customer service phone number, Lexmark printer Tech support numb<>}{1-844-247-1987}{ Kodak HP Lexmark Printer technical suppor

[2015-10-28 16:35] viveksingh12 opened #8 "Norton,Avg(Mcafee)) antivirus Support Number+[{{1+844 228 7592}}}}} Norton Antivirus customer support number @norton antivirus support number"
Norton,Avg(Mcafee)) antivirus Support Number+[{{1+844 228 7592}}}}} Norton Antivirus customer support number @norton antivirus support number

Mcafee NORTON 1844 228 7592 Bitdefender Antivirus Tech support phone number, Bitdefender Antivirus Customer support
Mcafee NORTON Bitdefender antivirus {{[[+1-844-228-7592]]]]+ customer service phone number, Bitdefender antivirus Tech support numb<>}{1-844-

[2015-10-28 16:38] viveksingh12 opened #9 "@@@@$$$norton+[{{1+844 228 7592}}}}} Norton Antivirus customer support number @norton antivirus support number"
@@@@$$$norton+[{{1+844 228 7592}}}}} Norton Antivirus customer support number @norton antivirus support number

Mcafee NORTON 1844 228 7592 Bitdefender Antivirus Tech support phone number, Bitdefender Antivirus Customer support
Mcafee NORTON Bitdefender antivirus {{[[+1-844-228-7592]]]]+ customer service phone number, Bitdefender antivirus Tech support numb<>}{1-844-228-7592}{ Mcafee NORTON Bitdef

[2015-10-28 17:32] sirinath opened #10 "Streaming Query | Complex Event Processing support"
Can you add real time Streaming Query and Complex Event Processing capabilities like in: https://www.pipelinedb.com/, http://www.sqlstream.com/, etc.

[2015-10-28 20:24] film42 commented on #4
I don't think it's intended to support OSX. Their support systems list can be found here: http://gpdb.docs.pivotal.io/4360/prep_os-system-req.html#topic2

I worked through some of these errors by using os `strlcpy` and `strlcat` and I'm currently at:

[code]

[2015-10-28 20:34] suhaagsingh43 opened #13 "Help ** 1 844 461 2828 @@ hp printer customer support phone number, hp printer customer service phone number???"
CALL ME *** 1 844 461 2828 hp printer tech support phone number, hp printer customer service phone number???
.
hp printer tech support, hp printer tech support number, hp printer tech support phone number, hp printer technical support, hp printer technical support number, hp printer technical support phone number, hp printer customer support number, hp printer support number, hp printer Customer s

[2015-10-28 20:35] suhaagsingh43 opened #14 "Help ** 1 844 461 2828 @@ internet explorer customer support phone number, internet explorer customer service phone number???"
Help ** 1 844 461 2828 @@ internet explorer customer support phone number, internet explorer customer service phone number???

CALL ME *** 1 844 461 2828 internet explorer tech support phone number, internet explorer customer service phone number???
.
internet explorer tech support, internet explorer tech support number, internet explorer tech support phone number, internet explorer technical supp

[2015-10-28 20:38] suhaagsingh43 opened #15 "/**/1-844-461-2828/**/ Internet explorer support phone number !1 (844) 461.2828 !Internet explorer service phone number##internet explorer customer helpline phone number"
Call ~~~~1 ( 844) 461 2828~~~~~~~~ Internet explorer  Customer service phone Number

Call ~~~~1 ( 844) 461 2828~~~~~~~~ Internet explorer  tech support number
Helpdesk// ~~1 ( 844) 461 2828~~Internet explorer  customer service phone number

support Number  1 8444612828\\ INTERNET EXPLORER  customerservice Number   -  techsupport ##INTERNET EXPLORER  customerservice Number   1 8444612828-  l tech s

[2015-10-28 21:44] rizo commented on #4
The same issue occurs on FreeBSD 10.2.

Adding `<string.h>` include does not seems to solve the problem.
Before that I had to manually set the pthread lib variable:  `PTHREAD_LIBS=-lpthread`.

Here's the log just for reference:

[code]

[2015-10-29 03:50] tlrobinson opened #19 "Dockerfile?"
It might be nice to have a Dockerfile/image to help people easily try out Greenplum.

[2015-10-29 04:37] visualphoenix commented on #19
@tlrobinson working on that in #3 feel free to help. i have builders to output precompiled rpm and deb packages but need to identify, document, and add what the runtime dependencies we need are.

[2015-10-29 05:13] film42 commented on #4
I was able to get OSX building. PR is open!

[2015-10-29 08:12] hlinnaka commented on #10
Patches are welcome ;-)

[2015-10-29 14:42] phoccer opened #20 "Fatal error with --enable-orca option"
When I try to compile with the --enable-orca option I receive the following error:

In file included from CConfigParamMapping.cpp:19:0:
../../.././src/include/gpopt/config/CConfigParamMapping.h:18:23: fatal error: gpos/base.h: No such file or directory
#include "gpos/base.h"

A find of the gpdb source directory shows doesn't return a gpos directory.

[2015-10-29 14:57] edespino commented on #20
At the current time the new Pivotal query optimizer (orca) is not available in the open source.  Rest assured, it will be in the not too distant future.  We use this flag for our internal builds where it is currently available.  Subscribe to the announcements list to ensure you receive notification of it's Open Source availability.

Regards,
-=ed espino

[2015-10-29 15:19] edespino opened #21 "Replace "ed" dependency used by gpinitsystem and gpcreateseg.sh"
Currently used by gpinitsystem and gpcreateseg.sh and defined in the function "ED_PG_CONF" (defined  in gpMgmt/bin/lib/gp_bash_functions.sh), replace the use of "ed" (line-oriented text editor) with a more readily available package (example: sed).

If "ed" is not available, one will see somewhat messages similar to "[WARN]:-Failed to replace #port in */postgresql.conf".  One needs to hunt around t

[2015-10-29 15:33] edespino opened #22 "Change default installation directory from /usr/local/pgsql to /usr/local/gpsql"
The default installation directory (configure prefix) is currently set to the that used by PostgreSQL (/usr/local/pgsql). Although related, PostgreSQL and Greenplum Database are different products, I suggest changing the Greenplum Database default installation directory to /usr/local/gpsql.

There is also a related issue with the default directory (/usr/local/pgsql) as this will change the default

[2015-10-29 16:15] ashwinstar commented on #22
+1 lets do it

- Ashwin

On Oct 29, 2015, at 8:33 AM, Ed Espino <notifications@github.com> wrote:

The default installation directory is currently set to the that used by
PostgreSQL (/usr/local/pgsql). Although related, PostgreSQL and Greenplum
Database are different products, I suggest changing the Greenplum Database
default installation directory to /usr/local/gpsql.

There is also a related iss

[2015-10-29 21:36] Xangis opened #23 "Add Requirements File for Python Modules"
It's not clear what versions of the Python modules (lockfile, paramiko, etc) are best for use with gpdb.

Please include a requirements.txt file to make it easy to install all of the python dependencies/extras in one shot with pip.

[2015-10-29 22:57] edespino commented on #20
On second thought, I am reopening this issue.  If the "--enable-orca" flag is used, "configure" should fail if appropriate header files and libraries are not found on the system.  A build check should be added.  Thanks for raising this issue Tim.

[2015-10-30 01:38] edespino commented on #20
I am validating a fix to configure that will check for Greenplum Query Optimizer header files:

[code]

[2015-10-30 14:10] phoccer opened #27 "make on CentOS 7 using --with-perl errors out"
I'm using the following configure on a CentOS 7 machine:

./configure --with-perl --with-python --enable-dtrace --enable-snmp --with-openssl --with-ldap --with-krb5 --prefix=/usr/local/gpdb

The configure runs without error or warning. When I attempt to run a make, it cranks away for a while then eventually errors out:

"/usr/share/perl5/ExtUtils/xsubpp": No file or directory

Running locate on my

[2015-11-02 10:22] #10 closed

[2015-11-02 10:45] hlinnaka commented on #27
This was fixed back in 2011 in upstream, see discussion at http://www.postgresql.org/message-id/9B946296-A2EB-4B45-A190-153F06662F8B@kineticode.com. I couldn't figure out what the work-around mentioned in that thread was, so it seemed best to backpatch this fix. So I did. Thanks for the report!

[2015-11-02 10:45] #27 closed

[2015-11-02 18:29] vitesse-ftian opened #34 "Centos7, make cluster in gpdemo failed with pygresql import error"
yum install pygresql won't fix the problem.

Adding an empty __init__.py in $GPHOME/lib/python/pygresql seems to fix the problem.

[2015-11-02 18:39] vitesse-ftian opened #35 "make installcheck or make installcheck-good failed"
test boolean              ... gpdiff: ./expected/boolean.out: No such file or directory

Did we missed expected result in git?

[2015-11-02 18:40] vitesse-ftian commented on #35
Sorry, the file is there.   Must be my own fault.

[2015-11-02 18:40] #35 closed

[2015-11-02 19:06] vitesse-ftian opened #36 "Money type overflow"
Upstream Postgres Money is 8 bytes.   Greenplum uses 4 bytes.   If running TPCH using MONEY data type, you will see negative amount of sum (overflow).

This is same issue as in HAWQ-19.   Caleb points out the upstream,
https://github.com/postgres/postgres/commit/74a40190aabd27b052ea7a63e93f7ed47743755d#diff-7ddd78dd264f8cf2a62cf572baf90b84

[2015-11-02 20:09] hlinnaka commented on #36
Yeah, the money datatype was widened to 64-bits in PostgreSQL 8.3, and greenplum is based on 8.2.

We'll have to deal with this as we merge with 8.3. I'm hoping that we could make pg_upgrade to work for going from 8.2 to 8.3, but that's going to be a problem. 'money' isn't a very widely used datatype though, so perhaps we can simply require dump+restore for any tables using 'money'.

[2015-11-02 21:41] kmatt opened #38 "Fedora configure: error: neither atexit() nor on_exit() found"
atexit() should be part of stdlib ("man atexit" confirms) but on Fedora 22 configure complains of not finding atexit() or on_exit(). System in question has glibc, -headers, -devel v 2.21.

Could there be a configure option or an environment variable that needs setting?

[2015-11-02 22:56] jimmyyih commented on #34
Hello,

A "yum install pygresql" or even "pip install pygresql" will not work currently with Greenplum.  We use an edited version of PyGreSQL 4.0 (mostly in pgmodule.c to enable notices) which can be found in gpMgmt/bin/pythonSrc/PyGreSQL-4.0/.

Inside gpMgmt/bin/Makefile (called from make install), the pygresql target has an \_\_init\_\_.py touch so I am curious as to how your $GPHOME/lib/python/

[2015-11-02 23:09] jimmyyih commented on #23
We were thinking of adding a requirements.txt before but #2 covers this pretty well.  Do you still see a need for a requirements.txt if #2 is merged in?

[2015-11-02 23:12] vitesse-ftian commented on #34
Need to touch $(PYLIB_DIR)/pygresql/__init__.py?

[2015-11-03 00:26] yydzero commented on #36
If we decided to ask customer to do this, clear documentation is needed.
To avoid we totally forget this, it is better to record this somewhere,
maybe greenplum.org wiki.

Besides, does anyone know how to contribute to doc/wiki?

Regards,
Yandong

On Tue, Nov 3, 2015 at 4:09 AM, Heikki Linnakangas <notifications@github.com

--
Best Regards,
Yandong

[2015-11-03 01:08] Xangis commented on #23
That looks like a pretty good solution.

I ran into a problem where my colleague had lockfile 0.8 installed and I had 0.10.2 installed, and it wasn't clear what the problem was at first (0.8 does not work and 0.10 does). As long as there's a clean way to be sure that the correct Python modules are installed and at the right versions it should be good.

[2015-11-03 09:29] hlinnaka commented on #38
I just downloaded and installed a fresh Fedora 22 system, and configure and make worked fine. Can you provide more details?

[2015-11-03 18:13] kmatt commented on #38
Knowing it builds on Fedora, I looked deeper into config.log and found that the atexit() check was invoking libcurl calls via Python, and this system has Anaconda from Continuum.io installed:

[code]

[2015-11-03 18:15] kmatt commented on #38
Configure and build successful with default system Python interpreter. Closing.

[2015-11-03 18:15] #38 closed

[2015-11-03 23:36] jimmyyih commented on #34
You shouldn't need to manually touch the init file if the make install finishes without error.

[2015-11-04 18:04] Xangis commented on #23
In case it's useful, though, this is the requirements.txt file I've been using and it seems to work. Not sure if the versions are the best to use:

PSI==0.3b2
lockfile==0.11
paramiko==1.15.4
epydoc==3.0.1

[2015-11-04 23:02] biouxtai opened #49 "gptransfer enhancement"
Add two options to gptransfer:

--where='<where clause>'    To allow filtering on the select from the table

--append    Used in conjunction with the prior option to enable data migration that is not a full table copy, this will remove the drop or truncate requirement.

[2015-11-04 23:57] ivannovick commented on #49
Hi Dan,  i thought you were going to submit the pull request with the code to implement now that's open source?  Cheers, Ivan ;)

[2015-11-05 01:16] digoal opened #50 "make error, undefined reference to `readable_external_table_timeout'"
#git log
commit b80a01e90a42db4a8918801c6f070c8f55a6c23e
Author: Heikki Linnakangas <hlinnakangas@pivotal.io>
Date:   Thu Nov 5 00:20:11 2015 +0200

    Remove useless 'initdb' bugbuster test

./configure --prefix=/opt/gpdb --without-libcurl
make error

gmake[3]: Leaving directory `/opt/soft_bak/gpdb/src/backend/cdb'
g++ -O3 -std=gnu99  -Wall -Wmissing-prototypes -Wpointer-arith -Wendif-labels -Wf

[2015-11-05 01:48] ddanese commented on #49
I wanted to put this out there to see if it already existed. Since it looks like it doesn't I will go ahead and work it in. :)

[2015-11-05 07:40] hlinnaka commented on #50
Fixed, thanks for the report! The "readable_external_table_timeout" was erroneously inside an ifdef USE_CURL block, even though it's also needed when building without libcurl.

[2015-11-05 07:40] #50 closed

[2015-11-06 19:47] edespino commented on #20
We are now checking for Greenplum Query Optimizer and GPOS header files during configure if --enable-orca is used.

[2015-11-06 19:54] edespino opened #58 "Setup preliminary CI process using travis-ci.org"
As an open source project, setup a build only continuous integration (CI) process on travis-ci.org.

[2015-11-06 20:27] hlinnaka commented on #20
That patch was reverted, so re-open the issue

[2015-11-06 21:48] adason commented on #19
Any followup on this issue? Is #3 going to be merged?

[2015-11-07 00:09] edespino commented on #58
Pushed to master.

[2015-11-07 00:09] #58 closed

[2015-11-07 18:12] edespino commented on #20
Merged updated approach into master.  Also update Pivotal Makefiles to allow configure to locate gpopt and gpos header files.

[2015-11-07 18:12] #20 closed

[2015-11-07 21:55] ksasi opened #61 "make cluster fails on centos7"
Hi,

It appears make cluster is failing on centos7, below is the standard o/p

make cluster
======================================================================
            ______  _____  ______  _______ _______  _____
           |  ____ |_____] |     \ |______ |  |  | |     |
           |_____| |       |_____/ |______ |  |  | |_____|

------------------------------------------------------------

[2015-11-08 04:38] asimrp commented on #61
Looking at this line from the output:
[code]
During initialization, the script connects to localhost using ssh.  Can you please try `ssh $(hostname)` and verify that it works without prompting for password?

[2015-11-08 23:45] edespino commented on #61
Being a MPP system, the Greenplum management scripts execute **ssh** commands across the cluster (even in a single node cluster configuration) to interact with segment instances.  The ```Permission denied (publickey,gssapi-keyex,gssapi-with-mic,password).``` error you received indicates your ssh keys are not setup.  Please refer to the **[Installing and Configuring Greenplum on all Hosts](http://g

[2015-11-09 12:25] hlinnaka commented on #61
On 11/09/2015 01:46 AM, Ed Espino wrote:

As a work-around, you can set up a cluster "the hacky way", see my post
on gpdb-dev last week:
https://groups.google.com/a/greenplum.org/forum/#!topic/gpdb-dev/QgK6gjgp9z8.
That doesn't need ssh access.

- Heikki

[2015-11-09 18:57] testobsessed commented on #19
Unfortunately @visualphoenix closed the PR #3 and deleted the branch.

[2015-11-09 22:22] ksasi commented on #61
Hi All,

Setting up ssh-keys seem to have resolved the issue.Closing this issue.

Thanks....

[2015-11-09 22:22] #61 closed

[2015-11-10 00:01] Xangis commented on #21
I ran into this problem recently and had to spend a little time tracking it down. Would be in favor of sed as a replacement.

[2015-11-10 04:23] visualphoenix commented on #19
Anyone who wants to revive the commit (which is still available in the closed PR #3) can do so but I am not going to sign the CLA.

[2015-11-10 05:27] edespino commented on #21
@Xangis - I hope to merge this pull request today.

[2015-11-10 07:07] ksasi opened #68 "Centos7, make cluster in gpdemo failed - Failed segment starts"
Hi,

Some of the segment instances are failing to start when cd gpAux/gpdemo,make cluster were executed

20151110:00:51:23:031307 gpstart:centos7:kotti-[INFO]:-Commencing parallel primary and mirror segment instance startup, please wait...
............
20151110:00:51:35:031307 gpstart:centos7:kotti-[INFO]:-Process results...
20151110:00:51:35:031307 gpstart:centos7:kotti-[INFO]:-------------------

[2015-11-10 07:31] ashwinstar commented on #68
Dave was hitting the same issue on Fedora. Please can you collect packcore (This will create an archive with the core file and all required libraries for analysis.) using
```$GPHOME/sbin/packcore [options] core_file```
and upload the same to issue here (I am not too sure how big of a file can be attached to github issues)

[2015-11-10 08:36] #21 closed

[2015-11-10 14:19] kdowbecki opened #71 "Publish gphdfs library to a public Maven repository"
I wanted to use [gphdfs extension](https://github.com/greenplum-db/gpdb/tree/6b0e52beadd678c5050af9c978c26d171ba86ae0/gpAux/extensions/gphdfs) as dependency in my MapReduce job converting from Avro to GPWritable. I searched public Maven repositories and I couldn't find it. Can you please publish this library to a public Maven repository?

[2015-11-11 04:09] robertmu opened #74 "ubuntu 15.04, make cluster in gpdemo failed - Failed initdb(master)"
platform:ubuntu(32bit) 15.04 (Linux ubuntu 3.19.0-28-generic #30-Ubuntu SMP Mon Aug 31 15:52:10 UTC 2015 i686 i686 i686 GNU/Linux)
gcc (Ubuntu 4.9.2-10ubuntu13) 4.9.2
./configure --enable-debug --enable-cassert

gpadmin@ubuntu:~/projects/gpdb_working/gpdb/gpAux/gpdemo$ make cluster
======================================================================
            ______  _____  ______  _______ ___

[2015-11-11 07:58] robertmu commented on #74
It's the gcc -O3 cause this problem.
GPDB default use gcc -O3 option to compile,make below assembly instruction retrieve incorrect value(from stack) that used by cmpxchg

        __asm__ __volatile__
                (
                "MOVL 0x8(%%ebp), %%edx                                                 \n\t"
                "MOVL 0xc(%%ebp), %%eax

[2015-11-11 08:02] hlinnaka commented on #74
On 11/11/2015 09:58 AM, Robert Mu wrote:

A-ha! I saw this earlier on a 32-bit VM, but I was trying to debug
something else and forgot all about it.

Thanks! I think we should remove the gpdb-added atomic operations, and
replace them with the atomic operation support from upstream. The
upstream ones have been tested on a wide range of platforms, and we'd
want to switch over to them eventually anyw

[2015-11-11 08:24] robertmu commented on #74
So,Should i fix this temporarily or just wait gpdb merge from upstream?

[2015-11-11 08:29] hlinnaka commented on #74
On 11/11/2015 10:24 AM, Robert Mu wrote:

The atomic operations were added in PostgreSQL 9.4 IIRC, so if we wait
for the whole of PostgreSQL 9.4 to merged, it'll be a long wait. I think
we need to backport just the atomic operations from 9.4 now, to get this
fixed. Do you want to give that a shot? Or I can do it, it shouldn't
take long.

- Heikki

[2015-11-11 09:00] robertmu commented on #74
Of course,I'll do it

[2015-11-11 23:58] yydzero commented on #71
Maybe it is quick to download GPDB binary from Pivotal Net and extract
gphdfs jar from that.

Would be nice if you could help on publishing it to maven repo.

On Tue, Nov 10, 2015 at 10:19 PM, Karol Dowbecki <notifications@github.com>
wrote:

--
Best Regards,
Yandong

[2015-11-12 03:51] robertmu commented on #74
@hlinnaka
I can't find atomic operations in PostgreSQL 9.4 branch. It's in REL9_5_STABLE branch.
Should I backport atomic operations from REL9_5_STABLE branch?

[2015-11-12 06:58] ksasi commented on #68
Hi,

Collected the packcore file and attached the same here. Please remove the .txt extension after downloading the file.

[packcore-core.1502.tgz.txt](https://github.com/greenplum-db/gpdb/files/32622/packcore-core.1502.tgz.txt)

Thanks....

[2015-11-12 07:15] hlinnaka commented on #74
On 11/12/2015 05:51 AM, Robert Mu wrote:

Ah yeah, take them from 9.5. I remembered wrongly that they were added
in 9.4 already. Thanks!

- Heikki

[2015-11-16 08:47] yydzero opened #87 "make installcheck-good failed for percentile"
On RHEL7.1, make installcheck-good failed for below reason:

[code]

[2015-11-16 09:59] yydzero commented on #87
Closed as this is introduced by https://github.com/pengzhout/gpdb/commit/064775d600623373e9e70de228eedc194b1edfba, and after upgrade code to latest master, test pass.

[2015-11-16 09:59] #87 closed

[2015-11-16 10:18] yydzero opened #89 "mapred regression test failed with Python 2.7"
[code]

[2015-11-17 08:51] robertmu commented on #74
@hlinnaka
Please review code,thanks

[2015-11-18 14:54] davecramer commented on #74
I've seen lots of these mysterious segfaults as well.

Thanks!

Dave Cramer

On 17 November 2015 at 03:51, Robert Mu <notifications@github.com> wrote:

[2015-11-19 18:41] Xangis opened #104 "Feature Request: Allow Specifying SSH Key Name in Command-Line Utilities (gpseginstall, gpssh-exkeys)"
I have a set of servers I'd like to provision. The master-to-be can ssh into the segments-to-be without a password because mykey.pem is specified in the ~/.ssh/config file (with the line IdentityFile /home/me/.ssh/mykey.pem)

Because gpseginstall and gpssh-exkeys skip the SSH config, they prompt for a password in order to exchange keys and/or log in.

It would make things easier if there was a com

[2015-11-19 19:40] Xangis opened #105 "Bug: gpinitsystem Does Not Support IP Addresses in Config File"
in the server_ips file, there's an entry for an IP:

10.10.2.147

Running the gpinitsystem command:

gpinitsystem -c gpinitsystem_config -h server_ips

20151119:19:33:57:013585 gpinitsystem:ip-10-10-2-75:gpadmin-[INFO]:-MASTER_MAX_CONNECT not set, will set to default value 250
20151119:19:33:57:013585 gpinitsystem:ip-10-10-2-75:gpadmin-[INFO]:-Checking configuration parameters, Completed
20151119:

[2015-11-20 01:44] asimrp commented on #105
Hi Xangis

Thank you for creating the issue.  I was not able to reproduce your problem.  Entering IP address in the server_ips file worked just fine for me.  Can you please share some more details?  E.g. are you able to execute `ping 10.10.2.147` from the same shell as you execute `gpinitsystem`?

Asim

[2015-11-20 23:36] Xangis commented on #105
It appears that this was a misleading error. I was able to use an IP address to spin up a segment on RHEL, but it the gpinit scripts didn't play well with Debian even though I could SSH into and resolve the hostname on the target. It was some other problem being reported as an unknown host (not sure exactly what it was, though).

It looks like the setup scripts just don't play well with Debian/Ubu

[2015-11-21 02:15] asimrp commented on #105
Closing as per Xangis' confirmation.

[2015-11-21 02:15] #105 closed

[2015-11-26 07:15] bh99 opened #124 "file gpos/base.h is missing."
when  building with --enable-orca :

In file included from CConfigParamMapping.cpp:19:0:
../../../../src/include/gpopt/config/CConfigParamMapping.h:18:23: fatal error: gpos/base.h: No such file or directory
 #include "gpos/base.h"

[2015-11-27 14:31] digoal opened #126 "bug "FATAL","XX000","shared_relation flag for ""pg_auth_time_constraint"" does not match IsSharedRelation(6070) (relcache.c:2833)""
commit c9a0fa4dd71336668303d694404b842a34cb64ea
Merge: 11c6425 5a2a527
Author: Heikki Linnakangas <hlinnakangas@pivotal.io>
Date:   Thu Nov 26 19:13:48 2015 +0200

    Merge commit '5a2a527bb500a7665f4aba26574f2494c5fc0469'

    Noth much interesting here, but I wanted to stop before the next upstream
    commit, which is a mechanical Copyright year bump.

    Conflicts:
        contrib/btree_gist

[2015-11-27 14:40] hlinnaka commented on #126
On 27/11/15 16:31, Digoal.zhou wrote:

Hmm, that's strange, it works for me and the buildfarm is happy. Did you
try "make clean" before building?

- Heikki

[2015-12-01 13:55] hlinnaka commented on #4
I pushed pull request #31, so the SSE failure should be fixed now (thanks @film42!). Can you verify that it actually fixed the original OS X issue, please?

[2015-12-01 14:01] film42 commented on #4
It works! Thanks!

[2015-12-01 17:07] edespino commented on #22
Pushed to master.

[2015-12-01 17:07] #22 closed

[2015-12-02 02:28] digoal opened #135 "run tpc-h query 2 timeout"
HI,
   in my test environment ,run tpc-h query 2 timeout. this is the test machine and gp configure.
   HARDware
   24 CORE
   192G mem
   FUSINO IO ssd

   GREENPLUm:
   4.3.6
   1 master
   12 segments
   master parameter
port=1921 ##port = 5432                         # sets the database listener port for
max_connections = 48                    # inserted by initdb
shared_buffers = 1024MB

[2015-12-02 07:37] yydzero commented on #135
Hi Digoal,

Thanks for reporting this.

Could  you please attach the log? Thanks!

On Wed, Dec 2, 2015 at 10:28 AM, Digoal.zhou <notifications@github.com>
wrote:

--
Best Regards,
Yandong

[2015-12-03 05:42] digoal commented on #135
the tpch log.

[2015-12-03 07:04] yydzero commented on #135
Thanks Digoal!

On Thu, Dec 3, 2015 at 1:42 PM, Digoal.zhou <notifications@github.com>
wrote:

--
Best Regards,
Yandong

[2015-12-03 20:52] ypopkov opened #149 "configure: error: gpopt/init.h GPOPT header file is required for Greenplum Query Optimizer (orca)"
Is this expected? :

[code]

[2015-12-03 21:56] ypopkov commented on #149
duplicate

[2015-12-03 21:56] #149 closed

[2015-12-03 22:24] ypopkov commented on #20
When I try to start the demo cluster I get the messages below - does it mean no query optimizer is available in the absence of Orca?

[code]

[2015-12-03 23:50] addisonhuddy commented on #124
Hi @bh99, we are really close to releasing both gpos and orca. Exciting stuff just around the corner.

[2015-12-03 23:51] addisonhuddy commented on #149
Hi @ypopkov, we are really close to finishing some final steps needed to release orca and gpos. Stay tuned.

[2015-12-03 23:51] #124 closed

[2015-12-07 07:18] hlinnaka opened #153 "Warning from EXPLAIN on a cube-query"
I got this from a query from the regression suite, after running installcheck-good:

[code]

[2015-12-07 21:40] fire opened #156 "Installing gpdb on smartos"
Tracking installing Greenplum on SmartOS.

[code]

[2015-12-07 22:07] fire commented on #156
Make errors with

[code]

Trying to see if I can solve the problem.

[2015-12-07 22:14] hlinnaka commented on #156
Hmm. As a quick workaround, you can just hack the Makefile to not run checkinc.py. It doesn't "do" anything but some checking on the #includes. (I don't know what checks it performs)

[2015-12-07 22:19] fire commented on #156
[code]

Tried this change.

[2015-12-07 22:32] fire commented on #156
[code]

Tests seem to not fail yet.

[2015-12-07 22:41] fire commented on #156
Smartos dependencies (May have missed some.)
[code]

[2015-12-07 23:04] fire commented on #156
Regression.out and regression.diff results.

https://gist.github.com/fire/61b45c3bf61927bdfcad

[2015-12-07 23:25] fire commented on #156
Weird: tar -C is not an option on SmartOS
[code]

[2015-12-07 23:41] fire commented on #156
/usr/bin/tar is different from /bin/tar and lacks that feature.

[2015-12-07 23:58] fire commented on #156
This made `make install` work.

[code]

[2015-12-08 00:41] fire commented on #156
Only 4 tests fail now. https://gist.github.com/fire/1cce75620fd2debbee65

[2015-12-08 01:57] fire commented on #156
3 Tests are failing.

https://gist.github.com/fire/7ab25f3c760df6c3c268

[code]

[code]

[2015-12-08 02:48] kuien opened #158 "an issue in exec_stmt_return"
In GPDB
[code]
Above PLPGSQL throws out an error:
__ERROR:  RETURN must specify a record or row variable in function returning tuple at or near "row"__

While in PG, it works well:
[code]

[2015-12-08 03:24] fire commented on #156
Forgot to make install the mapreduce binary. My test copies how travis installs greenplum now.

The errors in the results seem minor. https://gist.github.com/fire/479649b724fe7adc5a1a

[2015-12-08 06:39] kuien commented on #158
I found a way to bypass this issue:
[code]
It works on GP. Any suggestion on that?

[2015-12-08 06:42] hlinnaka commented on #158
On 08/12/15 04:48, Kuien Liu wrote:

This is a version difference, rather than GPDB vs PostgreSQL difference.
The behaviour was changed in PostgreSQL 9.3, by this commit:

So we'll get that eventually, when we merge with PostgreSQL 9.3.

- Heikki

[2015-12-08 06:45] kuien commented on #158
Yes, you are right, Heikki. I found some similar things from web.
http://www.postgresql.org/message-id/flat/1492.1349708962@sss.pgh.pa.us#1492.1349708962@sss.pgh.pa.us

[2015-12-08 09:22] hlinnaka commented on #156
I'm seeing the gp_optimizer.out diff on my laptop too. @asubramanya: I think this is a left over from your commit 29cccef6. It updated gp_optimizer.out, but there's another expected output file for that test, gp_optimizer_1.out, used when built without --enable orca. That also needs to be updated.

[2015-12-08 18:29] asubramanya commented on #156
@hlinnaka Thanks for pointing this out. I will update the answer file.

[2015-12-08 20:42] yangqi2004 opened #160 "wrong information in pg_appendonly after executing alter table set distributed by statement"
### table information in pg_appendonly is wrong after 'alter table set distributed by ' statement.

* create an columar appendonly table with compression.
[code]
* table information in pg_appendonly, the table is compressed with zlib.
[code]
* alter table set new distribution key
[code]
* After the change, the information in pg_appendonly - column compresstype and compresslevel is wrong.
[code]

[2015-12-09 16:01] #4 closed

[2015-12-09 16:02] hlinnaka commented on #36
The patch to widen money datatype to 64-bits has been merged from 8.3, so I'll close this issue.

[2015-12-09 16:02] #36 closed

[2015-12-09 16:04] hlinnaka commented on #68
This was fixed in commit 8ece83bb230a2ddc242139f2cb0f017fbf81ed86.

[2015-12-09 16:04] #68 closed

[2015-12-09 23:58] asimrp commented on #160
Hi @yangqi2004

Glad that you are interested in column oriented tables to the point of looking into `pg_appendonly`.  Your observation is not a bug.  For column oriented tables, Greenplum offers column specific encodings for compression and block size.  Therefore, `pg_appendonly` is not adequate to capture this information for each column.  We have a separate catalog table called `pg_attribute_enc

[2015-12-10 00:02] asimrp commented on #126
Hi @digoal, are you still facing this issue?

[2015-12-10 06:28] hlinnaka commented on #160
On 10/12/15 01:58, Asim RP wrote:

Hmm. What are the compression-related columns in pg_appendonly used for,
then?

- Heikki

[2015-12-10 18:20] dendory opened #171 "Missing steps for first installation"
So clearly the README has some missing steps when trying to compile and start the database for the first time. After doing a successful 'configure', 'make' and 'make install', the steps go straight to the 'gpdemo' part, but that doesn't work, it says that it cannot connect to the database. After digging around, I found that 'gpstart' is how you start the database engine, but even after setting MAS

[2015-12-10 18:25] atris commented on #171
I am assuming you did make cluster and that you sourced greenplum_path.sh
before gpstart
On 10 Dec 2015 11:50 pm, "Patrick Lambert" <notifications@github.com> wrote:

[2015-12-10 18:30] dendory commented on #171
I sourced it, but 'make cluster' fails for the same reason. It cannot connect to the database on unix socket /tmp/.s.PSQL.15432

[2015-12-11 00:40] asimrp commented on #160
The compression columns in `pg_appendonly` are used only for row-oriented tables.

[2015-12-11 01:02] asimrp commented on #171
Hi @dendory, can you please post details on the error reported by `make cluster`?  And also details about your platform?

[2015-12-11 01:05] dendory commented on #171
It's a pretty basic CentOS 7 box. It seems like the make process just can't connect to the database, which makes sense since it isn't running. Is 'make cluster' suppose to set up a database and start it? What exactly is supposed to be setting up the data folder so 'gpstart' can run?

[2015-12-11 01:20] asimrp commented on #171
`make cluster` is supposed to initialize a new Greenplum instance with one master, three primary segments and three mirrors.  All these segments are nothing but PostgreSQL instances and their data directories can be found at `gpAux/gpdemo/datadirs`.  At the end of `make cluster`, you should find Greenplum database started with master listening on port 15432.

If you can share the exact output of `

[2015-12-11 01:21] andreasscherbaum commented on #171
Yes, "make cluster" is supposed to setup this cluster for you, at least for testing.
We've seen some issues in the past where "make cluster" failed, please post the entire output of the "make cluster" step.

[2015-12-11 02:29] dendory commented on #171
[elfguy@centos gpdemo]$ make cluster
======================================================================
            ______  _____  ______  _______ _______  _____
           |  ____ |_____] |     \ |______ |  |  | |     |
           |_____| |       |_____/ |______ |  |  | |_____|

----------------------------------------------------------------------

  This is a demo of the Greenplum Database

[2015-12-11 02:55] asimrp commented on #171
Hi @dendory, thank you for sharing the output.

Can you paste the output of `hostname` command on your system?

I also see a password prompt in your output.  `make cluster` needs password-less ssh to be setup so that `ssh localhost` works without prompting for password.

[2015-12-11 03:30] dendory commented on #171
Nice to know. Enabled ssh using pre-authorized keys. Another error. This is turning out to be quite a chore :/

		[elfguy@centos gpdemo]$ source /usr/gpdb/greenplum_path.sh
		[elfguy@centos gpdemo]$ make cluster
		======================================================================
		            ______  _____  ______  _______ _______  _____
		           |  ____ |_____] |     \ |______ |  |  | |

[2015-12-11 16:30] dendory commented on #171
Still can't figure this out. Any idea why it's failing to ping the host, when I can ping it fine from the shell?

[2015-12-11 20:10] asimrp commented on #171
Hi @dendory we are sorry for the trouble you are going through and appreciate your patience.  Can you please inspect log files in `~/gpAdminlogs` directory?  Especially `gpinitsystem*.log`?  Does it have more details on why the ping failed?  Searching by timestamp `20151210:22:24:36` in the logs may be easier.

[2015-12-11 20:20] dendory commented on #171
Nothing else in the logs, the init logs just say to look in the gpstart log, and the gpstart log has what I posted. Seems like it fails to ping the host 7 times then it warns that it can't start any of those segments, and then errors out saying no segment is working.

[2015-12-11 22:32] andreasscherbaum commented on #171
How is your hostname defined? In /etc/hosts or via DNS?

[2015-12-11 22:34] dendory commented on #171
DNS. Didn't work when I tried with just hosts and hostname file.

[2015-12-11 22:36] asimrp commented on #171
If nothing else in logs, we should try running `gpinitsystem` again with log level set to debug.  In order to do this, please make sure there is no `postgres` process running.  Delete contents of data directories under `gpAux/gpdemo/datadirs/*`.  And run `gpinitsystem` manually, not through `make cluster`.  Here are detailed steps, assuming current directory = `gpAux/gpdemo`:

* Kill postgres proc

[2015-12-11 23:35] dendory commented on #171
We have a winner:

        20151211:18:08:57:064921 gpstart:centos:elfguy-[DEBUG]:-[worker0] got cmd: /bin/ping6 -c 1 centos.seven-kingdoms.local
		20151211:18:08:57:064921 gpstart:centos:elfguy-[DEBUG]:-  ping details: dbid: 2 cmdStr='/bin/ping6 -c 1 centos.seven-kingdoms.local'  had result: cmd had rc=2 completed=True halted=False
		  stdout=''
		  stderr='connect: Invalid argument
		'
		2015121

[2015-12-12 04:13] asimrp commented on #171
Thank you for the details.  I know what's going on on your system.  This is a very specific to your platform.  `ping6` behaves differently on RHEL and OSX as compared to your platform.  The reason `ping6` is being used is because `gpinitsystem` uses `getaddrinfo()` call to get a network interface.  If the network interface is IPV6, (family == `AF_INET6`), then `ping6` is used, otherwise, `ping` is

[2015-12-12 05:36] dendory commented on #171
Linked ping to ping6 and it started. This is a fairly basic CentOS 7 host so I'm guessing you're going to run into this a lot.

[2015-12-15 09:43] volkovandr opened #174 "DELETE from appendonly tables produces strange results"
Hello
I understand that appendonly tables are optimized for inserting. But since DELETE and UPDATE commands are supported in 4.3, I assume they are supposed to work properly. But they don't, at least DELETE doesn't. Here is an example:

[code]

And now the completely crazy thing:

[code]
I've tried this on two different installations of GP: same result with only difference in the number of rows th

[2015-12-16 01:16] asimrp commented on #174
@volkovandr thank you for reporting the issue and apologies for the inconvenient experience with Greenplum.  DML should work just as heap tables with appendonly row/column oriented tables.  I am investigating this issue on priority, please stay tuned.

Please note that I did not see this issue on 4.3 code line.

[2015-12-16 04:17] kuien opened #177 "when ORCA meets GiST index"
I have attached a script to prove ORCA doesn't support GiST index:
[test_query_plan.sql.zip](https://github.com/greenplum-db/gpdb/files/63536/test_query_plan.sql.zip)
# The query plans generated on GPDB Sandbox (GPDB 4.3.6.1 + PostGIS 2.0.3):
## STEP 1:  default

---

[code]
## STEP 2: using ANALYZE

---

[code]
## STEP 3: using ORCA

---

[code]
# performance comparison with(without) ORCA

|  | I

[2015-12-16 10:13] volkovandr commented on #174
Thank you for taking care.
FYI: I've done some more experiments and notices some regularities:
The number of records actually deleted from the table is a constant number multiplied by the number of segments. When the number of records initially inserted into the test table was relatively big, the DELETE command always deletes exactly 32768 records per segment. When it was relatively small, it dele

[2015-12-17 00:42] entong commented on #177
Thanks Kuien for bring up this issue! Do you know when the support for GiST index was added to the planner? So far Orca supports B-tree and Bitmap indices.

[2015-12-17 01:10] asimrp commented on #174
Thanks @volkovandr for further details.  Here is some info on what's causing the issue.

Appendonly tables use bitmaps for implementing visibility such that each bit in the bitmap represents unique row in appendonly table.  The bitmap for each appendonly table is stored in an auxiliary table called `visimap`.  Schema of the table is as follows:
[code]
Note that the index is defined with two keys (

[2015-12-17 03:35] yydzero commented on #177
Think we support GiST for quite long time. PostGIS 1.4 is added about 3
years ago and it need GiST index support.

On Thu, Dec 17, 2015 at 8:42 AM, Entong Shen <notifications@github.com>
wrote:

--
Best Regards,
Yandong

[2015-12-18 13:49] danielgustafsson commented on #158
Closing this, once we merge 9.3 from upstream gpdb will support this.

[2015-12-18 13:49] #158 closed

[2015-12-18 17:01] salahaldin opened #189 "Non-tech: licence and stable releases"
Hello Guys, I was playing with greenplum and I have seen that git repository is getting updated on hourly basis which is amazing. I have encountered some bugs which are already reported due to the merge of upstream patches.
To overcome this issue I have used the binaries provided from pivotal, but the licence there is not apache2.
So my question to the community:
Where I can find stable releases?

[2015-12-18 20:27] ivannovick commented on #189
Hello,

The source code for 4.3 Greenplum is not open source, but the latest code
in GitHub is the same as that plus many new commits.  As a community we
need to get ready for our first open source release version based on the
latest code in GitHub, and this is a work in progress.

Cheers,
Ivan

On Fri, Dec 18, 2015 at 9:01 AM, salahaldin <notifications@github.com>
wrote:

[2015-12-19 18:31] hlinnaka commented on #174
I've pushed Asim's fix for this. Thanks for the report!

[2015-12-19 18:31] #174 closed

[2015-12-20 05:05] digoal commented on #135
It's a optimal problem, the test case use diffient data type for join, (int8 join int4) and Greenplum cann't use hash join when join int8 and int4, so timeout.
when i change all the join key to int8, it's ok now.
thanks .

[2015-12-20 07:10] hlinnaka commented on #135
Hmm, I think that was fixed in the upstream in commit a635c08fa10fe545d723bcec6eb73bfdca07e2c0. That was in PostgreSQL 8.3, and it's actually coming up fairly soon in the 8.3 merge. So stay tuned!

[2015-12-20 13:52] hlinnaka commented on #74
Pushed, thanks for the report and the fix!

[2015-12-20 13:52] #74 closed

[2015-12-21 14:27] digoal opened #197 "gpinitsystem error -Failed to complete obtain psql count Master gp_segment_configuration Script Exiting!"
this version

[code]

when i use gpinitsystem init greenplum database.
ERROR.

[postgres@digoal ~]$ grep "^[a-Z]" gpinitsystem_config
ARRAY_NAME="EMC Greenplum DW"
SEG_PREFIX=gpseg
PORT_BASE=40000
declare -a DATA_DIRECTORY=(/data01/gpdata /data01/gpdata)
MASTER_HOSTNAME=digoal.com
MASTER_DIRECTORY=/data01/gpdata
MASTER_PORT=1999
TRUSTED_SHELL=ssh
CHECK_POINT_SEGMENTS=16
ENCODING=UTF-8
MACHINE_LIST

[2015-12-21 20:45] asimrp commented on #197
Hi @digoal, thank you for trying out Greenplum.  I tried `gpinitsystem` with the version you mentioned and it worked.  All our build farm hosts are able to run `gpinitsystem` without issues.  This appears to be something with your local environment.

My guess - `semctl()` returned invalid argument implies that the semaphore created by a postgres process was cleaned up somehow.  Are you running pos

[2015-12-22 02:07] huxuanlai opened #199 "run gpcheckperf: gpnetbenchServer is not found"
The same issue is reported and fixed in https://issues.apache.org/jira/browse/HAWQ-63, but not fixed in gpdb.

[2015-12-22 02:57] digoal commented on #197
No, I run greenplum exclusive, no other postgres and applications.

[2015-12-22 02:58] digoal commented on #197
and i can run the SQL manual , success.
                CHK_COUNT=`env PGOPTIONS="-c gp_session_role=utility" $PSQL -p $MASTER_PORT -d "$U_DB" -A -t -c "SELECT count(*) FROM $GP_CONFIG_TBL WHERE content=${U_CONTENT} AND preferred_role='${U_ROLE}';" 2>$LOG_FILE` >> $LOG_FILE 2>&1

[2015-12-22 09:24] zqxjjj commented on #197
Yeah, I meet this problem too.

[2015-12-22 15:20] yydzero commented on #197
If have compiled and installed GPDB before, might worthy of trying to
remove existing data directory, make clean &&  make again.

This commit 7065077b4fef5acf41e67b5240771db021d52156 has nothing to do with
gpdb server code and will not built by default.

On Tue, Dec 22, 2015 at 5:24 PM, zqxjjj <notifications@github.com> wrote:

--
Best Regards,
Yandong

[2015-12-24 10:15] ChaosEternal opened #210 "Enlarge bufsize in curl_fwrite to improve WET performace."
This code changes the bufsize to 16M to reduce number of calls to 'curl_easy_perform' hence it will improve WET performance.

[code]

But gpfdist's buffer  should also  be enlarged  with options -m 33554432

# Proves.
## Suppose a table 'onefield' with only one VARCHAR field, with maxium field length 440 bytes:
[code]

## use regular WET:
[code]

## Export all records in table 'onefield' to 'w16m_

[2015-12-24 17:07] ivannovick commented on #210
@yydzero can you help review this patch?

[2015-12-24 21:04] asimrp commented on #210
Hi @ChaosEternal, I like your proof - using `string_agg` and grouping by right shifting `ctid::int8`.  I will remember the trick now :-)

Do you want to submit this as a pull request, so that people will find it easier to review?

[2015-12-24 21:22] ivannovick commented on #210
+1 @ChaosEternal can you please submit as a pull request your code?  Thx!

[2015-12-25 02:22] yydzero commented on #210
@ChaosEternal, It is a great improvement. Could you please file a PR? Also
I suggest to add a GUC to control the size, so that DBA could tuning it
accordingly.

@Ivan, The main question is about the default buffer size. If it is too
large, maybe result OOM. While as it is external table, it looks very rare
to have many concurrent sessions to use lots of external tables, so should
be ok with 16M.

[2015-12-25 03:13] ChaosEternal commented on #210
@yydzero  I don't like the patch. If the buffer size be simply enlarged as in the PR, it will break gpfdist processes if it's '-m' option leaves as default. I would suggest that the buffer size should be negotiated with 'gpfdist'. Further more, nonblocking writing and similar techs is strongly suggested.
Maybe we change the protocol from http to ftp?

[2015-12-25 03:25] yydzero commented on #210
-m option is used when your row is bigger than 32k.  So in your test case,
how long will it use if you load the original table with 440bytes as max
length?  Will we able to get similar performance gain also?

Also, what is your purpose to increase row length to 18M?

-m <max_length>

 Sets the maximum allowed data row length in bytes. Default is 32768.
 Should be used when user data includes very

[2015-12-25 03:42] ChaosEternal commented on #210
In my test bed, I have only official gpdb 4.3.5.4 to do the test, so i can't actually change the bufsize.

In function 'curl_fwrite'  of url.c, the default buffer size is 64 * 1024 * sizeof(char) (64k), when this buff is full, it will fire a call to 'gp_proto0_write' which eventually call 'curl_easy_perform', if the row is too big to fit in 64k buffer, curl_fwrite will enlarge it to the size of ro

[2015-12-25 04:04] ChaosEternal commented on #210
I pull back the opinion about gpfdist's -m option.

I fired a new test, changed the WET definition to
[code]
This new WET works well with gpfdist's default -m option (32k).

[2015-12-25 04:09] ChaosEternal commented on #210
Another finding:
with escape 'OFF' , the export time comparison changed to
[code]

enlarge buffsize will increase the gap.

[2015-12-25 04:12] ChaosEternal commented on #210
I like the patch.

[2015-12-25 04:31] yydzero commented on #210
I am bit lost with your statement with "escape 'OFF'", what do you want to
describe?

Also what is the performance comparison using same table with 64K buffer
and 16M buffer?  I think this is the most important data we want to see.

On Fri, Dec 25, 2015 at 12:12 PM, ChaosEternal <notifications@github.com>
wrote:

--
Best Regards,
Yandong

[2015-12-25 04:52] ChaosEternal commented on #210
well, the test uses the same data.
one is the source table, approx. 440 byte per row, and only one field.
when export this table using WET, and according to the 'curl_fwrite', the
buffer is 64k, and it will do curl_easy_perform every time the 64k is
filled.

another test is use string_agg to aggregate many rows(about 124000 rows)
into one row, join them with '\n' , so the data is the same, but one

[2015-12-25 05:11] yydzero commented on #210
oh, I got it. Then suggest to retry the test with same table by changing
the code and recompile, instead of using row size to control the curl write
buffer.   Performance comparison using different data might lead bias
sometime :)

Regards,
Yandong

On Fri, Dec 25, 2015 at 12:52 PM, ChaosEternal <notifications@github.com>
wrote:

--
Best Regards,
Yandong

[2015-12-28 05:59] zqxjjj opened #214 "Does maintenance work?"
When I run gpstart -m,  PGOPTIONS='-c gp_session_role=utility' psql and update gp_segment_configuration set mode='s' where dbid=3, it arise "Permission denied".

The code I used is commit(ee17fd1de0496258766877ec3b736a8e5088d2da).

[2015-12-28 06:06] zqxjjj opened #215 "Add mirror failure."
When I use gpinitsystem with mirror config, there is only 1 mirror segment start successfully out of 9.
When I use gpinitsystem without mirror config, then use "gpaddmirrors -i ~/mirror_config", and the result is the same.

the mirror_config:
filespaceOrder=
mirror0=0:iad-gp-03:41000:42000:43000:/mnt/data2/mirror/gpseg0
mirror1=1:iad-gp-04:41000:42000:43000:/mnt/data2/mirror/gpseg1
mirror2=2:iad-g

[2015-12-28 06:35] asimrp commented on #214
Hi @zqxjjj, the behavior you are seeing is by design.  `gp_segment_configuration` is a system catalog table.  Usually, you should not need to modify its contents.

May I ask why are you trying to manually set mode of a segment to synchronized?

[2015-12-28 06:40] asimrp commented on #215
Hi @zqxjjj, you have mentioned two problems here.  `gpinitsystem` failing to bring up the system with mirrors.  Does `gpinitsystem` report anything on console?  Can you please check contents of `ls ~/gpAdminLogs/gpinitsystem_201512*.log` for any clues?

[2015-12-29 11:33] hlinnaka opened #221 "Memory stomping error while setting gp_default_storage_options"
With git master:

postgres=# set gp_default_storage_options ='checksum=off';
ERROR:  problem in alloc set PortalHeapMemory: detected write past chunk end in block 0x1749b40, chunk 0x174a198 (portalmem.c:461) (aset.c:1912)  (seg0 localhost:40000 pid=20938) (cdbdisp.c:1326)
ERROR:  problem in alloc set PortalHeapMemory: detected write past chunk end in block 0x20523b0, chunk 0x2052a08 (portalmem.c:4

[2015-12-30 00:35] jimmyyih commented on #199
Hello,

Have you tried building gpnetbenchServer and gpnetbenchClient in this directory: gpAux/platform/

[2015-12-30 02:15] ivannovick commented on #221
@GodenYao can you help look at this?

@ashwinstar @asimrp

[2015-12-30 05:17] lannis opened #225 "incremental resync from change tracking log bug"
I read this function FileRepPrimary_ResyncBufferPoolIncrementalWrite() and find this code may be not correct.

As far as i know that before excute incwrite we got a series of CTL info, and i think the CTL end lsn should be equal or bigger than page lsn, because we collect CTL information from xlog records which write ahead data.

So it's hard to understand this code, the condition is not consisten

[2016-01-04 17:54] ashwinstar commented on #160
Closing this issue as not a bug, feel free to let us know if something needs to be fixed.

[2016-01-04 17:54] #160 closed

[2016-01-05 06:43] tanzeeb commented on #197
Hi @asimrp, we are seeing the same issue on Centos 7.2 with a single node install. It looks like the postgres process crashes when UPDATE_GPCONFIG is called for the segment.

We can reproduce the error consistently. Are there any logs or debug output we can use to trace the issue?

[2016-01-05 09:40] LJoNe opened #239 "why disable creation of GIN indexes? (MPP-9329)"
We got an extension library with GIN index, which was however disabled by GP. So  I compared the code of GIST index and GIN index, and found out some differences in HA.  Then I add some code (mainly adding MIRROREDLOCK_BUFMGR_LOCK before ReadBuffer and MIRROREDLOCK_BUFMGR_UNLOCK in the end )and enabled creation of GIN.  After some tests.,  it turned out to be running well so far.  Can anybody info

[2016-01-05 21:08] pivotal-todd-ritchie commented on #197
Later versions of systemd will clear out semaphores on user logout by default, which can interfere with gpinitsystem.

Our solution to get Greenplum to install on CentOS 7.2 is to run the following as root before running gpinitsystem:

 echo "RemoveIPC=no" >> /etc/systemd/logind.conf
 service systemd-logind restart

[2016-01-05 22:50] GodenYao commented on #221
This is confirmed reproducible.
However, in the documentation we tell users to use "Checksum=False" , which doesn't have issues.
I know postgres has the flexibility to allow users to use '0', '1' or 'ON', 'off' , which is fine but i don't feel this bug is high priority enough to be dealt with right now.

We'll keep it in backlog when we have the bandwidth to fix it.

[2016-01-05 23:16] GodenYao commented on #225
Your statement on incwrite seems correct.
However, as you mentioned the code is hard to understand. we haven't seen any bugs surfaced related to this logic.

Can you see if you can come up with some test cases that would fail due to the current logic?

[2016-01-07 00:12] jimmyyih commented on #239
Hello LJoNe,

Unfortunately, I'm not as knowledgeable in this particular area but digging out information should be easy.  GIN has been disabled in GPDB since the 4.0.0.0 release back in 2010.  The specific JIRA MPP-9329 itself actually doesn't give much information on why the decision was made.  A small chat I had with an old Greenplum dev mentioned that it might have been due to GIN not working

[2016-01-07 00:16] ivannovick commented on #239
I think we need to try to re-enable GIN index and make sure we have good test cases to ensure its working with node failure and HA... its a critical feature we are needing it

[2016-01-07 02:34] LJoNe commented on #239
thanks very much. @jimmyyih I am going to  test the scene by your description. BTW, would you please provide me with  more test cases or test scenes?

[2016-01-08 09:24] hlinnaka commented on #221
Buffer overflows are potential security holes. I don't think this one is in practice, but you never know until you investigate.

I've created pull request #252 to fix this. Please review.

[2016-01-08 09:27] hlinnaka commented on #221
@asimp, oh wait. Looks like we did some duplicate work :-). Sorry, I didn't see your commit until just now. Did you create a pull request yet?

Looks like you also decided to remove the "namelen" argument, so that's probably a good idea then. I went one step further and replaced the palloc()s with a StringInfo.

[2016-01-08 21:07] kdunn926 opened #254 "Window gpload requires 32-bit Python"
Using gpload in a Windows environment with a 64-bit Python interpreter produces the following error:

[code]

Using Python 2.5.4 32-bit seems to correct the issue.

[2016-01-09 16:01] CraigHarris opened #256 "bug in initGpmonPktFuncs[] (execUtils.c)? Dead Code?"
initGpmonPktFuncs is a jump table, whose size and order of entries is supposed to match the plan-node types in nodes/nodes.h.  But it is missing the entry for TableFunctionScan (between FunctionScan and ValueScan), along with the entries for PlanNode types after T_Repeat.

sendInitGpmonPkts uses the expression [nodeTag(node) - T_Plan_Start] as an index into the jump table, so about half the plan t

[2016-01-09 20:09] hlinnaka commented on #256
On 09/01/16 18:01, Craig Harris wrote:

Good catch.

I'm inclined to remove the whole thing. The comment in sendInitGpmonPkts
says that it's only called by "the Append executor node, since Append
does not call ExecInitNode() for each of its child nodes during
initialization time". But looking at ExecInitAppend(), it does seem to
call ExecInitNode on each of its children. So I think the comment is

[2016-01-09 20:16] hlinnaka commented on #256
On 09/01/16 22:08, Heikki Linnakangas wrote:

I dug into old git history of this. sendInitGpmonPkts() was added in a
comment that changed ExecInitAppend() to postpone the call to
ExecInitNode() to child nodes, under some circumstances.
sendInitGpmonPkts() was called instead of ExecInitNode(). But that
commit was reverted a few weeks later, because it apparently caused
problems with EXPLAIN ANALYZE

[2016-01-10 14:37] ivannovick commented on #256
For history, let me explain a little background.

We have gpperfmon agents that collect information from GPDB and store it in tables.  There are several primary tables:

system_history: CPU, disk, network, memory utilitiation, etc.  No interaction with GPDB itself, just the OS

database_history: records number of querys active, queued, running

query_history: records each query run and the query t

[2016-01-10 14:38] ivannovick commented on #256
also, last time i checked, i forget if Pivotal open sourced the gpmmon and gpsmon agents, but that needs to be open sourced and added to the build if its not already IMO.

[2016-01-10 21:30] CraigHarris commented on #256
Seems like cleaning this up isn't urgent, and nobody's at risk of jumping off the end of the function-ptr table.  I'll submit a pull request late next week or the following to remove the dead code.

[2016-01-11 03:49] eurekaka opened #257 "Two questions regarding lock related code"
Hi there,

I have two questions regarding lock related code:

* The first question is: in function ProcSleep, after the process has been waken up, either with lock granted or deadlock detected, it would re-acquire the lock table's partition LWLock.

   The code episode is here:
[code]
   Questions are:
   (1) The comment says that "we might have a missed or duplicated locallock update", in what ca

[2016-01-11 22:15] jimmyyih commented on #239
Hmm, another scenario could be using GIN indexes with AO/CO tables especially since append-only was changed recently in late 2014 to append-optimized.

[2016-01-12 02:39] asimrp commented on #221
No problem, Heikki.  I like your idea of using StringInfo better.  Thanks
for the fix.

On Fri, Jan 8, 2016 at 1:27 AM, Heikki Linnakangas <notifications@github.com

[2016-01-13 09:11] liruto opened #264 "InitPMI's parameter"
Function 'InitPMI' needs to check the legitimacy of 'partitionOid' parameter.
Otherwise, the following test failed.

mycluster=# drop table t2;
DROP TABLE
mycluster=# create table t1(tc1 int, tc2 int) distributed by (tc1);
CREATE TABLE
mycluster=# insert into t1 values(1,1);
INSERT 0 1
mycluster=# select pg_partition_oid(1, t1.*) from t1;
server closed the connection unexpectedly
	This probably me

[2016-01-13 18:35] asimrp commented on #264
@liruto Thank you for trying it out and reporting the issue.  You are right, `InitPMI()` should check if `partitionInfo` is NULL.  Do you want to take a stab at fixing it?

[2016-01-14 02:33] liruto opened #271 "a error for dynamic partition pruning?"
Due to gp_dynamic_partition_pruning setted on/off, different result sets were gained.
A case as follow:

[code]

In my opinion, parameters for performance optimization couldn't bring impact on the accuracy of results.Maybe, some extra restrictions at 'MatchPartitionJoinPattern' or somewhere else are need.
Here is that, i think, righttree can't contain volatile function 'nextval'.

[2016-01-14 12:16] #225 closed

[2016-01-18 21:08] xinzweb opened #279 "Refactor analyze.c to merge with upstream changes from PGSQL"
Current analyze.c in GPDB is different from PostgreSQL version.

Here are few differences observed:

PGSQL has:

    acquire_inherited_sample_rows
    acquire_sample_rows
    analyze_rel
    compare_mcvs
    compare_rows
    compare_scalars
    compute_distinct_stats
    compute_index_stats
    compute_scalar_stats
    compute_trivial_stats
    ...

Where the GPDB has:

    analyzeComputeAttribute

[2016-01-20 10:35] liruto opened #285 "some wrong with 'contains_nonconstant_walker'"
Supposed the first argument is given a VAR node,  'contains_nonconstant_walker' would return FALSE. It's obviously wrong that VAR doesn't contain anything non-constant,isn't it?

[2016-01-20 14:45] hlinnaka commented on #285
On 20/01/16 12:35, liruto wrote:

Hmm, I think you're right. The saving grace is that the function is used
only in one place, to test if an INSERT .. VALUES() contains anything
but constants. I believe there can't be any Vars in the list in that
context. It would still be prudent to check, IMO.

Also, why does the walker call contain_volatile_functions() on every
node it traverses? That's a waste

[2016-01-20 20:04] gcaragea opened #287 "Assertion failure from shareinput_walker when gp_cte_sharing is ON"
I'm hitting an assertion in the planner when running the following repro on latest master
[code]

Stack trace on the QD process is:
[code]

Not sure when this was introduced, can someone familiar with the planner please take a look?

Thanks.

[2016-01-20 20:26] hlinnaka commented on #287
On 20/01/16 22:04, George Caragea wrote:

I'll take a look. It might well be caused the merge of the equivalence
classes patch; that moved things around in pathkey handling a lot. Thanks!

- Heikki

[2016-01-20 20:29] atris commented on #287
I doubt that it came from the equivalence class because we saw it on an
older version on client side.
On 21 Jan 2016 1:56 am, "Heikki Linnakangas" <notifications@github.com>
wrote:

[2016-01-20 20:35] hlinnaka commented on #287
On 20/01/16 22:29, Atri Sharma wrote:

Oh. In that case, I withdraw my offer to debug this :-).

(if no-one else volunteers, though, I could still have a look..)

- Heikki

[2016-01-20 20:36] atris commented on #287
Please feel free. Please let me know if I can help
On 21 Jan 2016 2:05 am, "Heikki Linnakangas" <notifications@github.com>
wrote:

[2016-01-21 18:17] hlinnaka commented on #287
On 20/01/16 22:04, George Caragea wrote:

I think I figured this out. In apply_shareinput_xslice(), we do this:

So the walker assumes that it will always encounter the producer before
its consumers. According to the comment, we walk the plans in order: 1.
top plan, 2. all subplans, to ensure that we find always find the
producer first, in case the top plan contains a producer and subplan its
cons

[2016-01-21 21:19] gcaragea commented on #287
Thanks for looking into this Heikki. I saw the PR.

[2016-01-22 01:20] indeuce commented on #197
Seeing the same problem on Centos 7.2, too.  When I ran the recommended solution, I am seeing this:

Redirecting to /bin/systemctl restart  systemd-logind.service
/usr/bin/pkttyagent: /usr/local/greenplum-db/./lib/libz.so.1: no version information available (required by /lib64/libgio-2.0.so.0)
/usr/bin/pkttyagent: /usr/local/greenplum-db/./lib/libz.so.1: no version information available (required

[2016-01-22 07:50] hlinnaka commented on #257
On 11/01/16 05:49, Kenan Yao wrote:

Hmm. Yeah, I don't really understand that either. Could be just
paranoia, in case ImmediateInterruptOK is set, after all.

Note that the lock is still held at return, and it's up to the caller to
release it. The caller might do more stuff that needs the lock. Looking
at the only caller, though, it's only doing some sort of a sanity check
on proclock->holdmask b

[2016-01-22 08:39] digoal opened #296 "security problem"
HI,
   In greenplum's master, slave, segment, segment mirror, all these postgresql instance trust together;
   Why not use md5? local db can get md5 from pg_authid, and we can modify the libpq fe auth code, use the md5(salt+md5) auth replace the md5(salt+md5(pwd));

[2016-01-22 09:00] hlinnaka commented on #287
Pushed to master. I don't have the setup to build and test on 4.3 stable branch at hand, so I'll leave that to Someone Else to do.

[2016-01-22 09:43] digoal opened #297 "security problem"
HI,
   In greenplum's master, slave, segment, segment mirror, all these postgresql instance trust together;
   Why not use md5? local db can get md5 from pg_authid, and we can modify the libpq fe auth code, use the md5(salt+md5) auth replace the md5(salt+md5(pwd));

[2016-01-22 09:43] #297 closed

[2016-01-23 01:42] asimrp commented on #197
Hey @digoal, @tanzeeb, is the workaround of systemd-logind restart working for you?

[2016-01-23 01:48] asimrp commented on #271
@xinzweb, @vraghavan78, can someone please take a look at this?  Two plans for the same query are yielding different results.

[2016-01-24 05:23] digoal commented on #197
Thanks @pivotal-todd-ritchie , GP works now follow your solution.

[2016-01-25 02:29] eurekaka commented on #257
Thanks Heikki, that helps a lot.

On Fri, Jan 22, 2016 at 3:50 PM, Heikki Linnakangas <
notifications@github.com> wrote:

[2016-01-25 18:21] yydzero opened #306 "installcheck failed for ecpg"
[code]

[2016-01-26 00:58] renkemingithub commented on #306
modify the row:
exec sql fetch in MYCURS into sql descriptor MYDESC;

turn into    exec sql fetch MYCURS into descriptor MYDESC;

then make installcheck. ok.

[2016-01-26 01:14] renkemingithub commented on #306
func.pgc: need to modify.
turn Log into my_Log.

parser.pgc: need to modifty.
nulls last  , not be realized by greenplum. delete it. ok.

[2016-01-26 01:17] renkemingithub commented on #306
delete " set data"   , turn into
 EXEC SQL ALTER TABLE T ALTER COLUMN Item2 TYPE smallint;
then compile . ok

[2016-01-26 01:20] yydzero commented on #306
Cool, thanks renkemingithub, would you please file a PR?

On Mon, Jan 25, 2016 at 5:18 PM, renkemingithub <notifications@github.com>
wrote:

--
Best Regards,
Yandong

[2016-01-26 01:28] renkemingithub commented on #306
show.pgc: delete the row.
EXEC SQL SET search_path TO :var;  compile . then ok.

[2016-01-26 01:35] renkemingithub commented on #306
PR ?

[2016-01-26 01:41] renkemingithub commented on #306
rnull.pgc：
turn bool into int. then ok.
$create table test(id int, c char(10), s smallint, i int, b int, f float, l bigint, dbl double precision,
                                           dec decimal, dat date, tmp timestamptz);

[2016-01-26 01:48] renkemingithub commented on #306
thread_implicit.pgc：
add “”。 then ok.
 EXEC SQL SELECT "COUNT(*)" INTO :l_rows FROM test_thread;

[2016-01-26 01:57] renkemingithub commented on #306
test.tar in gpdb-master/src/interfaces/ecpg directory.
tar xvf test.tar . then make installcheck . ok.

[2016-01-26 03:47] yydzero commented on #306
PR = Pull Request :)

Let me know if you need any help for filing PR

On Mon, Jan 25, 2016 at 5:57 PM, renkemingithub <notifications@github.com>
wrote:

--
Best Regards,
Yandong

[2016-01-26 06:29] renkemingithub commented on #271
of course , it is different.   nextval('cs1') is changed. not same value.

[2016-01-26 10:39] digoal opened #310 "invalid value for parameter ""gp_qd_proc_offset"": ""4369544768""",,"Value exceeds integer range."
HI
  when I use this version to init greenplum cluster, there is error at last.
  init use 4G shared buffer
[code]

[code]
and in segment pg_log, there is some error like this:
[code]

when i change buffer to 3GB, the error is:
[code]
I must use 2GB or less shared buffer in gp? or this is a bug?

[2016-01-26 19:40] yydzero commented on #296
@iredzic any comment?

[2016-01-27 02:21] renkemingithub opened #314 "gpAux/gpperfmon/src/gpmon compile error"
how to compile gpmon ?

[2016-01-28 06:19] lyb1985031 opened #318 "install greenplum success,but hang in select"
i install greenplum on three machines,one master,two segment.
create db/table works fine,select version() works fine.
but when i execute select or insert,there is no error information,just hang up.
how can i find the reason that gp works like that.

system info:
CentOS Linux release 6.2 (Final)

greenplum version:
greenplum-db-4.3.6.2-build-1-RHEL5-x86_64

[2016-01-28 06:55] eurekaka commented on #318
Hi,

Find the master process of your session, then use pstack or gdb to see
where it is handing on from the stack. Hope this can help.

Cheers,
Kenan

On Thu, Jan 28, 2016 at 2:19 PM, lyb1985031 <notifications@github.com>
wrote:

[2016-01-28 07:59] lyb1985031 commented on #318
Hi,

Find the master process of your session, then use pstack or gdb to see
where it is handing on from the stack. Hope this can help.

Cheers,
Kenan

3ks,just forgot pstack. I'ill try later. I'm updating system now.

[2016-01-28 08:00] lyb1985031 commented on #318
eurekaka 3ks,just forgot pstack. I'ill try later. I'm updating system now.

[2016-01-29 06:49] lyb1985031 commented on #318
i just update system from centos6.5 to centos7. Then gp works fine.

[2016-01-29 06:49] #318 closed

[2016-01-29 08:41] pkw1155402 opened #324 "starting greenplum is OK，but gpstop is failure."
Hi, friends
I can start greenplum  through gpstart，but one segments can't stop after gpstop.
Anyone can help me?

The operations is at below:

[gpadmin@node1 tmp]$ gpstart
20160129:16:17:51:004185 gpstart:node1:gpadmin-[INFO]:-Starting gpstart with args:
20160129:16:17:51:004185 gpstart:node1:gpadmin-[INFO]:-Gathering information and validating the environment...
20160129:16:17:51:004185 gpstart:n

[2016-02-03 01:25] gcaragea opened #332 "Assertion failure in cdbmutate.c"
This is causing one of our regression tests to fail.

Reproduction:
[code]

Outcome:
[code]

[2016-02-03 18:41] gcaragea commented on #332
@atris Any chance you could take a look at this please? Thanks.

[2016-02-03 19:15] atris commented on #332
I will take a look tomorrow first thing.

[2016-02-04 01:31] ashwinstar commented on #221
Was fixed by #252. Closing.

[2016-02-04 01:31] #221 closed

[2016-02-04 01:35] ashwinstar commented on #135
Closing issue as we know no further action here since issue will be fixed by 8.3 merge, not sure we already have it or coming up soon.

[2016-02-04 01:35] #135 closed

[2016-02-04 01:38] ashwinstar commented on #126
Closing as didn't hear back from reporter. If still facing the issue please feel free to re-open.

[2016-02-04 01:38] #126 closed

[2016-02-04 01:55] ashwinstar commented on #189
Closing was answered.

[2016-02-04 01:55] #189 closed

[2016-02-04 02:10] ashwinstar commented on #324
Log says "20160129:16:38:42:006576 gpstop:node1:gpadmin-[INFO]:- Segments stopped successfully = 2" so when you say one segment was not stopped did you see the process running for it after gpstop completed ? (Also, just curious seems you are running 4.3.6.2 version and not master.)

[2016-02-04 04:15] ashwinstar commented on #310
There shouldn't be such limitation. gp_qd_proc_offset GUC seems stale and raised PR to remove the same.

[2016-02-05 02:57] liruto opened #340 "a typo of 'cdbpath_match_preds_to_partkey_tail' ?"
During Looking for an equijoin comparison to the partkey item, a typo results in suboptimal query plan.
An example:

create table t2(tc1 oid, tc2 int) distributd by (tc1);
create table t3(tc1 oid, tc2 int) distributd by (tc1);

mycluster=# explain select * from pg_class left join ( t2 left join t3 on t2.tc1 = t3.tc1) on oid = t2.tc1;
                                             QUERY PLAN
--------

[2016-02-10 18:35] karthijrk opened #354 "Explain fails with / with no optimizer."
When I tried to explain on some query it fails. Here by attached the mini-repo to reproduce this issue.

@atris  - FYI - iust filed gpdb issue to keep track.

Error snapshot:
![image](https://cloud.githubusercontent.com/assets/5432707/12957531/ecf679dc-cfe1-11e5-9cb4-8ab404b45a53.png)

[dml_join_q09_mini_rep.txt](https://github.com/greenplum-db/gpdb/files/125308/dml_join_q09_mini_rep.txt)

[2016-02-10 19:33] hlinnaka commented on #340
Good catch! Fixed, thanks.

[2016-02-10 19:33] #340 closed

[2016-02-10 20:40] hlinnaka commented on #354
This is the same issue as #332

[2016-02-10 21:35] vraghavan78 commented on #354
Thanks @hlinnaka and @karthijrk

[2016-02-11 14:35] atris commented on #332
I looked into this and it seems to be coming from the equivalence class merge patch. The needed Motion nodes under which HashAggregate need to be present are not added and hence assertion is seeing bare HashAggregate nodes hence assertion trips.

[2016-02-11 21:39] karthijrk commented on #354
oh, yes, Its a duplicate (#332). Let me close this issue.

[2016-02-11 21:39] #354 closed

[2016-02-12 01:29] vraghavan78 opened #362 "Upstream Analyze changes histogram boundaries."
Example 1:

[code]

Query
[code]

Expected boundary values:

[code]

Output

[code]

@hlinnaka can you please take a look at this minimal repro. We (@xinzweb and I) think it is due to the commit. We also have another use case with real data type and are happy to provide it. FYI. These tests will be ported soon :)

[2016-02-12 07:31] hlinnaka commented on #362
On 12/02/16 03:29, Venkatesh Raghavan wrote:

Heh, that's a funny one. At first glance, I thought it was confusing the columns 'a' and 'b', but on closer look, that histogram is in fact correct. What changed here is that the histogram no longer includes the Most Common Values (per discussion on gpdb-dev). Once you remove the MCVs from the data, that's what the histogram of the remaining values loo

[2016-02-12 16:57] xinzweb opened #364 "Assert in GPORCA due to PG exception raised after EC Merge"
@atris looked into the issue and found the following:
Repro:
[code]
The problem is that there should be `Explicit Redistribute Motion` nodes on top of ALL the `HashAggregate` nodes in the below plan:
[code]
The `Explicit Redistribute Motion` nodes are not being added and the Assertion is only seeing `HashAggregate` nodes when expecting `Explicit Redistribute Motion` nodes hence it trips assertion.

[2016-02-12 18:48] vraghavan78 commented on #362
Thanks for the explanation. Sounds good. I will investigate the other failure and port the tests today to ICG.

[2016-02-12 21:03] hlinnaka commented on #332
I did some digging, and it turns out that the underlying issue isn't actually new. The equivalence class patch changed the access plan you get for that query, and it started to trip the assertion, but I was able to construct this simpler test query, which trips the same assertion even before the equivalence class patch:

[code]

When run with assertions disabled, the plan looks like this:

[code]

[2016-02-12 21:27] hlinnaka opened #368 "ERROR: JOIN qualification may not refer to other relations. (initsplan.c:285)"
Bumped into this while debugging issue #332:

[code]

[2016-02-13 12:44] hlinnaka commented on #364
This is a duplicate of issue #332. As I said there, I believe the new plan is correct, and the assertion is too tight. If you think the Explicit Redistribute Motion are really needed, please leave a comment on #332.

[2016-02-13 12:44] #364 closed

[2016-02-14 10:59] digoal opened #372 "BUG gp_workfile_limit_per_segment can not limit KB per segment?"
i had set the parameter gp_workfile_limit_per_segment=25165824 (about 24GB), and restart GP.
THE gp env:
1 master
2 segment
70GB data per segment.

when run a TPC-H sql(7.sql), gp use 250GB in $GPDATA/base/xxx/pgsql_tmp/workfile_set* per segment.

and when i see gp_toolkit.gp_workfile_usage_per_segment , there is only 4GB per segment.

And when disk 100% used, Greenplum raise some error , do not h

[2016-02-15 07:32] kpmanojpg opened #374 "pg_catalog error when executing table description command"
Hi Team ,

Got following error when i tried to use following command , kindly let me know is if fixed latest version

dbname=# \d attach_array
DEBUG1:  Message type Q received by from libpq, len = 229
LOG:  statement: SELECT c.oid,
  n.nspname,
  c.relname
FROM pg_catalog.pg_class c
     LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
WHERE c.relname ~ '^(attach_array)$'
  AND pg_cat

[2016-02-15 07:36] #374 closed

[2016-02-16 03:14] liruto opened #378 "constant hashexpr not found in subplan's targetlist"
A case with an internal error:
[code]

In function '_cdbpath_match_preds_to_partkey_tail_', PathKey _copathkey_'s equivalence class could represent a pseudo-constant. If this happens, _colocus.partkey_h_ would contain a PathKey whose equivalence class is constant. But, '_cdbpullup_findPathKeyExprInTargetList_' doesn't take it into consideration. While PathKey _item_ equals constant at the same tim

[2016-02-16 15:44] xinzweb opened #380 "`gpfdist` used deprecated OpenSSL library on OSX"
Current OSX got compilation warning like:

[code]

This is due to OSX deprecated OpenSSL support by 10.7 and replaced by Common Crypto. Please see http://stackoverflow.com/questions/7406946/why-is-apple-deprecating-openssl-in-macos-10-7-lion.

There are few work arounds like using own installed version of OpenSSL on OSX to get around the deprecation warning like:  http://stackoverflow.com/question

[2016-02-16 15:47] hlinnaka commented on #380
On 16/02/16 17:44, Xin Zhang wrote:

Hmm. The server code and libpq has the same problem. How does this work
for libpq? gpfdist should pick up the same configure options as libpq,
at least after PR #351. So perhaps we should focus on PR #351 and see if
this gets resolved as a side-effect.

- Heikki

[2016-02-16 15:48] atris commented on #380
+1
On 16 Feb 2016 9:14 pm, "Xin Zhang" <notifications@github.com> wrote:

[2016-02-16 16:29] xinzweb opened #381 "`--enable-orca` build failed with `HMIUl` unknown type"
I saw following error message when `configure` with `--enable-orca`, and then `make`:
[code]

I was able to build a week ago, anybody hit similar issue? What's potential fix for this one? Thanks.

[2016-02-16 16:34] xinzweb commented on #332
@vraghavan78 and @gcaragea, any comments on the new behavior?

[2016-02-16 16:35] hlinnaka commented on #381
On 16/02/16 18:29, Xin Zhang wrote:

Make sure you're using a recent-enough version of ORCA. Commit
1c8745ec19431e7790b7e844adee9252800a53f8 and the corresponding commit in
ORCA, moved the typedef for HMIUl from a header file in GPDB to a header
file in ORCA.

- Heikki

[2016-02-16 17:01] xinzweb commented on #381
Thanks a lot @hlinnaka. That's the problem. All compiled great after I synced the GPORCA. Thanks.

[2016-02-16 17:01] #381 closed

[2016-02-17 00:25] Chibin commented on #380
You will see a similar issue with libpq if you use --with-openssl during the configure.

With PR #351 gpfdist enforces the OpenSSL check, however, gpfdist does not define USE_SSL. This is the reason why you don't see the similar issue with libpq.

Should gpfdist define USE_SSL as well if gpfdist is enabled?

[2016-02-17 08:12] hlinnaka commented on #380
On 17/02/16 02:25, Marbin Tan wrote:

Ah, I see.

Yeah, that would be best.

- Heikki

[2016-02-17 19:38] spothineni opened #388 "compiling gphdfs (gpdb/gpAux/extensions/gphdfs)"
Hi,
We are trying to compile the code of gphdfs we have following problem, I think the repo url doesn't exists any more.

Please let us know if there is any work around.

Thanks
Sudhir

[ivy:retrieve]
[ivy:retrieve] :: problems summary ::
[ivy:retrieve] :::: WARNINGS
[ivy:retrieve]  Host repo.eng.pivotal.io not found. url=https://repo.eng.pivotal.io/artifactory/gpdb-ext-release-local/apache/hadoop

[2016-02-17 19:46] hsyuan commented on #279
Should we close this issue? Since @hlinnaka already merged with upstream.

[2016-02-17 22:03] hlinnaka commented on #279
Yeah, I think so. closed.

[2016-02-17 22:03] #279 closed

[2016-02-17 23:32] gcaragea commented on #372
Thanks for reporting this.
How do you measure the 250GB number?

There is a known issue about the disk space accounting used by gp_toolkit.gp_workfile_usage_per_segment and gp_workfile_limit_per_segment. Basically we measure actual bytes written to disk. But the OS (well the file system code actually) allocates space in blocks, which can be anywhere from 512B to several MB, depending on your file

[2016-02-17 23:34] GodenYao opened #394 "Enforce DISTRIBUTED BY check for PRIMARY KEY/CONSTRAINT UNIQUE in ALTER TABLE"
In: https://github.com/greenplum-db/gpdb/blob/master/src/backend/parser/analyze.c

We added check while creating tables "DISTRIBUTED BY" along with PRIMARY KEY or CONSTRAINT UNIQUE to make sure distribution key is equal or left-subset of the primary key.

However, user can bypass this check by ALTER TABLE to change the distribution key later.
Given it's crucial to have the correct distribution key

[2016-02-17 23:51] gcaragea opened #395 "reltuples for external partition are now estimated as 0"
This is causing a failure in our regression tests. The reltuples for an external partition was previously estimated at 1M, now it is estimated at 0. This was introduced by the commit that brought ANALYZE from upstream: https://github.com/greenplum-db/gpdb/commit/f995c59f349917a99407e3811d9b317d5d77b257

Way to reproduce the problem:
[code]

reltuples is now returned as 0. Before the fix, it was re

[2016-02-18 07:48] atris commented on #395
PR #385 should fix that for some cases

[2016-02-19 02:11] liruto commented on #378
@hlinnaka Could you take a look at this?

[2016-02-19 13:21] hlinnaka commented on #378
Thanks, opened PR 404 to fix this. I moved code around the function a bit more, to make the code easier to understand, but it's basically the same as your modification above

[2016-02-22 06:59] liruto commented on #368
I looked into this and it seems to be coming from the absence work of subplan's adjust in 'adjust_appendrel_attrs_mutator'.After the following modification, it seems to run well.
[code]
I'm not sure it, without more useful comments, and could anyone explain for me why it may have to create a copy of subplan here? Thanks~

[2016-02-22 07:46] kisskevin opened #412 "Is gpdb support read and write data with hdfs?"
Is gpdb support read and write data with hdfs? what is the different between gpdb and hawq? thanks ,I'am wander about the two product .

[2016-02-22 08:19] yydzero commented on #412
gpdb support read/write data with hdfs using gphdfs protocol.

HAWQ could operate data on HDFS directly without external table protocol.

On Mon, Feb 22, 2016 at 3:46 PM, kisskevin <notifications@github.com> wrote:

--
Best Regards,
Yandong

[2016-02-22 08:40] kisskevin commented on #412
@yydzero thank you !
I have another question , I saw the docs from http://gpdb.docs.pivotal.io , it seem like 'HDFS Protocol' dose not support the apache hadoop hdfs ? how about HAWQ ? it have already contain it's own hdfs ? when I install HAWQ ?

[2016-02-22 08:48] atris commented on #332
I agree that the Assertion is too tight. IMO I think it is a bit out of place, and the planner should have done the right think by the time we get to the assertion.

Another problem here is that apply_motion_mutator is too dependent on Motion nodes for its checks, as you mentioned. While it would definitely make sense to add Motion nodes when the distribution keys and join keys are different, we s

[2016-02-22 08:49] yydzero commented on #412
It should works even not listed in doc

On Mon, Feb 22, 2016 at 4:40 PM, kisskevin <notifications@github.com> wrote:

--
Best Regards,
Yandong

[2016-02-22 08:49] #412 closed

[2016-02-22 13:40] hlinnaka commented on #332
On 22/02/16 00:48, Atri Sharma wrote:

Yeah, it seems a bit silly to have an assertion right after the code
that created the Motion nodes, just to check that it really did.

Ok, I created a pull to remove the assertion. I didn't change the logic
to decide whether to add the Motion node or not for now, as that needs
more work and testing, and isn't needed for correctness.

- Heikki

[2016-02-22 16:33] xinzweb commented on #332
In general, assertion is to check the `assumption`, and make sure it's
right.

Before we completely remove this `assertion, how can we ensure `
apply_motion_mutator` is working correctly? Is there any other location we
should have `assumption` validated earlier?

Thanks,
Shin

On Mon, Feb 22, 2016 at 5:40 AM Heikki Linnakangas <notifications@github.com>
wrote:

[2016-02-22 17:37] hlinnaka commented on #332
On 22/02/16 08:33, Xin Zhang wrote:

Well, in this case the code basically looks like this:

1. Do X
2. Assert that X has been done. (but the assertion doesn't quite match
the code above, and we get the failure)

If you look at the code, the assertion block closely resembles the code
just above it. It's not really checking a general assumption or an
invariant, it's just repeating the thing it just

[2016-02-22 17:41] hlinnaka commented on #368
A-ha! I'm not sure how exactly that leads to the error, but a "mutator" is always supposed to create a deep copy of the tree, so that's clearly a bug.

[2016-02-22 18:56] inviscid opened #415 "No tags or releases to coincide with releases on Pivotal"
Would it be possible to have tags or releases that coincide with the official Greenplum releases.

[2016-02-22 23:21] hlinnaka commented on #256
I created a pull request to remove the dead code, so that this doesn't get forgotten about.

[2016-02-23 01:10] liruto commented on #368
@hlinnaka The original "_or_" condition contains only one _varno_, with partial adjustment(replace _varno_ 1 with 2), then it has two. So when pushing it down in distribution phrase, at the top of join tree, it was found that "_or_" condition with _'relids=6=2+4'(varno=1,2)_ has some reference error when scope is merely 4(_varno=2_).

The "_expression mutator_" deals with a shallow copy of _subpla

[2016-02-23 02:17] addisonhuddy commented on #287
Any reason this is still open?

[2016-02-23 02:22] hlinnaka commented on #287
No, don't think so. Closed.

[2016-02-23 02:22] #287 closed

[2016-02-23 02:26] hlinnaka commented on #368
expression_tree_mutator() creates a deep copy. It creates a shallow copy of the node itself first (FLATCOPY() macro), and then it recurses into every sub-node, and that recursion will recursively create a copy of each subnode. So it's a deep copy.

[2016-02-23 02:27] hlinnaka commented on #368
It would be good to grep through all our "mutator" functions to make sure there are no more bugs like this lurking, i.e. ensure that they all create a deep copy.

[2016-02-23 09:38] funnyxj opened #420 "[BUG] execute gpconfigurenewsegment failed"
When I execute gpaddmirrors cmd, sometimes it will fail, see the log, will appear following massage:

[code]

It is easy to find its reasons, I think it is a bug:
In File gpconfigurenewsegment:

[code]

But exec_context interrupt() function is a different definition:

In File gppylib/commands/base.py

[code]

exec_context interrupt() need cmd args, so it will fail.

We can fix it through following

[2016-02-23 15:01] danielgustafsson opened #424 "Subplan assertion causing error in query from bfv_subquery"
The following reproducible case from bfv_subquery fails on a clean compile of master for me on OS X and the postgres planner. Since the Linux machines in the buildfarm are happy I guess it only happens on OS X but I haven't seen anything arch specific in the codepath so far.
[code]
This causes the following assertion to trip:
[code]
The query is planned as follows:
[code]

With ORCA the query is p

[2016-02-24 07:43] fengttt opened #427 "aggregates bug in make installcheck-good"
src/test/regression/expected/aggregates.out, about line 550,
select array_agg(distinct a)
  from (values (1),(2),(1),(3),(null),(2)) v(a);
##  array_agg

 {1,2,3}
(1 row)

I believe the result should be {1,2,3,null}.

[2016-02-25 20:55] hlinnaka commented on #256
Ok, pushed the removal of that, closing this issue. Thanks for the report!

[2016-02-25 20:55] #256 closed

[2016-02-25 22:06] andreasscherbaum opened #436 "Packages missing and not verified by ./configure"
Running "make" in the GPDB source tree fails, if the following packages are not installed (on Debian):
- libapr1-dev
- libevent-dev
- libssl-dev
- libyaml-dev

It always fails in "gpAux/extensions", after "make" in the top directory already compiled a great part of the code.

Because these packages are required in order to build GPDB, the existence should be checked in the top "./configure" script

[2016-02-26 06:44] danielgustafsson commented on #436
I believe these will all be covered by #351 and #434 which both extend the autoconf script to gather all the requirement upon configuration.

[2016-02-26 09:10] andreasscherbaum commented on #436
I only see yaml and apr in #351.

[2016-02-27 01:37] Chibin commented on #436
#351 has been pushed into master, those packages should be checked in the configure now.

[2016-02-28 22:07] andreasscherbaum commented on #436
Add Python "psi" to the list.

[2016-02-28 22:08] andreasscherbaum opened #441 "Master port for demo cluster is not configurable"
The TCP port used by "make cluster" is hardcoded to 15432, which makes it impossible to use when two builds are tested at the same time.

This port should be configurable by a commandline option or an environment variable.

[2016-02-28 22:10] andreasscherbaum opened #442 "Directory for demo cluster not configurable"
The demo cluster (created by "make cluster") is placed in "gpAux/gpdemo/datadirs/". This should be configurable, and possibly be created in $TMPDIR.

[2016-02-29 04:34] hlinnaka commented on #436
On 29/02/16 00:07, Andreas Scherbaum wrote:

Shreedhar, you did some investigation on the "psi" dependency, didn't
you? Can we get rid of it?

- Heikki

[2016-02-29 18:51] fengttt opened #446 "Bug in _outScanInfo"
if (rte->type != RTE_SUBQUERY)

It seems shout be ret->rtekind, or the code is really twisted.

[2016-02-29 19:19] fengttt opened #447 "Many warnings in pg_backup_files.c, pg_backup_tar.c"
And they look like real bug to me.

For example, the following code,
gzFile *FH = gzopen(...)

gzopen returns gzFile, not gzFile*.

[2016-03-01 04:00] hlinnaka commented on #436
I don't know,

"psi" is an old python utility package used to get process information on
the system. It looks hasn't been developed on since around 2009 (
https://bitbucket.org/chrismiles/psi/wiki/Home). There a number of pull
requests open since a number of years.

I was trying to asses if we can replace it with a more modern psutils
library (https://github.com/giampaolo/psutil) , or remove it al

[2016-03-01 17:34] andreasscherbaum opened #455 "Replace "source" with . (dot)"
Ubuntu is using "dash" as default shell

ads@diamond:~$ ls -ld /bin/sh
lrwxrwxrwx 1 root root 4 Nov 23 17:05 /bin/sh -> dash

The "dash" shell does not understand "source", which is a "bash" extension. The proper way to do it is just use a dot to source other files into the current shell. This affects at least the README and a number of examples.

[2016-03-01 18:22] andreasscherbaum opened #456 "make cluster should not succeed with an error message"
If one runs "make cluster", it ends with the following error:

Makefile:21: recipe for target 'cluster' failed
make: [cluster] Error 1 (ignored)

[2016-03-02 01:43] liruto commented on #427
Hmm, I think you're right. In function '_process_ordered_aggregate_single_', agg(DISTINCT x) dropped null values of x unconditionally, regardless of the transition function's strictness.
[code]
In PostgresSQL after commit '_SHA-1: 34d26872ed816b299eef2fa4240d55316697f42d_', result should be the same as your expected, I think.

[2016-03-02 08:43] funnyxj opened #460 "[BUG] reset allow_system_table_mods;"
postgres=# reset allow_system_table_mods;
ERROR:  invalid value for parameter "allow_system_table_mods": ""

[2016-03-02 22:23] vraghavan78 opened #462 "Crash: Subquery on external web table scan w/ outer reference"
Minimal repro:

*Schema:*
[code]

*Script:*
[code]

*Query:*
[code]

*Execution: CRASH*
[code]

External web table scan does not support rescan. Issue is that we do not add a materialize on top the subplan's materialize node. Any thoughts on this issue are welcome.

[2016-03-04 09:31] nurikk opened #471 "ERROR: XX000: could not find hash function for hash operator 1070 (nodeHash.c:374)"
Hi all! I have trouble with GP db. I have this db schema
https://gist.github.com/nurikk/e81554f07b5840989918#file-shema-sql

When performing this
https://gist.github.com/nurikk/e81554f07b5840989918#file-query-sql

I have error
`ERROR:  XX000: could not find hash function for hash operator 1070 (nodeHash.c:374)  (seg1 slice7 gp-node-1.int.avs.io:40001 pid=29672) (cdbdisp.c:1324)
LOCATION:  cdbdisp_

[2016-03-04 13:06] nurikk commented on #471
It seems an error occurs only in small amounts of data. I make a request for 76M rows and everything is working, 7M rows got on an error

[2016-03-04 13:08] hlinnaka commented on #332
Fixed, closing. Thanks for the report!

[2016-03-04 13:08] #332 closed

[2016-03-04 16:09] nurikk commented on #471
I localized the problem, it occurs when the array grouping performs
[code]

[2016-03-05 18:49] hlinnaka commented on #378
Fixed, thanks for the report! (I used wrong issue number in the commit, oopsie. The commit that fixed this was 81b5a62bd2ee21586494cbb10f051248cc363c14)

[2016-03-07 15:48] 0x0FFF opened #482 "Some array functions are missing in pg_proc.h"
The functions like array_length and array_ndims are missing in pg_proc.h regardless they are implemented in the code

[2016-03-07 22:18] xinzweb opened #483 "ERROR: failed to acquire resources on one or more segments"
When running ICG, I randomly hit the above issue.

The cluster is setup with 3 segments and 3 mirrors.

This is the output of `sysctl`:

[code]

Anybody saw similar issue? How to root cause the issue?

This is running on OSX 10.10.5 with 16GB of RAM.

Failed query is very random.

Thanks.

[2016-03-07 22:23] xinzweb commented on #483
The `pg_log` got following information (not an ICG test yet):

[code]

[2016-03-08 01:31] ashwinstar commented on #483
Do you see any PANIC / FATAL in any segments logs ?
In past seen this in context when a primary segment fails and transition is
yet to complete on mirror.

On Mon, Mar 7, 2016 at 2:23 PM, Xin Zhang <notifications@github.com> wrote:

[2016-03-08 07:48] funnyxj commented on #483
segment failed, you can gpstatus to see what happend

[2016-03-09 08:46] danielgustafsson commented on #378
Closing as it has been fixed.

[2016-03-09 08:46] #378 closed

[2016-03-09 09:19] digoal opened #491 "trgm.h miss TRGMINT define"
TRGMINT used in trgm_gin.c
but no define in trgm.h

#define TRGMINT(a) ( (*(((char*)(a))+2)<<16)+(*(((char*)(a))+1)<<8)+*(((char*)(a))+0) )

[2016-03-09 10:49] 0x0FFF opened #492 "PL/Python KeyError issue with set returning functions"
The issue can be reproduced with this simple code:

[code]

You would see the following output:

[code]

[2016-03-09 10:50] 0x0FFF commented on #492
Root cause of the issue is the function `PLy_function_delete_args` which makes `PyDict_DelItemString` without checking whether the item really exists in global dictionary or not

[2016-03-09 10:54] 0x0FFF opened #494 "PL/Python regression test plpython_returns is broken"
PL/Python regression test "plpython_returns" never succeeds and generates huge regression diff. Need to fix this

[2016-03-09 11:57] lyb1985031 opened #495 "gpaddmirror failed"
I'm adding mirrors to the exist system.But part failed(29/55),the reason is PG_CTL failed.
then i want to use gprecoverseg to get the failed mirror up.the i get Unable to connect to database

so,what should i do when gpaddmirror failed.I want to remove the mirrors and try once more,but don't know how? Or is there some way to get the failed mirrors up?

[2016-03-09 12:30] lyb1985031 commented on #495
part log:
20160309:17:06:38:014768 gpaddmirrors:server00:name-[WARNING]:-Failed to start segment.  The fault prober will shortly mark it as down. Segment: server02:/home/xxx/greenplum-db/mirror/datam10/gpseg15:content=15:dbid=66:mode=r:status=d: REASON: PG_CTL failed.

20160309:17:16:39:014768 gpaddmirrors:server00:name-[WARNING]:-Failed to inform primary segment of updated mirroring state.  Segme

[2016-03-09 17:40] ascherbaum-pivotal opened #499 "Refactor Makefile for regression tests"
Like upstream, the regression tests should be executed using "make check" in the main directory. "make installcheck-good" seems to be a legacy of too many new test systems added to GPDB.
Also "make check" should start and stop the cluster required to run the regression tests.

[2016-03-09 17:41] hlinnaka opened #500 "Assertion failure from bfv_legacy test"
This query from the 'bfv_legacy' regression test trips an assertion:

postgres=# select * from mpp_t1 where a = (select a FROM mpp_t2 where mpp_t2.b > (select max(b) from mpp_t3 group by b) and mpp_t2.b=1 and mpp_t2.b=2);
ERROR:  Unexpected internal error (nodeSubplan.c:764)  (seg1 slice1 localhost:40001 pid=21327) (cdbdisp.c:1326)
DETAIL:  FailedAssertion("!(((bool) ((prmExt->ptype) != ((Oid) 0))

[2016-03-09 17:48] hlinnaka commented on #214
No activity here, and this doesn't seem to be a bug, so closing.

[2016-03-09 17:48] #214 closed

[2016-03-09 17:49] hlinnaka commented on #362
I assume there's no further work to be done here, so closing this.

[2016-03-09 17:49] #362 closed

[2016-03-09 17:49] #257 closed

[2016-03-09 17:52] hlinnaka commented on #314
@edespino, can you answer this one? I've never tried building that thing, and I don't know what it does.

[2016-03-09 18:06] hlinnaka commented on #491
Fixed, thanks!

[2016-03-09 18:06] #491 closed

[2016-03-09 18:29] danielgustafsson commented on #499
As mentioned on off-thread, the ability to reuse an already running cluster is quite handy since startup/teardown isn't exactly an instant operation (at least not today with `make cluster`). The default can be to setup/teardown but an override would be good; like `REUSE_CLUSTER=1 make check` or something similar.

[2016-03-09 18:34] hlinnaka commented on #499
On 09/03/16 20:29, Daniel Gustafsson wrote:

PostgreSQL has "make installcheck-parallel" for that. There are three
targets:

# Create a cluster, run the tests in parallel
make check
# Run the tests in serial, against an already-running cluster
make installcheck
# Run the tests in parallel, against an already-running cluster
make installcheck-parallel

I think we should adopt the the same makefile

[2016-03-09 18:37] danielgustafsson commented on #499
:+1: on that suggestion

[2016-03-10 05:45] lyb1985031 commented on #214
i want to change gp_segment_configuration too,because add mirror fails,and can not find how to remove mirrors and try once more.(the failed reason is sysctl config)

[2016-03-10 05:47] lyb1985031 commented on #495
the reason mirror failed found which is sysctl config limit,but how can i remove the exists mirror and try once more. the gp_segment_configuration can not be update or delete even if in start -m mode.
gprecoverseg still Unable to connect to database

[2016-03-10 10:51] wwang-pivotal commented on #495
semaphore is not set as GP required.
closed

[2016-03-10 15:00] lyb1985031 commented on #495
I reinstall the cluster. But some strange things happens.
I hava two batch machines A and B.
A and B have primary segment runs fine.
A have each other mirrors(different machines)
B have empty mirror dir
what is the reason might be?

[2016-03-10 20:26] andreasscherbaum opened #506 "Missing --with-libxml fails regression tests"
The README specifies only one ./configure option: --prefix
However if --with-libxml is not specified, the regression tests fail:

[code]

[2016-03-10 20:28] andreasscherbaum opened #507 "Missing --with-python fails regression tests"
The README specifies only one ./configure option: --prefix
However if --with-python is not specified, the regression tests fail:

[code]

[2016-03-10 20:30] andreasscherbaum opened #508 "Missing --with-perl fails regression tests"
The README specifies only one ./configure option: --prefix
However if --with-perl is not specified, the regression tests fail:

[code]

[2016-03-10 20:39] andreasscherbaum opened #509 "Specifying --with-perl does not verify that the libs are installed"
When I specify --with-perl for a build, and the Perl libraries are not installed, ./configure does not complain. Later on, "make" fails:

[code]

Conclusion: ./configure must check if all required libraries are installed.

[2016-03-10 21:57] andreasscherbaum opened #510 "Missing --enable-mapreduce still runs all the regression tests for mapreduce"
#434 introduces a new ./configure flag: --enable-mapreduce

If this flag is not specified, all the mapreduce regression tests are still run - and fail.

[code]

[2016-03-11 03:40] lyb1985031 commented on #495
All segments and master works.Here are my steps:
1.initsystem(2 machines) without standby master and mirrors
2.gpexpand add more machines and segments
3.gpaddmirrors
4.gpinitstandby

then all works.
And i don't know why...

[2016-03-11 03:40] #495 closed

[2016-03-11 21:12] hsyuan commented on #507
The regression test use PL/Python modules to execute some tests. Maybe we need to add addtional configure instruction on how to run  regression tests. the same with other `--with-perl`, `--enable-mapreduce` configure flag.

[2016-03-12 09:14] andreasscherbaum commented on #507
I have no problem with making Python a hard dependency.

But if that is the case, it a) must be documented and b) ./configure must fail if it is not specified.

A new developer, trying to build GPDB for the first time, will run into this problem.

[2016-03-12 09:27] andreasscherbaum opened #523 "Do not spill regression test logfiles into ~/gpAdminLogs/"
When a demo cluster is started and stopped for the regression tests, the logfiles are written into the default directory: ~/gpAdminLogs/

Over time, this creates a huge amount of logfiles, which are never cleaned up.

Instead, this logfiles should be written into the demo cluster directory, and removed when the cluster is removed.

[2016-03-12 09:32] andreasscherbaum opened #524 "gpinitsystem --help should work without setting $GPHOME"
Right now, the gpinitsystem help option (--help) requires $GPHOME to be set in order to print out the help.

The help should be displayed without setting or requiring any environment variables.

[2016-03-14 21:40] foyzur opened #528 "Planner picks up NLJ instead of HJ"
Apparently this is an issue with equivalence class. This breaks couple of tests that we are currently porting to open source. This also can introduce significant regression. For a simple repro (abridged from one of the test suites):

[code]

Explain output:

[code]

[2016-03-15 03:33] wangcheng233 opened #529 "Help me to find emcconnect library"
when I compile Greenplum with --enable-connectemc, I get an error that I can't find emcconnect library. I can't find how to install the library,help me, thank you very much.

[2016-03-15 03:38] ivannovick commented on #529
Hi, why would you want to use this option?  Its used for building an EMC appliance with the prorpietary api.

[2016-03-15 04:16] wangcheng233 commented on #529
Hi, ivannovick, thank you for reply.I want to compile gpperfmon which is in the Greenplum source code "gpAux", but in gpmon_snmp.c, there is the code "#include emcconnect/api.h" that can't be found, so I failed to compile gpperfmon. I also can't get the gpperfmon from the official web.

[2016-03-15 07:17] danielgustafsson commented on #529
Hi, I took a stab at building gpperfmon this morning and with the crude diff below (I had to fiddle with the APR paths and snmp lib name as well) it builds without the EMCConnect SNMP code on my Linux box. That being said, since I'm not familiar with gpperfmon I didn't validate it more than testing that it runs.

I'll have a look at giving gpperfmon some attention such that it honors the autoconf

[2016-03-15 10:02] ivannovick commented on #529
cool stuff, let me know if you need help on gpmmon / gpsmon I used to maintain it for few years

[2016-03-15 10:10] wangcheng233 commented on #529
yes, ivannovick, I need your help. I want to download greenplum-perfmon-web-4.1.1.x binary from the official web, but I didn't find it. Do you have???
Anyway, I also want to compile gpperfmon in the greenplum source code, but I didn't succeed. I tried this afternoon, but I got many problems, such as gpperfmon_path.sh missing, gpmonws.py missing and lighttpd missing, those are not in source code. S

[2016-03-15 15:42] ivannovick commented on #529
the web services and UI are not open source, only the backend agents are open source and i see the full code for the backend in the open source, git tree.  @bharath1028 you might want to clarify this.

[2016-03-15 17:18] foyzur commented on #528
@hlinnaka @atris could you please take a look? This is blocking our test porting process.

[2016-03-16 07:31] hlinnaka commented on #528
On 15/03/16 19:18, foyzur wrote:

Ok, will take a look.

- Heikki

[2016-03-16 08:24] hlinnaka commented on #528
So, before the equivalence classes patch, you get a plan like this:

[code]

That doesn't look like a better plan to me, at least not significantly so. The estimated cost is about the same too.

It's worth noting that the planner correctly estimates that there is only one matching row in 'foo', so broadcasting 'foo' is cheaper than redistributing 'bar', because there are more matching rows in 'bar

[2016-03-16 08:32] hlinnaka commented on #528
Oh, and the reason it chooses a nested loop join over a hash join is that there is no useful hash key to join on. The filters on Seq Scan nodes already filter all rows with key != 6, so all the tuples that reach the Join node are already known to match the join condition.

[2016-03-16 08:34] hlinnaka commented on #528
I think this has been explained away, so closing, but please feel free to re-open if I'm missing something.

[2016-03-16 08:34] #528 closed

[2016-03-18 03:29] EldonReturn opened #543 "Make failed with gp_version.h missing"
make[4]: entering directory “/root/gpdb-master/build/src/backend/catalog/caql”
gcc -O3 -std=gnu99  -Wall -Wmissing-prototypes -Wpointer-arith -Wendif-labels -Wformat-security -fno-strict-aliasing -fwrapv -fexcess-precision=standard -fno-aggressive-loop-optimizations -Wno-unused-but-set-variable -Wno-address -g -ggdb   -pthread  -I../../../../src/include -I/root/gpdb-master/build/../src/include -D_

[2016-03-18 03:40] EldonReturn commented on #543
Well, it turns out to be that I created a build sub-directory there... Works now when typing "make" directly under the root folder.

[2016-03-18 03:40] #543 closed

[2016-03-19 11:43] andreasscherbaum opened #550 "XML regression tests fail"
On my Ubuntu 15.10, the XML regression tests fail which what looks like a difference in the output:

[code]

Expected output is:

[code]

Actual output is:

[code]

The exact position where the error occured is not emitted.

[2016-03-19 11:48] andreasscherbaum opened #551 "bfv_partition regression test fails with a subtle difference in separating line"
The bfv_partition regression test fails on my Ubuntu 15.10 with a subtle difference in a separating line:

Test output:

[code]

The two lines:

[code]

The line in the output is one "-" longer.

[2016-03-21 09:10] danielgustafsson commented on #551
We have the `-ignore_headers` option in gpdiff but a) it's not invoked and b) I don't think it would handle this properly anyways. It seems to me that the best option is to extend `ignore_headers` to just cope with such differences since they really shouldn't trigger a test failure.

[2016-03-21 10:24] danielgustafsson opened #552 "Add logging facility to gphdfs"
There is currently no way to emit log messages from gphdfs, see #513 for discussion.

[2016-03-21 21:12] #441 closed

[2016-03-21 21:16] #442 closed

[2016-03-21 21:30] #456 closed

[2016-03-22 10:33] #494 closed

[2016-03-22 23:34] xinzweb commented on #524
After you run the `source greenplum_path.sh` then the GPHOME is set. We need that variable to figure out where the installation is so that we can initialize it.

[2016-03-22 23:37] ascherbaum-pivotal commented on #524
Oh, I know. But I've seen two people trying out Greenplum and not sourcing greenplum_path.sh before.
And gpinitsystem is one of the first steps you have to do.

Hence it would be nice if it fails nicely, or prints the help, instead of just complaining about missing $GPHOME.

[2016-03-24 05:07] michaelpq commented on #550
Hint: you are using libxml2 2.9.3.
http://www.postgresql.org/message-id/n3u4b4$kf4$1@ger.gmane.org

[2016-03-24 06:47] lij55 commented on #552
Nor does all 'exec' external protocol if don't use STDERR.

[2016-03-24 10:15] andreasscherbaum commented on #550
Oh, thanks for the heads-up. I was just logging this issue here because I ran into it during my tests, but this looks like something we will hit across the entire platform.

[2016-03-24 12:21] michaelpq commented on #550
You add a alternate output and you will be fine, that's what upstream did.

[2016-03-24 15:01] andreasscherbaum commented on #550
You are talking about "085423e3e326da1b52f41aa86126f2a064a7db25", right?
This just adds another expected file, or am I missing something?

[2016-03-24 17:14] hlinnaka opened #567 "Assertion failure on reindex within transaction"
postgres=# create table bar(id int4 primary key);
NOTICE:  CREATE TABLE / PRIMARY KEY will create implicit index "bar_pkey" for table "bar"
CREATE TABLE
postgres=# begin;
BEGIN
postgres=# reindex table bar;
FATAL:  Unexpected internal error (indexcmds.c:1653)
DETAIL:  FailedAssertion("!(!IsTransactionOrTransactionBlock())", File: "indexcmds.c", Line: 1653)
HINT:  Process 18515 will wait for gp_deb

[2016-03-25 01:42] michaelpq commented on #550
No, that's it.

[2016-03-28 12:37] chenkaijiang opened #579 "System table "gp_segment_configuration" didn't get updated after some segments down!"
1) Environment info:
OS: CentOS 6.5 on VMware
GP: pull from github, Feb 10th, 2016
DB Config: 1 master on host3; 2 segments on host2, 2 segments on host1; NO mirror.

2) Step to repro

2.1)
Enter the DB with: psql gpmon -d gpperfmon
gpperfmon=# SELECT * FROM gp_segment_configuration;
 dbid | content | role | preferred_role | mode | status | port  | hostname | address | replication_port | san_mount

[2016-03-28 16:31] ashwinstar commented on #579
FTS only works with mirrored configuration. Greenplum official doesn't
support mirror-less configuration.
In-case of only primaries and some of them down, the result is expected
what you see of query failing.

On Mon, Mar 28, 2016 at 5:37 AM, chenkaijiang <notifications@github.com>
wrote:

[2016-03-29 03:04] chenkaijiang commented on #579
In case of primary-only configuration, the query failing is expected. But if the FTS updates the gp_segment_configuration table, it will be helpful to locate the problem. And it looks un-logical that FTS has detected the segment failure while the gp_segment_configuration reports that everything is OK...

[2016-03-29 23:56] andreasscherbaum commented on #550
Ok, there is one thing I don't understand: how does adding one more "expected" file solve this problem?

[2016-03-30 00:07] michaelpq commented on #550
It does not solve it. Postgres just escaped from it until the libxml2 folks clean up their mess, though there is... Er... Little activity regarding that: https://bugzilla.redhat.com/show_bug.cgi?id=1286692

[2016-03-30 00:13] andreasscherbaum commented on #550
Basically this patch provides another results file, but leaves the original one in place, right? Will the regression test tool only use the second output, or both, or how does it work?

[2016-03-30 01:58] michaelpq commented on #550
pg_regress compares the result generated with all the output files presented, and checks if there is a match. If there is a match, test passes. If not, it would generate a diff using the alternate output file with the less difference.

[2016-03-30 21:04] asimrp commented on #579
Hi @chenkaijiang, thank you for experimenting with GPDB.  By design, if the database becomes unavailable, FTS refrains from making any further changes.  E.g. in a mirrored configuration, if one of the replica goes down, FTS marks it down.  But if the other replica for the same content also goes down, this is a database unavailable (double fault) situation and FTS leaves the database unchanged.  Th

[2016-03-30 21:06] asimrp commented on #567
I saw this failure too, during my reindex experiments.  Ideally, the transaction should abort with an error, similar to how vacuum behaves.  Let me fix it.

[2016-03-31 01:32] asimrp commented on #567
Thanks to Ashwin for pointing out, REINDEX should not be restricted to only run outside transaction block.  I will remove the assertion, which anyway is removed in optimized builds.

`ReindexRelationList()` wraps reindex operation within `StartTransactionCommand()` and `CommitTransactionCommand()`.  Inside a transaction block, these operations do not change state of the running transaction.  So it

[2016-03-31 13:29] Gvain opened #587 "Core dumped when running initdb"
On a CentOS6 build, running bin/initdb cause core dump. Start initdb like:
./bin/initdb -D /tmp/gpseg-1
and the error output is:

*** glibc detected *** ./bin/initdb: munmap_chunk(): invalid pointer: 0x00007f5a3f467660 ***
======= Backtrace: =========
/home/sankuai/gpdb/build/greenplum-db/lib/libc.so.6(+0x75f4e)[0x7f5a3ed0df4e]
/lib64/ld-linux-x86-64.so.2(+0x5d35)[0x7f5a3f24ed35]
/lib64/ld-linux-x

[2016-03-31 19:30] ascherbaum-pivotal commented on #550
Pulse run is clean, as expected:
http://pulse-releng.greenplum.com/browse/projects/ascherbaum-GPDB-master-opt-l1/builds/69043/

[2016-03-31 19:33] ascherbaum-pivotal commented on #482
Merged.

[2016-03-31 19:33] #482 closed

[2016-04-01 09:29] andreasscherbaum opened #594 ".gitignore ignores *.out files from regression tests"
.gitignore has a rule for globally ignoring *.out files.
This also ignores all output files for regression tests.

[2016-04-01 09:37] danielgustafsson commented on #594
This was fixed in #585, did that not solve the problem?

[2016-04-02 00:55] andreasscherbaum commented on #594
You beat me with your fix. I found it yesterday, and logged it today, and you fixed it already ;-)

Thanks for that, can confirm that git sees the files now:

[code]

[2016-04-02 00:55] #594 closed

[2016-04-05 03:25] kuien commented on #482
From my investigation, most source-codes related to array functions are backported onto master except the cardinality(). It was first introduced in
[code]
and later be refined in
[code]

In this case, should we backport cardinality() as well to ensure the integrity of PG83 updating?

@andreasscherbaum @hlinnaka @danielgustafsson what're your thoughts?

[2016-04-05 06:50] danielgustafsson commented on #482
Do we (or any user) need it? This is part of the 8.4 cycle AFAICT and will get merged when we work on syncing with the 8.4 upstream. I'm not debating it's usefulness but the same argument can be had for any commit from upstream so it becomes a slippery slope.

[2016-04-05 07:16] kuien commented on #482
I have no idea on it, if customers don't need it at least till now, let's delay it to 8.4 step.

[2016-04-06 15:28] ascherbaum-pivotal opened #608 "Inconsistent and non-deterministic Pulse failures"
We have inconsistent and non-deterministic Pulse failures, and a number PR to adress the issues. This issue here is to aggregate all of the known issues and PR.

https://github.com/greenplum-db/gpdb/pull/606
https://github.com/greenplum-db/gpdb/pull/603
https://github.com/greenplum-db/gpdb/pull/623

And to confirm that the builds work once these PR are committed into master.

[2016-04-06 23:21] #567 closed

[2016-04-07 02:25] panwaitme opened #613 "./configure --enable-orca not find init.h"
configure: error: gpopt/init.h GPOPT header file is required for Greenplum Query Optimizer (orca)

we are searched the file ,but not found;

[2016-04-07 06:07] danielgustafsson commented on #613
You first need to install ORCA (it's a separate module) to be able to use it with Greenplum, see installation instructions here: https://github.com/greenplum-db/gporca/blob/master/README.md

[2016-04-07 10:11] xunzhang opened #616 "'pg.DB' has no attribute 'notices'"
The problem results from file: `gpMgmt/bin/gpload.py`, since clause `self.db.notices()` in function `notice_processor` is invalid way to use `self.db`, I am confused the usage here.

[2016-04-07 10:27] hlinnaka commented on #395
PR #385 might indeed help with the planner-side of things. We still shouldn't run ANALYZE on an external table, though. Created PR #617 to stop that from happening.

[2016-04-07 10:39] ascherbaum-pivotal commented on #608
#603 is closed, but nothing committed.

@xiong-gang Do you have plans to come up with another PR to address the issue?

[2016-04-07 11:22] xiong-gang commented on #608
No. I think @edespino or @asubramanya will change test cases instead.

[2016-04-07 12:04] hlinnaka opened #618 "ERROR: record type has not been registered"
This query:

select q from (select max(f1) from int4_tbl group by f1 order by f1) q;

produces:

ERROR:  record type has not been registered

See PR #611. That was an attempt at fixing this issue, but it was a few bricks shy of a load.

[2016-04-07 12:12] danielgustafsson commented on #616
Which version of PyGreSQL are you using when you get this error? If I understand it correctly the bundled version of PyGreSQL in Greenplum supplies a custom `.notices()` function See [pgmodule.c around line 2902](https://github.com/greenplum-db/gpdb/blob/master/gpMgmt/bin/pythonSrc/PyGreSQL-4.0/pgmodule.c#L2902) for the code.

[2016-04-07 12:30] danielgustafsson commented on #524
Glancing at the code it would most likely require more plumbing work than it's worth to support this cleanly. How about if we just improve the error message along the lines of this:

[code]

[2016-04-07 12:58] xunzhang commented on #616
4.1.1, I use HAWQ's gpload.py and got the error. I think HAWQ didn't copy the entire module of gpload from greenplum?

[2016-04-07 13:00] xunzhang commented on #616
Does that mean if I use gpload outside greenplum with pip installed PyGreSQL, I will get this error?

[2016-04-07 13:07] danielgustafsson commented on #616
I’m not really a Python expert but I would think so yes, you would probably need to use the bundled version of PyGreSQL in order to use gpload.

[2016-04-07 13:12] xunzhang commented on #616
Thanks, I will close this issue.

[2016-04-07 13:20] #616 closed

[2016-04-07 17:03] andreasscherbaum commented on #524
@danielgustafsson Picked up your idea, improved it a bit (and got rid of the bash syntax). Pulse is running.

[2016-04-07 18:53] danielgustafsson commented on #524
Cool. The scripts still depend on bash to run though so if no big problem in having bash syntax.

[2016-04-07 19:02] andreasscherbaum commented on #524
Issue #455 is there to keep track of this problem. I thought I don't let this one slip through.

[2016-04-08 01:37] asubramanya commented on #608
@ascherbaum-pivotal @xiong-gang I have opened a new PR to update the tests #623

[2016-04-08 06:39] danielgustafsson opened #624 "Go over greenplum_schedule and parallelize"
There are a lot of test suites in `greenplum_schedule` that are running serially. Once the work with porting tests from Tinc into installcheck-good settles down we need to go over the schedule and see what we can do to improve the degree of parallelisation.

[2016-04-08 08:00] chenkaijiang commented on #579
@asimrp thank you for your detailed reply. I understand the complexity. GPDB is very great product! Let's work on the mirrored configuration to make FTS work.

[2016-04-08 10:03] ascherbaum-pivotal commented on #608
Added, thanks.

[2016-04-08 20:05] hlinnaka commented on #395
Fixed by PR #617. (Sorry for the long response time, I only noticed this issue in the tracker yesterday)

[2016-04-08 20:05] #395 closed

[2016-04-08 20:51] hlinnaka opened #627 "sort_finish_pending regression test gives a false positive easily"
The sort_finish_pending test case isn't very reliable, in the sense that it's not necessarily testing what it's supposed to test. The invocation of "gpfaultinjector" is inside an ignore-block, and if that invocation fails, the test passes just fine. This is what the output looks like when gpfaultinjector is not in PATH, and the test still passed:

[code]

[2016-04-11 07:58] dacoolbaby opened #630 "when using an "and" criteria, the gpdb got an internal error"
I have bolden the criteria in the where condition.
The error I run into as followed:
ERROR: Unexpected internal error,(cdbpathtoplan.c 171)

[code]

[2016-04-12 00:19] ivannovick commented on #630
Can you try it with the optimizer=on setting?

Also can you provide an explain output?

[2016-04-12 11:38] #550 closed

[2016-04-12 11:42] #524 closed

[2016-04-13 03:31] dacoolbaby commented on #630
@ivannovick hi, I try to use the explain output, but still got the same error .

[2016-04-13 03:42] ivannovick commented on #630
Is there any more detailed stack trace in the pg_log file on master segment?

[2016-04-13 05:11] danielgustafsson commented on #630
Which version of Greenplum is this, which indexes are defined over the referenced tables and roughly how much data are in the tables (by order of magnitude, is it 1000 rows, 1 million rows, 100 million)? Trying the above query on the current master as well as the merge branch yields reasonable plans both with and without the `AND a.state=1` clause.

[2016-04-13 05:15] danielgustafsson commented on #613
No update so closing. I hope installing ORCA solved the problem, if not then please re-open the issue with the additional information.

[2016-04-13 05:15] #613 closed

[2016-04-14 10:54] byxiangfei commented on #495
the same problem drives me crazy!!!

[2016-04-15 01:44] byxiangfei commented on #495
oh  it's really about the   kernel.sem   in  /etc/sysctl.conf  not correctly set as suggested.
set kernel.sem = 250 512000 100 2048
and mirror set up quickly~

[2016-04-15 09:30] ascherbaum-pivotal commented on #608
@edespino Do you have any update for us on the test case changes? Thanks

[2016-04-18 19:55] danielgustafsson opened #650 "Document deprecation of bin/lib/gpcheckcat"
In #595 the gpcheckcat binary was moved to bin/ from bin/lib and the patch was further refined in #634. The old path is maintained for backwards compatibility with a symlink from bin/lib to ../ but ideally we should deprecate that symlink after due notice.

How do we handle such deprecation notices? @ivannovick @mkiyama?

[2016-04-19 06:30] vitesse-ftian commented on #462
let external web table support rescan?     i don't see any fundamental reason against rescan.

[2016-04-19 06:31] atris commented on #462
I believe this has been fixed in Heikki's patch

On Tue, Apr 19, 2016 at 12:00 PM, Feng Tian <notifications@github.com>
wrote:

--
Regards,

Atri
*l'apprenant*

[2016-04-19 15:28] fengttt commented on #462
Thanks.   I checked master, it is not really fixed, but turned assert into an elog error.   I will wait for the patch, thanks.

[2016-04-20 14:47] salahaldin opened #659 "Stop greenplum cluster issue"
Hello Guys,

When I stop greenplum cluster I get the following messages
20160420:16:18:29:007909 gpstop:m1:gpadmin-[INFO]:-Failed to shutdown master with pg_ctl.
20160420:16:18:29:007909 gpstop:m1:gpadmin-[INFO]:-Sending SIGQUIT signal.

Also when I try to expand my cluster using gpexpand, I get the following
20160420:13:58:33:030766 gpexpand:m1:gpadmin-[DEBUG]:-Validating array state
20160420:13:

[2016-04-21 08:54] kuien opened #661 "QE crashes when toasted data is dispatched"
When deploying PostGIS/Raster onto gpdb master, we met this issue. The case is:
1. Given a **variable-length UDT** declared **without** recv/send functions
2. Create a table with a UDT column
3. Insert a row with UDT instance size > CHUNKSZ (e.g., 8K) as the first line

You may catch below error:

[code]

But, if I insert lines with size from 1B to 100MB, that is, the first few lines needs not to

[2016-04-21 12:10] lufeng1102 commented on #412
Hi @yydzero ,  I use gphdfs protocol to load data from HDFS (cdh5.4.0), but throw an exception like this
[code]

My gphd version is 1.1 and has already set gp_hadoop_home to /usr/lib/hadoop.

Thanks

[2016-04-21 12:31] yydzero commented on #412
please use gphdfs version 1.2.

If still got class not found exception, take a look at hadoop_env.sh file
under $GPHOME, and verify whether it includes the notfound class.

besides, need to install proper hadoop client library on all segments.

On Thu, Apr 21, 2016 at 8:10 PM, lufeng <notifications@github.com> wrote:

--
Best Regards,
Yandong

[2016-04-22 01:50] wangcheng233 opened #665 "REVOKE failed when initialize system"
Hello. I get an warning when I initialize a Greenplum Database.I see the sql file and find all REVOKE statements failed. why?

Log:
20160422:09:38:25:021925 gpinitsystem:ubuntu35:gpadmin-[INFO]:-End Function STOP_QD_PRODUCTION
20160422:09:38:25:021925 gpinitsystem:ubuntu35:gpadmin-[INFO]:-Start Function START_QD_PRODUCTION
20160422:09:38:39:021925 gpinitsystem:ubuntu35:gpadmin-[INFO]:-Successfully

[2016-04-22 01:59] wangcheng233 opened #666 "Question about index and partition"
Hello.
I create an table named tb in my Greenplum database, it has 100 partitions. when I create index on tb, GP creates index on each partition automatically. I insert about 300GB data into the table.
here is the question:
the index on each partition doesn't work. It is Seq Scan on all partitions when I query the table.

how can I use the index?

[2016-04-22 06:17] hlinnaka commented on #666
It should work.. Perhaps the planner thinks that it's cheaper to do a seq scan than an index scan, or the index isn't useful for the WHERE clause in the query. Can you post the CREATE statements and the query you used?

[2016-04-22 06:27] wangcheng233 commented on #666
partition table:
psql -d pgroom -c "create table test_compress_part (c1 int, c2 int, c3 int, c4 int, c5 int, c6 int, c7 int, c8 int, c9 int, c10 int, c11 int, c12 int, c13 int, c14 int, c15 int, c16 int, c17 int, c18 int, c19 int, c20 int, c21 char, c22 char, c23 char, c24 char, c25 char, c26 character varying, c27 character varying, c28 character varying, c29 character varying, c30 character vary

[2016-04-22 06:53] hlinnaka commented on #666
On 22/04/16 09:28, wangcheng233 wrote:

Hmm, the system is certainly capable of using an index for such a query,
so it must be that the planner thinks that's it's not beneficial to do
so. It's a column-oriented table, so it's possible that you'd end up
reading a large fraction of the partition to get the row you need, even
if an index is used, so that might affect the planner's decision. You
could

[2016-04-22 06:56] wangcheng233 commented on #666
thank you very much. I'll try.

[2016-04-23 00:52] andreasscherbaum opened #667 "ChangeTracking_GetIncrementalChangeList() performance"
There is a comment in ChangeTracking_GetIncrementalChangeList() complaining about an inefficient catalog query, and there is a second comment listing a better query.

File: src/backend/cdb/cdbresynchronizechangetracking.c

Needs performance tests.

[2016-04-25 02:42] wangcheng233 commented on #666
Oh yeah, when I set enable_seqscan=off, the indexes on partitions do work,thank you very much ^_^.

[2016-04-25 02:42] #666 closed

[2016-04-26 01:39] asimrp commented on #659
Hi @salahaldin, can you please share contents of most recent `~/gpAdminLogs/gpstop*.log`?  The two lines of `gpstop` output are not sufficient to arrive at a conclusion.

[2016-04-26 01:42] asimrp commented on #665
Hi @wangcheng233, I cannot identify what the warnings are from the output.  Can you please share contents of the file `/home/gpadmin/gpAdminLogs/gpinitsystem_20160422.log`?

[2016-04-26 02:30] wangcheng233 commented on #665
20160422:09:36:30:021925 gpinitsystem:ubuntu35:gpadmin-[INFO]:-Start Main
20160422:09:36:30:021925 gpinitsystem:ubuntu35:gpadmin-[INFO]:-Command line options passed to utility = -c 4segs.conf
20160422:09:36:30:021925 gpinitsystem:ubuntu35:gpadmin-[INFO]:-Start Function CHK_GPDB_ID
20160422:09:36:30:021925 gpinitsystem:ubuntu35:gpadmin-[WARN]:-File permission mismatch.  The gpad owns the Greenplum

[2016-04-26 11:43] lufeng1102 opened #676 "duplicate key violates unique constraint when insert item"
Hi All

How to solve this issue when I insert the duplicate items.

[code]

GP version is 4.3.8.

Thanks

[2016-04-26 12:30] danielgustafsson commented on #676
Can you please share what your table definition looks like?

[2016-04-26 12:39] danielgustafsson commented on #650
This was discussed and will be documented in the release notes.

[2016-04-26 12:39] #650 closed

[2016-04-26 13:00] danielgustafsson commented on #424
This no longer trips an assertion in the branch merging 8.3, closing.

[2016-04-26 13:00] #424 closed

[2016-04-26 15:14] asimrp commented on #665
Found the following warnings in the output:
[code]

It means that you are running `gpinitsystem` as root.  But your GPDB installation is owned by user `gpad`.  You may ignore the warnings, however, it is not a good idea to run as root unless absolutely necessary.  If you login as `gpad` and initialize GPDB, the warnings should go away.

[2016-04-26 15:16] salahaldin commented on #659
Hello
Here a verbose stop.
[gpstop_20160426.zip](https://github.com/greenplum-db/gpdb/files/236904/gpstop_20160426.zip)

[2016-04-26 21:29] asimrp commented on #659
I see, `gpstop` is not failing for you, right?  The `gpstop` verbose log does not indicate any error.  It's `gpexpand` that's failing.  Can you please share the contents of the most recent  `~/gpAdminLogs/gpexpand_*.log`?

[2016-04-27 08:33] salahaldin commented on #659
I think both are related, as shown in the logs pg_ctl was not able to shut down the cluster and the cluster was killed by SIGQUIT signal.  Also, gpexpand was failed due to this, see the error

pg_controldata return state of in production

[2016-04-27 10:58] lufeng1102 commented on #676
Hi @danielgustafsson , following is the table definition

[code]

[2016-04-27 15:02] asimrp commented on #659
Those messages may be related but are not helpful to conclude anything.  Can you please share `gpexpand` logs I asked earlier?

[2016-04-27 23:14] ascherbaum-pivotal commented on #608
@ivannovick Can you please assign this ticket to the approbiate person? Thanks

[2016-04-28 01:38] asubramanya commented on #608
@ascherbaum-pivotal The external table tests should be stable now on the master. Is it still failing on the latest master branch ?

[2016-04-29 09:59] salahaldin commented on #659
Here is the log of gpexpand
[gpexpand_20160429.zip](https://github.com/greenplum-db/gpdb/files/242084/gpexpand_20160429.zip)

[2016-04-29 10:00] salahaldin commented on #659
Another issue, why I need to kill most of the utilities after they finish? The utility finish the work but then hangs forever.

[2016-04-29 11:06] hlinnaka opened #685 "GUCs are not reset correctly in QE backends"
See test case:

[code]

On master, this returns 5 rows, demonstrating that the gp_select_invisible GUC is not reset correctly in the QE backends. I didn't check older branches. The test case above contains commentary on how I think the bug occurs, although I'm not 100% sure on the details.

[2016-04-29 11:07] hlinnaka commented on #685
Should add that this isn't 100% reproducible. After starting the cluster, it seems that it often works correctly on the first attempt, but when you disconnect and reconnect, it fails.

[2016-04-29 11:14] hlinnaka commented on #685
Oh, and not sure if this is related or even the root cause, but:

SetPGVariable() uses CdbSetGucOnAllGangs() to dispatch the "SET ..." command to all the segments, but for a RESETs the code in ProcessUtility uses CdbDoCommand() to dispatch it. That seems like a contradiction, surely we should treat SET and RESET the same.

[2016-04-30 00:45] fengttt opened #687 "src/backend/storage/smgr/md.c line line 1743 and 1767"
It has a line,
			if (!MirroredBufferPool_Truncate(&v->mdmir_open, lastsegblocks * BLCKSZ) < 0)

MirroredBufferPool_Truncate returns bool, so the test is simply wrong.   I assume the line should be
                       if (!MirroredBufferPool_Truncate(...))

[2016-05-01 01:42] andreasscherbaum commented on #529
Is there an update in this issue? It's open for 6 weeks without any activity.
@ivannovick If we do not open source the UI and the web services, can we even help @wangcheng233 here?

[2016-05-02 01:04] fengttt opened #690 "complex_lt and < for complex type"
In the recent complex data type, there are methods like complex_lt and operator <.

Using some kind of ordering for internal query processing like sort agg is one thing, exposing these in catalog, therefore public, seems to be a very bad idea given the math properties of complex number.  Should we remove these functions from catalog?

[2016-05-02 03:27] armenatzoglou opened #691 "Wrong warning during configure related to flex version"
I am trying to build GPDB on Ubuntu 16.04, using flex 2.6.0 and I am getting the following wrong warning:

checking for flex... configure: WARNING:
*** The installed version of Flex, /usr/bin/flex, is too old to use with Greenplum DB.
*** Flex version 2.5.4 or later is required, but this is flex 2.6.0.
configure: WARNING:
*** The installed version of Flex, /usr/bin/lex, is too old to use with Gree

[2016-05-02 03:47] atris commented on #690
Ah, my bad.

We discussed renaming these functions or removing them from the catalog but
I seem to have missed that during the final commit. Please feel free to do
the same, or I will be happy to remove them.
On 2 May 2016 6:34 am, "fengttt" <notifications@github.com> wrote:

[2016-05-02 07:30] hlinnaka commented on #691
The autoconf code we use to detect flex version is inherited from upstream. Can you check if you get the same error with PostgreSQL, please? If you do, then please report this to pgsql-hackers and we'll pick the fix from there.

[2016-05-02 08:45] danielgustafsson commented on #691
AFAICT it is a bug inherited from upstream where the assignment operator is used instead of the equality operator. Posted question and patch to pgsql-hackers and will backport once it has been cleared out there.

http://www.postgresql.org/message-id/CC00E097-CCF0-41F9-A289-D1F729B5D006@yesql.se

In the meantime you should be fine building, it's a warning rather than an error and GPDB should build

[2016-05-02 08:57] danielgustafsson commented on #529
We should still be able to build the backend parts properly, will open a PR with a polished up version of the patch in this thread. Thanks for bumping the issue to the top again.

[2016-05-02 09:34] ascherbaum-pivotal commented on #529
@danielgustafsson "we" as in Pivotal or "we" as in everyone?
The "emcconnect" library is only required for the EMC DCA, I don't see why anyone must be able to use this configure flag.

[2016-05-02 14:58] ivannovick commented on #529
@andreasscherbaum @danielgustafsson their are alternate means now for EMC DCA to get the required information.  This code should be deprecated / removed from within GPDB core engine in the MASTER branch.

[2016-05-03 00:08] armenatzoglou commented on #627
Agree. I just opened a PR that solves this issue: https://github.com/greenplum-db/gpdb/pull/698

[2016-05-03 05:38] danielgustafsson commented on #691
This was fixed in #695 as well as upstream, thanks for the report.

[2016-05-03 05:38] #691 closed

[2016-05-03 10:30] danielgustafsson commented on #529
Ok, will do.

[2016-05-03 20:58] danielgustafsson opened #703 "Fix unittests to cope with assertion builds and OS X"
The unittests are currently not working for builds configured with `--enable-cassert` (the resolution might be to simply remove the test but it needs to be looked at again) and on OS X there are additional failures which might stem from clang vs. gcc. This issue is a reminder/TODO to get them fixed for both cases.

[2016-05-04 02:57] water32 opened #706 "Suggest adding a return value about function: gp_statistics_estimate_reltuples_relpages_oid"
As I known, this function gp_statistics_estimate_reltuples_relpages_oid return a array as:
[reltuples , relpages]
I have read the source code file, src/backend/commands/analyzefuncs.c
This function is an internal function, in the static function, coding have compute three indicators:
totaltuples -> all tupels incude rows can not be seen already
reltuples    -> all tupels incude rows can be seen
re

[2016-05-04 03:09] water32 commented on #706
Way I create this issue?
The bloat information view gp_toolkit.gp_bloat_diag is very rubbish.
Most of the time is too slow and too inaccuracy.
It depands on the statistics,but no one can insure that all tables have exact statistics.
I found gp_statistics_estimate_reltuples_relpages_oid function will read some table blocks,
It can estimate information similar to facts.

[2016-05-04 14:33] volkovandr commented on #659
Hello,

I have the same issue. Tried this two times on two different systems on Ubuntu 15.10 and Centos7 with the same result.
gpstop can not gracefully stop the cluster when the standbymaster is initialized. But everything works well when it is not there.

The state of the cluster is healthy, standby master is not configured.
[code]
Now try to stop the cluster.
[code]
The cluster is shut down wit

[2016-05-04 15:17] zachradtka opened #707 "`gpinitsystem` does not pick up new hostsnames if run multiple times"
I was building a system and had a hostname that changed. I initially tried to change the hostname by editing `gp_segment_configuration`. I did the following and got an error:

[code]

This is similar to issue #214

Since I just installed the system, and this didn't work, I figured I would just run `gpdeletesystem` and re-run `gpinitsystem`. Sadly, that did not fix my hostname issue.

It took me qu

[2016-05-04 16:35] bhuvnesh2703 commented on #707
to update gp_segment_configuration you should the set the below guc
set allow_system_table_mods='dml';

[2016-05-04 19:41] zachradtka commented on #707
That is good information! I couldn't find it in the docs anywhere. Hopefully I won't have to edit `gp_segment_configuration` again.

[2016-05-04 22:24] armenatzoglou commented on #627
Fix has been pushed to master https://github.com/greenplum-db/gpdb/commit/d3edab914cb335d261e19a134fb3842e4c1cc373. Thanks a lot

[2016-05-06 01:49] kuien opened #716 "tests 'qp_with_clause' and 'DML_over_joins' on GPDB-master-opt-l1 are unstable"
I found  'qp_with_clause' and 'DML_over_joins' on GPDB-master-opt-l1 are unstable, they fail occasionally.

For example:

1. qp_with_clause

-   http://pulse-releng.greenplum.com/browse/projects/GPDB-master-opt-l1_kuien/builds/70068/
-   http://pulse-releng.greenplum.com/browse/projects/GPDB-master-opt-l1/builds/70045/

2. DML_over_joins

-   http://pulse-releng.greenplum.com/browse/projects/GPDB-

[2016-05-09 12:25] danielgustafsson commented on #690
To ensure we're not dropping this on the floor, who is picking up this task?

[2016-05-09 12:28] atris commented on #690
I wont be able to get to it this week. I can take it up after that

[2016-05-09 13:21] danielgustafsson commented on #690
Cool, thanks!

[2016-05-09 13:36] danielgustafsson commented on #687
I believe you are entirely correct there. Thanks for the report, I've posted a PR with this patch so will close this issue and move the discussion there.

[2016-05-09 13:36] #687 closed

[2016-05-09 14:05] danielgustafsson commented on #630
Closing due to inactivity, if the problem persist then please re-open and report the above required information.

[2016-05-09 14:05] #630 closed

[2016-05-09 14:06] danielgustafsson commented on #551
Is this still happening on master or can it be closed?

[2016-05-09 14:43] danielgustafsson commented on #510
This is the maintained behaviour from before the flag was added but as such it's not a very good one. There was a patch proposed for tackling the problem of builds with different configuration options but that failed to reach traction. A slightly less complicated (albeit a but kludgier) approach is something along these lines (untested pseudocode follows):

[code]
We then move the mapred testcase

[2016-05-09 14:44] danielgustafsson commented on #523
Closing this as we there is a PR now where the discussion should be taken.

[2016-05-09 14:48] danielgustafsson commented on #215
Closing due to inactivity. If this problem persist please re-open with the above question addressed.

[2016-05-09 14:48] #215 closed

[2016-05-09 14:49] danielgustafsson commented on #171
Closing as this issue has been solved.

[2016-05-09 14:49] #171 closed

[2016-05-09 14:50] danielgustafsson commented on #34
Closing due to inactivity.

[2016-05-09 14:50] #34 closed

[2016-05-09 15:03] danielgustafsson commented on #19
Closing due to inactivity. There is an alpha release of a Docker setup at https://hub.docker.com/r/pivotaldata/gpdb-base/

[2016-05-09 15:03] #19 closed

[2016-05-09 19:44] ascherbaum-pivotal opened #724 "Warning in 'mdtruncate' in md.c"
Stumbled over a warning:

[code]

Looks wrong ...

[2016-05-09 19:48] danielgustafsson commented on #724
You can stumble over the fix for it in already sumbitted earlier today in #722 as well =)

[2016-05-09 19:52] ascherbaum-pivotal commented on #724
*hrmpf* ;-)

[2016-05-09 20:21] ascherbaum-pivotal opened #725 "Build fails on Ubuntu 16.04"
The GPDB build fails on my recently upgraded Ubuntu 16.04 machine:

[code]

[code]

[code]

[2016-05-09 23:15] andreasscherbaum commented on #510
Why is it unwieldy? Because we have to add more options, and they obviously can't run in parallel?

[2016-05-10 00:42] asong92 opened #727 "Cannot save madlib kmeans output as a table"
I am running into some issues with greenplum+madlib. I am trying to save the results of madlib's kmeans function as a table:
[code]

It is working perfectly fine on gpdb  4.2.5.0 + madlib 1.8 but not on gpdb 4.3.8.1 + madlib 1.8/1.9.

I tried running the query with ORCA both enable and disabled and it did not work.
Also tried creating a table then using an insert statement to populate the table bu

[2016-05-10 02:42] wangcheng233 commented on #665
thank you for answering.
but it is not the reason.
I logged in as gpadmin, and the directory /home/gpadmin is owned by gpadmin.The warnings still existed when I installed Greenplum.

[2016-05-10 02:43] #529 closed

[2016-05-10 04:09] duj4 opened #728 "gpinitsystem failed while handling parallel processes"
I am running into an error as below while "gpinitsystem":
20160510:10:22:51:024137 gpcreateseg.sh:dw-greenplum-1:gpadmin-[FATAL]:- Command export GPHOME=/opt/greenplum/greenplum-db/.; . /opt/greenplum/greenplum-db/./greenplum_path.sh; /opt/greenplum/greenplum-db/./bin/lib/pysync.py -x pg_log -x postgresql.conf -x postmaster.pid /home/gpadmin/data/primary/gpseg0 \[sdw2\]:/home/gpadmin/data/mirror/g

[2016-05-10 06:19] danielgustafsson commented on #510
Pretty much yes, but it's also only really a problem once we get many options so it can be a path forwards for now. A bigger stumbling block is that Pulse isn't actually using these switches and instead performs a very bespoke build so the patch above would remove mapred testing from Pulse. Nothing that can't be fixed but it increases scope a fair bit, waiting for Pulse retirement and tackling thi

[2016-05-10 15:08] duj4 commented on #728
Well, I deployed the GP farm in the VMware workstation, the issue occurred when I was using the bridge mode for the networking (i tried the NAT, no luck either). Then I switched all the VMs to host-only mode and set the DNS server as the master VM, stopped the firewall and iptables as well, opened the port 5432 on mdw and smdw, it works~

[2016-05-10 15:08] #728 closed

[2016-05-10 15:50] #724 closed

[2016-05-10 19:12] iyerr3 commented on #727
@khsong92 What's the error you're getting?
Could you please try

`create table km_out as
SELECT (madlib.kmeanspp( 'km_sample',
                              'points',
                              2,
                              'madlib.squared_dist_norm2',
                              'madlib.avg',
                              20,
                              0.001

[2016-05-11 05:46] armenatzoglou commented on #446
Thanks for raising this issue. This code was modified in f3983337f2eca4465d2b7c3b0354bda1bf92a4f3   and eventually was removed as dead code in 87b97b94e47c099634906035d910f8a510cfb312.

[2016-05-11 05:46] #446 closed

[2016-05-11 07:35] danielgustafsson commented on #725
Fix for this pushed in #732 as 7fca740.

[2016-05-11 07:35] #725 closed

[2016-05-11 07:44] danielgustafsson commented on #210
Closing due to inactivity.

[2016-05-11 07:44] #210 closed

[2016-05-11 07:45] danielgustafsson commented on #49
Any news on this patch or shall we close this? ping @ddanese

[2016-05-11 09:05] gamaro opened #738 "coredump while deleting from subpartitioned table"
When I issue a delete on a subpartitioned table on greenplum 4.3.8.1 I get a coredump on one of the database segments.

This can be reproduced the following way:
CREATE TABLE teste_subp
(
                time_client_key numeric(16,0) NOT NULL,
                ngin_service_key numeric NOT NULL,
                profile_key numeric NOT NULL
)
DISTRIBUTED BY (time_client_key)
PARTITION BY RANGE(time_c

[2016-05-11 19:22] khsong92 commented on #727
@iyerr3 I tried running that query and I got the following:

I have an email thread with the MADlib team, Dan Baskette, Ivan Novick, and Vatsan about this. Along with the create statement as (CTAS) issue, I also cannot successfully execute madlib.closest_column() (using the example given in the [madlib docs](http://madlib.incubator.apache.org/docs/latest/group__grp__kmeans.html)).

We've tried CTA

[2016-05-11 20:34] khsong92 commented on #727
@iyerr3 I tried running that query and I got the following(after 20+ minutes of running):
[code]

I have an email thread with the MADlib team, Dan Baskette, Ivan Novick, and Vatsan about this. Along with the create statement as (CTAS) issue, I also cannot successfully execute madlib.closest_column() (using the example given in the madlib docs).

We've tried CTAS query on various environments and h

[2016-05-11 21:03] ashwinstar opened #743 "Need better way to handle dispatching gucs than marking explicitly as GUC_GPDB_ADDOPT"
Missing to mark a guc with GUC_GPDB_ADDOPT, poses problems (correctness, even data-loss, unavailability, etc..). Current mechanism is manually when defining guc developer needs to explicitly pay attention to add GUC_GPDB_ADDOPT flag if wishes the guc to be dispatched or not to the segments. Ideally all session level gucs should be dispatched to have consistent behavior on master as well as segment

[2016-05-11 22:09] vraghavan78 commented on #716
Thanks @kuien for bringing this up.

qp_with_clause: Fails because of there is minor difference in the answer

7.43181e+07 vs 7.43182e+07

DML_over_joins is non-deterministics.

QO team will clean these up.

[2016-05-11 22:13] vraghavan78 commented on #685
Thanks @hlinnaka created a story for QX team to look into it https://www.pivotaltracker.com/story/show/119411997

[2016-05-11 22:20] vraghavan78 commented on #676
@lufeng1102 you have a constraint

CONSTRAINT cell_test_insert_temp_test_pkey primary key(starttime,cell_id))

[code]

This is the correct behavior. If you want to support duplicate remove the constraint. Closing the issue since this is an expected behavior.

Please re-open if there is more I can help with.

[2016-05-11 22:20] #676 closed

[2016-05-11 22:30] ascherbaum-pivotal commented on #551
I'll re-run this test and see if it still happens.

[2016-05-11 22:42] vraghavan78 commented on #271
Thanks @liruto sorry for the delayed response. I have created a story to look into it. Will update the issue once we have done our root cause analysis.

[2016-05-12 08:54] duj4 opened #747 "gpinitsystem failed with error "no route to host""
Hi, I was trying to deploy a 2-seg GP farm with mirror mode on, gpinitsystem failed and 1 seg failed to get up.
From the log files, i could see that
"socket.error: [Errno 113] No route to host"
"20160512:14:38:51:018079 gpcreateseg.sh:dw-greenplum-1:gpadmin-[FATAL]:- Command export GPHOME=/opt/greenplum/greenplum-db-4.3.8.1/; . /opt/greenplum/greenplum-db-4.3.8.1//greenplum_path.sh; /opt/greenplum

[2016-05-12 20:21] danielgustafsson commented on #264
Fixed in #734, closing. Thanks for the report!

[2016-05-12 20:21] #264 closed

[2016-05-13 21:37] csylvester-pivotal opened #756 "Vagrant VM - libffi-devel package needed"
In the Vagant environment setup, Greenplum does not run correctly because of missing paramiko libraries. The libraries are not compiled during install because of a missing include file (ffi.h).
This file is available in the libffi-devel package.

The following change corrects the problem:
File:                `gpdb-master/vagrant/centos/vagrant-setup.sh`
Add this line:  `sudo yum -y install libffi

[2016-05-15 20:36] ascherbaum-pivotal commented on #551
Yes, this is still happening. There is one dash missing in the expected output.

Digging deeper, this is another problem, one which is hidden by the tool reformatting the output:

[code]

[code]

The two lines with the dashes are in the ignore block. However they make it in the output, without actually showing (in the diff) that it is a problem of missing Orca. And because one is 39 and one is 40

[2016-05-16 04:42] liruto commented on #264
@danielgustafsson Leave for some time, I'm very sorry. About it, I think there may be a class of such issues. New internal functions did not take into account calls in SQL statement. Here is another example:
[code]

[2016-05-16 08:20] guangzhouzhang opened #757 "Unexpected "Broadcast Motion" in plan where two tables are joined on distributed keys"
With the new optimizer, I have got a plan of a two table join as follows:

[code]
Problem is both of the two tables jcj_jjxx_r and jcj_cjxx_r are distributed and joined by their jjbh column respectively, why there is a Broacast Motion ? The tables are distributed with jjbh, so when they get joined, no Motion is needed, correct?

Definition of the two tables is as follows. To reproduce the plan, ju

[2016-05-16 08:42] #757 closed

[2016-05-16 08:42] guangzhouzhang commented on #757
Seems I should open the issue against gp-orca. So close this one.

[2016-05-16 22:03] armenatzoglou commented on #627
The fix did not solve the problem completely and we had to revert it. The new issue is related to gp_primarymirror, which has an unexpected behavior. We will push back the code when we fix gp_primarymirror issue.

Me and @ashwinstar started working on gp_primarymirror issue.

[2016-05-19 00:33] skahler-pivotal commented on #727
Running 4.3.8.1 with debug on I see the following message on the segment nodes

2016-05-19 00:31:56.059555 UTC,"gpadmin","gpadmin",p83559,th297998080,"172.31.26.49","61008",2016-05-19 00:21:49 UTC,7688,con6,cmd82,seg0,,dx3,x7688,sx1,"LOG","00000","findConnByHeader: not found! (hdr->srcPid 88695 hdr->srcContentId 10 hdr->dstContentId 0 hdr->dstPid 83559 sess(6:6) cmd(45:45)) hashcode 16",,,,,,,0,,,

[2016-05-19 11:43] ascherbaum-pivotal opened #770 "pg_dump -i is deprecated, but there is no warning"
The code for the -i option in pg_dump is deprecated:

https://github.com/greenplum-db/gpdb/blob/master/src/bin/pg_dump/pg_dump.c#L512

However there is no warning when this option is used. pg_dump keeps going as if nothing happened.

[2016-05-19 15:52] #523 closed

[2016-05-20 05:41] danielgustafsson opened #777 "Document requirements for installcheck-good"
Some testsuites in installcheck-good depend on the build being set up with optional parameters such as `--with-python`. Document in the README.md file the full set of requirements for running installcheck-good.

[2016-05-20 20:04] xinzweb commented on #756
@csylvester-pivotal would you please create a PR for the fix? Thanks a lot.

[2016-05-24 22:23] vraghavan78 commented on #738
Thanks @gamaro we will take a look and get back shortly.

[2016-05-26 00:07] vraghavan78 commented on #716
1. qp_with_clause
Fixed by changing the query. https://github.com/greenplum-db/gpdb/commit/be43f6265ee9baf727548d7d5b716f52e64c23de

2. DML_over_joins
https://github.com/greenplum-db/gpdb/pull/787

[2016-05-26 13:04] hlinnaka opened #791 "NOT IN query fails with "Unexpected internal error""
postgres=# select * from gp_relation_node where persistent_tid not in (select ctid from gp_persistent_relation_node);
ERROR:  Unexpected internal error (nodeMergejoin.c:1685)

[2016-05-26 17:54] vraghavan78 commented on #716
Fixed both @kuien please re-open the issue if it still persists.

[2016-05-26 17:54] #716 closed

[2016-05-26 17:59] vraghavan78 commented on #791
Thanks @hlinnaka. Was able to reproduce this issue.

With Planner:
``
vraghavan=# explain select * from gp_relation_node where persistent_tid not in (select ctid from gp_persistent_relation_node);
ERROR:  Unexpected internal error (nodeMergejoin.c:1685)
``
With Orca:
``
set optimizer = on;
set optimizer_enable_master_only_queries = on;
vraghavan=# explain select * from gp_relation_node where persi

[2016-05-30 21:11] hlinnaka opened #801 "Vacuum removes tuples that are still needed"
Per discussion on gpdb-dev, thread "Why does VACUUM use distributed transactions?":

[code]

This can be reproduced fairly easily, without gdb, by using a serializable transaction. Attached is an "isolationtester" spec file that reproduces this.

[2016-05-30 21:12] hlinnaka commented on #801
[heap-serializable-vacuum.spec.txt](https://github.com/greenplum-db/gpdb/files/290086/heap-serializable-vacuum.spec.txt)

[2016-05-31 01:08] ashwinstar commented on #801
Yes we knew with serializable it would be very straightforwardly broken
given non- serializable repro, but since serializable is anyways bit shaky
decided to focus discussion towards regular case.

- AshwinA

On May 30, 2016, at 2:11 PM, Heikki Linnakangas <notifications@github.com>
wrote:

Per discussion on gpdb-dev, thread "Why does VACUUM use distributed
transactions?":

On 27/05/16 03:48, Ashw

[2016-05-31 08:14] wmq534 opened #802 "to_char(time,'YYMMWW') function problem"
[code]
please explain why this is so,thanks

[2016-05-31 14:09] danielgustafsson commented on #802
(The Github markdown formatting was breaking readability of the question, updated to wrap SQL output in code block)

[2016-06-01 19:13] hlinnaka commented on #500
Sorry, this is from the 'bfv_subquery' regression test, not 'bfv_legacy'.

[2016-06-01 22:40] d opened #809 "Broken test `partindex_test`"
commit effc38f was good but it broke the tests slightly I guess? Let's make `master` green again

@hlinnaka comments?

[2016-06-02 06:24] #809 closed

[2016-06-02 22:02] asimrp opened #816 "`gprecoverseg -F` fails due to directory `db_dumps` not found"
The bug seems to be introduced in commit 9d1ae66cd92f0eab7111541b677c0d2de11e5acb.  Persistent-tables TINC tests found this issue.  @jmcatamney, can you please take a look?  It's easy to reproduce, just bring down one segment and run `gprecoverseg -F` as follows:

[code]

[2016-06-03 13:11] hlinnaka commented on #802
Hi!

Bizarrely enough, that's working as intended, although it looks very strange. It's because to_char()'s WW and EXTRACT(WEEK ...) have different definitions of how weeks are numbered. In to_char()'s WW format, the first week starts on January 1st, the 2nd week starts on January 8th, and so on. EXTRACT, however, works accordingly to ISO 8601. In ISO 8601, the week changes on Monday (or Sunday, d

[2016-06-03 20:36] jmcatamney commented on #816
I'll take care of it.  Thanks for bringing it to my attention.

[2016-06-04 09:03] d commented on #624
It's high time we did this man

[2016-06-04 20:30] danielgustafsson commented on #624
Yes. Unless it's dealt with by then I intend to revisit this when the merge has been pushed.

[2016-06-06 15:42] d opened #823 "`xml` in installcheck-good is failing"
Here's the `regression.diffs`, seems would be a quick fix:

[code]

Not pointing fingers, but according to CI it seems most likely commits 756241e2d3dbc9ffe8933eec21cc0a911c4de6dd and 78b0a42ec1dcd84f04b3701f6334825a00474115 might have caused it, can @hlinnaka take a look?

[2016-06-06 16:18] hlinnaka commented on #823
Fixed, thanks!

[2016-06-06 16:18] #823 closed

[2016-06-09 22:29] jmcatamney commented on #816
Fixed in commit https://github.com/greenplum-db/gpdb/commit/5b853b3a81f149678dc012561db79021fbd43412

[2016-06-09 22:29] #816 closed

[2016-06-11 08:59] wmq534 commented on #802
ok,thank you

[2016-06-12 21:12] danielgustafsson commented on #802
Closing this as it was answered.

[2016-06-12 21:12] #802 closed

[2016-06-13 02:45] zeromax007 opened #833 "Can not break through the memory limit on array_agg"
Can not break through the memory limit on  array_agg

select array_agg(ID) from (select ID from IDLIST limit 100000000) t;
NOTICE:  invalid memory alloc request size 1073741824 (context 'accumArrayResult') (mcxt.c:1257) (mcxt.c:477)

[2016-06-13 08:39] funnyxj opened #834 "Who can add me to gpdb git developer, I want to push a patch?"
Who can add me to gpdb git  developer, I want to push a patch

[2016-06-13 09:12] #834 closed

[2016-06-15 19:04] foyzur commented on #661
Query execution team is taking a look at this.

[2016-06-16 01:04] foyzur commented on #661
## RCA

The motion node uses a binary serializer to serialize a type inside SerializeTupleIntoChunks. This binary serializer is supposed to produce at varlena with header to indicate compression info, toasting info etc. The serializer is passed into SerializeTupleIntoChunks as pSerInfo. This pSerInfo originally came during motion layer setup from InitSerTupInfo, which uses CAQL to read the type fu

[2016-06-16 16:59] foyzur commented on #661
While in our reference guide the Send and Receive functions are optional, this seems to be a bad idea as they are necessary for our MPP database. The "optional" nature of send/receive functions most likely came from postgresql. From postgresql doc:

[code]

But, for our use case we must provide these during motion serialization/deserialization. Therefore, it is not optional for us. Moreover, falli

[2016-06-16 20:43] csylvester-pivotal opened #847 "Unable to gpinitdb"
Pulled down the latest source and attempted to create a new instance. Failed due to the following:

`[gpadmin@gpdb-sandbox source]$ /usr/local/gpdb/./bin/initdb -E UNICODE -D /gpdata/master/gpseg-1 --locale=en_US.utf8        --max_connections=250 --shared_buffers=128000kB --is_filerep_mirrored=no --backend_output=/gpdata/master/gpseg-1.initdb
The program "postgres" was found by "/usr/local/gpdb/bi

[2016-06-16 20:52] csylvester-pivotal commented on #847
Disregard this. Something was left over in the source tree from the previous version.

[2016-06-16 20:52] #847 closed

[2016-06-17 03:21] hsyuan opened #849 "__init__() got an unexpected keyword argument 'logfileDirectory'"
After building gpdb, when I try to `make cluster` under `gpAux/gpdemo`, it shows the following error message (It is weird that seems like only I experienced this issue, jus wonder whether my environment was screwed up):

[code]

[2016-06-17 06:56] danielgustafsson commented on #661
In this case I would prefer to error out early and disable in the parser.

Thanks for the good writeup!

[2016-06-17 16:41] jmcatamney commented on #849
The logfileDirectory argument was added to gpstart and gpstop about a month
ago in this commit:
https://github.com/greenplum-db/gpdb/commit/d4f5da6d7b974f96486471a9c84e7cdb288df143,
so if you have another GPDB instance on your machine that predates that
commit, you might have something in your environment pointing to that
instead of the demo cluster instance.

On Thu, Jun 16, 2016 at 8:21 PM, Hais

[2016-06-17 20:00] ascherbaum-pivotal commented on #849
I've only seen the error yesterday in slack on my mobile device, and asked @hsyuan to create an issue here.

From the log it looks like you somewhere have old versions of the scripts in your tree. Is this a new build? Where is your $MASTER_DATA_DIRECTORY pointing to?

[2016-06-17 22:42] hsyuan commented on #849
I don't have other gpdb instance, only have demo cluster one.
[code]

[2016-06-17 23:25] hsyuan commented on #849
If I revert the gpdb to this commit:
https://github.com/greenplum-db/gpdb/commit/d4f5da6d7b974f96486471a9c84e7cdb288df143,
, I can start gpdb without any problem.

[2016-06-18 00:07] hsyuan commented on #849
I found that I have multiple `gppylib` in different directory, python 2.7&2.6 site-packages, gpdb lib, hawq and gpdb 4. It is so messy, I guess the lib path with older version was ahead of `gppylib` in the gpdb master, so it always call the older version of `gppylib` without the input argument `logfileDirectory `. I removed all the other `gppylib` folders, then the gpdb can start now.

[2016-06-18 00:07] #849 closed

[2016-06-18 20:10] hlinnaka opened #854 "Wrong error context for gp_dump_query_oids()"
[code]

The arrow pointing to the location of the error is wrong.

[2016-06-18 20:38] danielgustafsson commented on #854
It seems to point to where `invalid` would be if the query passed to the function was the query itself being executed (which given the function makes sense since that's what actually happens).

[2016-06-20 06:03] danielgustafsson commented on #756
This dependency has been pushed to the Vagrantfiles, closing.

[2016-06-20 06:03] #756 closed

[2016-06-20 18:18] ascherbaum-pivotal opened #857 ""make cluster" fails with Python import error, if the hostname is not known"
[code]

[code]

[2016-06-24 10:54] kpmanojpg opened #878 "The previous session was reset because its gang was disconnected"
Hi Team ,
Noticed  following error on my greenplum log

seg-1,,dx66682,x10922773,sx1,"LOG","00000","The previous session was reset because its gang was disconnected (session id = 11963). The new session id = 12119",,,,,,,0,,"cdbgang.c",2712,

Restart also not helped here. Any idea what the reason for this ?

[2016-06-24 17:20] asimrp commented on #878
Can you please provide more clues by tracing the distributed transaction ID `dx66682` in the same master log file?

[2016-06-30 07:40] LJoNe opened #899 "When some segments are not yet synchronized, gprecoverseg -r will hang"
When some segments are not yet synchronized, gprecoverseg -r will hang。commit：4b3609423ae8e1d269bf0b02238fd05af7ca495d。
simple_main_locked------------------gpMgmt\bin\gppylib\mainUtils.py:225
        commandObject.cleanup()----------gpMgmt\bin\gppylib\mainUtils.py:314
                self.__pool.join()-----------------------gpMgmt\bin\gppylib\programs\clsRecoverSegment.py:1439

[2016-06-30 18:00] asimrp commented on #899
Hi @LJoNe, thank you reporting the issue.  Can you please share contents of `~/gpAdminLogs/gprecoverseg_<date>.log` and the output of `select * from gp_segment_configuration` before running `gprecoverseg`?

[2016-07-01 07:25] LJoNe commented on #899
All segment in one host.
postgres=# select * from gp_segment_configuration;
 dbid | content | role | preferred_role | mode | status | port  |     hostname      | address | replication_port | san_mo
unts
------+---------+------+----------------+------+--------+-------+-------------------+---------+------------------+-------
-----
    1 |      -1 | p    | p              | s    | u      | 54321 | hos

[2016-07-05 13:46] kuien opened #912 "No help available for "CREATE PROTOCOL"."
[code]

[2016-07-06 06:17] Tao-Ma opened #913 "temporary append column table insert/select error"
When i use temporary append column table, I found the following error. It can be reproduce everytime, I

[code]

[2016-07-06 14:58] asimrp commented on #913
Hi @Tao-Ma

Thank you for finding and reporting the issue.  I'm able to reproduce it and looking into the details.  Create table command is not behaving correctly on segments.  E.g. On one segment I see additional row in `pg_aocsseg` and two additional rows in `gp_persistent_relation_node` catalog tables as compared with master and other segments.

[code]

On master and segment 1, there are no row

[2016-07-07 07:06] kuien opened #921 "an exception I met when running pgbouncer on master"
We found an issue when query through pgbouncer using sql

[code]

then GPDB goes to recovery mode with logs

[code]

the version of GPDB is:

[code]

However, We cannot re-produce this issue on gpdb4.

[code]

[2016-07-08 08:13] LJoNe opened #926 "why we use gp_fastsequence?"
In order to insert a tuple into an AO table, it seems that the code use gp_fastsequence to pre allocate 100 sequences. Is there any special point here? why do not use pg_aoseg table attribute 'tupcount' to set aoTupleId's rowNum? can anybody help me?

[2016-07-08 14:16] asimrp commented on #899
The details are helpful.  The logs suggest that `gprecoverseg -r` failed to obtain segment details from master.  Can we please look into master logs `$MASTER_DATA_DIRECTORY/pg_log/` for logs around this time - 2016-07-01 07:28:28?

[2016-07-08 14:16] asimrp commented on #878
Hi @kpmanojpg can you please provide the requested details?

[2016-07-08 14:39] asimrp commented on #747
Hi @duj4, apologies for not responding to your issue for so long.  I looked through the attached gpinitsystem output.  It may be possible that your configuration is incorrect.  But we can certainly enhance the error message reported by `pysync.py` to include IP address of the host to aid in debugging.  @jmcatamney, do you agree?

[code]

@duj4 can you manually ssh/scp from sdw2 to sdw1?

[2016-07-09 05:57] ashwinstar commented on #926
Row number needs to be uniquely generated irrespective of committed / aborted inserts, for indexing to work correctly.

Incase insert aborts the tuple count will not be updated or visible in pg_aoseg. So, if tuple-count from pg_aoseg is used to generate row number, same row number as aborted insert will be assigned to next insert. This will break the index working for AO/CO. Row number is stored a

[2016-07-09 10:03] sirinath opened #929 "Windows Installer"
Can you provide a windows installer for the DB.

[2016-07-11 04:29] LJoNe commented on #926
Got it， thank you!

[2016-07-11 04:29] #926 closed

[2016-07-11 06:05] LJoNe commented on #899
Here they are.
2016-07-01 07:28:23.454293 UTC,"gpdb","template1",p9374,th-2074048576,"::1","54443",2016-07-01 07:28:23 UTC,2862,con331,cmd25,seg-1,,,x2862,sx1,"LOG","00000","statement:
                SELECT oid, fsname
                FROM pg_filespace
                ORDER BY fsname;",,,,,,"
                SELECT oid, fsname
                FROM pg_filespace
                ORDER BY fsname;

[2016-07-11 18:11] asimrp commented on #899
Master logs don't indicate anything wrong.  I red `gprecoverseg` logs incorrectly.  The message "Some segments are not yet synchronized. All segments must be synchronized to rebalance" means that resynchronization is still in progress.  Run `gpstate` to check progress of resynchronization and once it reports all segments are in sync, then you can run `gprecoverseg -r`.

So this is expected behavio

[2016-07-12 01:50] LJoNe commented on #899
After synchronisation， gprecoverseg -r  will succeed. But i have to kill the hung one before running it again. why does it not exit after 'CRITICAL' ? Can you tell me what MPP-12633, MPP-13489 is? I find these comments near relative code text.

[2016-07-12 02:19] jimmyyih commented on #899
MPP-12633
[code]

MPP-13489
[code]

Note that these two JIRAs were resolved in 2011.  Hope that helps @LJoNe.

[2016-07-12 17:45] mpresser-pivotal opened #938 "psql 8.2.15 gpdb 4.3.8.0 \dx shows all tables w/o superuser"
In GPDB 4.3.8.0 if you run \dx in psql 8.2.15, as gpadmin, you get only external tables, but without  superuser you see all the tables.

If you \set ECHO_HIDDEN you see why. As gpadmin, there is a where clause  -- c.relstorage IN ('x','')  -- which does not appear in the command as issued by a non superuser. Bug!

[2016-07-13 10:00] xueyilong opened #941 "现在遇到一个问题：复杂sql查询，做了offset，offset 180000 limit 10000 以前的查询很快能返回结果，但是offset 190000 以后就一直不返回结果"

[2016-07-13 10:38] danielgustafsson commented on #941
Hi @xueyilong, if possible please use English for issues/questions. Google translate returns this:

[2016-07-13 10:51] xueyilong commented on #941
@danielgustafsson ,Thanks for reminding me, this is my first time to use it

[2016-07-13 12:33] danielgustafsson commented on #941
Not a problem, can you show the query you are having problems with and more in detail what the problem is?

[2016-07-14 03:11] xueyilong commented on #941
this is my query:

SELECT membership_id,brand_id,merchant_id,'2016-07-12' as trans_date,SUM(cash) cash,SUM(score) score,SUM(stored) stored,SUM(coupon) coupon,
       SUM(store_pay) store_pay,SUM(cash_income) cash_income,SUM(total_consume) total_consume,SUM(valid_consume) valid_consume,SUM(launch_number) launch_number,SUM(response_number) response_number ,
       (CASE WHEN SUM(couponcount)>0 THEN

[2016-07-14 03:17] xueyilong commented on #941
when the query's offset less then 190000,the query can return the result faster,but when offset greater than 190000, the query can't return the result and it's always Execute

[2016-07-14 17:33] foyzur commented on #661
Hi @danielgustafsson, I absolutely agree with you that the solution should be in parser. Unfortunately, adding it in parser would be a more disruptive fix for our customers as the problem only manifests if we have a motion layer serialization/deserialization requirement. Therefore, I am adding the fix to executor, only checking when motion initializes the sed/receive function. I will open a PR soo

[2016-07-14 22:36] hsyuan commented on #941
Can you provide the plan that is generated? Is ORCA turned on?
run `show optimizer;`

[2016-07-15 11:30] danielgustafsson commented on #661
Added my $0.02 on the PR, thanks for working on this issue!

[2016-07-19 07:53] jiangxiluning commented on #747
did you disable firewalld service?
[code]

[2016-07-19 12:16] jamesmarva opened #967 "Use CURRVAL, it wil happen error"

[2016-07-19 12:17] jamesmarva commented on #967
when use SELECT currval(pg_get_serial_sequence('users', 'id')) to get new-add id, it will return:ERROR:  currval() not supported

[2016-07-19 12:21] jamesmarva commented on #967
The create table command:
[code]
and to insert command:
[code]

[2016-07-20 02:16] jamesmarva commented on #967
lastval and currval functions are not supported.

[2016-07-20 02:16] #967 closed

[2016-07-20 17:23] ascherbaum-pivotal commented on #941
Any update on this issue, @xueyilong?

[2016-07-22 13:23] hlinnaka opened #982 "Assertion failure from gp_partition_expansion"
Looks like gp_partition_expansion(oid) gets unhappy with bogus input:

[code]

[2016-07-23 03:13] vraghavan78 commented on #982
Thanks for bringing this use case up. Will ask QX to take a look.

V

On Friday, July 22, 2016, Heikki Linnakangas <notifications@github.com>
wrote:

[2016-07-24 08:40] gloCalHelp opened #984 "Can one use these source files here to compile and install a workable greenplumb DB and all its clients here?"
Dear  GPDB pioneers,

Thank you very much for your open source here,
since the only installable greenplumb binary  is only on pivotal-greenplumb website of https://network.pivotal.io/products/pivotal-gpdb , and since the "End User License Agreement" says
 there are only 90 days evalutaion period,
my question is:
1, Can one use these source files here to compile and install a workable greenplumb DB

[2016-07-24 23:56] yydzero commented on #984
1) Yes
2) Command Center is a closed source product right now.

On Sun, Jul 24, 2016 at 4:40 PM, gloCalHelp <notifications@github.com>
wrote:

--
Best Regards,
Yandong

[2016-07-25 01:28] liruto commented on #982
There are some others, for example, _gp_partition_inverse_ in https://github.com/greenplum-db/gpdb/issues/264#issuecomment-219347777

[2016-07-26 08:14] GuoLiuFang opened #987 "the relation between gp_vmem_protect_limit and postgres VIRT"
my cluster have 8 hosts include 1 active master , 1 standby master and 6 segment hosts.
Every segment host have 16 cores, so I have 8 primary segment on each segment host.
my gp_vmem_protect_limit = 8192MB
but why /usr/local/greenplum-db-4.3.8.1/bin/postgres VIRT only have 455m???
![Markdown](http://i4.piimg.com/1949/32787de47b463449.png)
this is the top command
![Markdown](http://i4.piimg.com/194

[2016-07-26 08:51] GuoLiuFang opened #988 "under different schema create same table get problem"
this is before create external table "ework_production.request_histories_external"
![Markdown](http://i2.piimg.com/1949/6f1132925eda30c1s.jpg)
this is my create table command
![Markdown](http://i4.piimg.com/1949/4960f2cf29950697s.png)

You will see that my previous smart_v9_production.request_histories_external and smart_v9_production.request_histories_external_error disappear???
but actually they

[2016-07-26 09:43] GuoLiuFang commented on #987
@bmomjian @tglsfdc @petere @scrappy

[2016-07-26 15:45] jianlirong commented on #988
First of all, this is the expected behaviour according to the code, and has nothing to do with the external tables.

The output of \d is to list all the visible relations. Here is the definition of "visible" according to the code:

[code]
Please check your search path using the command "show search_path". Based on the output you posted, I think in your search path, the schema ework_production sits

[2016-07-26 15:48] jianlirong commented on #988
First of all, this is the expected behaviour according to the code, and has
nothing to do with the external tables.

The output of \d is to list all the visible relations. Here is the
definition of "visible" according to the code:

/*

 * RelationIsVisible

 *      Determine whether a relation (identified by OID) is visible in the

 *      current search path.  Visible means "would be found by sea

[2016-07-27 02:25] eurekaka commented on #987
gp_vmem_protect_limit is the "virtual memory limit (in MB) of Greenplum memory protection", you can run complicated query to increase the VIRT of the postgres, once gp_vmem_protect_limit is hit, the query is expected to be canceled by reporting ERROR.

[2016-07-27 03:06] GuoLiuFang commented on #988
@jianlirong Yes , you are right . But how can I see all the tables? when I make schema smart_v9_production sit before ework_production , then the tables with the name request_histories_external and request_histories_external_error in the schema smart_v9_production appear.But ework_production table with the same name "disapear". How can I see all tables at the same time .

[2016-07-27 07:23] kuruv commented on #833
I am also getting similar error. It is not related to array_agg but with how gp_vmem_protect_limit and statement_mem are handled. I have set gp_vmem_protect_limit to 17066. If my statement_mem is below 8193MB then I do not get this error. I am using GP 4.3.8.2 build 1.

Error when ranking -
ERROR: invalid memory alloc request size 1610612736 (context 'TupleSort') (mcxt.c:1257) (mcxt.c:477)  (seg11

[2016-07-27 07:50] GuoLiuFang commented on #987
@eurekaka . I have run a insert into query . and I get a error..
**ERROR:  Canceling query because of high VMEM usage. Used: 7375MB, available 814MB, red zone: 7372MB (runaway_cleaner.c:135)  (seg1 slice1 NY-GREENPLUM-12-13:40001 pid=30430) (cdbdisp.c:1326)**
But the VIRT of the postgres is still 455m...

[2016-07-27 08:50] eurekaka commented on #987
Could you please check to make sure it is the working QD/QE postgres process who consumes 455m? because there are many "postgres" processes, for example, Postmaster is also a "postgres" process, and it is very stable in memory consumption because it does no substantial works.

Postmasters are like:
![687474703a2f2f69342e7069696d672e636f6d2f313934392f633431313364393032313135336132302e706e67](https:

[2016-07-27 09:02] gloCalHelp commented on #984
Dear Sir yydzero,

Then the greenplumb open source is only including: a compiling and workable greenplumb DB server and only 1 client for connecting greenplumb DB.

Am I right?

[2016-07-27 09:05] gloCalHelp commented on #984
By the way, how much is pivotal greenplumb or pivotal big data suit?
After a 90 days evaluation of installing pivotal green plumb, how much should a customer pay for it?

[2016-07-27 09:50] ivannovick commented on #984
Hello,

You can you can use any clients for connecting to GPDB with GPDB open
source including ODBC/JDBC, psql etc.  There are some extra components that
Pivotal sells with the 24-7 support package such as GPCC, GP-WLM etc, but
the core database is open source.  As for pricing you can ping me off the
mailing to get a sales person to contact you if you want to buy licensing
from Pivotal.

Cheers,
I

[2016-07-27 11:37] jianlirong commented on #988
@GuoLiuFang, actually the pg_class catalog table has the information of all
tables. But I guess the following query may give you what you want:

SELECT n.nspname as "Schema",
  c.relname as "Name",
  CASE c.relkind WHEN 'r' THEN 'table' WHEN 'v' THEN 'view' WHEN 'i' THEN
'index' WHEN 'S' THEN 'sequence' WHEN 's' THEN 'special' END as "Type",
  pg_catalog.pg_get_userbyid(c.relowner) as "Owner", CAS

[2016-07-28 02:35] GuoLiuFang commented on #988
@jianlirong Great ! The way you tell me works fine .Is this a bug or something? why list all the table is complicated？Is there an easy way to view all the table I have created in different schemas?

[2016-07-28 23:45] shahin opened #1000 "fix missing addon submodule"
Some build systems (like conda) break on missing submodules when checking out gpdb during automated builds. The [gpAux/addon submodule is missing](https://github.com/greenplum-db/gpdb/tree/058ac4f9ff7403b5834b9a3ab2631cb2083123fb/gpAux) on master, so updating submodules breaks, so automated builds on some systems (e.g. on conda) break.

It's not crazy to clone submodules when building a repo. The

[2016-07-29 06:01] LJoNe commented on #899
@asimrp @jimmyyih In function 'run' of class 'Worker', if we got a cmd from work queue, we should finish it before stop worker.here is the patch:
diff --git a/gpMgmt/bin/gppylib/commands/base.py b/gpMgmt/bin/gppylib/commands/base.py
index d412905..23edf7d 100755
--- a/gpMgmt/bin/gppylib/commands/base.py
+++ b/gpMgmt/bin/gppylib/commands/base.py
@@ -217,6 +217,9 @@ class Worker(Thread):

[2016-07-29 07:07] GuoLiuFang commented on #987
@eurekaka You are right. this is when I run a big job. the top comman show
![Markdown](http://i4.piimg.com/1949/838245d8bcac7abds.png)

about this ,I have two more question . First , when I run a small job. the VIRT RES is still LOW, It seems that consume memory only when I run big job. In result, My small query is very slow, take a lot of time ..Second , Why this postgres process always have a lo

[2016-07-29 07:49] eurekaka commented on #987
Hi,

1) What kind of "small job" you are running? how long will it take? Is there any concurrency? How is resource queue configured in the system?
2) In normal cases, high CPU utilization processes are supposed to have high nice value, thus other important processes will easily get CPU time if they need. From your graph, high CPU nice time means the CPU is mostly used by processes with high nice v

[2016-07-29 08:41] clmyyclm opened #1001 "org.postgresql.util.PSQLException: FATAL: Unexpected internal error (postgres.c:886)"
hello!
When I used JDBC to operate Greenplum, I get an error:

**org.postgresql.util.PSQLException: FATAL: Unexpected internal error (postgres.c:886)
  detail：FailedAssertion("!(ActiveSnapshot != ((void *)0))", File: "postgres.c", Line: 886)**
	at org.postgresql.core.v3.QueryExecutorImpl.receiveErrorResponse(QueryExecutorImpl.java:1592)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(Q

[2016-07-29 10:25] GuoLiuFang commented on #987
this is my sql `select tag,loader_version_short,province_id,operator_id, count(current_uuid), count(distinct current_uuid) from smart_v9_production.request_histories where record_time between '2016-06-13 00:00:00' and '2016-06-26 02:59:59' group by tag,loader_version_short,province_id,operator_id;`  about 103,178,367 records. It take about 117s. There is no concurrency.. this is my resource queue

[2016-07-29 16:04] jianlirong commented on #988
As I mentioned before, this is an expected behaviour, not a bug.

Actually the logic of the query I posted in the last email is quite simple
if you check it more carefully, just a left join between two catalog
tables, pg_class and pg_namespace. It looks a little bit "complicated" just
because I want the output of that query is almost the same as the one of
"\d".

And to be honest, I really don't k

[2016-07-29 17:47] asimrp commented on #899
@LJoNe thank you for your patch.  I think it does make sense.  Can you please open a pull request describing the reason briefly in commit message?  Let me ask @jmcatamney to have another look at this issue and the proposed patch.

[2016-08-01 02:27] GuoLiuFang commented on #988
@jianlirong  Thanks, OK . I think I can close this issue now.

[2016-08-01 02:27] #988 closed

[2016-08-01 02:57] T0125 opened #1004 "Error with expand"
When I expanded segments with gpexpand command , it told me “ 'ERROR:  relation pg_catalog.gp_verification_history" does not exist ”,and exit.
After checking in pg_catalog catalog,and gp_toolkit catalog,the relation does not exist.

[2016-08-01 03:05] eurekaka commented on #987
Could you please paste the plan of your query? (since I am not sure of the data distribution of your table, so I cannot generate the plan locally). The statment_mem is configured to be 1GB, so each query can consume at most 1GB, that is to say, all the working processes for this query can consume additional(compared with idle state IIRC) 1GB on the fly in total. You can refer to the administration

[2016-08-01 05:02] kaknikhil commented on #1004
Hi T0125 ,

Thanks for reporting the issue ,  commit https://github.com/greenplum-db/gpdb/commit/46c61428e8bcbe619021bee18c4ad0ef71370bdf should have fixed this issue. Are you using the latest source code ?

[2016-08-01 07:41] T0125 commented on #1004
@kaknikhil
Thanks a lot !
With your help, I solved the problem successfully.
By the way , I used the lastest code from github.

[2016-08-01 07:41] #1004 closed

[2016-08-01 07:50] LJoNe commented on #899
Do I have to sign the CLA  with corresponding email accounts in github?

[2016-08-01 08:41] #899 closed

[2016-08-01 09:15] clmyyclm commented on #1001
I usedthe latest source code today, and Error is:
FailedAssertion("!(ActiveSnapshot != ((void *)0))", File: "postgres.c", Line: 888)

DB didn't changed into recovery mode

[2016-08-01 09:51] GuoLiuFang commented on #987
this is my Query Plan
![Markdown](http://i1.piimg.com/1949/3d874fc8e4405742s.png)

Does it mean statment_mem per host . In other way, the total memory It consume is not 6*1G???(I have 6 segment host). And There is the question, How can I use as much memory as the whole cluster have ? I want this query execute as fast as it can.

[2016-08-01 10:25] eurekaka commented on #987
* statment_mem is per host;
* the planner chooses group aggregate operator for aggregation, this explains the low memory consumption; if you want the query to be faster, you should check your data distribution and aggregation key and some GUCs such as enable_hashagg to make sure planner chooses hash strategy for aggregation, which would consume more memory respectively.

Also, GUCs such statement_

[2016-08-01 11:34] GuoLiuFang commented on #987
- enable_hashagg is on

- There is no concurrence, only me .use the Executive resource Queue.

- statement_mem is set to 2048MB, max_statment_mem is set to 8192MB.
I don't know why still Memory wanted 4G...this is the explain analyse for the query.
![Markdown](http://i4.piimg.com/1949/ab571959b9559951s.png)

[2016-08-02 07:14] GuoLiuFang opened #1009 "Why I set work_mem to 2048MB, when I execute gpconfig -s work_mem, it is still 32MB"
I have restart Greenplum. the value of work mem do not changes. But postgresql.conf have changed.
Can anybody explain this?And how to set work_mem successfully?

[2016-08-02 09:16] #1009 closed

[2016-08-03 02:25] pengzhout opened #1015 "Create bitmap index on big tuple will cause segment panic"
When playing with ICG, i notice a bitmap indexing panic issue.
Reproduce step is:

[code]

At first glance, it looks like a ERROR level was promoted to PANIC level in a improper way.
@deepesh1081 @ashwinstar @asimrp

[2016-08-03 07:03] hlinnaka commented on #1001
It is supported. There was a bug, introduced by the merge of PostgreSQL 8.3. The code to handle with query parameters was mismerged, and the ActiveSnapshot was reset too early.

Fixed, thanks for the report!

[2016-08-03 07:03] #1001 closed

[2016-08-04 06:52] GuoLiuFang opened #1021 "how to reduce the time "sort" and "group by" operation takes?"
this my `explain analyze `
I find sort and "group by" take almost all the time..and How to avoid Workfile spillling?
any idea is welcome.
![Markdown](http://i2.piimg.com/1949/5f659c90f675c844s.png)

[2016-08-04 07:38] GuoLiuFang commented on #1021
@yydzero
@ivannovick
@danielgustafsson
Anyone can help me ?

[2016-08-04 13:36] Eulerizeit commented on #1021
Daniel is on leave right now. It will be a while before he returns.

On Thu, Aug 4, 2016 at 3:38 AM, GuoLiuFang <notifications@github.com> wrote:

[2016-08-05 22:01] fengttt opened #1026 "timestamp/timestamptz fun"
Seems Greenplum Timestamp handling is broken.   Here is the output, and compare with PG 9.x
Looks PG 9.x behavior is correct, or at least easier to explain.  I don't what what SQL standard says, but I am sure 9.x is the right one.

Greenplum:ftian=# select extract(epoch from '1970-01-01'::timestamp);
 date_part
-----------
     28800
(1 row)

ftian=# select extract(epoch from '1970-01-01'::timesta

[2016-08-08 06:42] hlinnaka commented on #1026
I'm getting the same results with GPDB and PostgreSQL 9.0. Are you sure the clusters are using the same timezone setting? (i.e "show timezone")

[2016-08-08 06:55] ascherbaum-pivotal opened #1028 "psql \du does not show CREATEEXTTABLE permissions"
The GPDB psql does not show the permissions for CREATEEXTTABLE.

[2016-08-08 15:43] fengttt commented on #1026
I was comparing with PG 9.4.   Regardless of timezone setting, I think

select extract (epoch from '1970-01-01'::timestamp);

should return 0.    Timestamp and timezone are complex stuff so please correct me if I misunderstood it.

[2016-08-09 16:27] hlinnaka commented on #1026
Ah, looks like the behaviour changed between PostgreSQL 9.1 and 9.2. By this commit, I believe:

[code]

GPDB is based in 8.3, so it's still exhibiting the PostgreSQL 7.3-9.1 behaviour.

[2016-08-09 16:27] #1026 closed

[2016-08-09 17:28] fengttt opened #1030 "Wonderful new test from upstream, wrong result"
The following test is added in upstream PG95.  Greenplum returns wrong result.   We should either fix it, or disable this feature (subquery in the offset clause).

select (select n from (select n from generate_series(1,10) as n order by n limit 1 offset s - 1) as y) as z from generate_series(1,10) as s;

[2016-08-09 23:58] kaknikhil commented on #324
@pkw1155402  :
* it says here that all the segment instances were successfully stopped . Why do you think that one of the segments was still running?
* Since you mentioned that gpstart works fine , were you able to access the database after gpstart ?
* Also can you paste the output of "select * from gp_segment_configuration"?

[2016-08-10 22:36] kaknikhil commented on #659
@volkovandr : sorry for the delay. I am able to repro the gpstop failure when the standby master is  configured.
@salahaldin : can you confirm if you also have a standby master and if your issue is resolved by removing the standby master?

[2016-08-11 09:08] salahaldin commented on #659
Your observation is correct, when trying to stop the greenplum cluster with a configured standby master, this issue appears

[2016-08-11 13:53] hlinnaka opened #1036 "DISCARD doesn't discard"
[code]

DISCARD TEMP is supposed to drop all temporary tables, but apparently it doesn't.

[2016-08-11 18:27] kaknikhil commented on #659
@salahaldin : although gpstop complains that pg_ctl could not stop the server , gpstop issues a SIGQUIT(after 2 mins) which brings the server down completely.
and after that when i ran gpstart , the server came up but i did see a warning saying "Could not start standby master"

as for gpexpand , a commit (https://github.com/greenplum-db/gpdb/commit/51a46a68813084c096605a7ea2090f13f8bbf80a) was mad

[2016-08-12 02:14] ChaosEternal opened #1038 "psql out of memory"
on version 4.3.9.0
the sql is like

select col1, * from some_big_table order by col1 desc

the some_big_table contains more than 500G data and trillions of rows of data
the sql is submitted using psql and output is redirected to a file, the filesystem is big enough.
after a while, the psql process ended with an error "Out of memory"

evidences that the message is not server side:
1. master logs do

[2016-08-12 07:10] ashwinstar commented on #239
@LJoNe How did the experiments go to make GIN work, please feel free to post the patch if you have it working based on above inputs. Seems mostly this issue can be closed as intended inputs were received.

[2016-08-12 12:29] salahaldin commented on #659
Indeed, I have noticed this while trying to solve an issue with gpexpand.

[2016-08-12 17:53] hsyuan commented on #1015
@karthijrk I am not sure this is related with QX.

[2016-08-15 18:09] kaknikhil commented on #659
@salahaldin : both the pull requests #895 and #897 have been merged and gpexpand should be good now. Does this resolve your issue with gpexpand?

[2016-08-16 04:55] T0125 opened #1045 "gp_primarymirros"
Can anyone tell me about the usage of gp_primarymirros command,including the format of the input file ,which is used by -i parameters

[2016-08-16 17:08] asimrp commented on #1045
Hi @T0125, `gp_primarymirror` is an internal utility, not intended to be used directly by a user.  Can you please share what are you trying to achieve?

[2016-08-17 01:40] ashwinstar commented on #1045
@T0125  just a general recommendation/tip might be better to drop mail (and subscribe) to greenplum developers mailing list (gpdb-dev@greenplum.org) for such queries instead of opening it as issue.

[2016-08-17 05:38] T0125 commented on #1045
@asimrp
Thanks for your reply ! It is just in the process of gpmovemirrors , I found this command ,but there is no description of it . There was nothing wrong , just curious.
Sorry to trouble you , thanks again

[2016-08-17 05:38] #1045 closed

[2016-08-17 09:48] salahaldin commented on #659
Yep, thanks for taking care of this.

[2016-08-17 09:48] #659 closed

[2016-08-17 18:12] asimrp commented on #1045
No worries, as Ashwin mentioned, please feel free to use the mailing list!

[2016-08-17 18:20] vraghavan78 commented on #1030
Thank you reporting this. I ran this in PG9.3, GPDB with Orca and GPDB with Planner and they report the same result.

`vraghavan=# select (select n from (select n from generate_series(1,10) as n order by n limit 1 offset s - 1) as y) as z from generate_series(1,10) as s;
LOG:  statement: select (select n from (select n from generate_series(1,10) as n order by n limit 1 offset s - 1) as y) as z fro

[2016-08-17 18:34] kaknikhil commented on #324
Hi @pkw1155402 : since there is no update , I am closing this issue for now. Please reopen the issue if you are still having problems with stopping the cluster.

[2016-08-17 18:34] #324 closed

[2016-08-17 21:33] ascherbaum-pivotal commented on #1038
This is expected. Not desired, but expected. psql uses libpq under the hood, and that will fetch the entire result set to the client before start sending it to the output file.

You can work around that problem by using the COPY command.

https://www.postgresql.org/docs/8.3/static/sql-copy.html

Something like the following should work (untested):

[code]

[2016-08-17 21:33] #1038 closed

[2016-08-17 21:34] ascherbaum-pivotal commented on #1021
Is this issue still open?

@GuoLiuFang Did the hint from @Eulerizeit help you?

[2016-08-17 21:38] ascherbaum-pivotal commented on #1000
@hlinnaka You know thet status of that submodule?

[2016-08-17 21:42] ascherbaum-pivotal commented on #987
Is this still an issue?

By the way, @GuoLiuFang, all the people you mentioned initially are members of the PostgreSQL project. But they almost certainly don't know the Greenplum memory management details.

[2016-08-17 21:43] ascherbaum-pivotal commented on #984
Closing, as Ivan provided all the details.

[2016-08-17 21:43] #984 closed

[2016-08-17 21:43] ascherbaum-pivotal commented on #941
Closing, because one month without response. Please open another issue if this is still a problem. Please include the details requested by Daniel.

[2016-08-17 21:43] #941 closed

[2016-08-17 21:45] ascherbaum-pivotal commented on #929
Greenplum is not designed for Windows, for several reasons.
As example, if you run a Greenplum cluster, you need several servers. And you need a Windows license for each of them.

As of now, we only support Linux (Red Hat, Suse), and Solaris.

[2016-08-17 21:45] #929 closed

[2016-08-17 22:03] ascherbaum-pivotal commented on #938
I just tried that, on a 5.0 cluster. I can see the c.relstorage('x') in both queries, superuser and non-superuser. Looking at the code in both 4.3 and 5.0, there is nothing which limits this to the superuser.

There is however an AND for pg_catalog.pg_table_is_visible() - which might hide the table from you, as example if you do not have the right permissions on the schema.

Please confirm that th

[2016-08-17 22:06] ascherbaum-pivotal commented on #921
Hello @kuien, is this still an issue? Can you reproduce this without pgbouncer as well?

[2016-08-17 22:14] hlinnaka commented on #1000
On 08/18/2016 12:38 AM, Andreas Scherbaum wrote:

Hmm, I think it contained some proprietary code that Pivotal couldn't
open source because of whatever reasons, when we released the rest of
the code. I'm surprised it's still there, though, I thought we would get
rid of it pretty quickly. I don't think there's anything interesting
there; I don't have that submodule checked out on my laptop, and
eve

[2016-08-17 22:15] ascherbaum-pivotal opened #1056 "psql help copyright is outdated"
The copyright in psql is last updated 2011, and still states EMC.

https://github.com/greenplum-db/gpdb/blob/master/src/bin/psql/help.c#L460

[2016-08-17 22:17] ascherbaum-pivotal commented on #1056
@ivannovick Can you please provide a new copyright statement?

[2016-08-17 22:41] andreasscherbaum commented on #912
How is this: https://github.com/greenplum-db/gpdb/pull/1057

[2016-08-17 22:48] ascherbaum-pivotal commented on #770
So we removed the documentation in #771, but we never decided what to do if someone uses this option.

The right thing to do is remove it, and just fail if it is used.

Ping @danielgustafsson

[2016-08-17 23:06] ascherbaum-pivotal commented on #747
Is this issue still present?

[2016-08-17 23:08] #608 closed

[2016-08-17 23:11] ascherbaum-pivotal commented on #296
In general, the network between master and segments is considered private, and trusted. In addition to the trust authentication, GPDB also needs a password-less ssh access in order to start and stop segment databases. If you can ssh from the master to the segment, you can also acces all the data, and the segment databases on the segments.

[2016-08-17 23:11] #296 closed

[2016-08-17 23:13] ascherbaum-pivotal commented on #156
@fire Where did this lead you? Is GPDB working on OpenSolaris/SmartOS now?

[2016-08-18 08:27] xiong-gang opened #1060 "relcache leak"
test=# create table ao(c1 int, c2 int) with(appendonly=true);
NOTICE:  Table doesn't have 'DISTRIBUTED BY' clause -- Using column named 'c1' as the Greenplum Database data distribution key for this table.
HINT:  The 'DISTRIBUTED BY' clause determines the distribution of data. Make sure column(s) chosen are the optimal data distribution key to minimize skew.
CREATE TABLE
test=#
test=# begin;
BEGIN

[2016-08-18 13:32] mpresser-pivotal commented on #938
The same behavior appears in psql 8.2.15 shipped with 4.3.8.1 as used in
the sandbox on Pivnet.
To recreate it, create a non-gpadmin user, create a database for the user
and make it the owner, and grant the user  createexttable.  Then have the
user create an external table and a regular non-external table.
Then do a \dx .  You'll see both.  If you run psql as gpadmin connected to
the same database

[2016-08-18 16:42] hlinnaka commented on #833
@kuruv, the first one of your issues actually looks different. I suspect the sorting code tries to allocate an internal array for performing the sort that's larger than 1 GB, and hits the limit in the usual palloc() routine used for allocating memory. The upstream sorting code has an explicit check for that, and clamps the size of the array to avoid hitting the limit (switching to an external sort

[2016-08-18 19:07] foyzur commented on #833
Thanks @hlinnaka for quickly chiming in with valuable comments. I absolutely agree with all your prognosis. I also looked into the tuplesort.c and I see that we have check to make sure we don't cross MaxAllocSize. However, in tuplesort_mk.c we don't have any such check. Therefore, @kuruv should see the query working with mksort disabled. If not, could someone attach all the repro and we will take

[2016-08-19 06:56] LJoNe commented on #239
@ashwinstar my patch worked just fine in my project and it solved my problem. but due to restriction i'm afraid i cannot share it right now,sorry. Thanks jimmyyih again. Close this issue .

[2016-08-19 06:56] #239 closed

[2016-08-19 21:19] asimrp commented on #1060
Hey Gang, we will take a look and get back.  Thank you for the report.

[2016-08-22 08:31] clmyyclm opened #1067 "gpssh-exkeys:Traceback (most recent call last):"
[root@mdw config]# gpssh-exkeys -f allhosts
[STEP 1 of 5] create local ID and authorize on local host

[STEP 2 of 5] keyscan all hosts and update known_hosts file

[STEP 3 of 5] authorize current user on remote hosts
  ... send to sdw3
Traceback (most recent call last):
  File "/opt/gpdb/gpsql_old/bin/gpssh-exkeys", line 751, in <module>
    send_local_id = h.sendLocalID(localID, GV.passwd, tempDi

[2016-08-22 16:57] kaknikhil commented on #1067
This may be because of an older version of setup tools (see https://github.com/pyca/cryptography/commit/30e199e0fb220a17b3089508a59d29a2924f10e4)  , can you try upgrading setuptools
`pip install -U setuptools` ?

[2016-08-23 14:30] clmyyclm commented on #1067
Done, thanks for the consideration

[2016-08-23 16:53] kaknikhil commented on #1067
@clmyyclm : did the upgrade fix your issue ? If yes , can you close the issue ?

[2016-08-24 05:32] d commented on #1036
Does that mean it's removed from `pg_class` but the segments still have the table?

[2016-08-24 05:35] hlinnaka commented on #1036
On 08/24/2016 08:32 AM, Jesse Zhang wrote:

Yeah, I think so.

- Heikki

[2016-08-25 11:48] fire commented on #156
I have abandoned using GPDB for another pivotal offshoot product called SnappyData.

Also Smartos now has Linux emulation, if I was trying today I would see what incompatibilities are in the the emulated Linux Centos.