[2020-06-28 07:19] kainwen commented on #10382
The reason is that DBA does not set `gp_enable_global_deadlock_detector`  correctly. He only sets the GUC for master.

We have logic on QEs that needs the GUC's value.

After setting the GUC correct all over the whole cluster, the issue should not happen again.

------------------

There is an issue on the GUC inconsistent for GDD: https://github.com/greenplum-db/gpdb/issues/10030

It seems we sho

[2020-06-28 07:19] #10382 closed

[2020-06-28 09:05] uglthinx commented on #10114
Hi @dh-cloud , I have created a pr(#10324 ) which implement 'gpexpand support readable'. At present, I have not found any errors. If you are interested, please help me test any cases you think of. Thank you.

[2020-06-28 14:28] Daders commented on #10374
Yes we have primary key on id column.

Results for Orca on GPDB 5.8.0.
For test table:
[code]
For table with pk:
[code]

[2020-06-28 17:07] hsyuan commented on #10374
The best solution would be teaching Orca how to recognize Greenplum's array data type instead of doing all the gymnastics like transforming array const to array expr. Because query -> DXL -> Expr translation for large array expr also takes a lot of time.

[2020-06-29 01:43] JunfengYang commented on #10381
It seems like an expression error. From the seg6's log, you could see the process `(PID 7527) was terminated by signal 8: Floating point exception`.
You can check the related logs about this process id 7527 for more details.

[2020-06-29 03:17] JunfengYang commented on #10381
If the log is not clear, please provide process 7527's core dump for us, so we can analyze it.
Please follow this link to collect related files: https://community.pivotal.io/s/article/How-to-Collect-Core-Files-for-Analysis?language=en_US

[2020-06-29 03:58] luowencai commented on #10381
[code]
This is the err from /var/log/messages, and our core dump is disable. this error happen occasionally

[2020-06-29 04:17] JunfengYang commented on #10381
Any useful log in seg6's log for 7527? Should be above of what you provided.

[2020-06-29 06:36] JunfengYang commented on #10230
The fix backported to 6X.
https://github.com/greenplum-db/gpdb/commit/ef010af28862a0fed172ca96620cc1037aac71a0

[2020-06-29 06:36] #10230 closed

[2020-06-29 06:41] JunfengYang commented on #10381
Thanks for creating this issue @luowencai .
The core dump is preferred once you hit the issue again. It'll help a lot!

Could you please refer to this link to enable core dump:
https://stackoverflow.com/questions/2919378/how-to-enable-core-dump-in-my-linux-c-program

And follow the steps below to pack the core and upload it so that it contains libraries for us to read the core:
https://community.p

[2020-06-29 17:11] vraghavan78 commented on #10374
@hsyuan: the underlying issue is not an ARRAY per-se. It is the computations of statistics taking a long time. We already fixed it for 6X: https://github.com/greenplum-db/gpdb/pull/10024. @ashuka24 is in the process on migrating to 5x. Sorry for the delay.

[2020-06-29 17:15] vraghavan78 commented on #10374
@hsyuan in regards to partition elimination: GPDB 7 is in the process of going up Postgres 12 where how partitions are represented has changed. @d @chrishajas @asubramanya @hardikar will be soon looking and updating quite a few things with partitioning code w.r.t Orca. So watch this space.

[2020-06-29 18:58] hsyuan commented on #10374
@vraghavan78 Thanks for answering. When there is an index on the IN column, CXformSelect2BitmapBoolOp takes much more time than stats derivation, and it doesn't seem to be relevant with stats derivation (haven't checked the code though).

[2020-06-30 02:53] pivotal-ning-yu commented on #10376
Nice catch, this is very bad behavior.  I'll work on this, thanks.

[2020-06-30 03:22] taojin0505 opened #10398 "segment crash for bitmap scan null pointer error"
### Greenplum version or build
[code]
### OS version and uname -a
[code]
### autoconf options used ( config.status --config )

### Installation information ( pg_config )
[code]
### Expected behavior

### Actual behavior
query:
[code]
master log
[code]
segment log
[code]
core dump
[code]
source code
in function [TupleTableSlot](https://github.com/greenplum-db/gpdb/blob/6.6.0/src/backend/executor/no

[2020-06-30 04:03] JunfengYang commented on #10398
@taojin0505 Thanks for reporting the issue, could you please follow the steps below to pack the core and related files:
https://community.pivotal.io/s/article/How-to-Collect-Core-Files-for-Analysis?language=en_US
Then upload it for us.

[2020-06-30 07:35] taojin0505 commented on #10398
@JunfengYang  file was upload to pivotal greenplum support community
question url:[segment crash for bitmap scan null pointer error](https://community.pivotal.io/s/question/0D50e00006WNlULCA1/segment-crash-for-bitmap-scan-null-pointer-error?language=en_US)
file url: [packcore-core.26290](https://community.pivotal.io/s/question/0D50e00006WNlULCA1/segment-crash-for-bitmap-scan-null-pointer-error?lan

[2020-06-30 08:13] JunfengYang commented on #10398
@taojin0505 could you please upload it to a cloud drive so I can download it. Seems I don't have permission to access that link.

[2020-06-30 08:35] JunfengYang commented on #10398
I'm able to reproduce the same error on my local environment.
Here are the steps to reproduce it.

[code]

And get the same back trace.
[code]

I'll dig into this issue.

[2020-06-30 08:52] taojin0505 commented on #10398
@JunfengYang Thank you for your help!

[2020-07-01 02:11] JunfengYang commented on #10398
The reason for this issue is because:
1. In nest loop join, for a new outer slot, the inner relation will execute `ExecReScan` to retrieve tuple from the beginning. And `ExecBitmapAppendOnlyReScan` will free the bitmap state.
2. When the `BitmapAppendOnlyNext` happens, the bitmap state now is NULL, but `node->baos_gotpage` still set true. So it'll skip generating a new bitmap state. And jump to ac

[2020-07-01 21:20] vraghavan78 commented on #10374
Based on @ashuka24 testing:

stats derivation went from
[code]
to
[code]

We also saw

[code]
the time spent in the xform has also decreased greatly after this fix:
[code]

For indexes, we look at index selectivity to determine whether an index is a good choice as an alternative. it is nested down quite a few calls, but we do derive stats in order to make this determination. The fix for the large

[2020-07-01 21:20] vraghavan78 commented on #10374
@hsyuan @Daders please let us know if the issue still persist after latest 5X.

[2020-07-01 21:20] #10374 closed

[2020-07-01 21:25] hsyuan commented on #10374
Great work!

[2020-07-02 01:24] kainwen commented on #10030
Fixed by

*  https://github.com/greenplum-db/gpdb/pull/10408 on 6X
*  https://github.com/greenplum-db/gpdb/pull/10401 on master

------------------------------------------

Now, the GUC `gp_enable_global_deadlock_detector ` is only used in master node.

[2020-07-02 01:24] #10030 closed

[2020-07-02 01:30] kainwen commented on #10382
@lambgong

Finally, we decide to make the GUC `gp_enable_global_deadlock_detector` as doc says, a master only GUC.

* On master branch, pr https://github.com/greenplum-db/gpdb/pull/10401 has fixed the issue
* On 6X, pr https://github.com/greenplum-db/gpdb/pull/10408 has fixed the issue

[2020-07-02 05:53] guofengrichard opened #10410 "Assertion failure when creating partitioned table in utility mode"
### Greenplum version or build

6X, master, (may also include 5X)

### Step to reproduce the behavior

In utility mode:

[code]

[2020-07-02 06:05] ashwinstar commented on #10410
Given we keep partition catalog information only on master for these
affected versions, how much do we really care about this? (I understand
asserting is not nice in general.)

[2020-07-03 08:47] fanfuxiaoran commented on #10201
By default, the postgres_fdw is not installed, you can run "make install" in the directory: contrib/postgres_fdw to install it.

[2020-07-03 09:19] lambgong opened #10417 "end-of-copy marker corrupt"
### Greenplum version or build
gp6.5

### Step to reproduce the behavior

table schema as follow:
[code]

text file as follow:
[code]

when run the copy sql,
[code]
we will get error info
ERROR:  end-of-copy marker corrupt

So my question is :
1. why this copy sql done well on gp5?
2. As far as I know, end-of-data marker(\.) is needed only when copying data to or from client applications using pre

[2020-07-05 02:38] kainwen-zz opened #10419 "General or SegmentGeneral locus path contain volatile functions cannot be treated as *general."
### Greenplum version or build

SegmentGeneral is introduced in gpdb6. So for it, the impacted version is gpdb6, gpdb master branch.

The impact of General locus should be all versions of gpdb.

### Issue

General and segmentGeneral locus imply that if the corresponding slice is executed in many different segments should provide the same result data set. Thus, in some cases, General and segmentGen

[2020-07-05 02:40] kainwen commented on #10419
A pr to fix this on planner: https://github.com/greenplum-db/gpdb/pull/10418

Related thread in gpdb dev mailing list:  https://groups.google.com/a/greenplum.org/g/gpdb-dev/c/354vF_0EPIM

But I am not familiar with ORCA, so @vraghavan78 Would you please have a look at the bad cases above? Thanks so much.

[2020-07-05 02:42] kainwen commented on #10226
This issue is a sub-case of a wider issue: https://github.com/greenplum-db/gpdb/issues/10419

So close this.

[2020-07-05 02:42] #10226 closed

[2020-07-06 01:57] #10201 closed

[2020-07-06 08:29] baobao0206 commented on #9876
This issue has been fixed by pr https://github.com/greenplum-db/gpdb/pull/10181 in gpdb6 and https://github.com/greenplum-db/gpdb/pull/10163 in master

[2020-07-06 08:29] #9876 closed

[2020-07-06 11:10] Daders commented on #10374
Thank you, now at 5X_STABLE such queries execute instantly.

Could you please clarify:
In release notes for 5.28.0 (https://gpdb.docs.pivotal.io/5280/relnotes/gpdb-5280-release-notes.html#topic_cq5_vkf_dbb) I read that:
[code]
5.28.0 tag depends on orca 3.105.0 but this improvement was commited only in 3.106.0.
It is error in release notes or I misunderstood something?

[2020-07-06 18:35] vraghavan78 commented on #10374
@Daders yes you are correct. Will be fixed in the next release. We will correct the docs. Thanks for bringing this up. Sorry for the confusion.

V

[2020-07-07 02:33] mirai280535831 commented on #9365
PR (#9391)  is removed  by @hlinnaka in commit 93abe741cd67f04958e2951edff02b45ab6e280f ,
do you need to push it again?

[2020-07-07 02:33] mirai280535831 commented on #9365
@kainwen

[2020-07-07 02:36] kainwen commented on #9365
The PR introduces a test case. And heikki refactored the code and also includes test case.

So I believe the issue is fixed.

Do you have problem with latest code?

[2020-07-07 07:21] JunfengYang commented on #10417
This just keeps the same behavior with Postgres.

[code]

The reason is the default format used is `text`, and there's the end of copy mark in the first line `122,as\.d,adad`.
But there still data after the `\.` mark.

For more details please refer to:
https://www.postgresql.org/docs/current/sql-copy.html

Since it should be the expected behavior, so I'll close this issue.

[2020-07-07 07:21] #10417 closed

[2020-07-07 08:48] guofengrichard commented on #10410
You consideration makes sense.  How about we just change the assertion condition to avoid this crash in utility mode?

[2020-07-07 18:24] d opened #10435 "minirepro doesn't work on master"
### Greenplum version or build
master (7 alpha, commit 9a574915df534 as of writing)

### Step to reproduce the behavior
1. Create a database `pivotal`

1. Run the follow SQL in the database through `psql`:

[code]

1. Put the following trivial query into `q.sql`

[code]

1. `minirepro pivotal -q q.sql -f minirepro.sql`

### Expected behavior

minirepro is able to generate a minimal schema and stat

[2020-07-07 18:26] fangzheng opened #10437 ""cursor_tuple_fraction" appears twice in unsync_guc_name.h"
### Greenplum version or build
master

The GUC variable "cursor_tuple_fraction" appears twice in unsync_guc_name.h:

https://github.com/greenplum-db/gpdb/blob/master/src/include/utils/unsync_guc_name.h#L46

[2020-07-07 18:44] fangzheng commented on #10437
"gp_enable_minmax_optimization" is also duplicated:

https://github.com/greenplum-db/gpdb/blob/master/src/include/utils/unsync_guc_name.h#L176

[2020-07-07 21:00] ashwinstar commented on #10437
Sure @fangzheng would like to open PR to fix those?

[2020-07-07 21:01] fangzheng commented on #10437
@ashwinstar Thanks for confirmation. I will submit a PR soon.

[2020-07-08 09:29] #10398 closed

[2020-07-08 19:35] #10437 closed

[2020-07-09 07:57] darthunix commented on #9737
@asimrp I have found a bad scenario where postgres planner doesn't produce a correct plan as well:
[code]

[2020-07-09 10:03] asimrp commented on #9737
Thank you @darthunix for another repro.  @kainwen is this issue somewhat related to the problem you are tackling in PR #10418?

[2020-07-09 18:03] zellerh opened #10452 "Incorrect result with correlated subquery"
### Greenplum version or build

5.28

### OS version and uname -a

MacOS

### autoconf options used ( config.status --config )

--config-cache --without-zstd --disable-gpcloud --enable-debug --enable-depend --enable-orca --with-python --with-quicklz

### Installation information ( pg_config )

### Expected behavior

return 1 row (1,99)

### Actual behavior

returns 0 rows

### Step to reproduce th

[2020-07-10 06:30] javaanddonet commented on #10381
@JunfengYang
We also encountered this issue at: 2020-07-10 10:07
As we also not open core dump function, below logs are from master node and segment node for your reference.

### **GP version as below**
[code]

### **System info as below**
[code]

### **Master log as below**
[code]

### **segment log as below**
[code]

### **segment node server system log as below**
[code]

### **GPCC web console

[2020-07-10 06:43] kainwen commented on #9737
The case mentioned by @darthunix should be fixed by PR https://github.com/greenplum-db/gpdb/pull/10418.

[2020-07-10 07:07] kainwen commented on #9737
@asimrp @darthunix Add this as test case in pr 10418.

[2020-07-10 08:21] guofengrichard commented on #10452
And on 6X, it would generate an incorrect plan which passes a param through motion. So running this query on 6X would end up with error: `ERROR:  illegal rescan of motion node: invalid plan`.

[2020-07-10 08:36] jnf009 opened #10454 "a PANIC error on greenplum6"
### Greenplum version or build
greenplum-db-6.9.0-rhel7-x86_64.rpm
### OS version and uname -a
Linux 3.10.0-1127.13.1.el7.x86_64 (CentOS Linux release 7.8.2003 (Core))
### autoconf options used ( config.status --config )

### Installation information ( pg_config )

### Expected behavior

### Actual behavior

### Step to reproduce the behavior
we use gpload loading data into greenplum
this issue ac

[2020-07-10 18:11] tylarb commented on #10435
@d
[code]

I think this is an error with the `pg_hba.conf` not being correct, no?

if the database is running locally, can y ou connect with `host=localhost` ?

[2020-07-10 18:19] tylarb commented on #10435
I confirmed that the pygresql update included a single line change - the library import - in minirepro:

[code]

[2020-07-10 18:19] tylarb commented on #10256
For the centos issue, which documentation or readme are you following ?

[2020-07-10 18:21] tylarb commented on #10069
Devtoolset-7 works to compile master. I'll update the documentation accordingly.

Thanks for pointing this out!

[2020-07-10 18:29] tylarb commented on #10069
@wlooong can you confirm that the updated steps in https://github.com/greenplum-db/gpdb/pull/10458 address your issues?

[2020-07-10 18:46] tylarb commented on #8950
gpcheck has been deprecated - we recommend you follow the installation guide [here](https://gpdb.docs.pivotal.io/6-9/install_guide/prep_os.html).

Some customers have success using ansible or puppet to validate and set values across a cluster.

[2020-07-10 18:46] #8950 closed

[2020-07-10 18:53] tylarb commented on #8510
This looks like an issue with your docker configuration - considering you cannot use the scp command, I expect that you don't have access to read on filesystem, or bind to ports. I would make sure that, inside your containers, you can create files using `touch`, read files using `cat`, and ping other hosts in the local cluster (or container cluster). Given that greenplum requires ssh access, ensur

[2020-07-10 18:53] #8510 closed

[2020-07-10 18:56] tylarb commented on #8201
I'm expecting that this was an issue due to the paramiko library parsing, which had several issues.

In master (Greenplum 7 target), paramiko is removed, and no parsing of the `id_rsa` file is done by Greenplum code - so I expect this issue is either resolved or no longer relevant.

[2020-07-10 18:56] #8201 closed

[2020-07-10 19:07] tylarb commented on #7543
Looks like this has been resolved. Closing

[2020-07-10 19:07] #7543 closed

[2020-07-10 19:08] tylarb commented on #7191
Lockfile was removed in https://github.com/greenplum-db/gpdb/pull/10328

[2020-07-10 19:08] #7191 closed

[2020-07-10 19:12] #6592 closed

[2020-07-10 19:17] #6305 closed

[2020-07-10 19:20] tylarb commented on #6285
The behavior of gpssh-exkeys has been modified in 7X, so this should no longer be an issue.

[2020-07-10 19:20] #6285 closed

[2020-07-10 19:38] d commented on #10435
Nah actually the connection string logic is busted

[2020-07-10 20:04] tylarb commented on #10435
Ah. Here's the problem:

[code]
From [the doc](https://pygresql.org/contents/pgdb/module.html#connect-open-a-postgresql-connection)

Instead, we're passing

[code]

I've submitted a patch.

[2020-07-10 23:16] d commented on #10435
sweet, I'll take a look next week. Have a good weekend!

[2020-07-11 16:23] nacyolsa commented on #10256
I was using readme `src/tools/vagrant/README.md`. It was a month ago and I switched to docker which works correctly.

[2020-07-12 03:33] wlooong commented on #10069
Nice!

[2020-07-12 03:33] #10069 closed

[2020-07-13 02:26] JunfengYang commented on #10454
I just modify the log format of above description.
Sees issue 4 is different from the other 3 issues. Maybe create a separate issue for issue 4.

Please also provide the steps to reproduce it and core-dump is preferred.

Could you please refer to this link to enable core dump:
https://stackoverflow.com/questions/2919378/how-to-enable-core-dump-in-my-linux-c-program

And follow the steps below to p

[2020-07-13 02:30] JunfengYang commented on #10381
@javaanddonet The log does not contain any related info about why the segment starts to recovery.
The issue cause the segment recovery should happen before the recovery log.
Can you provide how to reproduce the issue?
Or follow the above description to collect core dump?

[2020-07-13 09:11] zhongyibill opened #10461 "Madlib compilation error"
### Greenplum version or build
`PostgreSQL 9.6beta4 (Greenplum Database 7.0.0-alpha.0 build dev) `
### madlib version
`madlib 1.16`

### Error behavior
[code]

[2020-07-13 14:09] tylarb commented on #10191
@jeusdi we don't have a ready-to-use image for Greenplum currently.

You can follow the guide here - https://github.com/greenplum-db/gpdb/blob/master/README.docker.md, which is mostly focused on creating a developer environment.

For a better testing environment, I recommend installing a Greenplum RPM from our releases page - https://github.com/greenplum-db/gpdb/releases

Note that your container(

[2020-07-13 21:15] d opened #10462 "[WIP] Add back support for intermediate agg"
### Note to self
We lost this during the 9.6 merge...

### Greenplum version or build

### OS version and uname -a

### autoconf options used ( config.status --config )

### Installation information ( pg_config )

### Expected behavior

### Actual behavior

### Step to reproduce the behavior

[2020-07-14 17:25] d commented on #10435
After #10459 is merged, we crossed into the next bug: the generated SQL doesn't seem to match the catalog schema. Sample error when executing the generated sql:

[code]

[2020-07-15 07:52] #9615 closed

[2020-07-15 08:16] phan-pivotal commented on #8903
Would you please explain the detailed reason of  "The location value for a tablespace will have to be equal for the same primary-mirror pair"?

[2020-07-15 09:04] phan-pivotal commented on #8903
Different tablespace location value supporting for the same primary-mirror pair is necessary for performance reason.

Justification:

1.Keep "each RAID group with a primary-mirror pair list have a symmetrical RAID group with the same primary-mirror list", would be idle for generating a symmetrical external storage flush task queue, which result in better SAS disk performance.

2.However this mean

[2020-07-15 09:10] phan-pivotal opened #10473 "Recovery support of different tablespace location value for the same primary-mirror pair"
### Greenplum version or build
GP V6.*
### OS version and uname -a
CentOS 7.6
### autoconf options used ( config.status --config )

### Installation information ( pg_config )

### Expected behavior
Support of different tablespace location value for the same primary-mirror pair
### Actual behavior
the tablespace location value for the same primary-mirror pair(content) has to be the same.

### Step

[2020-07-15 11:53] egorklimov opened #10476 "Documentation: wrong description for pg_appendonly.compresstype."
Hi!

I noticed, that pg_appendonly.compresstype has this description:

Valid values are:
zlib (gzip compression)
zstd (Zstandard compression)
quicklz1

Whereas on the page **Choosing the Table Storage Model** is said that:
compresstype | Type of compression. | zstd: Zstandard algorithmzlib: deflate algorithm<br>  quicklz: fast compression<br>  RLE_TYPE: run-length encoding<br>  none: no compressio

[2020-07-15 13:28] egorklimov commented on #10476
Also in `CREATE TABLE` statement documentation is said:

The WITH clause can be used to set storage options for the table or its indexes. Note that you can also set storage parameters on a particular partition or subpartition by declaring the WITH clause in the partition specification. The lowest-level settings have priority.
The defaults for some of the table storage options can be specified with

[2020-07-15 14:53] mkiyama commented on #10476
Thanks for pointing these doc issues out.
We will look into them and update the docs.

[2020-07-15 16:11] chrishajas commented on #10435
Did a bit of triaging, looks like the cursor result is in a different structure. We check for the curly brackets in the logic:
6X:
`
Writing column statistics ...
['foo', 'public', 'a', 'int4', 6188495L, 1, False, 0.0, 4, -1.0, 2, 3, 0, 0, 0, 97L, 97L, 0L, 0L, 0L, None, '{0.678322}', None, None, None, '{1,2,3,4,5,6,7,8,9,10,11,12}', None, None, None, None]
`
master:
`
Writing column statistics ...

[2020-07-16 03:44] phan-pivotal commented on #10473
4. Tablespace creation in GP other versions other than V6, support "customized topology injection", and most customers under V5 and V4 may have to face this UE change during migration. UE changes are usually challenges or even barrier for our version migration companion, according our prior experience from V4->V5.

Feature Design Advice:
1. Interface proposal:
 create tablespace tbsp_new location

[2020-07-16 07:44] #10009 closed

[2020-07-16 10:02] fanfuxiaoran commented on #9872
What kind of fdw extension did you use?

[2020-07-16 14:02] #10191 closed

[2020-07-16 14:23] kainwen commented on #9427
Open a pr to fix this: https://github.com/greenplum-db/gpdb/pull/10483

[2020-07-16 20:33] d commented on #10262
@hlinnaka interesting, do you think this happens to `VACUUM` on AO tables as well? Specifically, will the following produce any isolation anomaly?

1. T1 starts with "repeatable read", reads a bunch of tables except for AO relation `R`
2. T2 begins, deletes, updates, then inserts a bunch of tuples into `R`. commits
3. T3 vacuums relation R (AO table), commits
4. T1 opens `R`

[2020-07-16 20:44] ashwinstar commented on #10262
@d Vacuum on AO doesn't delete the old file in presence of "repeatable read" transaction in system. It will leave it behind in delete-pending state for the case you mentioned above.

[2020-07-16 21:31] egorklimov commented on #10476
For heaven's sake, add some info about `pg_get_partition_def` to the documentation, I spent a day generating ddl based on system catalogs and, at the end of the day, I absolutely accidentally found out this function :rofl:

[2020-07-17 00:25] d commented on #9271
No it's not. See https://www.postgresql.org/docs/9.6/indexes-index-only-scans.html . In principle, the executor may still need to access heap for a tuple whose visibility is uncertain after consulting the visibility map (the map contains one bit per page)

[2020-07-17 06:17] asimrp commented on #10262
@baobao0206 you have picked this one up and seem to have some ideas on how to solve it, would you like to share your thoughts here?

[2020-07-17 11:34] asimrp opened #10489 "CLUSTER command fails to process stats returned by QEs and update stats on QD"
### Greenplum version or build
Master

### Expected behavior
CLUSTER command should update relpages and reltuples to correct value on QD as well as QEs.

### Actual behavior
CLUSTER command results in reltuples and relpages set to 0 on QD.  The stats on QE are properly updated.

### Step to reproduce the behavior
[code]

### Notes
The stats are correctly being propagated from QEs to QD using the `

[2020-07-17 16:11] d opened #10490 "InitGPOPT() and TerminateGPOPT() swallow almost all C++ exceptions"
### Greenplum version or build
master (7.0 Alpha as of commit 6b4d93c58ae2c)

### Context
I realized this while working on #10440 . We tripped an assert when shutting down the backend, but the resulting exception from the assertion was swallowed by `TerminateGPOPT()`. Adding a `noexcept` to `gpos_terminate` would expose the problem, but it's not the right fix. We should translate the C++ exception

[2020-07-20 06:50] jnf009 opened #10491 "a PANIC error when use long query"
### Greenplum version or build
greenplum-db-6.9.0-rhel7-x86_64.rpm
### OS version and uname -a
Linux 3.10.0-1127.13.1.el7.x86_64 (CentOS Linux release 7.8.2003 (Core))
### autoconf options used ( config.status --config )

### Installation information ( pg_config )

### Expected behavior

### Actual behavior

### Step to reproduce the behavior
1.
on the master host, when use long query, or use wher

[2020-07-20 06:55] jnf009 commented on #10454
Thank you for your suggestion. I have create a separate issue for issue 4, and the core dumfile is upload.
the link is :
 https://github.com/greenplum-db/gpdb/issues/10491

[2020-07-20 20:01] tylarb commented on #10256
I've asked around for details on this. Unfortunately, I don't see that the vagrant files are being maintained at the moment. I'll make a note to look into removing or updating them. For now, I'll close this issue.

[2020-07-20 20:01] #10256 closed

[2020-07-21 03:16] pivotal-ning-yu commented on #10491
It is usually not enough to load a coredump itself, a better way is to create a packed core with the utility `packcore`, which can be found at `/usr/local/greenplum-db/sbin/packcore`.

Anyway, I found a centos 7 env and loaded the core, not sure if all the shared libraries in my side match yours, but at least I can see the backtrace correctly, so let me do some analyses.

[code]

The `simple_rel_a

[2020-07-21 03:46] pivotal-ning-yu commented on #10491
I think `simple_rel_array[1]` is just able to be `NULL`, we should add a check for it.  In fact in frame#5, `plan_list_rollup_plans()`, there is a check like this:

https://github.com/greenplum-db/gpdb/blob/ef010af28862a0fed172ca96620cc1037aac71a0/src/backend/optimizer/plan/plangroupext.c#L2501-L2504

[2020-07-21 07:04] gfphoenix78 commented on #10141
Fixed.

[2020-07-21 07:04] #10141 closed

[2020-07-21 08:11] jnf009 commented on #10491
Thanks!

[2020-07-21 08:43] paul-guo- commented on #10057
I previously encountered this issue also. Now seeing this issue with the test in my backport PR https://github.com/greenplum-db/gpdb/pull/10496. Will fix this in a separate PR. This should be relevant of max_prepared_xacts

[2020-07-21 09:22] jnf009 commented on #10491
Thanks for your suggestion!
I have upload a new file: packcore-core-postgres-11-1002-1002-3938-1595317198.zip
You should unzip the split file first, from   packcore-core-postgres-11-1002-1002-3938-1595317198.z01.zip to packcore-core-postgres-11-1002-1002-3938-1595317198.z06.zip.

[2020-07-21 09:38] baobao0206 commented on #10262
Heap table retains the original xmin and xmax in each tuple on cluster command, but AO table inserts a EOF tuple with new xmin. So we will get nothing when we scan the AO table in a transaction started before the cluster command.
The Heap table contains xmin and xmax in each tuple, but AO table just have one EOF tuple. So it is impossible for us to achieve fine-grained visibility control on the so

[2020-07-21 09:45] baobao0206 commented on #10262
Another choice:
Considering that the cluster command got AccessExclusiveLock, we only need to give the sorted data a small enough xmin to make them always visible to other transactions. This can also meet the isolation of repeated read.

[2020-07-21 11:31] Danpilz opened #10501 "Multi-level partition table uses gpload merge mode to cause primary key conflicts"
Greenplum version 6.3
Centos 7  Linux master 3.10.0-1127.8.2.el7.x86_64

### **When I used the gpload merge mode to import data to the Multi-level partition table, there was a problem of primary key conflict. Then I found out that the insert sql executed by gpload was flawed and the where condition was null, which could not completely filter out the existing primary key. So I modified gpload.py wi

[2020-07-22 00:26] pivotal-ning-yu commented on #10491
Cool.  On the other hand, I can create the issue with below reproducer:

[code]

We need to check whether the `simple_rel_array` is correctly filled, and we need to check whether we are accessing the correct item in `make_list_aggs_for_rollup()`; adding a check for null item in that function, however, is necessary anyway.

[2020-07-22 07:59] asimrp commented on #10501
Thank you @Danpilz for reporting the problem and finding a workaround.  Would you mind posting `git diff -- gpMgmt/bin/gpload.py` output to show how `gpload.py` is changed?  Looking at screenshots is a bit cumbersome.

[2020-07-22 08:01] #9427 closed

[2020-07-22 08:02] asimrp commented on #10501
@linwen would you like to take a look at this problem and the proposed solution?

[2020-07-22 08:14] paul-guo- commented on #10057
Pushed the code change. Closing the issue.

[2020-07-22 08:14] #10057 closed

[2020-07-22 08:47] Danpilz commented on #10501
@asimrp sure.
[code]

[2020-07-22 09:30] jnf009 opened #10504 "a PANIC error when use gpload on greenplum6"
### Greenplum version or build
greenplum-db-6.9.0-rhel7-x86_64.rpm
### OS version and uname -a
Linux 3.10.0-1127.13.1.el7.x86_64 (CentOS Linux release 7.8.2003 (Core))
### autoconf options used ( config.status --config )

### Installation information ( pg_config )

### Expected behavior

### Actual behavior

### Step to reproduce the behavior
we use gpload loading data into greenplum
this issue ac

[2020-07-22 09:33] jnf009 commented on #10454
I got a packcore file and create an new issue. so close this inssue.
https://github.com/greenplum-db/gpdb/issues/10504

[2020-07-22 12:27] kainwen commented on #9737
Two pr to fix the issue for planner have been merged into master (https://github.com/greenplum-db/gpdb/pull/10418)  and 6X (https://github.com/greenplum-db/gpdb/pull/10495).

I test the issue and confirm it is fixed under planner.

Keep it open until orca fixes this.

[2020-07-22 12:27] kainwen commented on #10419
Two pr to fix the issue for planner have been merged into master (#10418) and 6X (#10495).

I test the issue and confirm it is fixed under planner.

Keep it open until orca fixes this.

[2020-07-22 23:36] lij55 commented on #10501
Thanks for reporting the issue, @Danpilz .
We will look into this as soon as possible. Besides, a SQL of DDL and a yaml of config would be much more appreciated because it would help us to reproduce this issue more easily.

[2020-07-23 00:58] Danpilz commented on #10501
@lij55 Sorry, I can't provide DDL for the production environment, so I changed the field name.
[test.zip](https://github.com/greenplum-db/gpdb/files/4963379/test.zip)

[2020-07-23 01:09] zj511025 opened #10508 "gporca optimizer max()"
### Greenplum version or build
greenplum 6.7.1
### OS version and uname -a
centos7.6+
### autoconf options used ( config.status --config )

### Installation information ( pg_config )

### Expected behavior

### Actual behavior

### Step to reproduce the behavior
create table xxx
(
a int,
b varchar(100),
c varchar(100),
primary key(a)
)
distributed by (a);

start psql
\timing on

insert into xxx 20

[2020-07-23 06:11] gfphoenix78 commented on #10376
This was an expected behavior in the test partindex_test. I removed it in the PR https://github.com/greenplum-db/gpdb/pull/10510

[2020-07-23 06:56] asimrp commented on #10508
@zj511025 what happens if you analyze the table after insert?

[2020-07-23 12:21] zj511025 commented on #10508
执行查询 select  max（a）from xxx；在启用gporca优化的情况下非常慢，耗时3分钟，而关闭gporca优化之后，非常快，毫秒级返回。由于表上创建了a字段的btree索引，正常情况下，无论哪种优化器，这个查询都应该非常的快。故我认为gporca优化器，针对select max（）的查询，是不是有bug？

[2020-07-23 12:41] kainwen commented on #10508
Please paste the plan for orca and planner here. You can paste the following SQL's output in your env:

[code]

[2020-07-23 16:08] chrishajas commented on #10508
This optimization currently does not exist in Orca, though it does in planner, see https://github.com/greenplum-db/gpdb/pull/4786.

[2020-07-24 01:39] zj511025 commented on #10508
和#4786中描述一样。explain select max(a) from xxx; 在orca中是顺序扫描，在非orca中是索引扫描。

[2020-07-24 01:59] zj511025 commented on #10508
很抱歉，我们内外网不通，不好贴

[2020-07-24 02:03] kainwen commented on #10508
The root cause is clear. ORCA does not consider index scan for max.

For workaround, you can use planner if you find very slow query due to this reason.

[2020-07-26 08:52] baobao0206 commented on #10262
I find that both choices I mentioned are not correct after looking into the AO codes. We can not keep the old data in  segments with "AWAITING_DROP" state and put the sorted data into empty segments. Because the "empty segments" may not exist.
Use "froze xid" in the relation may not match the isolation of repeated read. Because we should use the same snapshot in the transaction.

[2020-07-27 03:19] liuzhliang opened #10520 "gp6.6 sql语法问题"
同样的sql在gp4上跑没问题 在gp6上跑报错
[XX000]: ERROR: Context should be init first
sql如下 ：
select
substr(claim.ORG_CD,1,3)
from test_basic claim
inner join test_policy_fact registpolicy
on claim.CLAIM_NOTIF_NO=registpolicy.REGIST_NO and claim.POLICY_NO=registpolicy.POLICY_NO
left join dw_test_basic regist
on claim.CLAIM_NOTIF_NO=regist.CLAIM_NOTIF_NO
left join dw_test_fact claimhis
on claim.CASE_NO=claimhis.CA

[2020-07-27 03:23] kainwen commented on #10520
Can you provide the table's schema?

[2020-07-27 09:16] Wathsara opened #10521 "Change/Update the psql verion of the gpdb."
### Greenplum version or build
6.8.1
### OS version
Ubuntu 18.04

 I have installed the above version of gpdb in ubuntu. What I realize is it is running with the psql version 9.4.1. Is there any way to use a newer version of psql than the 9.4.1.?

or

Is there any way to manage unique key violation when inserting bulk to gpdb using the python psycopg2 package. Because If the psql version is higher

[2020-07-27 14:59] kainwen commented on #10521
The kernel version of gpdb6X is Postgres9.4. So it can not support upsert(insert on conflict).

It is not related to client version. This is kernel feature.

[2020-07-27 14:59] #10521 closed

[2020-07-28 09:46] uglthinx commented on #10114
Hi @kainwen , could you briefly introduce this mechanism? I run `alter table partition1 expand table` and use gdb to debug `ATExecExpandTable` method in tablecmds.c, after the `GpPolicyReplace` is first executed for root partition table, I open a new session and execute `select * from gp_distribution_policy`. What confuses me is that `numsegments` does not update until the transaction is committed

[2020-07-28 12:19] kainwen commented on #10114
@uglthinx @dh-cloud I have to update the link in the previous reply, I find it was pasted wrong. The correct link for the thread of this topic is https://groups.google.com/a/greenplum.org/g/gpdb-dev/c/rSacd_vI-fM/m/pkAW-Z-lCgAJ

[2020-07-28 12:29] kainwen commented on #10114
@uglthinx

`numsegments` is a field of some catalog that will impact the optimizer to generate a plan.

Normally we do not query catalog directly, the optimizer will use internal API to fetch policy catalog (or other catalog info). These operations should be protected by locks on the user data table. The lock on the user data table is first held in the beginning of the planner (the transformXXX st

[2020-07-28 12:34] kainwen commented on #10114
Hi @uglthinx
So for your question,

The first transaction just invokes `GpPolicyReplace`, does not commit yet. If this is the case, any other transaction should not see the effects of it.

Only the transaction that is committed, its effects can be seen.

[2020-07-28 12:56] uglthinx commented on #10114
Hi @kainwen, thank you very much for your professional answer. I still have a small question to confirm, the new `CatalogSnapshot ` will get the latest catalog even if those transactions have not yet been submitted, that right?

[2020-07-28 13:08] LittleWuCoding opened #10523 "SIGSEGV occur WHEN exec query"
### Greenplum version or build
greenplum 6.4
### OS version and uname -a
Linux server100 3.10.0-514.el7.x86_64 #1 SMP Wed Oct 19 11:24:13 EDT 2016 x86_64 x86_64 x86_64 GNU/Linux
### autoconf options used ( config.status --config )

### Installation information ( pg_config )
[gpadmin_bn@server100 pg_log]$ pg_config
BINDIR = /home/gpadmin_bn/greenplum-db-6.4.0/bin
DOCDIR = /home/gpadmin_bn/greenplum

[2020-07-28 13:10] kainwen commented on #10114
You can take a look at the function `GetCatalogSnapshot`. It will invoke (not directly) `GetSnapshotData` to create a new catalog snapshot.

Take a look at the the struct `SnapshotData`, it uses (mainly)  three fields `xmin`, `xmax` and `xip` to test MVCC visibility, use gdb to step into `GetSnapshotData` to see these fields.

The other uncommitted transactions will either `xid > xmax` or `xid in

[2020-07-28 13:14] kainwen commented on #10523
From the core stack, it is very similar to an issue that already fixed by the commit https://github.com/greenplum-db/gpdb/commit/cb5d18d112c229736b6b97683ea57d5ba80b24db

The similar issue is: https://github.com/greenplum-db/gpdb/issues/10398

@JunfengYang Can you please verify if they are the same issue?

[2020-07-28 13:27] LittleWuCoding commented on #10523
just now ,I try to close the  orca by set optimizer to off and execute the query successfully,
Maybe it is related to orca, below is the plan by close orca:
[code]

[2020-07-28 13:37] kainwen commented on #10523
NO, the plan is different.

If my previous reply is correct, the bug happens for nestloop join and bitmap scan.

[2020-07-28 13:48] LittleWuCoding commented on #10523
Yes, I also thinks it is related to nestloop, I mean the orca make it go with netloop.

[2020-07-28 18:36] vraghavan78 commented on #10523
@kainwen if this is an Orca issue please assign it to me. The Orca plan loop looks ok to me.

[2020-07-29 00:30] kainwen commented on #10523
I think it is not ORCA issue. The plan is good.

It should be the executor of nestloop forget to reset some pointer.

[2020-07-29 01:40] fangzheng opened #10529 "Inconsistency in locking behavior between AOCSCompact() vs. AppendOnlyCompact()"
### Greenplum version or build
6X_STABLE

In 6X_STABLE branch, both `AOCSCompact()` and `AppendOnlyCompact()` functions call `LockRelationAppendOnlySegmentFile()`, but they set the `dontWait` parameter differently. `AOCSCompact()` sets `dontWait` to true and skips any seg file that has been locked (https://github.com/greenplum-db/gpdb/blob/6X_STABLE/src/backend/access/aocs/aocs_compaction.c#L558),

[2020-07-29 07:23] JunfengYang commented on #10523
Is `ix_t_npa_moc_pd_ctn_link_d_2020_07_timeint_noid ` an append only table?
If yes, it may be related to https://github.com/greenplum-db/gpdb/issues/10398.

[2020-07-29 07:25] LittleWuCoding commented on #10523
yes, this table is an AO table

[2020-07-29 07:29] asimrp commented on #10523
@kainwen this may not be related to issue #10398.  That issue was specific to append-optimized tables.  See this comment from the PR: https://github.com/greenplum-db/gpdb/pull/10407#issuecomment-654038590.

[2020-07-29 07:40] JunfengYang commented on #10523
@LittleWuCoding This should be fixed on 6X_STABLE branch. Please verify if you can build this branch.

@asimrp since `ix_t_npa_moc_pd_ctn_link_d_2020_07_timeint_noid ` is the the ao table, it's highly related.
The previous issue happens for nest_loop semi-join.

[2020-07-29 08:12] baobao0206 commented on #9736
The final agg in rollup running on master node is a problem. We lost the efficient implementation during pg96 merge. I think the team will get the expected behavior soon.

[2020-07-29 09:55] hlinnaka opened #10542 "Filename printed in error log for gpfdist external table is '(null')"
### Greenplum version or build
6X_STABLE, master

### Step to reproduce the behavior

On 5X_STABLE:
[code]

On 6X_STABLE and master, the 'filename' is wrong:
[code]
The '(null)' comes from glibc printf() implementation, when it's passed a NULL pointer. On another platform, it would segfault instead.

[2020-07-29 11:08] hlinnaka commented on #9736
The planner is capable of producing the kind of plan you expected. However, it estimates that it is cheaper to just gather all the rows to the master node, and perform the aggregation there. If the table has more rows, and/or if you tweak `gp_motion_cost_per_row`, you'll see the plan you expected:

[code]
The first plan is the one you reported, but after setting `gp_motion_rows=10`, you get a two-

[2020-07-29 11:34] kainwen commented on #9736
Hi @hlinnaka

There is a comment https://github.com/greenplum-db/gpdb/pull/9517#discussion_r380075887
in your previous merged pr by @pengzhout

I think @pengzhout 's comment makes sense. So it seems we do something wrong in cost model.

Can you take a look at the above comment? Thanks.

[2020-07-29 11:46] kainwen commented on #9736
Compared both plan in your comments with the one 6X generate:

6x plan:

[code]

I think 6X's plan is better two-sage plan. It only gathers all the data at last step which maximum the distributed segments to compute.

Both plans generated from master branch's planner gather data and do agg computation in QD, which is in-efficient.

[2020-07-29 11:46] baobao0206 commented on #9736
@hlinnaka I think a two-stage plan is not enough. We need a plan that can be executed in a distributed manner in the second stage. Like the plan without rollup  blow.
[code]

[2020-07-29 12:23] kainwen commented on #9736
I believe this issue is the same as an early one: https://github.com/greenplum-db/gpdb/issues/9156

[2020-07-29 12:37] hlinnaka commented on #9736
Hmm. I think you'll need a lot more groups and segments than in this example, for the extra redistribution step to become worthwhile. But yeah, you could have a query like that, and then the third step would be useful.

[2020-07-29 14:07] tylarb opened #10546 "Command execution is shipped with a fault injection framework"
### Greenplum version or build
5X, 6X, Master

### Expected behavior
There isn't a fault injector in shipped code

### Actual behavior
I can set environment variable GP_COMMAND_FAULT_POINT and cancel a command execution.
It appears this may have been added as a testing framework, but why fault injection is available in the finished product is beyond me.

### Step to reproduce the behavior

Run com

[2020-07-29 14:11] tylarb commented on #10546
I should note that injecting a fault in gpstart is relatively harmless, but annoying.

If a malicious actor injected a fault into some recovery process, then the recovery trigger could be interrupted in an unclean state, and database corruption or downtime could result.

[2020-07-29 14:27] baobao0206 commented on #9736
@hlinnaka I have add the segments to 10 and increase the tuples to 30,000,000. But a distributed final aggregate still did not appear.
[code]
Are we considering distributed final aggregates in the current path?

[2020-07-29 16:46] hlinnaka commented on #9736
No, the planner doesn't currently consider distributing the final aggregate. There's this in `add_twostage_group_agg_path()`:
[code]
The comment makes sense for a simple GROUP BY, but not so much for grouping sets, because with grouping sets, you need the Sort step anyway. So yeah, I think we should consider redistributing there, at least when grouping sets are involved.

I can open a PR for that.

[2020-07-29 23:50] fangzheng opened #10551 "COPY FROM AO table cause empty segfile to be created in master's data directory"
### Greenplum version or build
6X_STABLE

### Step to reproduce the behavior
Create an AO table a and execute `COPY a FROM '/tmp/file'`. As a result, an empty segfile is created under master's data directory. I am wondering if this is expected.

1. Run the following SQL from psql:
[code]

2. Find an empty segfile in master's data directory:
[code]

[2020-07-29 23:53] d commented on #9057
Hi thank you for your interest in Greenplum Database! Are you still experiencing issue running tests for ORCA?

[2020-07-30 00:29] fangzheng commented on #10551
Looks that in the COPY FROM case, QD on master would go through the call chain of CopyFrom() --> appendonly_insert_init() --> SetCurrentFileSegForWrite() --> SetCurrentFileSegForWrite() --> AppendOnlyStorageWrite_OpenFile().

It might be reasonable to check for Gp_role and skip file creation on QD side.

[2020-07-30 02:04] JunfengYang commented on #10523
The cause for issue #10398 is, there still data in the current bitmap page for the Bitmap Index Scan.
And then a rescan is issued. Since some of the states in Bitmap Index Scan for AO/AOCS table get reset,
but not known in `BitmapAppendOnlyNext`. So semi-join will trigger this issue since it only read one tuple
from Bitmap Index Scan for each outer tuple.

 But for this nest-loop join, @kainwen is

[2020-07-30 03:09] lij55 commented on #10501
It really helps.
Thanks! @Danpilz

[2020-07-30 03:14] lij55 commented on #9775
close as no updates long time

[2020-07-30 03:14] #9775 closed

[2020-07-30 07:23] adam8157 commented on #5939
It's already fixed, ref: #5128. Feel free to reopen if it's not.

[2020-07-30 07:23] #5939 closed

[2020-07-30 22:50] hlinnaka opened #10561 "Changing datatype of distribution key fails with bad message"
### Greenplum version or build
6X_STABLE, 5X_STABLE

### Actual behavior

[code]

### Expected behavior

I would've expected that to either work without error, or give a more appropriate error message.

[2020-07-31 12:58] avkashin opened #10563 "Greenplum gets only 1000 objects from s3 bucket"
### Greenplum version or build
PostgreSQL 9.4.24 (Greenplum Database 6.8.1 build OSS) on x86_64-unknown-linux-gnu, compiled by gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-39), 64-bit compiled
on Jul 30 2020 11:19:50
### OS version and uname -a
CentOS Linux release 7.8.2003 (Core)
Linux mdw1.ru-central1.internal 3.10.0-1127.13.1.el7.x86_64 #1 SMP Tue Jun 23 15:46:38 UTC 2020 x86_64 x86_64 x86_64 GNU/Li

[2020-08-01 07:33] ppggff opened #10564 "A problem with lock usage when querying waiting resqueue, causing cluster performance degradation"
In stressed clusters, after enabling resqueue, many backends are waiting for lock table's partition lock.
And the one backend that hold the partition lock is busying on destroying idle gangs.

Why do we go to destroy idle gangs while holding the partition lock?
The partition lock should be release as soon as possible.

The related code is at src/backend/utils/resscheduler/resqueue.c: 449-460

[2020-08-01 11:15] x4m commented on #10262
Maybe just document that CLUSTER against AO table is not MVCC safe? PostgreSQL already have not MVCC-safe truncate and table rewrite. CLUSTER operation is not supposed to be usual maintenance routine.

[2020-08-03 06:49] PU-101 commented on #197
@czcbk @zhengzhou001 @ruijianfeng
`rm -f /tmp/.s.PGSQL.5432`, try it!

[2020-08-03 06:57] asimrp commented on #10529
Indeed, that's a good find @fangzheng.  Let me see if that could cause a problem, especially with an insert and vacuum running concurrently.

[2020-08-03 09:32] zhangh43 commented on #10564
Partition lock is used to protect the shared memory hash table, we still refer to `LockMethodLocalHash` inside `ResWaitOnLock `. One idea is to move the `cdbcomponent_cleanupIdleQEs` logic into `ResProcSleep`. Since we also need to release the partition lock before we really sleep.
[code]
Another idea to to tuning GUC `resource_cleanup_gangs_on_wait`.

Do you have some stats on the waiting time of

[2020-08-04 02:50] ppggff commented on #10564
Yea, I think move it into `ResProcSleep` is OK. Thanks a lot.

About stats on waiting time, I don't have a specific value. What was happening was that most processes were waiting on the partition lock.

[2020-08-04 03:33] zhangh43 commented on #10564
@ppggff  Do you want to open a PR based on the discussion to optimize this resource queue issue?

[2020-08-04 07:07] LittleWuCoding opened #10575 "CREATE EXTENSION gp_internal_tools change the param search_path"
### Greenplum version or build
greenplum 6.4
### OS version and uname -a
rhel7.5
### Expected behavior

### Actual behavior
[code]
you can see that the search_path was changed, which may get users confused(eg. can not select from a table in public without specify prefix public after creating the extension in the same psql command line).

I found that the rerason is that in /gpcontrib/gp_internal_t

[2020-08-04 07:27] LittleWuCoding commented on #10575
Also ,there is also problems when DROP EXTENSION, which related to /gpcontrib/uninstall_gp_session_state.sql:
[code]
there also should reset the search_path for that after drop extension, the search_path‘s  value is 'session_state', but there is no more schema session_state in database which resulting  bad results, for example
[code]

[2020-08-04 12:09] Danpilz commented on #10501
So, how did you finally fix this problem? Add = "" in the where condition?

[2020-08-05 07:15] ppggff commented on #10564
OK, PR https://github.com/greenplum-db/gpdb/pull/10585

[2020-08-06 04:16] Daders opened #10597 "Next release of 5.X gpdb?"
Hello.
We are need a solution for one issue, which already in 5X_STABLE branch. And prefer to use released tags for production servers.
Could you give any insights about next release date of 5.X gpdb? Is it planning soon?

[2020-08-07 07:32] hlinnaka opened #10604 "Error when combining SET DISTRIBUTED BY with ADD COLUMN"
### Greenplum version or build
Tested on 6X_STABLE

### Step to reproduce the behavior

[code]

[2020-08-07 15:12] kmacoskey commented on #10597
Howdy @Daders . There is currently no specific date set for the next Greenplum 5 release.

The major version is in a "Maintenance Mode" of sorts such that we do not plan to have any more Minor (feature) releases. The next Maintenance release, 5.28.1, will occur whenever there is a sufficient number of bug fixes or enough pressure to warrant a new Maintenance release.

What is the specific change i

[2020-08-07 17:24] jikchenggit opened #10609 "libcrypto.so.10"
### Greenplum version or build

### OS version and uname -a

### autoconf options used ( config.status --config )

### Installation information ( pg_config )

### Expected behavior

### Actual behavior

### Step to reproduce the behavior

[2020-08-07 17:24] #10609 closed

[2020-08-09 05:22] Daders commented on #10597
It was discussed in https://github.com/greenplum-db/gpdb/issues/10374 and fixed at gporca 3.106.0.
[code]

[2020-08-10 05:06] #10564 closed

[2020-08-11 01:41] JunfengYang commented on #10575
@LittleWuCoding, good cache! Would you like to open a PR to fix it?

[2020-08-11 03:34] LittleWuCoding commented on #10575
OK, I will do a PR it  by this weekend~

[2020-08-11 09:07] merlin-king opened #10618 "slow"
### Greenplum version or build

### OS version and uname -a

### autoconf options used ( config.status --config )

### Installation information ( pg_config )

### Expected behavior

### Actual behavior

### Step to reproduce the behavior

[2020-08-11 09:19] JunfengYang commented on #10561
The checks in
https://github.com/greenplum-db/gpdb/blob/22308d6ab296d3a7cbf0cd4c3dd99c8bfb779136/src/backend/commands/tablecmds.c#L11543-L11560
is not working because `foo` is empty.

[code]
The `relContainsTuples` is `false`.

After inserting several rows into `foo`, it works.
[code]
Is it ok to remove this check https://github.com/greenplum-db/gpdb-postgres-merge/commit/963783630fae596802e1f0a88

[2020-08-11 09:35] JunfengYang commented on #10561
For a normal indexed column, we required the user to drop the index before changing the column type even the table is empty:
[code]

[2020-08-11 09:39] JunfengYang commented on #10561
For the constraints, after altering the type, we execute `performDeletion` under `ATPostAlterTypeCleanup` only on master, this cause the error.
Any thoughts?

Shall we let the user drop the constraints before changing the column type like the normal index or dispatch the deletion on each segment under `ATPostAlterTypeCleanup`?

[2020-08-11 16:13] #10546 closed

[2020-08-12 02:00] JunfengYang commented on #10561
@hlinnaka the title seems not right.

[code]

If the distribution key column doesn't contain any constraint, the alter will succeed.

[2020-08-12 06:01] asimrp commented on #10262
@gaos1 asked whether other alter operations on append optimized tables have this problem.  And indeed, the alter table operations that rewrite AO table suffer from this problem.  I verified that by replacing `CLUSTER` with `ALTER TABLE ... ADD COLUMN` operation in Heikki's isolation test above and got the same failure.  The reason is explained by Jinbao above  - we do not use catalog snapshot for

[2020-08-13 05:43] #10618 closed

[2020-08-14 02:06] zellerh opened #10639 "Hash join query fails with "inter out of range" error"
### Greenplum version or build

Master fa7b4b4bd1 (also happens on 6X_STABLE)

### OS version and uname -a

MacOS Mojave
Darwin Hanss-MacBook-Pro.local 18.7.0 Darwin Kernel Version 18.7.0: Thu Jun 18 20:50:10 PDT 2020; root:xnu-4903.278.43~1/RELEASE_X86_64 x86_64

### autoconf options used ( config.status --config )

--config-cache --without-zstd --disable-gpcloud --enable-debug --enable-depend --

[2020-08-14 03:02] fangzheng opened #10640 "Question about cdb_sync_oid_to_segments()"
### Greenplum version or build
6X_STABLE

Hi, I have a question about `cdb_sync_oid_to_segments()` and how it's used when creating a relation.

When creating a table using CREATE TABLE, `DefineRelation()` is called by `ProcessUtilitySlow()` with `dispatch` parameter set to false:

https://github.com/greenplum-db/gpdb/blob/master/src/backend/tcop/utility.c#L1194

This way, `cdb_sync_oid_to_segments

[2020-08-14 07:26] hlinnaka commented on #10640
Hmm, yeah, it does seem so. Or perhaps we should just remove the `cdb_sync_oid_to_segments()` call altogether. It's been like that forever, and no one has reported OID clashes. I think we have pretty good protections for preventing OID clashes during normal operations. It could happen if you mess around and create tables in utility mode diretctly on segments, but perhaps it would be enough to call

[2020-08-14 07:35] hlinnaka commented on #10639
The intermediate result of `a*a` is too large for the 32-bit `int` datatype. Try using `int8`:

[code]

[2020-08-14 09:58] #10542 closed

[2020-08-14 10:47] yyz940922 opened #10644 "The left join sql executes too slow no matter using gporca optimizer or postgres query optimizer in Greenplum 6.9"
### Greenplum version or build
        6.9
### OS version and uname -a
        Centos7.6

The left join sql executes too slow no matter using gporca optimizer or postgres query optimizer in Greenplum 6.9。

Table  bas_agent_order_sale_day_sku_size(About 75671250)

[code]

Table  dcc_soms_somsorder_presale(about 3906579)

[code]

Execution SQL

[code]

Execution Plan of the sql

[code]

The data was

[2020-08-14 13:46] hlinnaka commented on #10644
Do you mean that this was faster on Greenplum 4.3?

I don't think there really is a better plan shape for that query, with that schema. The main problem seems to be in redistributing all the rows in the dcc_soms_somsorder_presale table. Redistributing a lot of rows is not great for performance, although in this case it's only about half a million rows. It's taking a lot longer than I would expect.

[2020-08-14 14:22] hlinnaka commented on #3342
This hasn't come up in any performance tests, and is going to be refactored heavily with the upcoming PostgreSQL v12 merge and table AM API changes and the contrib/amcheck module. Closing.

[2020-08-14 14:22] #3342 closed

[2020-08-14 14:27] hlinnaka commented on #3484
The DQA grouping code was heavily refactored on 'master', to use the new TupleSplit executor node, and you do now get something like a "three-stage agg" with FILTERs now:
[code]
Closing.

[2020-08-14 14:27] #3484 closed

[2020-08-14 14:39] hlinnaka opened #10645 "TupleSplit method of DISTINCT aggregation is wrong with FILTERs"
### Greenplum version or build
master

### Step to reproduce the behavior

Consider this:
[code]
The first sum is correct, but the second one is wrong, it should be the same as the first sum. The plan is:
[code]

The TupleSplit divides rows based on the DISTINCT. For example, if an input row is (1, 1), it is divided into two rows: (1, NULL) and (NULL, 1). The first row is fed into the first aggreg

[2020-08-14 15:43] hlinnaka commented on #3812
The code has moved around many times since the 8.4 merge, this isn't applicable anymore. Closing.

[2020-08-14 15:43] #3812 closed

[2020-08-14 16:51] fangzheng commented on #10640
@hlinnaka Thanks for the clarification.

[2020-08-15 02:01] yyz940922 commented on #10644
Yeap, it takes 19s in greenplum 4.3 and 210s in greenplum 6.9.

[2020-08-15 03:37] zellerh commented on #10639
Thanks very much for the diagnosis! I should have thought of that, but the boundary wasn't exactly at 32767 or 65535. I guess I should have thought of sqrt(2^31)...

[2020-08-15 03:37] #10639 closed

[2020-08-15 14:57] luowencai opened #10648 ""database ""gpadmin2"" does not exist",,,,,,,0,,"postinit.c",957"
### Greenplum version or build

select version();
                                                                                               version

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------
 PostgreSQL 9.4.24 (Greenplum Database 6.7.1 b

[2020-08-15 18:10] hlinnaka commented on #7038
FileScanDescData is no more, closing.

[2020-08-15 18:10] #7038 closed

[2020-08-15 19:23] hlinnaka commented on #8357
Richard fixed this on master by commit 7d79311c310281321f0ded0d48972354a6fe947f, and on 6X_STABLE by commit 3e2fcc08fb9a8703825d7bbe52f2f74e5e4c889a. Closing.

[2020-08-15 19:23] #8357 closed

[2020-08-15 20:47] hlinnaka commented on #9074
I cannot reproduce this. Was it fixed already?

[2020-08-16 02:46] paul-guo- commented on #10648
Do not know how did you access the database, but for psql if there is no database related env variable, option, etc is specified, it uses the current OS user name as database name. I'm closing this issue unless there is more evidence that shows this is a bug.

[code]

[2020-08-16 02:46] #10648 closed

[2020-08-16 05:46] kainwen commented on #9074
In master, I previously push a commit to remove the useless explicit motion.

If change the sales to a randomly distributed table, we reproduce this issue.

[code]

[2020-08-16 06:54] LittleWuCoding commented on #10575
My PR:  #10649

[2020-08-18 06:33] uglthinx commented on #10114
Hi @kainwen , I have doubts about your previous explanation,  maybe I misunderstood.

I do test for this:

1.
[code]
2. copy data to ```ORDERS_PART```;
3. update ```numsegments``` of ```orders_part_1_prt_part```(there are 6 primary segments in cluster):
[code]
4.
[code]
vs
[code]

So I think the select statement does not always append on leaf tables, right?

[2020-08-18 06:37] kainwen commented on #10114
Hi @uglthinx
The where condition on partiton key may be used to prune leaf partitions. It will append all leafs, and remove those cannot output any tuples due to conflict with where condition and partition constrain.

There are many cases here: https://github.com/greenplum-db/gpdb/blob/master/src/test/regress/expected/partition_pruning.out

[2020-08-18 06:47] uglthinx commented on #10114
In my test case, ```select count(1) from orders_part where orders_part.o_orderstatus= 'P';``` load the numsegments on root(6) instead of leaf(4), do it?

[2020-08-18 08:00] cartooku opened #10664 "Greenplum 6.4 执行group by 就报server closed the connection unexpectedly"
### Greenplum version or build
greenplum 6.4
### OS version and uname -a
Linux SZE-L0142603 3.10.0-957.21.3.el7.x86_64 #1 SMP Tue Jun 18 16:35:19 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
### autoconf options used ( config.status --config )

### Installation information ( pg_config )
BINDIR = /opt/greenplum/greenplum-db-6.4.0/bin
DOCDIR = /opt/greenplum/greenplum-db-6.4.0/share/doc/postgresql
HTMLDI

[2020-08-18 08:02] cartooku commented on #10664
后台日志详细错误(The following are some detail error logs)：

2020-08-17 15:51:11.571795 CST,,,p359955,th-1047824960,,,,0,,,seg1,,,,,"LOG","00000","database system is ready to accept connections","PostgreSQL 9.4.24 (Greenplum Database 6.4.0 build commit:564b89a8c6bef5e329a59f39dac438b13d9cb3fa) on x86_64-unknown-linux-gnu, compiled by gcc (GCC) 6.4.0, 64-bit compiled on Feb 11 2020 20:34:18",,,,,,0,,"postm

[2020-08-18 08:12] paul-guo- commented on #10664
There was a fix for segfault in hash agg executor code not long ago. It was included in 6.9. You could try the version or above to see if still seeing the issue.

[2020-08-18 09:13] kainwen commented on #10114
That will be handled in the function `set_append_path_locus`. You can step into that function to find out all the facts.

[2020-08-18 12:09] uglthinx opened #10666 "selectforupdate against upgrate lock lead to deadlock"
### Greenplum version or build
master, 6X_STABLE

### Step to reproduce the behavior
[code]
session A:
[code]
session B:
```SELECT * FROM t1 FOR UPDATE ;``` and it will be blocked for waiting lock.

session A:
```LOCK TABLE t1 in ACCESS EXCLUSIVE MODE;```
then lead to deadock:
[code]

In my opinion, session B never hold any locks on `t1`, session A lock table in a transaction, it should not lead t

[2020-08-18 12:51] kainwen commented on #10666
This is by design.

`Select for update` will always hold ExclusiveLock on the tables in gpdb6. See the doc: https://gpdb.docs.pivotal.io/6-10/admin_guide/dml.html  (search for update in that page)

In master branch, there are some optimizations on the lock level of `select for update`.
There are some commits (not backport to 6):

* https://github.com/greenplum-db/gpdb/pull/7705
* https://github.co

[2020-08-18 12:58] kainwen commented on #10666
Close this, it is by design in MPP env.

Feel free to discuss more if your have further questions.

[2020-08-18 12:58] #10666 closed

[2020-08-18 17:08] arunmarathe opened #10667 "configure script giving a number of errors"
### OS version and uname -a
Linux vm-arunm 3.10.0-1127.13.1.el7.x86_64 #1 SMP Tue Jun 23 15:46:38 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

### Step to reproduce the behavior
 ./configure --with-perl --with-python --with-libxml --with-gssapi --prefix=/usr/local/gpdb

I have made a few changes to "configure" script locally, as indicated below, but it keeps on failing for different reasons. Maybe the

[2020-08-18 19:32] arunmarathe opened #10668 "Question on DXL files"
This is not a bug report per se, but I have a question on DXL files.

Are those files meant to be human-readable? I understand that their main purpose is for consumption by programs.

I was looking at the Plan element inside DXL files, and I expected to find a tree-structured object of the kind produced in MySQL or SQL Server for example. I didn't find the content inside Plan quite human readable.

[2020-08-19 01:32] JunfengYang commented on #10575
Fix commit `9d9662f0bf217ed40b25f6e6cba01f1308a56126` on Master and `2fbf4808a595e654e3fa01b93bbf474c23ba8e81` on 6X. So close it.

[2020-08-19 01:32] #10575 closed

[2020-08-19 01:47] weinan003 commented on #10645
The filter can push down to TupleSplit to fix this issue, I'll give a PR later

[2020-08-19 03:09] #10491 closed

[2020-08-19 03:20] lij55 commented on #10501
could you please do a quick test? disabe the orca and try it again?

[2020-08-19 03:38] kainwen commented on #9896
Fixed by https://github.com/greenplum-db/gpdb/commit/b9691eba051c37005ba9f038171cd8849b15cea3

[2020-08-19 03:38] #9896 closed

[2020-08-19 03:46] kainwen commented on #7949
Same as https://github.com/greenplum-db/gpdb/issues/8989

But since that issue contains some work-around. Keep that if someone meet the issue.

[2020-08-19 03:46] #7949 closed

[2020-08-19 03:54] pivotal-ning-yu commented on #8989
Updates to my previous workaround, besides `make PERL=perl5.26-x86_64-linux-gnu` we could also set it during `configure`:

[code]

[2020-08-19 06:32] hlinnaka commented on #10667
Hi! Modifying 'configure' really shouldn't be necessary. What was the error you got with unmodified 'configure'? Are there any clues in 'config.log'?

[2020-08-19 06:59] jerryliu306 opened #10671 "metaData.isNullable(i) always return 2"
**I'm submitting a ...**

test table:
drop table if exists test.sys_user1;
create table test.sys_user1(id serial not null) distributed by(id);

when i use metaData.isNullable(i) always return 2.

**Describe the issue**
Class.forName("org.postgresql.Driver");
            String url = "jdbc:postgresql://gpmaster:5432/testdb";
            String username = "gptest";
            String password = "000

[2020-08-19 08:25] hlinnaka commented on #10671
I cannot reproduce this. I'm getting the same result on GPDB 6 as on PostgreSQL:
[code]

[2020-08-19 10:08] asimrp commented on #8989
Thank you @pivotal-ning-yu for sharing the details, I am also facing the same problem.

Is `ecpg` used at all in 5X? If not, can we simply remove it from the code?

[2020-08-19 10:42] pivotal-ning-yu commented on #8989
Good question, I don't even know what is ecpg, LOL.  With a bit of googling, I found it's very interesting, sth. like the PowerBuilder, allow SQL commands to be embedded into C programs.  I'm not sure if it is used by the built-in utilities and extensions, however if some users are using it, then removing it from 5X will cause problems.  In fact retiring any feature from a stable release would be

[2020-08-19 15:00] arunmarathe commented on #10667
Hi, Thanks for your response.

Here is the output from unmodified configure (last few lines on console).

[code]

Inside the log file, the error is:

[code]

It does not like the -V and -qversion compiler options. When I took out those two options from a couple of places, I got the error that I posted in my original bug report.

[2020-08-19 16:23] frankgh commented on #10671
Same here, I'm unable to repro using the same posgresql driver, and a build version of Greenplum
[code]

![Screen Shot 2020-08-19 at 9 21 00 AM](https://user-images.githubusercontent.com/6936241/90662655-7ab6d780-e1fd-11ea-9f90-ae46ab38dc44.png)

As shown in the screenshot above, `nullable` is 0 for me.

[2020-08-20 02:07] jerryliu306 commented on #10671
thank you, add stm.execute("set optimizer = off;"); resolved.

[2020-08-20 02:07] #10671 closed

[2020-08-20 02:17] jerryliu306 commented on #10671
thank you @frankgh , add stm.execute("set optimizer = off;"); resolved.

[2020-08-20 17:50] chrishajas commented on #10668
They're not meant to be human readable. However, given a query `select * from foo`, and its corresponding `Plan` in the mdp:
[code]

you can run the mdp file with gporca_test to get a somewhat more human readable format by using the traceflag: 101001 (https://github.com/greenplum-db/gpdb/blob/master/src/backend/gporca/libnaucrates/include/naucrates/traceflags/traceflags.h#L30)

If you then run the

[2020-08-20 18:54] arunmarathe commented on #10668
Thanks! Actually what I wanted to do was to look at some TPC-H plans available in gporka distribution at gporca/data/dxl/tpch. I currently cannot install gpdb db (have started another thread on that), so I suspect your approach won't work for me.

Is there a way to directly process those TPC-H plans into more human readable form? Thanks.

[2020-08-21 00:23] vraghavan78 commented on #10501
@Danpilz Orca errors out when it sees a non-deterministic DML behavior. This is stricter than Planner since the operation is not deterministic (I think need to double check). Rather than disabling orca, I would suggest disabling queries on multi-level partitioning support with Orca. This can be done via, `optimizer_multilevel_partitioning to off`.

[2020-08-21 11:54] vkhashkovsky opened #10687 "vagrant env's does not start"
### Greenplum version or build
6X_STABLE

### OS version and uname -a

OSX 10.15.6 (19G73) /
Darwin Kernel Version 19.6.0: Sun Jul  5 00:43:10 PDT 2020; root:xnu-6153.141.1~9/RELEASE_X86_64 x86_64

Vagrant v. 2.2.7

VirtualBox v. 6.0.16 r135674 (Qt5.6.3)

### autoconf options used ( config.status --config )
[code]
### Installation information ( pg_config )
does not matter

### Expected behavior
de

[2020-08-24 01:52] JunfengYang commented on #10561
Raise a reasonable error message as the fix.
Merged in master https://github.com/greenplum-db/gpdb/commit/32446a321d492226d3f26d91f3b0deeabce90fd4 and 6X https://github.com/greenplum-db/gpdb/commit/0515db0ad894cc82865a7247a65da560021eee7e.

[2020-08-24 01:52] #10561 closed

[2020-08-24 04:09] ryonchen opened #10692 "Nested queries return error server closed the connection unexpectedly using GROUP BY GROUPING SETS"
### Greenplum version or build & OS version and uname -a
PostgreSQL 9.4.24 (Greenplum Database 6.10.1 build commit:efba04ce26ebb29b535a255a5e95d1f5ebfde94e) on x86_64-unknown-linux-gnu, compiled by gcc (GCC) 6.4.0, 64-bit compiled on Aug 13 2020 02:56:29

### autoconf options used ( config.status --config )

### Installation information ( pg_config )

### Expected behavior
When executing two-tier

[2020-08-24 10:58] luowencai opened #10696 "greenplum install fail"
### Greenplum version or build

### OS version and uname -a

### autoconf options used ( config.status --config )

### Installation information ( pg_config )

### Expected behavior

### Actual behavior
[code]

### Step to reproduce the behavior
rpm -qa|grep gree
greenplum-db-6.0.0_beta.3-1.el7.x86_64
greenplum-db-6.5.0-1.el7.x86_64
greenplum-db-6.7.1-1.el7.x86_64
greenplum-db-6.1.0-1.el7.x86_64

m

[2020-08-24 12:48] hlinnaka commented on #10692
I can reproduce this on 6.10.1, but not on the head of 6X_STABLE branch. This was fixed in commit f913cba22f2cc6b08a843439eef1fe1286bf53a9 (https://github.com/greenplum-db/gpdb/issues/10491). Closing.

[2020-08-24 12:48] #10692 closed

[2020-08-24 13:16] ryonchen commented on #10692
Thanks a lot!!!When will the official version be released?

[2020-08-24 13:16] ryonchen commented on #10692
Thanks a lot!!!When will the official version be released?

[2020-08-24 17:51] jmcatamney opened #10698 "Duplicate entries in pg_depend"
### Greenplum version or build

Master and 6X_STABLE

### Expected behavior

pg_depend should have no duplicate entries, and if duplicates do occur, gpcheckcat should identify them.

### Actual behavior

pg_depend has duplicates in both 6X:

[code]
...and master:

[code]
Note the second and fourth lines in each case.

This issue was identified when, during the process of converting the utilities f

[2020-08-25 03:27] wuchubuzai2018 opened #10700 "could not send data to client:connection timed out pgcommon.c And connection to client lost postgres.c"
### Greenplum version or build
6.9.1
### OS version and uname -a
CentOS7.6，32G内存，16C，4台机器，应用服务器1台，master1台，2台segment，每台segment上有6个primary，总共是12个primary
### Expected behavior
1、期待当在Java程序中通过JDBC调用execute方法执行copy to 时，并且执行时间超过了150分钟后，可以及时返回给Java客户端，且不会报错，目前报的这个错误，感觉好像长时间执行数据连接好像丢失了

### Actual behavior
1、当我在Java中使用JDBC的execute方法调用一个超过150分钟的SQL时(COPY  query to File)与一个copy from语句，就是通过copy方式写出6800数据到文

[2020-08-25 04:00] asimrp commented on #10700
Google translate returned the following English version:

OS version and uname -a
CentOS7.6, 32G memory, 16C, 4 machines, 1 application server, 1 master, 2 segments, each segment has 6 primary, a total of 12 primary
Expected behavior
1. It is expected that when the execute method is called to execute copy to in a Java program through JDBC, and the execution time exceeds 150 minutes, it can be retu

[2020-08-25 04:06] uglthinx commented on #10114
Hi @kainwen , I may have found one subtle problem, if we upgrade locklevel in expand transaction, other concurrent transactions which also have lock escalation, it may cause deadlock. This case disappointed me.

[2020-08-25 08:55] student194 opened #10701 "The question about gpexpand"
### Greenplum version or build
6.10.1
### OS version and uname -a
CentOS Linux release 7.5.1804

When I used gpexpand to extend my database，gpexpand reports a warning message that the ECDSA host key for 'XXXXX' differs from the key for the IP address 'XXXX'. These hosts involved in the warning message are all new machines joining the cluster. After that, gpexpand prompts me whether to continue con

[2020-08-25 15:05] kainwen commented on #10114
hi @uglthinx

Can you provide more details, or better a concrete example?

[2020-08-25 15:27] uglthinx commented on #10114
Hi @kainwen , in the method I mentioned before, a lock upgrade will occur during the expansion process: At the beginning, expand transaction will hold EXCLUSIVE lock until CTAS finish, then the lock will be upgraded to ACCESS EXCLUSIVE lock and change catalog.
transaction a: `alter table t1 expand table` will get EXCLUSIVE lock and do CTAS;
transaction b: `select * from t1` will get share lock;
tr

[2020-08-25 17:31] zellerh commented on #10639
This kept bugging me, so I tried on several DBMSs, to see how common this behavior is. IMHO, we should automatically choose a 64 bit data type for the value of a*a to avoid this error. Here is what I got:

- Postgres 9.6: Same "Integer out of range" error
- MS SQL Server 2017: "Data truncation" error
- MySQL 5.6: Query succeeds
- Oracle 11g: Query succeeds
- SQLite: Query succeeds

These results w

[2020-08-25 19:15] hlinnaka commented on #8180
PostgreSQL 9.6 has been merged to master, and I just tested that the repro script works on master now. 6X_STABLE still has the problem though.

[2020-08-25 22:27] ashwinstar commented on #10698
Yet to find the cause but seems PostgreSQL 12 also has the same duplicate after initdb. So at least not something GPDB specific.
[code]

[2020-08-26 00:13] kainwen commented on #10114
That is the lock upgrade in a single transaction SQL pattern. Transaction b and transaction a both have lock upgrade.

When you have concurrent transactions that will all upgrade lock level, it is very easy to have local deadlock. That is why
we have thought about the method but does not apply it.

But in fact, there are some other lock upgrade in GPDB now. At least If I remember correct, `select

[2020-08-26 01:30] ashwinstar commented on #10698
I don't know if this is issue or not (seems unnecessary wastage with duplicate entry though).
Also, don't yet what's causing it. But to help further investigation posting the simple repro
[code]

[code]

[2020-08-26 01:36] ashwinstar commented on #10698
`InsertRule()` calling `recordDependencyOnExpr()` below way is causing duplicate entries to be entered

[code]

[2020-08-26 01:45] ashwinstar commented on #10698
@hlinnaka any quick ideas before I spend more time digging into this

[2020-08-26 07:27] hlinnaka commented on #10698
PostgreSQL also creates the duplicate entries. I don't know why.

[2020-08-26 12:01] kun-teng commented on #10473
The following are the topology of GP V6.7.1, still lack of "dbid level table space customerized topology injection" feature.

![image](https://user-images.githubusercontent.com/18341650/91300336-b5a8a480-e7d5-11ea-9de6-9f22f0df9dce.png)
![image](https://user-images.githubusercontent.com/18341650/91300354-bb9e8580-e7d5-11ea-876a-b6313fe08e4d.png)

[2020-08-26 12:51] #10701 closed

[2020-08-26 13:30] arunmarathe commented on #10667
Hi, Can anyone please look into this issue? I can provide more information if needed (various versions etc.).
If configure does not work, installation does not work. Thanks.

[2020-08-26 14:44] lambgong opened #10710 "planner crash when run group by cube on partition table"
### Greenplum version or build
6.5

### OS version and uname -a
centos 7

### Step to reproduce the behavior

create a partition table as follow:
[code]

run sql as follow:
[code]

planner will crash, and the coredump backtrace as follow:
[code]

[2020-08-26 14:59] kainwen commented on #10710
I can reproduce this in latest 6X(top commit now is 1dc23be25e54e86a4f4f2c6bbc438f2e02fd724c).

[2020-08-26 23:59] ashwinstar commented on #10698
Tom answered [here](https://www.postgresql.org/message-id/2981628.1598478216%40sss.pgh.pa.us) with
[code]
So, closing this issue.
We should make sure `gpcheckcat` avoids duplicate entry checking for `pg_depend` as it can have duplicates.

[2020-08-26 23:59] #10698 closed

[2020-08-27 01:56] lambgong commented on #10710
Bye the way, this works fine in gp5

[2020-08-27 04:06] gfphoenix78 opened #10713 "Replace an existing function may violate the constraint of a unique index or produce wrong result"
### Greenplum version or build
Only test on master

### Steps to reproduce.
[code]
The last 2 SELECT outputs
[code]

[2020-08-27 04:09] gfphoenix78 commented on #10713
In this case, the function is depended by an existing index, the better way is to raise an error.

[2020-08-27 04:22] gfphoenix78 commented on #10713
Actually, the index isn't updated. If the query uses index scan(set optimizer=off;set enable_seqscan=off;), the following result is wrong:
[code]

[2020-08-27 04:40] kainwen commented on #10713
I test under the latest postgres (master branch), it is the same as gpdb.

Can you please first open a thread in pghacks to see the idea of upstream?

[code]

[2020-08-27 05:56] asimrp commented on #10473
Does that mean Greenplum primary and mirror segments are initialized on a shared storage underneath, e.g. SAN?  The topology and the problem you are trying to describe is not clear to me.

[2020-08-27 06:17] asimrp commented on #10667
The original configure error indicates that the compiler is too old.  Support for C++14 language standard seems to be available in gcc 5 onward, according to https://gcc.gnu.org/projects/cxx-status.html#cxx14
Can you try to upgrade your gcc to version and try again?

[2020-08-27 06:43] hlinnaka commented on #10713
Yeah, this is known and accepted behavior, closing.

[2020-08-27 06:43] #10713 closed

[2020-08-27 07:41] LittleWuCoding opened #10715 "PL/JAVA consume more mems than native java program"
### Greenplum version or build
greenplum 6.4.0
### OS version and uname -a
rhel7

It is a issue about pl/java, I commit this issue here because the greenplum-db/pljava seems not active.

### Expected behavior
I write a pl/java function ,which consume about 512M mems.
The java function body likes this (you can reproduce by it):
[code]
then , I put the jar file to $GPHOME/lib/postgresql/java/ folder

[2020-08-27 09:25] hlinnaka commented on #10710
Possibly the same issue as https://github.com/greenplum-db/gpdb/pull/10685

[2020-08-27 12:09] kainwen commented on #10710
Yes. I test on that branch, this issue runs correctly.

So let's help push that pr to fix all these issues.

[2020-08-27 14:05] kun-teng commented on #10473
An example of "each RAID group with a primary-mirror pair list have a symmetrical RAID group with the same primary-mirror list"

                                           Host1
                         ------------|--------------------
RAID Group1.1                                             RAID Group1.2
-------------|------------                   -----------|-----------------
primary1, primar

[2020-08-27 14:23] arunmarathe commented on #10667
Hi Asim, My compiler is up-to-date.

[code]

And verified that as non-root the same gcc is in effect. Thanks.

[2020-08-27 15:09] hlinnaka commented on #10667
The excerpt from your log said:
[code]
Configure is picking up gcc version 4.8.5 from somewhere. I don't know what's going, but there is something funny with your gcc versions.

[2020-08-27 17:04] arunmarathe commented on #10667
Thanks hlinnaka!
That was indeed part of the issue.
I have resolved it, and now the correct compiler version is referenced.
Still the error appears to be the same.

[code]

[2020-08-27 21:25] ashwinstar commented on #10473
I acknowledge that tablespace feature was changed for Greenplum 6 and forward. Previous versions of Greenplum allows specifying location for primary and mirror tablespace separately. That's something we discontinued as intentional decision in product. We discussed and debated a lot while making the change, but what we have in Greenplum 6 is what we went with and most likely will remain for future

[2020-08-28 06:02] hlinnaka commented on #10462
Is this a GPORCA thing? The planner does produce three-stage aggregate plans on master, like it did on 6X_STABLE:

[code]

If there are multiple DQAs, the plan looks different than on 6X_STABLE, but it still has three stages:
[code]

[2020-08-28 06:13] hlinnaka commented on #10381
Could this be the same issue that was fixed in https://github.com/greenplum-db/gpdb/pull/9298 ?

[2020-08-28 06:19] hlinnaka commented on #10376
This was fixed in commit 84d2a23fbd0f81c6c4b372701a27a6dfbada8613 (PR #10510), which disabled implicitly changing distribution keys on CREATE UNIQUE INDEX altogether.

[2020-08-28 06:19] #10376 closed

[2020-08-28 06:23] hlinnaka commented on #10333
Fixed in commit ba88fa41736c7852fb3ec7e28dab917a1cd95e88.Thanks!

[2020-08-28 06:23] #10333 closed

[2020-08-28 06:27] hlinnaka commented on #10161
There is no stricter read-only mode. One workaround is to create a new role and only grant read-only permissions to that role. You can still e.g. create temporary tables, though.

[2020-08-28 06:27] #10161 closed

[2020-08-28 06:32] hlinnaka commented on #10212
The ANALYZE error looks like the same issue as https://github.com/greenplum-db/gpdb/issues/9503. Please upgrade to the latest minor version. If that doesn't help, please provide more details on the table.

For the other error, we're going to need more details. What query or command led to the error? A self-contained SQL script to reproduce the problem would be best.

[2020-08-28 06:39] hlinnaka commented on #10175
This is a feature request, to truncate the error log implicitly after each COPY or SELECT from an external table. There are no plans for such a feature, you need to truncate the table first by calling `gp_truncate_error_log()`.

[2020-08-28 06:39] #10175 closed

[2020-08-28 06:45] hlinnaka commented on #10134
If you need to do that to induce the error, that's not a bug, it's just a case of "don't do that then". Closing, but please feel free to re-open if there's a way to encounter this without manually corrupting the data directory.

[2020-08-28 06:45] #10134 closed

[2020-08-28 06:49] hlinnaka commented on #10083
There have been a few fixes to replicated tables and UNION on 6X_STABLE, so I suspect this has been fixed already. Like @gaos1 suggested, please upgrade. Closing, but if the upgrade doesn't help, feel free to re-open.

[2020-08-28 06:49] #10083 closed

[2020-08-28 06:57] hlinnaka commented on #9941
#9916 has been fixed on master. However, I could not reproduce this even when I reverted commit 736898adbb90f8fc9691d639ba3e030a21e4c1b8, so I'm not sure I can test this properly. Can you confirm that this has been fixed?

[2020-08-28 07:01] hlinnaka commented on #9906
I believe this is a duplicate of https://github.com/greenplum-db/gpdb/issues/10381, closing.

[2020-08-28 07:01] #9906 closed

[2020-08-28 07:18] hlinnaka commented on #9994
This was fixed on master by commit 7c1891fb1a827542c0aa7a60e99e14086a6663ce. Closing. (I don't think there are plans to backport this)

[2020-08-28 07:18] #9994 closed

[2020-08-28 08:09] hlinnaka commented on #9700
The custom plan is considered to be cheaper, because the generic plan doesn't do direct dispatch. We have a fudge factor for that at https://github.com/greenplum-db/gpdb/blob/7c6c1b766a78cc8054d16ac034878836d9a47cd7/src/backend/utils/cache/plancache.c#L1199. In this test case, that's what tips the balance in favor of the custom plan.

[2020-08-28 08:46] oSkrobuk opened #10720 "Planner crash: invalid attrno"
### Greenplum version or build
PostgreSQL 9.4.24 (Greenplum Database 6.9.1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 5.4.0-6ubuntu1~16.04.12) 5.4.0 20160609, 64-bit compiled on Aug  5 2020 20:56:00

### OS version and uname -a
Linux hostname 4.19.62-13 #1 SMP Mon Jul 29 17:22:59 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

### Installation information ( pg_config )
BINDIR = /usr/local/gpdb/bin

[2020-08-28 09:16] oSkrobuk commented on #10720
The bug remains in 6.10.1

[2020-08-28 09:21] yulu1996 opened #10724 "gp6.4 jdbc statement update local deadlock on QD"
### Greenplum version or build
gp6.4
### OS version and uname -a
CentOS Linux release 7.6.1810 (Core)
Linux mdw 3.10.0-957.el7.x86_64 #1 SMP Thu Nov 8 23:39:32 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
### Expected behavior

### Actual behavior
ERROR: deadlock detected
### Step to reproduce the behavior
log:

2020-08-28 15:14:59.260394 CST | dmp_user | dmp | p10857 | th1888450688 | 172.16.35.84 | 35

[2020-08-28 12:14] #9868 closed

[2020-08-28 12:30] #9973 closed

[2020-08-28 12:30] hlinnaka commented on #9973
Fixed in commit 89a11719a1ba0ec6898e28ea36e095a7d67955fa. Thanks for the report!

[2020-08-28 12:59] hlinnaka commented on #9126
I'm not seeing these warnings now, so I guess it's been fixed. Closing.

[2020-08-28 12:59] #9126 closed

[2020-08-28 13:18] hlinnaka commented on #7321
Ping? Have we updated the python version used in the pipeline since last summer? Could we try to re-enable the test now?

[2020-08-28 17:37] hlinnaka commented on #8396
This was fixed by https://github.com/greenplum-db/gpdb/pull/8416 (commit ff2582bb0e40569727bcc260f1e63861848b2b0a). Closing

[2020-08-28 17:37] #8396 closed

[2020-08-28 17:40] hlinnaka commented on #7454
Looks like the trail has gone cold on this, closing.

[2020-08-28 17:40] #7454 closed

[2020-08-28 19:37] hlinnaka opened #10729 "ERROR: could not find pathkey item to sort"
### Greenplum version or build
master. Works on 6X_STABLE.

### Step to reproduce the behavior

[code]

[2020-08-29 03:38] d commented on #10462
No, this is when you mix a `DISTINCT` aggregate with a non-distinct aggregate. The non-distinct aggregate will need to ride along in the middle stage.

[2020-08-30 03:09] soulfere opened #10732 "View gp_bloat_expected_pages is not updated after run VACUUM FULL or execute redistribution for a heap table"
### Greenplum version or build
5.0 6.3
### OS version and uname -a
CentOS 7
### Expected behavior
In order to handle the heap table bloat. I execute VACUUM FULL for a table and report success.
After that, I run the ANALYZE command to refresh the analyze information.
I think after this, the data of view gp_bloat_expected_pages is updated ,the btdrelpages and btdexppages will be updated by a reasona

[2020-08-30 03:24] #10732 closed

[2020-08-31 06:52] adam8157 commented on #10551
Thanks for reporting, would you like to submit a PR?

[2020-08-31 07:12] adam8157 commented on #10563
https://github.com/greenplum-db/gpdb/blob/0b17968e808a34dacf7de0c65eb6a5989009385e/gpcontrib/gpcloud/src/s3interface.cpp#L286-L321

`IsTruncated` and `Marker` are already handled actually. What do the keys look like? I suppose `blah-1.csv.gz` is not the real name.

[2020-08-31 08:23] kwoot opened #10736 "Which one is the official production release?"
### Greenplum version or build
6.10

### OS version and uname -a
Ubuntu 18.04

### autoconf options used ( config.status --config )

### Installation information ( pg_config )

### Expected behavior
One clear package and package location

### Actual behavior
So, there is a release file on github called greenplum-db-6.10.1-ubuntu18.04-amd64.deb that installs in /usr/local/.
And there is one on laun

[2020-08-31 08:25] avkashin commented on #10563
Hi,
@adam8157 thank you for your answer.
`blah-<Num>.csv.gz` is the real name of keys. `<Num>` is from 1 to 1200. This bucket was created just for testing purposes. I attach http stream between GP and s3 server - [gpt3st_http_gp.txt](https://github.com/greenplum-db/gpdb/files/5149130/gpt3st_http_gp.txt)

If the name of the keys is matter, I can repeat the test with another names.

[2020-08-31 08:40] pf-qiu commented on #9941
Hi Heikki, indeed it's already fixed before 736898a.
Using bisect I figured out that this issue is fixed by d5be50d in https://github.com/greenplum-db/gpdb/pull/9929.
I will close this one.

[2020-08-31 08:40] #9941 closed

[2020-08-31 08:59] oSkrobuk commented on #10720
Some more examples. Errors:
[code]
Successfully:
[code]
`GROUP BY 1` does not the first column in the `SELECT`, but the first column in the table.

[2020-08-31 09:09] yulu1996 commented on #10724
### error analysis
1. Transaction 1 begin;
2 transaction 2 begin;
3 transaction 1: insert into T1 (rowexclusive lock is held on T1)
4. Transaction 2: insert into T1 (holding rowexclusive lock on T1) because rowexclusive and rowexclusive do not conflict, at this moment, they are at peace
5. Transaction 1: update T1 XXX (try to take exclusive lock on T1), and transaction 2 holds rowexclusive, confli

[2020-08-31 09:09] #10724 closed

[2020-08-31 10:57] hlinnaka commented on #6586
https://github.com/greenplum-db/gpdb/pull/10502 has been pushed to 6X_STABLE and master, fixing this.

[2020-08-31 10:57] #6586 closed

[2020-08-31 11:54] hlinnaka commented on #8676
Documentation was fixed in https://github.com/greenplum-db/gpdb/pull/8722. Closing.

[2020-08-31 11:55] hlinnaka commented on #9053
Per @d's analysis, this is working as expected. Closing.

[2020-08-31 11:55] #9053 closed

[2020-08-31 11:57] #9148 closed

[2020-08-31 13:41] hlinnaka commented on #9159
Backported to 6X_STABLE in commit ba8f2fe0b03447c33be600e3e4a38204a5ff19ec.

[2020-08-31 15:51] kmacoskey commented on #10736
Howdy @kwoot

They are both official, production releases. That is, Greenplum R&D is actively maintaining both.

There are historical reasons why the packages on launchpad default to `/opt` and everything else defaults to `/usr/local`. Changing these defaults is as disruptive to the package users as it is to R&D to have consensus on a default. Currently, we don't plan on making any changes until a

[2020-08-31 16:00] kwoot commented on #10736
Hi!

Thank you so much for replying!

I am evaluating GP for a client of mine.

I am trying to install gp from the github packages on a standard ubuntu 18.04 test system.
I am really stuck in installation:
I run "/usr/local/greenplum-db-6.10.1/bin/gpinitsystem  -a -c gpconfigs/gpinitsystem_config  -h hostfile_gpinitsystem"
and it always fails at: initdb: "en_US.utf8" is not a valid server encoding

[2020-08-31 17:18] asimrp commented on #8558
I agree @bradfordb-vmware, `make check` should work in Greenplum and we can use this issue to track it.  Interestingly, not all tests need complete demo-like cluster, just a single PostgreSQL instance and another instance as its mirror may suffice for some TAP tests.

[2020-08-31 17:42] bradfordb-vmware commented on #10696
The RPM package name was recently (GP 6.9.0 & GP 5.28.0) changed from `greenplum-db` to `greenplum-db-6` to help with users who wanted to update their Greenplum clusters from Greenplum 5.x to 6.x. (Note: The Greenplum 5.x packages were also renamed from `greenplum-db` to `greenplum-db-5`). Because of the package name change, `yum` would not see that the old and new packages were related, so we add

[2020-09-01 01:59] #10696 closed

[2020-09-01 06:14] weinan003 commented on #8989
another walkaround, we can use [perlbrew](https://perlbrew.pl/), to quickly switch perl by version

[2020-09-01 08:12] adam8157 commented on #10563
I was thinking it might be an encoding issue, probably not based on your latest info.

gpcloud has a test for this `ListBucketWithBucketWithMoreThan1000Keys`, I have no other ideas, will leave this issue to the maintaining team.

[2020-09-01 08:39] avkashin commented on #10563
@adam8157 thanks a lot!

[2020-09-02 13:10] hlinnaka commented on #9156
I believe https://github.com/greenplum-db/gpdb/pull/10759 will address this, too.

[2020-09-02 15:23] kainwen-zz opened #10760 "Dispatch will send the same Oid assignment multiple times if plan containing InitPlan"
### Greenplum version or build

Master, 6X, 5X all have this issue

### Reproduce Steps

[code]

### Root cause anslysis

CTAS will first define relation in QD, and generate the OIDs, and then dispatch with these OIDs to QEs.

QEs store these OIDs in a static variable and delete one after look up.

If CTAS's query contains initplan, when we invoke `preprocess_initplans` to dispatch initplans, thes

[2020-09-02 15:36] kainwen commented on #10720
Do not spend much time on this. It is a bug when creating two-stage agg plan. This part of code is re-wrote in master branch.

To work around:
1. try orca
2. under planner, force use one stage agg (might losing some perfmance under some condition):
    `set gp_eager_one_phase_agg = on;  set gp_eager_two_phase_agg = off;`

To fix this need more time to look into it.

[2020-09-02 17:08] oSkrobuk commented on #10720
1. Does not work with ORCA
2. It worked

Thank

[2020-09-02 17:20] oSkrobuk commented on #10720
How to set gp_eager_one_phase_agg to=on by gpconfig?
[code]

[2020-09-02 17:50] x4m commented on #10262
Documentation PR is merged. Probably, this issue can be closed?

[2020-09-02 17:57] #10262 closed

[2020-09-02 22:08] kmacoskey commented on #10736
Following up on this. The original issue has been answered. The second issue mentioned was resolved in the Open Source Greenplum Slack: https://greenplum.slack.com/archives/C7BA61BEU/p1598877405003000

[2020-09-02 22:08] #10736 closed

[2020-09-02 23:42] gaos1 commented on #10720
reopen this as only workaround works, but we need to check why two-stage agg error out.

[2020-09-03 08:35] dreamedcheng opened #10765 "Assert failure when init system"
### Greenplum version or build
6.7.1

### OS version and uname -a
centos 7

### Installation information ( pg_config )
./configure --with-perl --with-python --with-libxml --with-gssapi --enable-debug --enable-cassert  --prefix=/data/basedir_gpdb/

### Step to reproduce the behavior
make crate-demo-cluster

Program terminated with signal 11, Segmentation fault.
#0  0x0000000000f356b1 in gpos::CMemo

[2020-09-03 08:45] vkhashkovsky commented on #8558
There is some little fixes: https://github.com/greenplum-db/gpdb/pull/10722
https://github.com/greenplum-db/gpdb/pull/10721
Review needed

[2020-09-03 11:57] hlinnaka commented on #8401
I'm not sure when this was changed, but I'm now getting this plan on 6X_STABLE:
[code]
One of the HashAggregates seems superfluous, though. On 'master', this looks more normal:
[code]
In any case, you do get a Hash Aggregate now, so I'm closing this issue.

[2020-09-03 11:57] #8401 closed

[2020-09-03 12:13] hlinnaka commented on #8760
On master you get:
[code]
Which seems reasonable.

[2020-09-03 13:52] chrishajas commented on #10765
This looks identical to the issue fixed in https://github.com/greenplum-db/gpdb/commit/086a41c21eed219ed91ba3fc00ba3039b12600e4. Can you check whether you still see this issue in v6.10.0 or later?

[2020-09-03 15:15] #10597 closed

[2020-09-03 15:21] kmacoskey commented on #10597
@Daders The next maintenance release of Greenplum 5 was cut last night - 5.28.1. This includes the related commits.

[2020-09-04 14:56] arunmarathe commented on #10667
This is still an open issue. Can someone from the product team please take a look?

Thanks,
Arun

[2020-09-07 06:59] dreamedcheng commented on #10765
Thanks. I'll try it.

[2020-09-07 07:32] adam8157 commented on #8558
Postgres has a temporary install before check.

[code]

[2020-09-07 08:12] hidva commented on #10048
@pivotal-ning-yu

[2020-09-07 12:33] LittleWuCoding opened #10777 "confusing cloumn of view gp_toolkit.gp_stats_missing"
### Greenplum version or build
greenplum 6.4

View gp_toolkit.gp_stats_missing is likes below:
 smischema |              smitable               | smisize | smicols | smirecs
-----------+-------------------------------------+---------+---------+---------
 public    | test1                       | f       |       4 |       0
 public    | test2                       | f       |       8 |       8
 pub

[2020-09-07 17:32] #10454 closed

[2020-09-07 20:07] ashwinstar commented on #9581
Would be helpful to provide clarity on closure of this issue while closing.

[2020-09-08 01:54] zhangh43 commented on #10048
Hi @hidva
TCP interconnect do has port number issue. icproxy interconnect is used to fix this problem by introducing a proxy background worker for each postmaster. Remote traffic among segments will only go through proxy. Local traffic between backend and proxy is implemented by domain socket.

As for your proposal to use SO_REUSEPORT, in my understanding, SO_REUSEPORT's use case is to support mul

[2020-09-08 01:54] tangyibo opened #10779 "standby master node gone with exeption:the limit of 250 distributed transactions has been reached (cdbdtxrecovery.c:569)"
### Greenplum version or build
[code]
### OS version and uname -a

[code]
### Actual behavior

standby master node gone with exeption, log information is

[code]

I want to know how to avoid this exeption? Thanks!

[2020-09-08 02:03] paul-guo- commented on #10779
I think this was fixed in 0c57d9fc75c4a4498e3cbdeec5174dc22a5b216b, which was contained in 6.10.0 and above. Please upgrade and try again.

[2020-09-08 02:33] tangyibo commented on #10779
Thank you very much! I will do it now!

[2020-09-08 02:33] #10779 closed

[2020-09-08 02:34] #10710 closed

[2020-09-08 03:00] hidva commented on #10048
@zhangh43 Through SO_REUSEPORT, we can make **different connections use the same local port** as follow:

[code]

[code]

Suppose we have a query which has 4 slices and the query is running on a cluster which has 3 primary segments.

|  PrimarySegment1   | PrimarySegment2  | PrimarySegment3  | |
|  ----  | ----  | ----  | ----  |
| QE_slice3content1  | QE_slice3content2 | QE_slice3content3 | slice

[2020-09-08 03:58] zhangh43 commented on #10048
It sounds reasonable to me with the help of your explanation.
Would you like submit a patch and we could test the behavior and especially the performance impact of your proposal.

[2020-09-08 03:59] hidva commented on #10048
Ok, I will submit a PR today,

[2020-09-08 09:26] hidva commented on #10048
@zhangh43 PTAL https://github.com/greenplum-db/gpdb/pull/10782

[2020-09-08 10:05] gfphoenix78 commented on #10720
@oSkrobuk
[code]
The query doesn't raise an error, but it produces incorrect results. A simple example is:
[code]

[2020-09-08 11:09] oSkrobuk commented on #10720
@gfphoenix78
If the first column from the table is selected for comparison and 1 is indicated in the GROUP BY, then it works without error. But it is worth choosing another column in comparison, and leaving 1 in GROUP BY, then get an error.
[code]

[2020-09-08 13:12] asimrp commented on #10760
Good catch!

[2020-09-08 14:07] d commented on #9978
Hi @darthunix have you tried your query on master? I tried running your repro on master branch I can't seem to reproduce:

[code]

However, I somehow _am_ seeing something similar if I enable assertions, where ORCA would spin for a ridiculous amount of time. Here's a Linux perf capture of the time profile with `statement_timeout=16s`:

[perf-orca-bitmap-index.txt](https://github.com/greenplum-db/g

[2020-09-08 14:19] gfphoenix78 commented on #10720
Yes, `select a>=2, not a>=2 from bar group by 1;` does just accidentally not raise an error. The root causes are the same. `not b >= 2` is converted to `b<2` internally, that's the point.

[2020-09-08 14:25] kainwen commented on #9581
@d hi jesse, why close this？

[2020-09-08 14:46] d commented on #9581
Oh @kainwen I misinterpreted your comments above. I thought:

1. You have a conclusion about the situation (and I mistakenly took it as "this can be very fast, not a bug").
1. You're not working on changing it.
1. The OP hasn't responded in 7 months.

I'm reopening this

[2020-09-08 14:47] d commented on #9581
I edited the subject of the issue. Typically you don't call such a performance difference a "regression".

[2020-09-08 15:16] cobolbaby opened #10784 "Provide the 5.x rpm package in the release"
The RPM package for 6.x is currently available on github. Could provide the compiled package for 5.x?

[2020-09-08 22:31] sokolval opened #10787 "GPDB ignores memory RSGroup limits in some cases"
### Greenplum version or build
6.10.1
### OS version and uname -a
Ubuntu 16.04.2 LTS (Xenial Xerus)
Linux gp-master-01 4.19.62-13 #1 SMP Mon Jul 29 17:22:59 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
### autoconf options used ( config.status --config )
'--build=x86_64-linux-gnu' '--prefix=/usr' '--includedir=${prefix}/include' '--mandir=${prefix}/share/man' '--infodir=${prefix}/share/info' '--sysconf

[2020-09-09 00:29] hidva commented on #10048
Close this issue as discussed in #10782

[2020-09-09 00:29] #10048 closed

[2020-09-09 01:46] zellerh opened #10791 "Segment violation in 6X_STABLE for correlated subquery with join"
### Greenplum version or build

6X_STABLE development build

PostgreSQL 9.4.24 (Greenplum Database 6.10.1+dev.52.g6bbc25f870 build dev) on x86_64-apple-darwin18.7.0, compiled by Apple LLVM version 10.0.1 (clang-1001.0.46.4), 64-bit compiled on Sep  8 2020 16:57:18 (with assert checking)

### OS version and uname -a

MacOS Mojave
Darwin hzeller-a01.vmware.com 18.7.0 Darwin Kernel Version 18.7.0: Th

[2020-09-09 02:41] fangzheng commented on #10551
@adam8157 Sorry for late reply and thanks for confirmation. I will submit a PR soon.

[2020-09-09 04:54] magi345 opened #10794 "Result of pg_resgroup_get_status() cannot be saved to normal table"
## Greenplum version or build
6.10

## Step to reproduce the behavior
I can get a normal result when querying pg_resgroup_get_status()
[code]

Then I create a normal table with the same columns
[code]

Then I do an `INSERT INTO ... SELECT ...` to dump current ResGroup status to my table
[code]

After then, the content in ttt show empty values for `num_running, num_queueing, num_queued, num_execute

[2020-09-09 06:28] #9736 closed

[2020-09-09 15:06] hlinnaka commented on #10667
What is the error message from configure you're seeing? The same as before, i.e. `configure: error: *** A compiler with support for C++14 language features is required.` ? That message suggests that your compiler doesn't support C++14 features needed by GPDB. I'm not sure what exactly the requirements are. Do you have a C++ compiler installed at all? If you try to compile a test program with `g++

[2020-09-09 17:17] chrishajas commented on #10791
Also, on GPDB6 retail build, I don't get a crash but rather an illegal rescan error during execution:
[code]

[2020-09-09 17:20] arunmarathe commented on #10667
The error in the config.log file is this:
[code]

On the command line where I invoke "./configure", the error is this:

[code]

[2020-09-09 18:02] zellerh commented on #10791
Interesting, today I also get the rescan error. Not sure what caused the crash yesterday, on the same code (but I rebuilt and restarted the cluster in the meantime). The plan shows an outer reference below a materialize that would cause this illegal rescan error:

[code]

[2020-09-09 18:40] hlinnaka commented on #10667
That really shouldn't be necessary. Note that it is normal for `config.log` to contain error messages. `configure` tries probes compiler options by trying to use them in a test program. If the compiling the test program fails, it concludes that the option is not supported by the compiler. All the different things it tries are recorded in the log, some of which error out and some work.

So the key

[2020-09-09 19:42] arunmarathe commented on #10667
Thanks Heikki.
I have CentOS 7.8 release, and have libxml2 package. That release does not seem to have libxml package.

[code]

[2020-09-10 04:00] JunfengYang opened #10803 "ORCA generate plan with qual in RESULT node."
### Greenplum version or build
Master branch, with ORCA enabled.

### Step to reproduce the behavior

Enable auto-ANALYZE to skip `autostats`, and set `autovacuum_naptime` a large value to make the plan not changed.
[code]

[code]

Then run query:
[code]

Disable ORCA and run it again:
[code]

The plan form planner:
[code]

The plan from ORCA:
[code]
The reason is, there's limit node above the res

[2020-09-10 04:01] JunfengYang commented on #10803
@vraghavan78 could you help verify this? If it's the expected plan, then I can open a PR to fix the executor.

[2020-09-10 04:51] phan-pivotal commented on #10473
**Why the place storing "different primary and mirror file paths of the default tablespace", not suitable for storing 'different primary and mirror file paths of the user-defined tablespace"?**

Multiple mirrors - Good.
Initializing GPV6 with primary and mirror in different path -- Still work.
Primary doesn't store mirrors' default tablespace's filepath location -- Maybe good or not. But there are

[2020-09-10 16:03] dgkimura opened #10805 "Upgrade cluster with index marked invalid"
### Greenplum version or build
GPDB master

### Step to reproduce the behavior

Create a table with invalid marked index...

[code]

Then run upgrade script..

[code]

And it fails during upgrade...
[code]

As Heikki noted https://github.com/greenplum-db/gpdb/pull/10788#discussion_r485355489, this is a valid state.  And indeed, Postgres handles upgrading these objects just fine, however Greenplum

[2020-09-10 16:13] jchampio commented on #10805
@bhuvnesh2703 Is this related to [this conversation](https://github.com/greenplum-db/gpdb/pull/9843#discussion_r401928150)?

[2020-09-11 01:28] liuzhliang opened #10806 "segment down error double free or corruption"
Greenplum 6.10
segment in recovery mode  节点进入恢复模式 又自动恢复了  gpstate -m 检查节点全都正常 节点日志里有double free or corruption的错误如下
*** glibc detected *** postgres:  6005, htods huatai 172.17.6.253(22453) con56202 seg5 cmd2 MPPEXEC DELETE: double free or corruption (!prev):
0x0000000003c5d230 ***
",,,,,,,,"SysLoggerMain","syslogger.c",742,
2020-09-11 01:38:46.067194 CST,,,p9496,th1080219648,,,,0,,,seg5,,,,,"LOG","

[2020-09-11 02:21] weinan003 commented on #10645
Fix by a PR.
After this PR. I'm thinking about how to implement normal Agg with multi-DQA MPP query plan. For normal Aggs which without filter, we can assign one tuple from TupleSplit with the same AggExprId. But if normal Agg has a filter, we also need to push down the filter to TupleSplit, since if the filter is a subquery which may have a motion in it.

For instance
`SELECT DQA_1(expr1) filter

[2020-09-11 02:21] #10645 closed

[2020-09-11 05:07] paul-guo- commented on #10806
Do you have a repro case of the double free issue?

[2020-09-11 05:35] liuzhliang commented on #10806
目前数据库出现了两次了

[2020-09-14 01:23] wsh-sun opened #10811 "tpcds.sh error failed to acquire resources on one or more segments counld not connect to server"
### Greenplum version or build
9.4.24
### OS version and uname -a
centos 7.3.1611(core)

### Actual behavior
when i bash tpcds.sh to test the performance of gp，but always throw a error  on master node ‘failed to acquire resources on one or more segments counld not connect  to server ： connection timed out’，but！！！the server is health and not switch。（run different sql throw the same error）
### segme

[2020-09-14 02:39] guofengrichard opened #10813 "Crash when planning for sub-queries that have grouping sets"
### Greenplum version or build
6X

### Step to reproduce the behavior

[code]

[2020-09-14 02:43] guofengrichard commented on #10813
This repro query comes from upstream thread: https://www.postgresql.org/message-id/flat/16585-9d8c340d23ade8c1%40postgresql.org

This upstream thread exposes a wrong results issue of PostgreSQL, which has been fixed recently by Tom in commit 4d346def1555ea55b3adf76fc4afa3d3495ecfdd

[2020-09-14 02:57] guofengrichard opened #10814 "Crash when executing mk tuple sorting"
### Greenplum version or build
6X

### Step to reproduce the behavior

[code]

[2020-09-14 08:42] guofengrichard commented on #10813
I believe the culprit is how `rollup_subplans` is generated in function `plan_list_rollup_plans()`. For the first rollup, the rollup_subplan is retrieved from `root->simple_rel_array[i]->subplan`, which in this case is actually an `Append` plannode. Then later in function `rebuild_append_simple_rel_and_rte()`,  all the `rollup_subplans` are treated as SubqueryScan plannode . As a result, when this

[2020-09-14 12:22] asimrp opened #10815 "5X: assertion failure in dispatcher when QEs report an error with encoding other than UTF8"
### Greenplum version or build
Greenplum Database 5.28.1 with asserts enabled

### OS version and uname -a
MacOS Catalina 10.15.6, Darwin Kernel Version 19.6.0

### Expected behavior
The following query should report the user-specified error message
[code]
### Actual behavior
The query results in assertion failure in dispatcher:
[code]
Note that executing the `raise_error` function on QD alone, wi

[2020-09-15 07:00] guofengrichard commented on #10729
This issue has been fixed by PR #10759 . We can close it now.

[2020-09-15 08:14] hlinnaka commented on #10729
Thanks for checking. Closing

[2020-09-15 08:14] #10729 closed

[2020-09-15 18:56] oSkrobuk opened #10830 "Interconnect error when GROUP BY and FILTER"
### Greenplum version or build
PostgreSQL 9.4.24 (Greenplum Database 6.9.1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 5.4.0-6ubuntu1~16.04.12) 5.4.0 20160609, 64-bit compiled on Aug  5 2020 20:56:00

### OS version and uname -a
Linux hostname 4.19.62-13 #1 SMP Mon Jul 29 17:22:59 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

### Installation information ( pg_config )
BINDIR = /usr/local/gpdb/bin

[2020-09-16 10:58] hlinnaka commented on #10830
The repro isn't complete; tables 'foo' and 'bar' are missing:
[code]

[2020-09-16 13:01] asimrp commented on #10811
@wsh-sun Please provide detailed snippets from master as well as segment logs for us to be able to help solve your problem.

[2020-09-16 15:55] lambgong opened #10841 "planner crash when run group by cube on partition table and CTEs"
### Greenplum version or build
6.5

### OS version and uname -a
centos 7

### Step to reproduce the behavior

create a partition table as follow:
[code]

run sql as follow:

[code]

Planner will crash。
And it will crash only with CTEs，if you change it to subquery, it run ok.

[2020-09-16 22:54] luowencai opened #10848 "external table revert to old version after vacuum full on catalog"
### Greenplum version or build
select version();
                                                                                               version

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------
 PostgreSQL 9.4.24 (Greenplum Database 6.7.1 bu

[2020-09-17 02:58] asimrp commented on #5010
@baobao0206 do you have a way to reproduce this problem?  Can we try it again on 6X and master to see if it is already fixed?

[2020-09-17 03:44] JunfengYang commented on #10841
Can you provide `explain` plan for the CTE query? Any logs? Or core dumps if any.

[2020-09-17 05:35] asimrp commented on #5253
This issue still exists on master.

[2020-09-17 05:41] asimrp opened #10851 "Motion nodes and loci should not be assigned in utility mode"
### Greenplum version or build
master as of 992cc6f8e83, did not test on 6X.

### Expected behavior
In a psql session connected in utility mode to a segment postmaster, queries such as `select * from pg_stat_user_tables;` should not cause assertion failure or crash when being planned.
### Actual behavior
[code]
### Step to reproduce the behavior
[code]
Stack trace from the core:
[code]

[2020-09-17 07:24] lambgong commented on #10841
core dump info as follow:

(gdb) bt
#0  0x00007f8f699ee4ab in raise () from /lib64/libpthread.so.0
#1  0x00000000009daec6 in StandardHandlerForSigillSigsegvSigbus_OnMainThread ()
#2  <signal handler called>
#3  0x0000000000a8331c in shareinput_walker.part.14 ()
#4  0x0000000000a83376 in shareinput_walker.part.14 ()
#5  0x0000000000a83517 in shareinput_walker.part.14 ()
#6  0x0000000000a83517 in sh

[2020-09-17 07:37] lambgong commented on #10841
core dump info as follow:

[code]

[2020-09-17 07:48] JunfengYang commented on #10841
Thanks, @lambgong , I can reproduce it easily. Will look into it.

[2020-09-17 12:14] LittleWuCoding commented on #10715
Maybe  [this](https://github.com/greenplum-db/pljava/commit/7646dc622a848f9f7f193dee2b5319695aa1aa6f#r42388507)  is the root cause of it.
@wuj21

[2020-09-18 02:29] JunfengYang commented on #10841
I believe this is the same issue as https://github.com/greenplum-db/gpdb/issues/10813.
In function `rebuild_append_simple_rel_and_rte`:
https://github.com/greenplum-db/gpdb/blob/f0973bf0980a230229a452e463ec4a853990235a/src/backend/optimizer/plan/plangroupext.c#L2314-L2326

The `splan` here are hard code to `SubqueryScan` but actually it is a `Append`.
[code]

[2020-09-21 01:39] liuzhliang opened #10855 "PANIC","XX000","Register file to a non-active workfile_set/per-query summary is illegal (workfi le_mgr.c:239"
greenplum 6.11.1

master log
  "ERROR","58M01","Error on receive from seg34 172.17.5.61:6004 pid=10700: server closed the connection unexp
ectedly
        This probably means the server terminated abnormally
        before or while processing the request.",,,,,"SQL statement ""
segment log
PANIC","XX000","Register file to a non-active workfile_set/per-query summary is illegal (workfi
le_mgr.c:239

[2020-09-21 02:02] JunfengYang commented on #10855
Hi, thanks for the report! Can you provide the core dump? Or the reproduce steps for the issue?
You can find stack trace from logs, it also helps.

[2020-09-21 02:23] liuzhliang commented on #10855
1    0xbe9d7c postgres errstart + 0x26c
2    0xc5e137 postgres RegisterFileWithSet + 0x147
3    0xa552d8 postgres BufFileCreateTempInSet + 0xa8
4    0x8de4ff postgres ExecHashJoin + 0xc3f
5    0x8bc7f8 postgres ExecProcNode + 0x318
6    0x8eae00 postgres ExecSort + 0x1e0
7    0x8bc7d8 postgres ExecProcNode + 0x2f8
8    0x8e152b postgres ExecMaterial + 0xcb
9    0x8bc7e8 postgres ExecProcNode + 0x3

[2020-09-21 02:24] liuzhliang commented on #10855
1    0xbe9d7c postgres errstart (elog.c:557)
2    0xc5e137 postgres RegisterFileWithSet (workfile_mgr.c:238)
3    0xa552d8 postgres BufFileCreateTempInSet (buffile.c:213)
4    0x8de4ff postgres ExecHashJoin (nodeHashjoin.c:1114)
5    0x8bc7f8 postgres ExecProcNode (execProcnode.c:1078)
6    0x8eae00 postgres ExecSort (tuptable.h:159)
7    0x8bc7d8 postgres ExecProcNode (execProcnode.c:1089)
8    0

[2020-09-21 02:27] JunfengYang commented on #10855
Is it possible to upload the core dump?
What's the query you are running?

[2020-09-21 02:30] liuzhliang commented on #10855
core文件没有生成
系统日志里 有
Sep 21 05:57:24 sdw2-1 abrtd: Directory 'ccpp-2020-09-21-05:57:10-18813' creation detected
Sep 21 05:57:24 sdw2-1 abrtd: Package 'greenplum-db-6' isn't signed with proper key
Sep 21 05:57:24 sdw2-1 abrtd: 'post-create' on '/var/spool/abrt/ccpp-2020-09-21-05:57:10-18813' exited with 1
Sep 21 05:57:24 sdw2-1 abrtd: Deleting problem directory '/var/spool/abrt/ccpp-2020-09-21-05:57:

[2020-09-21 15:13] oSkrobuk commented on #10830
@hlinnaka I'm sorry I didn't answer for a long time. It was difficult to prepare data for this error. Download csv archive by link https://drive.google.com/file/d/1muw-11QCmBCDR_6V1BK2v7nQtx3yNtas/view?usp=sharing

Extract: `tar -xzvf foo.tar.gz -C /tmp`

[code]

[2020-09-22 08:20] bzhaoopenstack opened #10867 "Should we still want the cost figures displayed in Query plan of regression test?"
### Greenplum version or build
Master branch
ARCH:  aarch64

### OS version and uname -a
ubuntu 1804

Hi, I'm the "zuul regression ARM test" maintainer on Openlab.
We found there are several days that the master build had failed with the same issue.
Please see:
https://logs.openlabtesting.org/logs/periodic-12/github.com/greenplum-db/gpdb/master/gpdb-installcheck-world-tests-on-arm64/c88a6d8/test_r

[2020-09-22 08:24] bzhaoopenstack commented on #10867
@hlinnaka Hi, Heikki, could you please take a look about this? Thanks.

[2020-09-22 09:11] hlinnaka commented on #10867
Yeah. And usually the cost differences are masked out by gpdiff, so that they don't cause a test failure. This looks like a similar case to that fixed in 0a94dcfbb9b3b9dd08c239047cad53ca60a25939.

[2020-09-22 09:12] hlinnaka commented on #10867
`costs off` is indeed another way of fixing that. Most GPDB tests don't use it because most tests were written before `costs off` option was invented.

[2020-09-22 12:04] hlinnaka commented on #10830
Thanks, I can reproduce it now! The backtrace looks like this:
[code]

This seems kind of similar to the case in https://github.com/greenplum-db/gpdb/pull/10308. Not sure if its exactly the same bug, but maybe related? @soumyadeep2007

[2020-09-22 12:51] oSkrobuk commented on #10830
Important. The error appears if use the function `avg`. There are no errors for the functions `min`, `max`, `count`.

[2020-09-22 16:03] Grigoriev-S opened #10868 "The wrong version is displayed."
Hello.

I compiled and installed Greenplum from 6.11.0-src-full.tar.gz
But version:
gpstate --version
gpstate version **6.0.0 beta.1 build dev**

Why?

[2020-09-22 22:27] d commented on #10435
While working on the intermittent `brin` regress test failure we tripped over this again. `minirepro` is still pretty botched on master (as of commit 2f7dd76cadee68dc).

For context, I got a row in `pg_statistic` that looks like this:

[code]

And minirepro produced the following (incorrect) snippet:

[code]

[2020-09-22 23:21] ashwinstar commented on #10435
We (@asubramanya and I) had fixed things something similar for gpsd just for reference.

[2020-09-23 02:38] bzhaoopenstack commented on #10867
Oh, I see there is a very big commit. And can not repro this issue on master branch anymore.

[2020-09-23 03:49] bzhaoopenstack commented on #10867
https://logs.openlabtesting.org/logs/a8/a8eb84a23a48be871db517b9bd7b503664955ee2/periodic-12/gpdb-installcheck-world-tests-on-arm64/f0b03d5/test_results/

[2020-09-23 04:21] fangzheng opened #10874 "Replace palloc0() with palloc() in buildGpQueryString()"
### Greenplum version or build
master, 6X_STABLE

The `buildGpQueryString()` function in cdbdisp_query.c calls `palloc0()` to allocate a memory buffer for holding the serialized query string to be dispatched to QEs

https://github.com/greenplum-db/gpdb/blob/master/src/backend/cdb/dispatcher/cdbdisp_query.c#L913

Since this buffer would then be filled in full by the serialized query string, it woul

[2020-09-23 05:40] adam8157 commented on #4105
Fixed by #10261

[2020-09-23 05:40] #4105 closed

[2020-09-23 05:45] #3489 closed

[2020-09-23 05:48] adam8157 commented on #3507
The case is in the master branch now (thanks to the merge project), and it's OK. Close this.

[2020-09-23 05:48] #3507 closed

[2020-09-23 05:57] adam8157 commented on #3732
After the 12 merge, `tables declared WITH OIDS are not supported`. Close this.

[2020-09-23 05:57] #3732 closed

[2020-09-23 07:23] gfphoenix78 opened #10878 "Wrong result with expressions as the group keys"
### Greenplum version or build
6X

This issue is similar to https://github.com/greenplum-db/gpdb/issues/10720, but not the same.
### Expected behavior
gpadmin=# select j >= 0, not j >= 0 from multiagg_expr_group_tbl group by j >= 10, j >= 0;
 ?column? | ?column?
----------+----------
 f        | t
 t        | f
(2 rows)
### Actual behavior
gpadmin=# select j >= 0, not j >= 0 from multiagg_expr_gro

[2020-09-23 07:32] adam8157 commented on #2647
Tested, it's fixed by 12 merge, close this

[2020-09-23 07:32] #2647 closed

[2020-09-23 07:35] adam8157 commented on #2648
Tested, it's fixed by 12 merge, close this.

[2020-09-23 07:35] #2648 closed

[2020-09-23 07:38] adam8157 commented on #3598
Tested, it's fixed by 12 merge, close this.

[2020-09-23 07:38] #3598 closed

[2020-09-23 07:40] adam8157 commented on #5003
After the 12 merge, it fails at the `pg_dump` step:
`pg_dump: error: invalid number of parents 0 for table "m_partition_1_prt_may17_2_prt_eur"`

[2020-09-23 07:43] adam8157 commented on #6455
Tested, it's fixed by 12 merge, close this.

[2020-09-23 07:43] #6455 closed

[2020-09-23 07:47] gfphoenix78 commented on #10878
The result in the upstream is correct, it uses one-phase aggregate.
[code]

[2020-09-23 08:11] #6174 closed

[2020-09-23 08:19] adam8157 commented on #6584
gpperfmon was removed from Greenplum, close this. Feel free to reopen if you decide to fix it on, like 5X, one day.

[2020-09-23 08:19] #6584 closed

[2020-09-23 08:22] adam8157 commented on #5352
Could not reproduce, close it. Feel free to reopen if someone hits it again, thanks.

[2020-09-23 08:22] #5352 closed

[2020-09-23 08:30] adam8157 commented on #5142
[code]

[2020-09-23 08:30] #5142 closed

[2020-09-23 10:14] asimrp commented on #3732
Shouldn't this be fixed in 6X and 5X, @adam8157 ?

[2020-09-23 11:54] jeusdi opened #10882 "Greenplum on kubernetes: template1 not found"
I've deployed a slightly greenplum cluster using operator `v2.2.0` on kubernetes `18+`.

Everything seems to be up and running:

    $ kubectl get pods:
    NAME                                  READY   STATUS    RESTARTS   AGE
    greenplum-operator-588d8fcfd8-nmgjp   1/1     Running   0          40m
    svclb-greenplum-krdtd                 1/1     Running   0          39m
    svclb-greenplum-k2

[2020-09-23 12:59] J-ang-Xu commented on #10882
我也正遇到了这个问题，也是卡在Completed restart of Greenplum instance in production mode 这行日志，请问有什么解决方法吗？

[2020-09-23 13:35] jeusdi commented on #10882
I don't quite understand your chinese characters.

Nevertheless, I figure out you are suggesting me that greenplum is running correctly besides of `not reaching template1 db`?

However,  why is cluster in `pending phase`?:

    $ kubectl get greenplumclusters.greenplum.pivotal.io
    NAME           STATUS    AGE
    my-greenplum   Pending   20m

[2020-09-23 14:06] asimrp commented on #10882
@tvesely @kaknikhil any ideas?

[2020-09-23 15:36] ozbasarir commented on #10882
@jeusdi I see `storageClassName: local-path` in your manifest. Do you have `local-path` as a storage class? You can check by running `k get sc`. If you do have that storage class, that means you do not want dynamic volume provisioning and rather you prefer to statically provision your volumes. In that case, you will need to create your persistent volumes yourself. Here is some info: https://greenp

[2020-09-23 15:46] ozbasarir commented on #10882
@jeusdi Can you share a bit more info on how you provisioned your volumes? Looks like you created them manually. Are you able to read/write with these volumes? Are they xfs?

[2020-09-23 18:58] fangzheng opened #10886 "Improve efficiency of SerializeResGroupInfo()"
### Greenplum version or build
master, 6X_STABLE

When QD calls `buildGpQueryString()` to serialize a query string for dispatch, it executes the following code to serialize resource group information (see https://github.com/greenplum-db/gpdb/blob/master/src/backend/cdb/dispatcher/cdbdisp_query.c#L890):

[code]

The code above is inefficient because:
1) `initStringInfo()` allocates 1024 Bytes of me

[2020-09-23 19:00] fangzheng opened #10887 "Do not dispatch original query string to QE when log_statement is set to LOGSTMT_NONE"
### Greenplum version or build
master, 6X_STABLE

When QD calls `buildGpQueryString()` to serialize a query for dispatch and `quertree` or `plantree` is set, the original query string is not important for QEs, and QD would include a truncated version of it in the serialized query. QEs only use the query string to print log messages. (see https://github.com/greenplum-db/gpdb/blob/master/src/backend

[2020-09-23 19:17] fangzheng opened #10888 "Avoid repetitively constructing a QE's SegmentDatabaseDescriptor.whoami string"
### Greenplum version or build
master, 6X_STABLE

In the common case, a QD reuses QEs across queries, and it does so by caching and reusing `SegmentDatabaseDescriptors`. For logging purpose, each `SegmentDatabaseDescriptor` has a string field `whoami`.

One issue with `SegmentDatabaseDescriptor.whoami` is that this string is repetitively constructed during a single query execution, even if its con

[2020-09-23 21:09] fangzheng opened #10889 "Reduce logging overhead in cdbtm.c"
### Greenplum version or build
master, 6X_STABLE

Various functions in `cdbtm.c` print logs at `DTM_DEBUG5` level. When `log_min_messages` is set to a level higher than `DTM_DEBUG5`, we would expect those `elog()` statements to incur no cost. However, they still pay the cost of evaluating all the parameters.

For example, the `elog()` statement at the end of `setupRegularDtxContext()` would result

[2020-09-24 02:02] adam8157 commented on #7938
Trigger is not partially supported, it's not supported at all. It just partially works.

Leaving this opened forever doesn't make sense, gonna close it.

[2020-09-24 02:02] #7938 closed

[2020-09-24 03:37] yew011 opened #10895 ""CREATE TABLE AS" generate "ERROR: duplicate DISTRIBUTED BY column 'id'.""
### Greenplum version or build

**5.28.1**

### OS version and uname -a

**CentOS Linux release 7.7.1908 (Core)**

### Expected behavior

The following command correctly create the final table
[code]

### Actual behavior

[code]

### Step to reproduce the behavior

[code]

[2020-09-24 03:49] kainwen commented on #10895
Tested, it still exists in master branch.

[2020-09-24 06:18] #4028 closed

[2020-09-24 06:57] jeusdi commented on #10882
My k8s cluster an k3s. I build it using:

 1. `docker container run -d --name registry.localhost --restart always -p 5000:5000 registry:2`
 2. `k3d cluster create --agents 3 --k3s-server-arg --disable=traefik --volume /home/jeusdi/.k3d/registries.yaml:/etc/rancher/k3s/registries.yaml`
 3. `docker network connect k3d-k3s-default registry.localhost`
 4. Follow [greenplum operator instruccions](https

[2020-09-24 07:13] adam8157 commented on #8469
The limit comes from PostgreSQL, and I don't see a plan extending it, from PG or GP. Close this.

[2020-09-24 07:13] #8469 closed

[2020-09-25 01:37] xiong-gang commented on #10889
Good point, I think it also worth doing some refactoring to align the `(Debug_print_full_dtm ? LOG : DEBUG5)` and `DTM_DEBUG5` as well, and the `ereportif`.
@fangzheng thanks for reporting it, feel free to open a pull request if you want to work on this.

[2020-09-25 01:59] xiong-gang commented on #10886
nice catch, thanks.

[2020-09-25 02:00] xiong-gang commented on #10874
yes, nice catch

[2020-09-25 02:08] xiong-gang commented on #10888
Yes, I think we should optimize this after we refactor the gang recycles. But I am not sure the slice id of the SegmentDatabaseDescriptor is the same across queries, is it?

[2020-09-25 02:27] adam8157 commented on #10176
Since it works now and it was probably a network configuration issue, close this.

[2020-09-25 02:27] #10176 closed

[2020-09-25 02:30] adam8157 commented on #10520
@liuzhliang Could you please give a reproducer? The tables' DDLs and queries to trigger this issue in a clean database.

Thanks.

[2020-09-25 02:33] adam8157 commented on #10664
It was supposed to be fixed at Greenplum 6.9, close this.

Feel free to reopen if someone reproduces it with the latest 6X version or master.

[2020-09-25 02:33] #10664 closed

[2020-09-25 02:37] xiong-gang commented on #10887
nice catch, thanks.

[2020-09-25 02:39] fangzheng commented on #10888
@xiong-gang
Thanks for the feedback.
From the current code logic of cdbconn_setQEIdentifier(), as long as the sliceIndex parameter is 0 or negative, the resulting whoami string would be in the form of "seg0 127.0.0.1:6002 pid=73406". This means if we cache  "seg0 127.0.0.1:6002 pid=73406" somewhere (such as the one in PR), then whenever sliceIndex parameter is 0 or negative, we can re-use the cach

[2020-09-25 02:43] fangzheng commented on #10889
@xiong-gang
Sure, it would be my pleasure. @ashwinstar suggested to port the new implementation of elog() from upstream PG. If that's the final decision, maybe I should revert the current change in PR and work on refactoring other logging code as you mentioned. Just let me know how you guys want to proceed. Thanks.

[2020-09-25 07:30] wangcarven opened #10902 "bgworker sweeper crash for Floating point Exception"
### Greenplum version 6.0.0

### OS version CentOS Linux release 7.6.1810

### autoconf options used ( config.status --config )

### Installation information ( pg_config )

### Nothing happen

### 6 of 12 segments primary crashed for bgworker sweeper crashed for Floating point Exception

### Dont know what caused , I got crash info from linux message file

traps: postgres[170678] trap divide error

[2020-09-25 08:27] hlinnaka commented on #10902
Which version exactly are you running? A few issues like this have been fixed in the past, see https://github.com/greenplum-db/gpdb/pull/9298 and https://github.com/greenplum-db/gpdb/issues/10381.

[2020-09-25 12:23] jsanko9 commented on #8469
Hello Adam,
I of course understand that underlying storage for GreenPlum is based on Postgresql. However what I'm asking here is to allow bypassing this limit for **external tables**. This are for example stored in Parquet format or CSV which are not impacted by this limit.
So far it looks to me that select queries are only artificially limited as as its usually pointless to create such huge datas

[2020-09-25 12:26] kainwen commented on #8469
Hi @jsanko9

Can you describe a bit more of the computation model of your ML related jobs? Maybe we can come up with other methods to overcome it (like array type).

[2020-09-25 13:45] jsanko9 commented on #8469
Hello @kainwen ,

We have base all data provided in GP trough ETLs, this is serving as Data warehouse and single point of truth.
On top this basic datasets we create logic based on ML models requirements, we clean data input, we create time based aggregations, impute missing values , etc. At the end we are left with a number of wide tables, usually separated by data domain.

Now, in next step we w

[2020-09-26 11:27] xiong-gang commented on #10888
yes, I think we can do that, thanks.

[2020-09-28 02:45] adam8157 commented on #10794
reopen to track the 6X fix

[2020-09-28 06:18] adam8157 commented on #10848
I failed to reproduce this issue. Could you please provide a reproducer from the very beginning on a clean database?

[2020-09-28 06:26] wangcarven commented on #10902
My Version is 6.0.0 and #9298 seems something like but not the same.  I got Floating point Exception instead of internal error, I got sinal 8 in database log file instead of Internal Error report in log file.  the position of code file is line 885 but #9298 not. maybe there is some bugs in deep.

[2020-09-28 06:41] hlinnaka commented on #10902
Ok. Definitely try upgrading to the latest 6.X version first. If the problem doesn't go away with the upgrade, then we need to dig deeper.

[2020-09-28 07:16] goopand commented on #8180
@magi345 It doesn't look like an issue. Just reconfigure the source code without option '--enable-cassert' and it should work. Have a try.

[2020-09-28 07:19] goopand commented on #7810
It doesn't look like an issue. Just reconfigure the source code without option '--enable-cassert' and it should work. Btw, '--enable-cassert' is not recommended in production environment.

[2020-09-28 07:29] #9953 closed

[2020-09-28 07:42] hlinnaka commented on #9953
@zhangh43, why closed?

[2020-09-28 07:46] hlinnaka commented on #9953
Ah, this was fixed in https://github.com/greenplum-db/gpdb/pull/10156. Gotcha

[2020-09-28 08:46] rrjanbiah opened #10909 "Hasura support or compatibility"
FWIW, already posted to Hasura https://github.com/hasura/graphql-engine/issues/4307 and https://github.com/MaterializeInc/materialize/issues/3496

Not sure who has to implement. But, seems to have great potential as Hasura on plain PostgreSQL is not suitable for all cases.

[2020-09-28 11:36] asimrp opened #10912 "[feature] Commit sequence numbers for distributed transactions"
This feature request originated from Ashwin's comment here: https://github.com/greenplum-db/gpdb/pull/10177#issuecomment-645690791. It seemed worth tracking as an issue.

The basic idea is to eliminate distributed in-progress array and determine tuple visibility by comparing the tuple's CSN with snapshot's CSN.  CSN is a monotonically increasing 64-bit integer.  Tuples continue to record local tra

[2020-09-28 11:44] asimrp commented on #8180
@goopand Turning off assertions is not the right way to address assertion failures :-). Did you get a chance to try the attached repro against Greenplum 6X?

[2020-09-29 05:56] hlinnaka opened #10915 "Leftover merge conflicts"
As @ggbq noted at https://github.com/greenplum-db/gpdb/pull/10883#issuecomment-698284970, there are a bunch of merge conflicts left in the tree after the v12 merge:
[code]

[2020-09-29 07:18] pirchao commented on #10882
I want to ask a tough question (for me), as you can see, I set up the k8s cluster and tried to deploy greenplum-operator on it:
[code]

But this application has always been in ImagePullBackOff state:
[code]

Here are the details of the query：
[code]
The problem shows that the image "10.229.74.141:5000/greenplum-operator:v2.0.0" cannot be pulled.

It is found that gpcc133 does not pull automaticall

[2020-09-29 07:26] pirchao opened #10916 "kubernetes&GP: greenplum-operator installation failed"
### Greenplum version or build
greenplum-for-kubernetes:v2.0.0
### OS version and uname -a
Linux gpcc141 3.10.0-862.el7.x86_64 #1 SMP Wed Mar 21 18:14:51 EDT 2018 x86_64 x86_64 x86_64 GNU/Linux

I want to ask a tough question (for me), as you can see, I set up the k8s cluster and tried to deploy greenplum-operator on it:
[code]

But this application has always been in ImagePullBackOff state:
[code

[2020-09-29 09:13] jeusdi commented on #10882
Please could you create a issue please?

[2020-09-29 10:38] jeusdi commented on #10882
Any suggestion?

[2020-09-29 11:24] asimrp commented on #7810
I tried with asserts enabled and insert as well select worked fine with the string ''你好世界xE9xA2'.

[2020-09-29 13:32] leskin-in opened #10918 "debug_query_string not set for utility statements; leads to NULL pointer dereference"
### Greenplum version or build
* 6.10.1-97 [c507eed7](https://github.com/greenplum-db/gpdb/tree/c507eed7acaf140f5a8911d19e2b19944e62376a)

The issue may affect current GPDB 7 [288cff82](https://github.com/greenplum-db/gpdb/tree/288cff821a9240ea3bb8efdd3d2afd3d2eaad60d).

### OS version and uname -a
* Ubuntu 18.04 `5.4.0-47-generic #51~18.04.1-Ubuntu SMP Sat Sep 5 14:35:50 UTC 2020 x86_64 x86_64 x8

[2020-09-30 01:13] JunfengYang commented on #10855
Fix the issue with commit 5b147fbe05efb2275f54fe0cfd63a239389f83be on master and c507eed7acaf140f5a8911d19e2b19944e62376a on 6X branch.
So close it.

[2020-09-30 01:13] #10855 closed

[2020-09-30 02:49] asimrp commented on #10889
Thank you @fangzheng, we should merge the changes in PR #10894 into 6X_STABLE instead of master and consider elog related improvements for master branch only, as they seem to be more intrusive.  If you want, please incorporate suggestion from @xiong-gang into the same PR and I will take care of pushing the changes to 6X.

[2020-09-30 03:01] fangzheng commented on #10889
Hi Asim,
Sure. Will do as you suggested. Thanks.

[2020-09-30 03:40] asimrp commented on #8469
Hey @jsanko9 I acknowledge the problems you've mentioned with using arrays.  Let me share a way to do it in SQL anyway, that I learned from coworkers: http://madlib.apache.org/docs/latest/group__grp__cols2vec.html and http://madlib.apache.org/docs/latest/group__grp__vec2cols.html

[2020-09-30 09:43] leskin-in commented on #10918
Extra research of the problem shows the following.

DataGrip uses [extended query protocol](https://www.postgresql.org/docs/9.4/protocol-flow.html#PROTOCOL-FLOW-EXT-QUERY). An error happens at `Sync` message, as clear from a stacktrace above:
[code]

It turns out `debug_query_string` is not set for this kind of message.

`debug_query_string`, according to its [description](https://github.com/green

[2020-09-30 13:21] hlinnaka commented on #10918
I think the most straightforward fix would be to change buildGpQueryString() to not segfault if `strCommand` is NULL. Treat it the same an empty string.

[2020-09-30 15:56] l-wang opened #10925 "Incorrect result with ROLLUP and GROUPING SETS with nested parenthesis"
### Greenplum version or build
6X_STABLE, 5X_STABLE

### Step to reproduce the behavior
[code]
Incorrect result with both optimizer = off and optimizer = on. (When optimizer = on, it falls back to planner)
[code]
Correct result on Postgres and Greenplum master:
[code]
The correct result treats the parenthesis that is immediately inside ROLLUP() as a single group, which is `(b, (c, d))` in this exa

[2020-10-01 03:48] flashk1021 opened #10930 "CreateDistributedSnapshot passes invalid globalXminDistributedSnapshots to QE"
### Greenplum version or build
GP  7.0
### OS version and uname -a
Darwin US-185278-MP.local 18.6.0 Darwin Kernel Version 18.6.0: Thu Apr 25 23:16:27 PDT 2019; root:xnu-4903.261.4~2/RELEASE_X86_64 x86_64
### autoconf options used ( config.status --config )

### Installation information ( pg_config )

### Expected behavior
isolation2/uao_crash_compaction_column

-- This VACUUM removes the previous

[2020-10-01 06:26] asimrp opened #10931 "Is the parameter passing logic from QD to QE in need of refactor?"
### Greenplum version or build
6X (not master).

The PR #10773 fixed a crash in parameter passing logic from QD to QE.  The discussion on that PR indicates more investigation in that area of code.  Let's track it in this issue.  If a more experienced set of eyes determine the code to be alright, this issue can be closed.

[2020-10-01 16:28] ra3orblade opened #10933 "Master error after vacuum"
### Greenplum version or build

PostgreSQL 9.4.24 (Greenplum Database 6.7.1+dev.80.g6fbca67 build dev) on x86_64-unknown-linux-gnu, compiled by gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-36), 64-bit compiled on May 30 2020 13:59:40

### OS version and uname -a

Centos 3.10.0-693.17.1.el7.x86_64

### autoconf options used ( config.status --config )

### Installation information ( pg_config )

### Expe

[2020-10-02 02:46] jsanko9 commented on #8469
Thank you for suggestion @asimrp, this would work out quite nicely if we would be staying in GP or using MADlib ecosystem.

I'm really not trying to be difficult and if this change is too complex to implement, I will understand.

Once again, we are larger team that isn't using single approach in all cases, and at the end having "ready to use" dataset in hdfs would save us tons of effort.

@adam815

[2020-10-02 13:54] ozbasarir commented on #10882
Yes, please open a support ticket. Note that GP4K doesn't have support for Rancher k3d, so it may not be possible to replicate the issue, but we may be able to provide suggestions.

[2020-10-04 03:19] d opened #10941 "GPSD is busted after Postgres 12 merge"
### Greenplum version or build
7.0 alpha (master branch commit 61c386632335ce7e as of writing)

### Expected behavior
GPSD dumps the DDL and stats, which can then be restored.

### Actual behavior
[code]
### Step to reproduce the behavior
[code]

[2020-10-05 01:25] ashwinstar commented on #10941
I think this might be due to python3 changes and not PostgreSQL 12 merge. Components like this and minirepro which don’t have tests in CI will keep getting broken this way.

[2020-10-05 05:59] hlinnaka commented on #10930
@xiong-gang, can you take a look at this, please?

[2020-10-05 06:05] hlinnaka commented on #10941
I wish we had a more robust way of dumping and restoring statistics. The `INSERT INTO pg_statistic` statements that gpsd constructs might not work across versions if the pg_statistic changes. I'm thinking of dumping them in a json file or something, and having a SQL-callable function to load the json file back in. A json file would be easier to also edit by hand if necessary.

gpsd also needs to b

[2020-10-05 07:45] asimrp commented on #10933
@ra3orblade more details about the crash (before any modifications to relfrozenxid) will be needed to analyze your problem.  Can you share stack trace from master / segment logs that was emitted during the crash?  Did the crash result in a core dump?  Do you know anything about this other process that was concurrently running with the `vacuum full` process?

[2020-10-05 08:54] ra3orblade commented on #10933
We have found out later that day that this issue was fixed in:

https://gpdb.docs.pivotal.io/6-11/relnotes/gpdb-611-release-notes.html
30877 - VACUUM
In some cases, running VACUUM returns ERROR: found xmin <xid> from before relfrozenxid <frozen_xid>. The error was caused when a previously run VACUUM FULL was interrupted and aborted on a query executor (QE) and corrupted catalog frozen XID informat

[2020-10-05 11:22] asimrp opened #10942 "Misleading error message when distribution key column is concurrently updated"
### Greenplum version or build
master (7) after PR #10919 is merged
### Expected behavior
When two DML statements that update distribution key columns run concurrently, e.g.
[code]
one of them is expected to fail.  However, the error message displayed makes no sense.  A more meaningful error is needed.
### Actual behavior
The concurrent update fails with the following error message:
[code]

### St

[2020-10-05 11:23] asimrp commented on #10942
FYI, @kainwen

[2020-10-05 11:24] asimrp commented on #10933
Thank you for the update.

[2020-10-05 11:24] #10933 closed

[2020-10-05 13:04] kainwen commented on #8919
Fixed on master by: https://github.com/greenplum-db/gpdb/pull/10919
on 6X by: https://github.com/greenplum-db/gpdb/pull/9939

[2020-10-05 13:04] #8919 closed

[2020-10-05 17:59] l-wang commented on #7949
I came across the same problem with perl v5.30.0 on Ubuntu 20.04.
[code]
[code]
I worked around this by switching to an older version of perl (v5.22.4) using `perlbrew` and also removed the `--with-perl` configure option.

[2020-10-06 12:24] leskin-in opened #10946 "5X: could not fsync segment N of relation N/N/N: No such file or directory"
### Greenplum version or build
[5.26](https://github.com/greenplum-db/gpdb/releases/tag/5.26.0)

### OS version and uname -a
Red Hat Enterprise Linux Server release 7.6 (Maipo)

`Linux ... 3.10.0-957.el7.x86_64 #1 SMP Thu Oct 4 20:48:51 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`

### Installation information
`pg_config`
[code]

The build is without asserts and debug information.

### Actual behaviou

[2020-10-06 18:33] d opened #10947 "`CREATE TABLE` with 2048 partitions racks up 8 GB of memory on QD"
### Greenplum version or build
7.0 Alpha (master branch commit 1681ae162dcdf9e4 as of writing)

### autoconf options used ( config.status --config )
[code]
### Installation information ( pg_config )

### Expected behavior
To be fair, I don't know what to expect. I understand the cost of keeping all the information to facilitate an `ABORT` later on is reasonable, but we might want to explicitly ack

[2020-10-06 20:53] kalensk commented on #197
We are getting quite a number of test failures on centos7 in our CI from this issue recently (although I think this is a long standing issue).

[2020-10-07 00:11] ashwinstar commented on #10947
Any ideas what is the memory usage on GPDB6? if its regression on GPDB 7 due to syntax mapping from GPDB syntax to PostgreSQL 12, then we definitely need to look into it before GA, else if not regression then falls into general improvement of product category.

[2020-10-07 00:51] flashk1021 commented on #10930
@hlinnaka I rollbacked the changes in CreateDistributedSnapshot introduced by 72828c2, then it failed the isolation2/vacuum_self_function_row with the following result. Basically, the first vacuum ao dropped the awaiting_to_drop segment 1 on QE, because  visible_to_all inside AppendOnlyRecycleDeadSegments didn't catch the xid locked by myfunc(). I confused by the changes in CreateDistributedSnapsh

[2020-10-07 15:11] d commented on #10947
Hi @ashwinstar I updated the post with some measurement:

1. Greenplum 7 using `CREATE TABLE` convenience syntax to define a bunch of partitions
1. Greenplum 6 using the same (the only in the version) convenience syntax
1. Greenplum 7 using upstream partition syntax with a `psql` loop

TL;DR
1. Both the upstream syntax and Greenplum syntax exhibit quadratic memory growth, which is theoretically to

[2020-10-07 17:44] bradfordboyle opened #10953 "Building master on Debian bullseye fails with compiler error"
### Greenplum version or build

greenplum-db/gpdb: master eea8f0702a

### OS version and uname -a

[code]

Docker Image `debian@sha256:608ee7989e7248c50c3b74eb68481f92205c8b54704eb1200d370bb3ca1a4425`

### autoconf options used ( config.status --config )

[code]

### Installation information ( pg_config )

_N/A_

### Expected behavior

Building completes successfully.

### Actual behavior

Buildin

[2020-10-07 20:40] fangzheng commented on #10889
Hi @asimrp and @xiong-gang ,
I have created a new PR to 6X_STABLE branch: https://github.com/greenplum-db/gpdb/pull/10954. Thanks.

[2020-10-08 06:19] d commented on #10953
@bradfordboyle thank you for reporting this issue. I've managed to repro this. Here's a minimized repro (from the original):

[code]

Running a simple `gcc -O3 -c rofl.c` would trigger the same GCC crash:
[code]

[2020-10-08 07:29] asimrp opened #10955 ""We thought we were done ... but libpq says we are still busy""
### Greenplum version or build
6X (didn't test on master)

### Expected behavior
The log message should convey something more meaningful.  Let's evaluate the libpq state machine and if we cannot find any problem, let's demote the message level to debug.

### Actual behavior
On one production system, when debugging an unrelated problem, I noticed a lot of these messages in master log.
[code]
It is

[2020-10-09 03:25] luowencai commented on #10848
So do i, When this happen again, i will open this issue.Now close it.

[2020-10-09 03:25] #10848 closed

[2020-10-09 03:29] #10715 closed

[2020-10-09 03:33] luowencai commented on #10955
We've meet this messages too before we upgrade to version 6.11.2

[2020-10-09 05:28] hidva opened #10960 "Assert failed in CREATE TABLE ... PARTITION BY ..."
### Greenplum version or build

[code]

### OS version and uname -a

[code]

### autoconf options used ( config.status --config )

[code]

### Installation information ( pg_config )

[code]

### Step to reproduce the behavior

[code]

[code]

[2020-10-09 07:19] hlinnaka commented on #10953
Cool, short repro for a compiler bug!

Looks similar to https://gcc.gnu.org/bugzilla/show_bug.cgi?id=96349. However, the repro from that bug doesn't error out when I try it on the docker shell, so I think it should've been fixed in that version. So maybe this is a different but similar bug?

Want to do the honors and submit a bug report to GCC?

[2020-10-09 16:20] ashwinstar commented on #10960
Thanks for reporting @hidva I tried and I am not hitting the assertion or any failure somehow for the provided sql on latest master as of commit 1d991e47

[code]

[2020-10-09 17:08] bradfordboyle commented on #10953
@d Using the minimized repro you posted does not reproduced on Debian bullseye

[code]

but I still see the failure when trying to compile GPDB. The repro _does_ produce the failure on Ubuntu 20.04.

[2020-10-09 17:15] d commented on #10953
I posted a second repro on Launchpad (for gcc-10 and gcc-snapshot in Ubuntu "groovy"):

[code]

Wonder if that works (to err) for you two

[2020-10-09 20:01] d commented on #10953
Seems my second repro activates the bug everywhere... Anyway I reported it to [launchpad](https://bugs.launchpad.net/ubuntu/+source/gcc-10/+bug/1899114). I'm under the impression they will upstream the fix (and the bug).

[2020-10-10 02:21] hidva commented on #10960
After a clean build, I can't reproduce this case too. Sorry to bother you.

[2020-10-10 02:21] #10960 closed

[2020-10-10 03:34] ashwinstar commented on #10960
No probs @hidva, you playing/hacking with gpdb7 and reporting issues is encouraging.

[2020-10-10 06:57] LittleWuCoding opened #10961 "deadlock occurs when create multiple indexes on AO table at the same time"
### Greenplum version or build
GP6.10 （I did not test the master branch）
### OS version and uname -a
RHEL7

### Step to reproduce the behavior
1. create a AO table , for example (same error occurs on AOCO ):
[code]
2. create multiple indexes on AO table at the same time:
[code]
(you may also reproduce by only exec statement1 and statement3, but not always )
I put the above cmd in a shell script, n

[2020-10-10 09:08] bzhaoopenstack opened #10962 "[ARM CI]Hit the aarch64"
### Greenplum version or build
master branch.
On aarch64

I test on aarch64 and X86 platform with the same OS version, only aarch64 hits this.
Can trace this from https://logs.openlabtesting.org/logs/periodic-12/github.com/greenplum-db/gpdb/master/gpdb-installcheck-world-tests-on-arm64/f49aba0/test_results/

### OS version and uname -a
Ubuntu 1804

### Installation information ( pg_config )
[code]

[2020-10-10 09:34] bzhaoopenstack commented on #10962
And I trace this from 2 commits.
The PG12 support commit https://github.com/greenplum-db/gpdb/commit/19cd1cf4b68faff2e29bc2fa884c480e4644cdb4
And the previous commit https://github.com/greenplum-db/gpdb/blob/8ae22d15ebf0cf68b0854e2a2630b7b997e3ce1c/src/test/regress/expected/percentile.out towards the same issue in src/test/regress/expected/percentile.out

Looks like the old behavior is more human-

[2020-10-10 09:35] bzhaoopenstack commented on #10962
Sorry to disturb you again. ;-(. But seems I really need help from you. @hlinnaka  Thank you

[2020-10-10 12:25] kainwen commented on #10961
This deadlock on QD is due to lock mode upgrade. We should avoid this.

[2020-10-11 09:43] veteranlu opened #10964 "Segment report segmentation fault, while delete and update the same row"
### Greenplum 6.x

### Step to reproduce the behavior

1. init
[code]
2. add heap_delete fault injection, sleep 10 seconds when first invoked.
3.
|timeline |session 1| session 2|
| -- | -- | -- |
|1. | delete from t1 where concat(b,c) in (select concat(b,c) from t2); |  |
|2 | sleep 10 seconds |  |
|3 |   |  update t1 set b = 'a';update t1 set b = 'aaaaaa'; |
|4 | waiting 10 seconds, segment repor

[2020-10-11 13:30] kainwen commented on #10964
What is the version of your Greenplum?

Besides, can you paste the plan of both statements in your env?

[code]

From the core stack, it is the delete statement encounters segment fault during EvalPlanQual.
The delete statement's plan contains motion node, so in eval plan qual it should elog out with the message: `EvalPlanQual can not handle subPlan with Motion node`.

Also, do you use ORCA or pla

[2020-10-12 05:51] asimrp commented on #10962
Note: `percentile.sql` is Greenplum specific, so changing anything there is easier.

A smaller repro to highlight the problem:
[code]
Use 0.8th percentile but in descending order of input:
[code]
Should it be the same as 0.2nd percentile with ascending order of input?
[code]

On 6X, the answer for both the queries is 2.6.

[2020-10-12 05:55] asimrp commented on #10962
And on PostgreSQL v12 the behavior is identical to that on master branch.

[2020-10-12 06:46] amitdkhan-pg commented on #10962
I think these diffferences in float values might be expected across architectures or machines for approximate types. One easy option is to elliminate the possibility of inconsistent values from being printed in the output file. There are some other regression tests where extra_float_digits  is used to deal with these problems. We can do the same thing for percentile.sql

[2020-10-12 07:37] asimrp commented on #10962
Is it better to use numeric type instead?
[code]

[2020-10-12 09:01] bzhaoopenstack commented on #10962
@asimrp , hi , I test on both X86 and aarch64 platform with the same version `PostgreSQL 12.4` . I re-run you said test sqls in the previous comment. They are the same from pgsql side on these 2 ARCH. It has the same behavior on the pgsql master branch with the 2 ARCH.
[code]
Hmm, so it looks not a pgsql issue.

[2020-10-12 09:19] leskin-in opened #10967 "ORCA: Subquery LEFT JOIN replaced with JOIN producing incorrect results"
### Greenplum version or build
* [Current 7.X](https://github.com/greenplum-db/gpdb/tree/1d991e47cc013dac148a4a69032c259635475443)
* [6.10.1](https://github.com/greenplum-db/gpdb/releases/tag/6.10.1)

### OS version and uname -a
* Red Hat Enterprise Linux Server release 7.6 (Maipo) `Linux ... 3.10.0-957.el7.x86_64 #1 SMP Thu Oct 4 20:48:51 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`
* Ubuntu bionic `

[2020-10-12 10:37] hlinnaka commented on #10962
The output changed as result of upstream commit 02ddd499322ab6f2f0d58692955dc9633c2150fc.

What exactly is the problem here? Are you seeing a different result on aarch64 than on x86-64? What is the result on each architeture?

[2020-10-12 11:42] oSkrobuk commented on #10830
@soumyadeep2007 @gaos1 Is there any progress on this issue?

[2020-10-12 12:17] bzhaoopenstack commented on #10962
https://logs.openlabtesting.org/logs/periodic-12/github.com/greenplum-db/gpdb/master/gpdb-installcheck-world-tests-on-arm64/f49aba0/test_results/regress_regression.diffs
Looks all `+` is the aarch64 result, `-` is the X86 result for now, the ARM CI failed a long time due to the difference.

@hlinnaka, Thanks, yeah, @amitdkhan-pg also mentioned `extra_float_digits ` might solve this. I'm seeing how

[2020-10-13 03:44] lij55 commented on #10563
Could you please try PXF for the same bucket? We would suggest PXF if it can work

[2020-10-13 22:07] l-wang opened #10974 "EXPLAIN missing top group key names with DISTINCT and GROUPING SETS"
### Greenplum version or build
master

### Step to reproduce the behavior
[code]

### Actual behavior
The top "Group Key", "Sort Key", "Hash Key" don't have proper names.
[code]

### Expected behavior
Similar to the plan on 6X_STABLE where the top "Group Key", "Sort Key", "Hash Key" all have reasonable names.
[code]

[2020-10-13 22:10] flashk1021 commented on #10930
Closed this issue because not able to create it again.

[2020-10-13 22:10] #10930 closed

[2020-10-14 06:08] lij55 opened #10976 "gpfdist shouldn't return 0 rows on the second `select` on exteranl table after `prepare`."
### 5X, 6X

### Step to reproduce the behavior

[code]

It shouldn't return 0 rows on the second run of foo.

[2020-10-14 08:51] ggbq commented on #10902
@wangcarven

Macro code **Assert()** does nothing if your GP compiled **without** `--enable-cassert`.

So that, backoff.c:885  `activeWeight -= (se->weight / gl->numFollowersActive)`, #9298 has already fixed it.

[2020-10-14 10:30] asimrp commented on #10851
This quick change seems to fix the issue but it could introduce new regressions.  I don't want to check that now, let me note the change here instead.
[code]

[2020-10-15 07:20] veteranlu commented on #10964
@kainwen ths for replay, I updated the 6X_Stable source code, find it has been solved, the source code for handle the error as follow:
[code]

from nodeModifyTable.c line:865~869.

I would close the issue.

[2020-10-15 07:21] #10964 closed

[2020-10-15 09:06] xiaoxiaoHe-E opened #10982 "selecting from external table return empty rows"
### Greenplum Database 7.0.0

### CentOS 7

### autoconf options used ( config.status --config )
`$ ./configure --disable-orca --without-perl --without-python --with-libxml --without-gssapi --disable-pxf --without-zstd`

### Expected behavior
It should report errors.

### Actual behavior
It returns successfully with empty data

### Step to reproduce the behavior
[code]

[code]

[2020-10-16 05:07] amitdkhan-pg commented on #10962
Yeah, that should also work, but by setting the extra_float_digits at an initial place, we can as well prevent any other queries or any future queries in the file from having to always cast such values.

[2020-10-16 09:35] dreamedcheng opened #10990 "Resgroup's CPU usage limitation didn't take effect."
### Greenplum version or build
GP 6.3

### OS version and uname -a
centos 7

### Actual behavior
When executing a query, the resource group's control file (/sys/fs/cgroup/cpu/gpdb/53379/cgroup.procs) should contain the
backend's pid, however, it doesn't contain any. So the CPU usage of the query didn't limited by the resource group.

Here is my resource group's configuration:
`postgres=> select *

[2020-10-16 09:44] pf-qiu commented on #10982
This issue is caused by incorrect python environment, not a gpdb bug actually.
If submodule ```gpMgmt/bin/pythonSrc/ext``` is not initialized, or system shell default to python2 path, gpinitisystem can't correctly setup the cluster, but reports success.
Only master node is started in utility mode, and thus nothing is executed on segment. We will get empty result then.
Closing this issue.

[2020-10-16 09:44] #10982 closed

[2020-10-16 12:22] avkashin opened #10991 "gprecoverseg -r fails when password authentification enabled for gpadmin"
### Greenplum version or build
PostgreSQL 9.4.24 (Greenplum Database 6.11.1 build dev-oss) on x86_64-pc-linux-gnu, compiled by gcc-6 (Ubuntu 6.5.0-2ubuntu1~18.04) 6.5.0 20181026, 64-bit co
mpiled on Sep 30 2020 11:51:36
### OS version and uname -a
Linux greenplum-test01i.db.example.net 4.19.114-29 #1 SMP Tue Apr 7 08:08:56 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
### autoconf options used ( config.

[2020-10-16 16:29] ashwinstar commented on #10982
@pf-qiu shouldn't we emit some error if expecting to connect in dispatch mode but connected to master only mode and ran the query. Silently passing with empty data seems not good behavior.

[2020-10-16 16:41] ashwinstar commented on #10991
Ouch!! that's bad pass____ displayed for username. Do you wish to open PR @avkashin to fix the issue? If not we can take it forward and fix.

Also, need to check in code if some other places exhibit similar problems in management utility code @kalensk

[2020-10-16 20:57] kalensk commented on #10991
I created a bug in our backlog to see if other utilities need to be updated and ensure gprecovseg gets fixed. Due to our limited resources and huge list of priorities, it will be awhile before we get to it unless it is pressing.

[2020-10-17 06:14] avkashin commented on #10991
Thanks for your fast response. [PR](https://github.com/greenplum-db/gpdb/pull/10995)

[2020-10-17 10:38] lij55 commented on #10982
so is it better if we could raise error if the cluster is not initialized successfully?

[2020-10-18 10:56] cobolbaby commented on #10473
Any Progress?

[2020-10-19 05:28] gfphoenix78 commented on #10874
@fangzheng Thank you for your effort. I have opened a PR to backport the patch for 6X(https://github.com/greenplum-db/gpdb/pull/10996).

[2020-10-19 06:48] asimrp commented on #9357
@zhongyibill please feel free to reopen the issue if the problem still exists on the latest master branch (Greenplum 7).  We think it's fixed by PostgreSQL v12 merge.

[2020-10-19 06:48] #9357 closed

[2020-10-19 07:26] lambgong opened #10997 "planner crash when run group by cube and cte"
### Greenplum version or build
6.5

### OS version and uname -a
centos 7

### Step to reproduce the behavior

create a  table as follow:
[code]

run sql as follow:
[code]

Planner will crash。

[2020-10-19 07:33] gfphoenix78 commented on #10889
Resolved by this PR(https://github.com/greenplum-db/gpdb/pull/10938), so I'll close this issue.

[2020-10-19 07:33] #10889 closed

[2020-10-19 07:35] asimrp commented on #10982
Yes, `gpinitsystem` should not report success if it couldn't initialize segments.

[2020-10-19 07:43] pf-qiu commented on #10982
I agree. Although it's not bug of external table, we need to investigate further and find out the necessary safe guards to prevent this kind of issue.

[2020-10-19 11:04] asimrp commented on #10473
@cobolbaby is it not possible to adjust mount points and use symbolic links to achieve the desired layout?  What if you were deploying native PostgreSQL, wouldn't you face the same problem?

[2020-10-19 22:31] l-wang opened #11003 "Incorrect results select constant from GROUPING SETS of multiple empty sets"
### Greenplum version or build
6X_STABLE

### autoconf options used ( config.status --config )
'--prefix=/usr/local/gpdb6' '--enable-depend' '--enable-debug' '--enable-cassert' '--with-libxml' '--with-python' '--with-perl' 'CFLAGS=-O0 -g3 -ggdb -fno-omit-frame-pointer' 'CXXFLAGS=-O0 -g3 -ggdb -fno-omit-frame-pointer'

### Step to reproduce the behavior
[code]

### Actual behavior
When '--enable-ca

[2020-10-20 00:01] l-wang opened #11004 "Incorrect result with GROUPING SETS when grouping columns are different aliases of the same column"
### Greenplum version or build
master with ORCA
6X_STABLE with both planner and ORCA

### Step to reproduce the behavior
[code]

### Actual behavior
[code]

### Expected behavior
[code]

[2020-10-20 07:58] hidva opened #11006 "quickdie may be invoked on rxThread"
### Greenplum version or build

[code]

### OS version and uname -a

[code]

### autoconf options used ( config.status --config )

[code]

### Installation information ( pg_config )

[code]

### Actual behavior

[code]

### Step to reproduce the behavior

[code]

On the 8C32G machine, this can always reproduce the error. If your machine has a higher configuration, then increase the number of clien

[2020-10-20 08:11] paul-guo- commented on #11006
Should modify in `ic_set_pthread_sigmasks()`. Curious why previously we did not see this issue and why previously we just mask part of signals in the pthreads?

[2020-10-20 08:19] guofengrichard commented on #10997
Thanks for the report! With the repro, I can see error: `ERROR:  no relation entry for relid 2 (relnode.c:246)`

[2020-10-20 08:25] hidva commented on #11006
Then we should add `SIGQUIT` to `ic_set_pthread_sigmasks()`

In theory, this issue always exists, but it is difficult to trigger.

I don't know too

[2020-10-20 08:26] adam8157 commented on #8558
Fixed by a modified version of https://github.com/greenplum-db/gpdb/pull/10722, closing.

[2020-10-20 08:26] #8558 closed

[2020-10-20 08:35] paul-guo- commented on #11006
If we mask all we should do that in `ic_set_pthread_sigmasks()` also (maybe rename the function) to avoid a potential race:
signal is received in rxThreadFunc before calling `pthread_sigmask()`.

[2020-10-20 09:41] pf-qiu opened #11008 "Extra motion node when insert into randomly distributed table from hash distributed table on 6X"
This is a behavior mismatch between 6X and master. Whether the extra motion node is desirable is debatable but it should be same for 6X and master.

### Greenplum version or build
PostgreSQL 12beta2 (Greenplum Database 7.0.0-alpha.0+4afa059 build dev)
PostgreSQL 9.4.24 (Greenplum Database 6.11.2+dev.31.gfbc0a7be4c build dev)

### OS version and uname -a
Ubuntu 20.04
Linux dev 5.4.0-51-generic #56-

[2020-10-20 09:49] luowencai commented on #10381
After upgrade greenplum to 6.11.1, We haven't see this exception nearly 26 days. So i close this issue unless when this happend again.

[2020-10-20 09:49] #10381 closed

[2020-10-20 09:50] guofengrichard opened #11009 "Assertion failure when planning for grouping sets"
### Greenplum version or build
6X

### Step to reproduce the behavior

[code]

[2020-10-20 10:10] kainwen commented on #11008
I believe random motion here guarantee a balanced data distribution of a table because it computes target segment using `random()` function for each tuple.

[2020-10-20 10:13] lij55 commented on #11008
and it looks like that the plan of master doesn't have the random motion yet...

[2020-10-20 12:00] lambgong opened #11013 "gp_segment_configuration can't probe standy master down"
### Greenplum version or build
gp 6.5

### OS version and uname -a
centos 7

### Step to reproduce the behavior
Kill standy master process，then check gp_segment_configuration，all the status are 'u'.
If you run gpstate -s, you can get the 'Standby host DOWN' correctly.

[2020-10-21 02:24] adam8157 commented on #8469
@jsanko9 It's not like that, the `MaxTupleAttributeNumber` is limited by how data are transferred too, from a node to another. The codes don't guarantee a minimal tuple would not be transformed into a heap tuple either, which is the same structure as it stored.

Ref: https://github.com/postgres/postgres/blob/19ae53c92d5f5bdfb971d560a562e84c5f65c8b0/src/include/access/htup_details.h#L24

[2020-10-21 05:10] paul-guo- commented on #11006
It seems that we should and it is safe to mask all signal in the udp pthreads. Please feel free to open a PR.

[2020-10-21 05:13] hidva commented on #11006
ok, I will submit a PR today

[2020-10-21 08:41] xiong-gang commented on #11013
FTS doesn't check the healthy and update gp_segment_configuration for standby coordinator, we are currently working on the coordinator auto-failover, please check the discussion on gpdb-dev mailing list.

[2020-10-21 08:41] #11013 closed

[2020-10-21 09:16] JunfengYang opened #11024 "Write slice allocated to a reader gang."
### Greenplum version or build
Master and 6X

### Expected behavior
[code]
Above SQL should succeed without error.

### Actual behavior
[code]

[2020-10-21 09:38] paul-guo- commented on #11024
This is a known issue (feature request): writable CTE.

[2020-10-21 09:55] JunfengYang commented on #11024
@paul-guo- This isn't right, we already have a test case cover writable CTE.
https://github.com/greenplum-db/gpdb/blob/6932195ab2faa7fa5835e2c231314dabd3daf7bf/src/test/regress/sql/with.sql#L841-L850

So If I extract the case and disable auto_stats, the error could also be triggered.

[code]

The output is
[code]

[2020-10-21 09:59] xiong-gang commented on #10990
Thanks for reporting, in your case the pid should be written to both `/sys/fs/cgroup/cpu/gpdb/53379/cgroup.procs` and `/sys/fs/cgroup/cpuset/gpdb/1/cgroup.procs`, and the code snippet you attached is writing the later one. Do you mean you cannot find the pid in `/sys/fs/cgroup/cpu/gpdb/53379/cgroup.procs`?

[2020-10-21 10:00] xiong-gang commented on #10955
+1 to make it more meaningful

[2020-10-21 10:50] asimrp commented on #11013
@laixiong on a related note, we are in the process of fixing the problem that master/standby status is tracked by master.  It should be tracked by a third-party other the master/standby.  https://groups.google.com/a/greenplum.org/g/gpdb-dev/c/402fIfVZ9SI/m/Pmljgy-_AgAJ

[2020-10-21 11:47] cobolbaby opened #11025 "How to convert field type int2vector to array"
When I execute the `select * from gp_distribution_policy`, I can get the `distkey` information. But the field in the GP6.x version is of the `int2vector` type, neither `smallint[]`.

I need to convert int2vector to an array type to make pgAdmin4 compatible with GP6. How can I do this?

[2020-10-21 12:09] kainwen commented on #11024
I think we have discussed this in slack?

GPDB previous does not support returning clause, after merging 9.X, we have it since gpdb6.

But gpdb always consider the first gang to be a writer gang, that leads to this issue.

[2020-10-21 23:32] jsanko9 commented on #8469
@adam8157 I see now. Thank you very much for explanation.

[2020-10-22 00:16] ashwinstar commented on #10473
We have no plans to make change on this front, hence closing this issue.

[2020-10-22 00:16] #10473 closed

[2020-10-22 00:33] JunfengYang commented on #11024
@kainwen , yes, now I have time to work on it. So I just create an issue to track it.

[2020-10-22 01:57] dreamedcheng commented on #10990
When writing pid to /sys/fs/cgroup/cpuset/gpdb/1/cgroup.procs, the same pid written in /sys/fs/cgroup/cpu/gpdb/53379/cgroup.procs before was erased. I wonder if this is because a pid cannot appear in two different cgroup.

[2020-10-22 03:14] darthunix commented on #9207
@paul-guo- this issue happened again on 6.10.1 (max_connections = 400 on master and standby, so 419 distributed transactions seems to be a correct limit). Master logs didn't have any errors or strange warnings.
[code]
To my great disappointment WALs on a standby and master were lost and `Debug_print_full_dtm` GUC was off. So if this problem happens again I'll write more information here (keeping a

[2020-10-22 06:39] asimrp opened #11032 "Table AM API enhancement to indicate if a table AM needs tuples to be frozen"
### Greenplum version or build
Version 7 (master branch)

Append-optimized tables do not contain xmin/xmax.  They are immune to transaction ID wraparound and there is no need to freeze AO rows and compute `pg_class.relfrozenxid`.  The `relfrozenxid` of AO tables must be set to `InvalidTransactionId` so as to exclude them from age computations and transaction ID wraparound computations.

Vaccum, ta

[2020-10-22 06:43] asimrp commented on #11032
Consider the following suggestion from @ashwinstar on #10983 when fixing this issue:

[2020-10-22 06:44] avkashin commented on #10991
PRs merged into master and 6X_STABLE.

[2020-10-22 06:44] #10991 closed

[2020-10-22 07:29] sanjiaomaohhh opened #11033 "System table/view stores clear-text passwords"
### Greenplum version or build
6.10
### Description
System table _pg_user_mapping_ stores the user name and **clear-text password** information of the external database, which is used to remotely connect to the external database from the local database and access the tables on the external database.

[2020-10-22 07:37] sanjiaomaohhh opened #11035 "Some security features do not meet the current general requirements of security protection"
### Greenplum version or build
6.10
### Description
Postgres client login database server authentication using MD5 and other insecure encryption algorithm, does not meet the general requirements of security protection.

[2020-10-22 07:46] sanjiaomaohhh opened #11038 "Some tools have weak authority management"
### Greenplum version or build
6.10
### Description
The official tool versions provided by GP, such as gpkafka and gpcopy, do not provide open source code and can only download compiled artifacts. These tools are relatively weak in terms of rights management. For example, gpcopy requires users to use trust mode when connecting, but cannot use password authentication.

[2020-10-22 08:03] guofengrichard commented on #11009
This issue has been fixed by PR #10908

[2020-10-22 10:12] hlinnaka commented on #11035
GPDB 7 introduces SCRAM authentication as an alternative to the historical md5 authentication. In older versions, TLS with client certificate authentication is one option.

[2020-10-22 10:12] #11035 closed

[2020-10-22 10:14] hlinnaka commented on #11033
That is by design. See similar question on pgsql-bugs list: https://www.postgresql.org/message-id/flat/16682-89078b97ed03d74b%40postgresql.org

[2020-10-22 10:15] #11033 closed

[2020-10-22 10:22] hlinnaka commented on #11025
You can cast it:
[code]
The resulting array is a bit unusual, because it starts from index 0, rather than 1 like arrays in Postgres usually do. If that bothers you, you can do:
[code]

[2020-10-22 12:05] #11025 closed

[2020-10-22 12:31] asimrp commented on #9651
@dreamedcheng what goes wrong when the deadlock check is not triggered by a backend that is waiting on a lock of type "resource queue"?

A deadlock cannot go undetected as long as at least one participant in the deadlock cycle is waiting on a regular lock (not of "resource queue" type).  If I'm making sense, possibility of a deadlock is ruled out, then what is the problem?

[2020-10-22 14:10] paul-guo- commented on #9207
@darthunix  While working on https://github.com/greenplum-db/gpdb/pull/10987, I found that it seems that such kind of issue happen for XLOG_XACT_DISTRIBUTED_COMMIT also. Maybe that could lead to the issue?

Also some possible further enhancement in my minds:
- maybe do not use array shmCommittedGxactArray. It seems that it is not needed to be in shared memory? So maybe use hash table or dynamic-le

[2020-10-22 17:30] #7934 closed

[2020-10-23 02:12] lambgong commented on #10997
Do we have any solution here?

[2020-10-23 04:10] darthunix commented on #9207
@paul-guo- standby failed again trying to store `gid = 1602882527-0010383560` to `shmCommittedGxactArray`.
[code]
But this time I was able to backup WALs on a failed standby. All WALs (except the last one) have no in-doubt global transaction records: every `gid` have `distributed commit` and `distributed forget` in WAL (according to `pg_xlogdump`). The last WAL has 11 global transactions at the en

[2020-10-23 06:13] JunfengYang commented on #3275
This is already fixed in commit e6f93033289e492beffbf47ef3af53e044f02ecd on master branch.
@gaos1 @baobao0206  Do we need to backport it to 6X and 5X?

[2020-10-23 07:09] asimrp opened #11044 "gpcheckcat needs to reset GV.retcode before starting to check a database"
### Greenplum version or build
Version 7 (seen on PR pipeline for PR #10983)

### Expected behavior
If catalog check for a database passed without any issues, gpcheckcat should not report any assertion failure.

### Actual behavior
[code]

### Step to reproduce the behavior
Looks like when gpcheckcat is run against all databases, catalog issues found on one database cause an assertion failure if t

[2020-10-23 07:30] JunfengYang commented on #4990
Test on the current Master branch, the `contrib/tablefunc` module is supported now.

[2020-10-23 07:30] #4990 closed

[2020-10-23 09:06] guofengrichard commented on #10997
I believe the culprit is how we add subroot for SubqueryScan node in `add_subroot_for_subqueryscan()`. Here we hard-codes its `simple_rel_array_size` to constant 2, assuming it only has one rangetable entry. But in its corresponding subplan, there might be Scan node that has scanrelid larger than 1.

Another founding is that if we always choose sharing plan, rather than common subplan copies,  we

[2020-10-23 09:06] guofengrichard commented on #10997
Sadly not yet for now.

[2020-10-23 17:52] edespino commented on #10882
@jeusdi I ran into a very similar problem to what you describe here. I encountered the issue in an AWS environment using multiple VMs. Essentially, the security group allowed ssh (22) access to all hosts. However, there was no ingress security rule which allowed the segment ports to be accessible between hosts. Trying to diagnose this was challenging given the evidence that presented itself. With

[2020-10-25 06:19] dreamedcheng commented on #9207
I also met this problem, and found the root cause. This problem raised when there are some running distributed transaction, and at the same time, a checkpoint is on fire. If the distributed transaction is at the the state of `DTX_STATE_INSERTING_FORGET_COMMITTED`, but actually its COMMIT FORGET xlog was written to disk. At this moment, the checkpoint process is calculating the the committed transa

[2020-10-26 01:10] lij55 commented on #11038
Open source Greenplum doesn't rely on any commercial components. It should be the issue of gpcopy or gpKafka (or any other commercial product from any company) that it doesn't work with open source Greenplum
Please go to the Offical Support team for all issues related to all closed source components.

[2020-10-26 01:33] paul-guo- commented on #9207
Thanks, feel free to open a PR.  I agree with you but you might want to use gdb or write a simple isolation2 test at first to verify the theory. Replaying COMMIT FORGET is still needed. Considering the case of coordinator failover, after standby is promoted, new coordinator needs to make sure the 2PC commit finishes on segments, e.g. the below scenario: coordinator firstly write commit locally and

[2020-10-26 02:46] #11038 closed

[2020-10-26 02:53] spcxtesla opened #11048 "/usr/local/greenplum-db-oss/bin/psql: not found"
### Greenplum version or build
-local Greenplum Version: 'postgres (Greenplum Database) 6.11.2 build commit:d611e78af2c5a6561ccbbaf2b4652138410f9aeb Open Source'

### OS version and uname -a
Linux  hostname 4.15.0-122-generic #124-Ubuntu SMP Thu Oct 15 13:03:05 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

### autoconf options used ( config.status --config )
I use `apt install greenplum-db-6`

### Inst

[2020-10-26 03:32] dreamedcheng commented on #9207
@paul-guo- I mean when promote the standby, we can revise some of its current logic.

1. The standby don't need replay the DTX xlog.
2. when standby is going to promote, we force the startup process redo the XLOG begin at the last checkpoint's redo point. So the DTX recover process can recover the in-going DTX.

This fix may be a little bit complicated, but I think it can help enhance the performa

[2020-10-26 03:40] dreamedcheng commented on #9207
Another fix is more straightforward, when replaying checkpoint xlog at standby, we first check if gid in `shmCommittedGxactArray` can be found in checkpoint's `gxact_checkpoint->committedGxactArray`, if can not be found, we can safely remove the gid form `shmCommittedGxactArray`. After this check, we add `gxact_checkpoint->committedGxactArray` to `shmCommittedGxactArray as before. In this way, we

[2020-10-26 03:43] darthunix commented on #9207
@dreamedcheng thanks for your explanation. I have manually reproduced the problem (gdb to startup process on a mirror + three psql sessions):
[code]
gdb had a breakpoint on `redoDistributedCommitRecord` function and it shows out that we don't free `shmCommittedGxactArray` and decrement `*shmNumCommittedGxacts` correctly.

[2020-10-26 04:04] darthunix commented on #9207
Here is the problem
[code]
I think we should fix inconsistency  on a `getDtxCheckPointInfo` step - may be add a lock protection to `TMGXACT_LOG` elements of `shmCommittedGxactArray`? I can also make a PR if this idea seems good.

[2020-10-26 04:48] darthunix commented on #9207
@paul-guo- am
1. If we want to move `getDtxCheckPointInfo` just to `XLogRegisterData` it should be done in a critical section?
2. Should we protect `TMGXACT_LOG` elements of `shmCommittedGxactArray` with locks?

@dreamedcheng
After step `QD: forget` we don't have a `gid` 2 but according to your algorithm we'll again have to add it when read committed checkpoint message from WAL (or may be I didn't

[2020-10-26 06:11] dreamedcheng commented on #9207
@darthunix checkpoint XLOG must have all running DTXs' messages at that point it generates, so just we need use the latest checkpoint XLOG to add the gid it contained to `shmCommittedGxactArray`, and the gids of `shmCommittedGxactArray` already contained can be cleared.

[2020-10-26 06:35] darthunix commented on #9207
@dreamedcheng you say we can clear already contained gids and replace `shmCommittedGxactArray` with gids from checkpoint (CP). What should we do in the situation below?
[code]

[2020-10-26 08:00] darthunix commented on #9207
I have an argument why we can't replace `shmCommittedGxactArray` - in a scenario below we'll loose gid 2 and have only a wrong gid 1.
[code]
I think we should block any other WAL writes when checkpoint is performing `getDtxCheckPointInfo` - `XLogInsert` code.

[2020-10-26 08:03] dreamedcheng commented on #9207
Yes, and this just the case that incur the overflow problem. In my fix, the gid#1 remained after the current CP XLOG replay will be cleared by the next CP XLOG's replay.  So the standby will not overflow the `shmCommittedGxactArray`.

[2020-10-26 08:07] darthunix commented on #9207
But it is still possible to have an overflow in a case when MaxBackends global transactions are not forgotten yet and there is some extra gids arrived from the last checkpoint.

[2020-10-26 08:18] dreamedcheng commented on #9207
The extreme case is 2* MaxBackends, so we should ensure that max_tm_gxacts is lager than 2* MaxBackends.

[2020-10-26 08:30] darthunix commented on #9207
And one more thing. On the last diagram we still loose gid 2. Chackpointer took a gid snapshot when gid 1 was committed and there was no gid 2 at all. After that gid 2 arrived to WAL log file. Checkpointer wrote a commit message with gid 1 and it would be the starting point to replay WALs on recovery. So, when we crash right after checkpoint's commit (before gid 2 have been forgotten) we don't try

[2020-10-26 09:20] dreamedcheng commented on #9207
Thanks.
It seems that the fix can't handle this case. What if we re-add the forgotten gid to `shmCommittedGxactArray` if we cannot find commit gid in it, I am not sure if there is any other case it can't handle.

[2020-10-26 09:26] dreamedcheng commented on #9207
And I have a new idea, when the standby startup, it replays the first checkpoint XLOG it received, and skip the following checkpoint XLOG's DTXs info it received, because recording DTX info in checkpoint XLOG is for the case DTX recovery.
Correct me if I am wrong.

[2020-10-26 09:27] paul-guo- commented on #9207
No worry for this case, gid2 XLOG_XACT_DISTRIBUTED_COMMIT redo (it's behind the checkpoint.redo LSN because getDtxCheckPointInfo() is called after setting checkpoint.redo) function xact_redo_distributed_commit() would add the gid into shmCommittedGxactArray[].

Using locking seems to be heavy since this affects the OLTP performance much.

@dreamedcheng  Your fix solution:
"when standby is going to

[2020-10-26 09:39] darthunix commented on #9207
@paul-guo- if we move [getDtxCheckPointInfo](https://github.com/greenplum-db/gpdb/blob/76c99759f38fadac438cf0a8b6a2ff08d4fc1c03/src/backend/access/transam/xlog.c#L9101) just near [XLogRegisterData](https://github.com/greenplum-db/gpdb/blob/76c99759f38fadac438cf0a8b6a2ff08d4fc1c03/src/backend/access/transam/xlog.c#L9213) + [XLogInsert](https://github.com/greenplum-db/gpdb/blob/76c99759f38fadac438cf

[2020-10-26 10:51] chenbaggio opened #11053 "gpdb6x版本无数据情况下查询tpcds一些语句结果错误"
### Greenplum version or build

gpdb6x_stable

### OS version and uname -a

Linux computing-57dd45d6-master-ac9a43a4 3.10.0-1127.8.2.el7.x86_64 #1 SMP Tue May 12 16:57:42 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

### autoconf options used ( config.status --config )

### Installation information ( pg_config )

### Expected behavior

创建tpcds的所有表，在无数据情况下应该查询不出数据，结果应该为row 0

### Actual behavior

在打开优化的

[2020-10-27 00:15] darthunix commented on #9207
@paul-guo- is it correct for the case when master crashes? (I agree that we don't have problems on a standby as it always consumes WAL records with redo less than checkpoint redo). But in a case of a crash between a checkpoint `commit` and gid 2 `forget` master starts its replay from the last checkpoint from `pg_control`. And this checkpoint contains only gid 1 but doesn't contain gid 2. And we ca

[2020-10-27 02:53] xiong-gang commented on #10990
pid can appear in both `gpdb/cpuset/1` and `gpdb/cpu/group_id`
see the comments in `resgroup-ops.h`:
[code]

[2020-10-27 05:38] zhangh43 commented on #11053
tpcds Q5 is a query group by a rollup, so it's expected to output one row, where all the columns in rollup are NULL.

[2020-10-27 06:19] darthunix commented on #9207
@paul-guo- finally I got what you were talking about - I didn't understood REDO meaning in a checkpoint. Sorry, my suggestions were horrible.
[code]
May be we should keep in local memory a dynamic array of `forget` gids since last checkpoint's `REDO` (gid 1 on a schema above). When we meet a new checkpoint record, we extract all gids from checkpoint (gid 1), exclude all `forget` gids from dynamic

[2020-10-27 06:22] dreamedcheng commented on #10990
I debugged this, in my test instance, when writing pid to  `gpdb/cpuset/1`, the pid written in `/sys/fs/cgroup/cpu/gpdb/53379/cgroup.procs ` disappeared. And I use gdb to change the value of `curViaCpuset` so that the pid can be written to `gpdb/cpuset/53379`, in this way, everything is OK.

[2020-10-27 06:45] zhongyibill commented on #9357
reopen

[2020-10-27 07:59] luowencai opened #11059 "<<Unknown error>>: 7 ERROR: failed to acquire resources on one or more segments"
### Greenplum version or build
select version();
                                                                                                version
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 PostgreSQL 9.4.24 (Greenplum Database 6.11.1 b

[2020-10-27 10:07] xiong-gang commented on #10990
could you cat the file `cpuset.cpus` `cpuset.mems` and `cpuset.cpu_exclusive` under `/sys/fs/cgroup/cpuset/gpdb`, `/sys/fs/cgroup/cpuset/gpdb/1` and `/sys/fs/cgroup/cpuset/gpdb/53379 `

[2020-10-27 10:35] paul-guo- commented on #9207
I just traced the code. Here are some tentative findings.

1. checkpoint xlog rm_redo function and restartpoint code does not handle the two phase transaction list (Prepared, distributed committed-but-not-forgotten). See `xlog_redo()` and `CreateRestartPoint`

2. The issue is as below, right?
[code]

2. But  in startup redo loop, checkpoint xlog is additionally handled to update the distribution t

[2020-10-27 10:36] paul-guo- commented on #11059
Try increasing the guc value gp_snapshotadd_timeout (e.g. from 10 to 60 to see if this issue still happens or not?)

[2020-10-27 15:23] chenbaggio commented on #11053
thank you! but one more question - the results may let users puzzle, and if the optimizer option is off, result is 0 row, it is not a
reasonable to show 1 rows, if only one row and all NULL, it should also 0 rows at last show

[2020-10-28 00:35] #11006 closed

[2020-10-28 01:27] paul-guo- opened #11069 "No need of creating upd rx thread in the last gang"
Merging  https://github.com/greenplum-db/gpdb/pull/11022 reminds the issue previously in my mind. For udp interconnect, the last gang does not need to receive packets so there is not need to create the rx thread for that gang in a (sub)plan executor node. This could save a lot of  resources in a typical OLTP environment.

Some aux or bg worker processes might have unnecessary rx theads created als

[2020-10-28 03:22] darthunix commented on #9207
1. I am not sure about the meaning of restore point. AFAICS from the code it is done by checkpointer when pg instance is in recovery mode (by the same schedule as common checkpoints are done in normal mode). Restore point updates pg_control file with the last processed checkpoint from the WAL and shrink WALs prior to last checkpoint's REDO.
So if recovery fails it starts from the last checkpoint r

[2020-10-28 05:46] paul-guo- commented on #9207
This is not relevant of restore point. It's called normally on standby in xlog redo loop.

[code]

I mean
[code]
Looked at the code further. `StartupXLOG()->XLogProcessCheckpointRecord()` does not add prepared transactions so this is not an issue for prepared transaction.

[2020-10-28 06:35] dreamedcheng commented on #9207
@paul-guo- @darthunix
I open a PR for this issue. Could you have a look at it?

[2020-10-28 07:21] dreamedcheng commented on #10990
Here is the result:
![image](https://user-images.githubusercontent.com/7367189/97404385-fbe2c700-1930-11eb-9ff1-50224227a99d.png)
![image](https://user-images.githubusercontent.com/7367189/97404456-19179580-1931-11eb-9d23-3278a6a25c05.png)
![image](https://user-images.githubusercontent.com/7367189/97404506-2f255600-1931-11eb-9cb3-1deaa6eda4c5.png)

And the following screenshot are the result when

[2020-10-28 10:25] zhangh43 commented on #11053
As your description, It seems legacy planner is not correct.
Could you supply the DDL(especially the distributed by and storage option) and we could try to reproduce it.

[2020-10-28 12:39] kainwen commented on #11053
I can reproduce this issue on 6X. This is the output of explain analyze:

[code]

[2020-10-28 12:43] kainwen commented on #11053
Master branch is correct.

[2020-10-28 14:29] chenbaggio commented on #11053
@kainwen the master branch show `0 row` ?

[2020-10-28 17:08] l-wang opened #11076 "ORCA falls back when select column not in GROUP BY and GROUP BY columns contain unique key"
### Greenplum version or build
master, 6X_STABLE, 5X_STABLE

### Step to reproduce the behavior (on 6X_STABLE)
psql command:
[code]
query:
[code]

[2020-10-28 21:58] ashwinstar commented on #10882
It seems there is no further action from fix perspective in code for this and can close the issue?

[2020-10-29 03:53] kainwen commented on #11053
Master branch's planner(optimizer = off) gives out the result `1 row` this is the same as Postgres 12.

[2020-10-29 06:54] #10794 closed

[2020-10-29 07:24] kainwen commented on #11053
A simple case can reproduce this on 6X:

[code]

But on Postgres:

[code]

[2020-10-29 13:27] Viocalpan opened #11079 "ssh_utils.py"
def escapeLine(self, line):
        '''Escape occurrences of \ and $ as needed and package the line as an "eval" shell command'''
        line = line.strip()
        if line == 'EOF' or line == 'exit' or line == 'quit':
            self.close(). #Add by Viocal pan
            raise self.SessionCmdExit()
        line = line.split('\\')
        line = '\\\\'.join(line)
        line = line.split('"')

[2020-10-30 06:26] adam8157 commented on #11048
@bradfordb-vmware Hi, is this a known issue?

[2020-10-30 06:30] adam8157 commented on #11079
Hi, why do you want to close the session? What is the issue?

[2020-10-30 08:45] Viocalpan commented on #11079
fix bug in ssh_utils.py

[2020-10-30 08:46] Viocalpan commented on #11079
ssh_utils.py

def escapeLine(self, line):
    '''Escape occurrences of \ and $ as needed and package the line as an "eval" shell command'''
    line = line.strip()
    if line == 'EOF' or line == 'exit' or line == 'quit':
        _**self.close()  #fix it**_
        raise self.SessionCmdExit()
    line = line.split('\\')
    line = '\\\\'.join(line)
    line = line.split('"')
    line = '\\"'.join(

[2020-10-30 08:47] #11079 closed

[2020-10-31 14:57] LittleWuCoding commented on #10961
Hi, Is there any news about this issue? @kainwen @gaos1

[2020-11-01 02:41] kainwen commented on #10961
There is fixme at the code for this issue. We will resolve the fixme later.

[2020-11-01 03:50] CC-Hsu opened #11089 "gpconfig behavior improvement on changin GUCs of postgres instance"
Hi, Team,

PGSQL 9.4 introduces `ALTER SYSTEM` command for modifying GUCs inside database instances.
https://paquier.xyz/postgresql-2/postgres-9-4-feature-highlight-alter-system-set-for-dynamic-configuration/
https://www.cybertec-postgresql.com/en/setting-postgresql-configuration-parameters/
https://www.postgresql.org/docs/9.4/sql-altersystem.html

This helps users managing their GUCs elegantly.

[2020-11-01 05:52] CC-Hsu opened #11090 "Recovering operation of gprecoverseg should refers to pg_catalog.gp_segment_configuration.address rather than the server hosname"
### Greenplum version or build
GPDB v6.x
### OS version and uname -a
RHEL/CentOS 7.x
### autoconf options used ( config.status --config )
GPDB Enterprise Edition
### Installation information ( pg_config )
GPDB Enterprise Edition
### Expected behavior
Operations inside `gprecoverseg` (`pg_rewind` or `pg_basebackup`) should follow server address information stored in `pg_catalog.gp_segment_configura

[2020-11-01 14:21] jellyfig opened #11091 "configure: error: header file <Python.h> is required for Python"
### Greenplum version or build
Docker container with GPDB for development/testing
2020-11-01  git clone gpdb-master

### OS version and uname -a
docker pull pivotaldata/gpdb-dev:centos7

### Actual behavior
configure: error: header file <Python.h> is required for Python

### Step to reproduce the behavior

docker run -w /home/build/gpdb -v ${PWD}:/home/build/gpdb:cached -it pivotaldata/gpdb-dev:ce

[2020-11-01 15:13] CC-Hsu opened #11092 "gpinitstandby joins standby master server with wrong hostname"
### Greenplum version or build
GPDB v6.x
### OS version and uname -a
RHEL/CentOS 7.x
### autoconf options used ( config.status --config )
GPDB Enterprise Edition
### Installation information ( pg_config )
GPDB Enterprise Edition
### Expected behavior
After `gpinitstandby`, DB records joined standby master server in `pg_catalog.gp_segment_configuration` with its hostname and in the address column s

[2020-11-02 02:23] zhongyibill opened #11095 "Canceling query because of high VMEM usage."
### Greenplum version or build
Greenplum Database 7.0.0-alpha.0    commit:26fbf68751ab3bfbab63714bacee24693c1ce610

I use tpcds test greenplum. The test data volume is 10T，then get error result
`
Canceling query because of high VMEM usage. Used: 7373MB, available 819MB, red zone: 7372MB (runaway_cleaner.c:202)",,,,,,"select  *
from (select i_category
            ,i_class
            ,i_brand

[2020-11-02 07:37] JunfengYang commented on #11095
Adjust `gp_vmem_protect_limit` may helps, please refer to https://gpdb.docs.pivotal.io/6-12/best_practices/sysconfig.html#topic_dt3_fkv_r4__segment_mem_config.

The usage logs show the usage after the error, which already done the cleanup, so we can not know which part uses the most memory.

[2020-11-02 07:59] JunfengYang commented on #7203
Close for now. Please reopen if you hit the problem again.

[2020-11-02 07:59] #7203 closed

[2020-11-02 08:05] JunfengYang commented on #6991
Can not reproduce, close it for now. Feel free to reopen it if needed.

[2020-11-02 08:05] #6991 closed

[2020-11-02 08:11] JunfengYang commented on #7695
Seems the issue should have resolved. Close it for now and feel free to reopen it if needed.

[2020-11-02 08:11] #7695 closed

[2020-11-02 10:01] zhongyibill commented on #11095
I Adjust gp_vmem_protect_limit bigger will cause OS OOM error

[2020-11-02 10:59] gaos1 commented on #3275
@JunfengYang the fix involves catalog change and we cannot backport to 5X and 6X. per discussion with @baobao0206 , we offered workaround in doc to let customer manually get this.

[2020-11-02 10:59] #3275 closed

[2020-11-02 11:48] asimrp commented on #3275
I agree that the need can be served with a simple workaround in back branches.

[2020-11-02 19:22] bradfordb-vmware commented on #11048
I don't believe this is a known issue but I also don't know that this is a supported use case (building an extension against pre-packaged OSS GPDB).

[2020-11-02 19:27] maksm90 opened #11099 "Incomplete implementation of distributed version of pg_stat* views on master branch"
The commit e6f93033289 have made the `pg_stat_all_tables` and `pg_stat_all_indexes` views as distributed that return aggregated statistic values for user defined objects over segments and raw statistics for system objects over master node. But there are at least two other related system views left unchanged (only with local execution) - `pg_statio_tables` and `pg_statio_indexes`. There is not any

[2020-11-03 00:09] ashwinstar commented on #11091
Use `centos7-gpdb7` instead of `centos7`. That has Python3 which is required now to build GPDB master branch.

[2020-11-03 00:15] ashwinstar commented on #11090
Just for reference this topic was also discussed in mailing list [thread](https://groups.google.com/a/greenplum.org/g/gpdb-dev/c/Utt1uXGEQGE/m/p_HbbeQoAAAJ).

[2020-11-03 00:19] kalensk commented on #11092
Thanks for letting us know! We have added this to our list of work and will review the reproduction.

[2020-11-03 00:22] kalensk commented on #11090
Thanks for letting us know! We have added this to our list of work and will review the reproduction. And take a look at the mailing list thread Ashwin linked to and this thread: [Hostname and Address Semantics in GPDB](https://groups.google.com/a/greenplum.org/g/gpdb-dev/c/LfusrgthupY/m/CASW8cNnAwAJ)

[2020-11-03 00:27] ashwinstar commented on #11090
Also, this issue is duplicate of https://github.com/greenplum-db/gpdb/issues/9060

[2020-11-03 00:28] ashwinstar commented on #11090
For long term, just throwing out there maybe need to rename those 2 columns in gp_segment_configuration to something which clearly communicate the purpose and usage. Specially `address` column is very confusing name.

[2020-11-03 00:33] kalensk commented on #11089
Thanks for letting us know! We have made note of this.

It looks like more investigation and work _may_ be needed to get `ALTER SYSTEM` working on Greenplum.

[2020-11-03 00:37] kalensk commented on #11090
I think Greenplum (or maybe just me) still needs to clarify and agree on the semantics of `hostname` and `address`. And yes a rename may be helpful once we get clarity on what we want the semantics to even be.

[2020-11-03 01:29] ashwinstar commented on #10961
I think to resolve this issue we need to create block directory upfront for AO tables. Currently, one first index creation block directory is created and that I suppose is causing this lock upgrade issue. One of the solutions discuss in past was create block directory when creating AO tables instead of differing creation but impact is tables not using index its waste plus also poses upgrade time w

[2020-11-03 11:44] haitaoy opened #11105 "gpactivatestandby promotion failed when old master host can not be connected"
### Greenplum version or build
6X_STABLE

### OS version and uname -a
4.9.168 x86_64 x86_64 GNU/Linux

tcp configuration:
net.ipv4.tcp_syn_retries = 6

Reproduce ：
At begining, one normal master and standby：
![image](https://user-images.githubusercontent.com/7891389/97979304-e0ccf700-1e09-11eb-9a9a-dd863b406015.png)

then shutdown the master host(shutdown -h now), and run gpactivatestandby at stan

[2020-11-03 12:15] haitaoy commented on #11105
May be we can decrease net.ipv4.tcp_syn_retries to 3, but the default waiting time in gpactivatestandby should be reconsidered.

[2020-11-03 21:41] kmacoskey commented on #11048
@spcxtesla  It is currently not supported. By that I mean it's a bug.

The pre-built debian packages are relocated to install at `/opt/greenplum-db-[version]` while the compilation originally occurs at `/usr/local/greenplum-db-oss/`. The way with which **pgxs** is handling paths from compilation to execution it seems does not work with that relocation.  I believe this may not be an issue for the p