[2016-08-25 12:26] danielgustafsson commented on #770
I agree with that, remove it from the code.

[2016-08-25 19:14] andreasscherbaum opened #1071 "gpinitsystem --help throws an error about missing value"
[code]

[2016-08-25 19:16] andreasscherbaum commented on #1067
If that fixes the error, can we catch that problem earlier, and not let gpssh-exkeys proceed with an outdated module?

[2016-08-25 19:22] andreasscherbaum opened #1072 "gpinitsystem produces unnecessary warnings for the fsync parameter"
[code]

[2016-08-25 19:26] andreasscherbaum opened #1073 "gpinitsystem does not properly detect when 'ed' is not installed"
If the 'ed' tool is not installed, gpinitsystem fails without obvious reason:

[code]

The logfile shows - somehow - what is going on:

[code]

Solution:

gpinitsystem should detect early if required tools are missing.

[2016-08-25 20:21] hlinnaka commented on #1073
Hmm, where do we still depend on 'ed'? I thought we got rid of that dependency a long time ago, in https://github.com/greenplum-db/gpdb/pull/63. Was that incomplete?

[2016-08-25 21:00] Chibin commented on #1071
Confirmed that the reported issue happens.

Looking at the code, it looks like there are no options for ```--help``` ... we only have ```-?``` as the argument for calling help.

[2016-08-26 06:00] LJoNe opened #1075 "About priority of RESOURCE QUEUE"
When i execute a simple query such as 'select \* from t', I find that 'increment_command_count' will run a second time after 'PortalSetBackoffWeight' .Then BackoffBackendSharedEntry->statementId will be different from currentStatementId{gp_session_id, gp_command_count},so that  'BackoffBackendTick' will return before running to 'BackoffBackend'. In the end the priority of statement will not be val

[2016-08-26 08:17] andreasscherbaum commented on #1073
Something failed, see the log. And when I installed "ed" it worked.

So it seems that it is indeed incomplete.

[2016-08-26 08:18] andreasscherbaum commented on #1071
Then it should throw an error about an unknown option, and not an unknown value for --help, right?

[2016-08-26 08:21] danielgustafsson commented on #1073
Is this on a recent master? I don't have `ED_PG_CONF` in the source tree at all anymore since 0b25484a099908da26b253a636b7e519d835fb25.

[2016-08-26 08:27] andreasscherbaum commented on #1073
Ah, crap. This happens if you have to work with ancient 4.3!

Do we want to fix this in 4.3 as well, or is this too much trouble?

[2016-08-26 08:30] danielgustafsson commented on #1073
Since all installations of 4.3 already has ed working it might not be much point to cause the churn?

[2016-08-26 08:34] andreasscherbaum commented on #1073
New installations will still run into this problem. It's not that we don't have new customers ...

[2016-08-26 08:42] ascherbaum-pivotal commented on #156
@asubramanya Did you update the answer file? Can I close this issue?

[2016-08-26 08:46] ascherbaum-pivotal commented on #1073
PR for 4.3 is already cooking.

[2016-08-26 08:46] #1073 closed

[2016-08-26 19:33] asubramanya commented on #156
@andreasscherbaum Yes. The answer file was updated long time back. You can close this issue.

[2016-08-26 20:17] #156 closed

[2016-08-26 21:44] hsyuan opened #1076 "GPDB generate wrong result when there is case when clause in join filter"
It is very simple to reproduce the issue.
[code]

The correct result should be:
[code]

Looking at the plan, we didn't find the case condition in the join filter:
[code]

@oarap and I are working on this issue.
@hlinnaka It would be very helpful if you can cast some light on it.

[2016-08-26 21:50] xinzweb commented on #1076
what's 'else' for this expression?

[code]

What if t1.c or t2.c is null, does it return 'true' or 'false'?

What if you do the following?

[code]

Thanks,
Shin

On Fri, Aug 26, 2016 at 2:45 PM, Haisheng Yuan <notifications@github.com>
wrote:

--
SHIN

[2016-08-26 21:59] Chibin commented on #1071
Yes, the output message is misleading and needs to be clearer.

[2016-08-26 23:19] deepesh1081 commented on #878
Closing this due to lack of information. @kpmanojpg feel free to reopen this

[2016-08-26 23:19] #878 closed

[2016-08-26 23:23] deepesh1081 commented on #587
@Gvain  Are you still facing this issue ?

[2016-08-27 01:01] hsyuan commented on #1076
If t1.c or t2.c is null, it is gonna be false. If we add `else true`, the result is correct. The problem happens when there is no else clause.

[2016-08-27 02:39] hsyuan commented on #1076
Even when there is `else true` clause and return correct result, the plan generated does not have `case when` condition in the join filter, which is still incorrect plan to me.

[2016-08-27 07:57] hlinnaka commented on #1076
On 08/27/2016 05:39 AM, Haisheng Yuan wrote:

The planner seems to lose that join expression, if it's not of the form
"A op B". For example, this exhibits the same problem:

create function foo(a text, b text) returns bool
as $$ select false $$
language sql volatile;

explain select t1.* from t t1 where t1.b = (
   select max(b) from t t2 where t1.a = t2.a and t2.b < 5 and
     foo(t1.c, t2.c)
);

[2016-08-27 17:43] zeromax007 opened #1079 "Init standy master fail"
git clone Aug 26 repository.

20160828:01:39:48:104933 gpinitstandby:greenplum-001:gpadmin-[INFO]:-Validating environment and parameters for standby initialization...
20160828:01:39:48:104933 gpinitstandby:greenplum-001:gpadmin-[INFO]:-Checking for filespace directory /data/master/gpseg-1 on greenplum-006
20160828:01:39:48:104933 gpinitstandby:greenplum-001:gpadmin-[INFO]:-------------------------

[2016-08-29 23:08] vraghavan78 commented on #1076
Thanks @hlinnaka

[2016-08-30 19:37] danielgustafsson commented on #500
@hlinnaka was this fixed with #807 so this can be closed?

[2016-08-30 19:41] hlinnaka commented on #500
Yeah, I guess so, closed

[2016-08-30 19:41] #500 closed

[2016-08-30 19:53] danielgustafsson commented on #509
perl.m4 actually does just this, and judging by the compile flags it has done it (but clearly not bug free). What sort of libs do you have in `/usr/lib/x86_64-linux-gnu/perl/5.20/CORE` where it seems to believe the perl lib is hiding?

[2016-08-30 20:58] vraghavan78 commented on #177
Orca currently does not support GIST Index. It is in our roadmap for Q1 2017.

[2016-08-30 21:07] vraghavan78 commented on #462
Fixed.

`
vraghavan=# select * from webtable w1 where 10 > (select count(*) from webtable w2 where w2.c2 = w1.c2 group by w2.c2)                                                                                                                                                                                                                                                    ;
 c1 | c2 | c3
----+----+--

[2016-08-30 21:07] #462 closed

[2016-08-30 21:22] vraghavan78 commented on #833
@kuruv please let me know if @hlinnaka's suggestion. If not, please provide us the repro so we can take a look.

[2016-08-31 03:29] pf-qiu opened #1090 "Error out when insert a big text column (320MB)"
When I try to insert into a text column with big string(>320MB) fatal error occurs.

[code]

[2016-08-31 03:38] pf-qiu commented on #1090
GDB info
[code]

[2016-08-31 07:01] funnyxj opened #1091 "[BUG] server coredump"
When I run following sql, then kill -9 'psql' client, the server will coredump。

[code]

[code]

[code]

 then I use kill -9 to kill psql，server will crash!

[2016-08-31 08:26] eurekaka opened #1094 "ERROR: relation with OID xxxxxx does not exist"
Reproduction steps:
[code]

Here is the output on my machine:

NOTICE:  Table doesn't have 'DISTRIBUTED BY' clause -- Using column named 'id' as the Greenplum Database data distribution key for this table.
HINT:  The 'DISTRIBUTED BY' clause determines the distribution of data. Make sure column(s) chosen are the optimal data distribution key to minimize skew.
CREATE TABLE
test=# select * from foo;

[2016-08-31 15:48] #1028 closed

[2016-08-31 16:05] ashwinstar commented on #1094
@eurekaka Sure taking a look...

[2016-08-31 17:05] #912 closed

[2016-08-31 17:46] asimrp commented on #1091
@funnyxj can you please share the logs and stack trace from the core dump?

[2016-08-31 18:14] asimrp commented on #587
Hi @Gvain, please use `gpinitsystem` to initialize a cluster, rather than invoking `initdb` directly.  I'm closing this issue, feel free to reopen if you still see core dumps.  Please also include full back trace from the core in case you need to reopen.

[2016-08-31 18:14] #587 closed

[2016-08-31 18:18] asimrp commented on #579
@chenkaijiang I'm closing this issue.  Please feel free to initiate a discussion on gpdb-dev mailing list about keeping `gp_segment_configuration` up to date at any cost.  Current design, as we mentioned earlier, is to refrain from making any change if the GPDB instance becomes unavailable (double fault).

[2016-08-31 18:18] #579 closed

[2016-08-31 18:22] asimrp commented on #483
Hey @xinzweb, without logs / stack trace from the segments, it's not possible to debug this issue.  A lot of changes have gone in since the issue was opened and ICG is more or less passing as of now.  I'm therefore closing this, feel free to create a new issue with segment as well as master logs.

[2016-08-31 18:22] #483 closed

[2016-08-31 18:32] asimrp commented on #460
Hey @funnyxj, apologies for the super-delayed response.  I am not able to reproduce this with the top of master branch as of Aug 30:
[code]

[2016-08-31 18:32] #460 closed

[2016-08-31 19:24] ascherbaum-pivotal commented on #415
The official releases from Pivotal are - as of now - based on the GPDB version 4 branch. The GitHub repository is the version 5 branch, with upcoming features.

The version 4 branch is not public, but all new features and bug fixes go into the version 5 branch, the previous branch is just for maintaining purposes.

As of now we don't have an official tagging or releasing system, based on the GitHu

[2016-08-31 19:24] #415 closed

[2016-09-01 00:37] asimrp commented on #1036
Hey Heikki, the code to dispatch `DiscardStmt` is missing.  I tried adding it, which made `discard temp;` working.  However, `discard all;` started failing on segments because it cannot be run from within a transaction block.  This is where I'm stuck, thinking for a possible solution.

[2016-09-01 03:34] ashwinstar commented on #1094
Its basically failing in this check
TransactionIdPrecedes(ShmemVariableCache->latestCompletedXid, xid) in TransactionIdIsInProgress. This is new code from merge, yet to debug in full but high-level  ShmemVariableCache->latestCompletedXid is not setting to really latestCompletedXid after restart / recovery. And once the cache gets populated with negative entry all subsequent calls fail as well. So,

[2016-09-01 05:25] kuien opened #1102 "cannot create external table with SERIAL column"
When I create an external table, I meet an error with following SQL which runs properly on 4.3.9.

[code]

[2016-09-01 05:45] weiboyiyou opened #1103 "greenplum error, what's the reason for this error?please help"
2016-09-01 10:45:31.090104 CST,"pgq","crm",p14036,th1380488992,"192.168.206.10","13733",2016-09-01 10:26:45 CST,138573104,con324317,cmd13976,seg-1,,dx41306158,x1385731
04,sx1,"ERROR","XX001","invalid page header in block 4545 of relation ""coupon""

[2016-09-01 07:38] volkovandr opened #1104 "DELETE fails when using subqueries and partitioned tables"
Hello,

Compiled Greenplum from source code, last commit 14df7740c81e668ec54151d314a4528d60222660

Trying to execute a delete statement and it fails with "Unexpected internal error (planmain.c:275)"
Here is an example:

[code]

Tried on two different clusters with different number of nodes with the same result.
The query fails in both cases when GPORCA is enabled or disabled.
The query works well

[2016-09-01 07:40] volkovandr commented on #1104
However this works well:
[code]

[2016-09-01 08:22] volkovandr commented on #1079
I'm experiencing the same problems.

[2016-09-01 09:26] funnyxj commented on #1091
it happen on master， I had found a bug on GP.  I had fix this bug on my local code. The main problem is ShutdownPostgres must do before pgstat_beshutdown_hook. So PG add before_shmem_exit hook.

[2016-09-01 16:51] vraghavan78 commented on #1076
Pushed. https://github.com/greenplum-db/gpdb/pull/1084

[2016-09-01 16:51] #1076 closed

[2016-09-01 16:57] ashwinstar commented on #1103
@weiboyiyou Please can you provide more context on how or when you are hitting the ERROR or repro steps

[2016-09-01 21:39] ashwinstar commented on #1094
Cause for the issue is ShmemVariableCache->latestCompletedXid was set as part of postgres merge to 8.3 after pass1 which only replays xlog records for persistent tables. Pass3 is where all the xlog records are replayed. So, latestCompletedXid needs to be set after all xlog records have been replayed to correctly point to real latestCompletedXid else it points to stale value from checkpoint and all

[2016-09-02 02:40] asimrp commented on #1102
Hey Kuien, can you please post the stack trace from master/segment logs?  Is it happening only with S3 external tables or in general for any external table?

[2016-09-02 02:58] eurekaka commented on #1094
Cool, close this issue since we have a fix.

[2016-09-02 02:58] #1094 closed

[2016-09-02 03:07] asimrp commented on #1036
@ashwinstar had an interesting suggestion: continue to not dispatch `DiscardStmt` and simply destroy the sessions between master and segments, on the lines of `disconnectAndDestroyAllGangs(false)`.  This is better than attempting to dispatch actions such as dropping temp tables but not performing two phase commit.

[2016-09-02 05:38] weiboyiyou commented on #1103
@ashwinstar  when i  'select count(*) from coupon', then  return  the  error '"****invalid page header in block 4545 of relation ""coupon""**'**

[2016-09-02 06:52] asimrp commented on #1103
Can you look for any stack trace in segment logs (pg_logs sub-directory under segment data directory)?

Output of the following query may also be helpful:

[code]

Asim

[2016-09-02 18:38] deepesh1081 commented on #1079
could you rerun gpinitstandby with -D option and provide the following logs:

1. db logs from /data/master/gpseg-1/pg_log from greenplum-006 and greenplum-001
2. cat /etc/hosts from both master and standby
3. ~gpadmin/gpAdminLogs from master and standby
4. gpstate -e
5. psql -c "SELECT * from pg_filespace;" template1
6. psql -c "SELECT * from pg_filespace_entry ;" template1

[2016-09-03 03:44] #1079 closed

[2016-09-03 03:46] asimrp commented on #1079
@zeromax007 @volkovandr, please try again.  In case you encounter failures, feel free to create a new issue.  Thank you for the report.

[2016-09-03 14:32] kuien commented on #1102
Hi Asim,

Good suggestion, I will paste more details later.

Cheers,
Kuien Liu

On Fri, Sep 2, 2016 at 10:40 AM, Asim RP <notifications@github.com> wrote:

[2016-09-03 14:52] kuien commented on #1102
1. I meet the same issue with gpfdist.
[code]
and gpfdist is running well on backend.

2. logs

on master
[code]

on segment
[code]

[2016-09-05 03:06] weiboyiyou commented on #1103
2016-09-01 10:45:30.559599 CST,"pgq","crm",p6876,th1380488992,"192.168.206.10","25688",2016-09-01 10:32:23 CST,138573483,con324529,cmd4922,seg-1,,dx41306517,x138573483,sx1,"LOG","00000","statement: COMMIT",,,,,,"COMMIT",0,,"postgres.c",1563,
2016-09-01 10:45:30.562076 CST,"pgq","crm",p16228,th1380488992,"192.168.206.10","37247",2016-09-01 10:40:28 CST,138573484,con324741,cmd1657,seg-1,,dx41306518,

[2016-09-06 16:50] asimrp commented on #1103
The invalid page error is coming from "(seg7 gpsegment-b2:40003 pid=668)".  You should find some more clues in seg7 logs.  Can you please check?

P.S. I corrected formatting of the log snippet in your comment.

[2016-09-06 19:04] skahler-pivotal opened #1109 "alter table REORGANIZE=true, should it reshuffle if dist key is the same"
One of the things we talk about is using the ALTER TABLE REORGANIZE=true in order to reshuffle data. If it is a hash distributed table, I believe the reorganization is skipped altogether and no validation is done to ensure the data is actually hashed across the nodes correctly. Is this what we think the behavior should be?

[2016-09-07 11:16] weiboyiyou commented on #1103
@asimrp   there's information are got from the seg7  log.

[2016-09-07 14:14] phoccer opened #1112 "No gp_toolkit.* in template0"
It's possible that someone could muck up their template1 database. It can happen to the best, https://wiki.postgresql.org/wiki/Adventures_in_PostgreSQL,_Episode_1. That article mentions how you can go about recreating a pristine template1 from template0. That solution doesn't work in Greenplum.

You cannot make template0 connectable

If I try to follow the instructions in the wiki article above I

[2016-09-08 15:52] Liqinhong commented on #727
I also encounter this issue.Have you solved this issue?Thanks.

[2016-09-08 18:54] fmcquillan99 commented on #727
This was fixed in the Greenplum 4.3.9.0 I believe.

On Thu, Sep 8, 2016 at 8:52 AM, Liqinhong <notifications@github.com> wrote:

[2016-09-09 22:37] vraghavan78 commented on #791
Resolved.
[code]

[2016-09-09 22:37] #791 closed

[2016-09-11 07:38] Liqinhong commented on #727
From error message,It seems it is a network issue.Right ?What you said means it is a Greenplum issue and fixed in 4.3.9? Thanks!

[2016-09-12 23:55] deepesh1081 commented on #1109
i feel that alter table reorganize=true/false, should be made simple as the user wants to re-distribute the data.
it should always redistribute the data, irrespective of current distribution key.
What would be a valid use case to say 'alter table reorganize=false' , irrespective of what columns they are going to be redistributed?

[2016-09-13 23:42] deepesh1081 commented on #1112
you should be able to recreate the gptoolkit objects using this file sql 👍 https://github.com/greenplum-db/gpdb/blob/2ba36ba6cae0dd0205cd38ec3ca393fcf6577b49/src/test/regress/sql/gp_toolkit.sql

[2016-09-13 23:49] deepesh1081 commented on #1060
this is not reproducible on 4.3 code line looks like a master issue.

[2016-09-14 04:31] zhangyuvip opened #1121 "Every time stop cluster, then Standby Master could not be started"
Every time stop cluster, then Standby Master could not be started (4.3.99.00 build dev)

gpstop -M fast
20160914:10:49:58:019358 gpstop:mdw:gpadmin-[INFO]:-Successfully shutdown 8 of 8 segment instances
20160914:10:49:58:019358 gpstop:mdw:gpadmin-[INFO]:-Database successfully shutdown with no errors reported
20160914:10:49:58:019358 gpstop:mdw:gpadmin-[INFO]:-Cleaning up leftover gpmmon process
20

[2016-09-14 15:55] skahler-pivotal commented on #1109
The only use case I could see for need a reorganize=false would be going from a distributed table to a random and not wanting things to be reshuffled, so maybe you want to specify that it doesn't. I would think those are rare cases.

[2016-09-14 16:53] Chibin commented on #1121
Can you try rerunning gpstart with the -v option? `gpstart -v`
-v should show the command that gpstart uses to start up the standby master and may help find the cause.

[2016-09-15 19:30] fmcquillan99 commented on #727
Correct, Greenplum issue and fixed in 4.3.9

On Sun, Sep 11, 2016 at 12:38 AM, Liqinhong <notifications@github.com>
wrote:

[2016-09-15 21:37] michaeljkent opened #1128 "Readme suggestions"
The Amazon Linux readme seems to be missing some dependencies.

We need the paramiko package, which we had to install by doing the following:

`sudo yum install python-devel openssl-devel libffi-devel`

and then:
[code]

Instructions for these packages are included for debian machines in README.debian, but are missing for the CentOS 6 instructions in README.amazon_linux.

It might also be useful t

[2016-09-15 21:56] xinzweb opened #1129 "elog_mock failed the PR"
Seems like we have a consistent failure of the elog_mock.

Here is the error:

[code]

[2016-09-16 06:19] asimrp commented on #1128
Why is `sudo pip install --upgrade wheel` needed?

[2016-09-16 10:01] danielgustafsson commented on #1129
See #1127 for work on this.

[2016-09-16 10:02] danielgustafsson commented on #727
Is this still an issue in master? If so we need to apply the fix here as well.

[2016-09-16 10:18] kuruv commented on #833
@hlinnaka, @foyzur , @vraghavan78,

I had not been receiving the notifications of posts for some reason but I got notification about the closure. Thanks for looking at this

I have run the code with gp_enable_mk_sort=off

It has been running for more than an hour and has not thrown the error yet whereas when I ran it with the default setting (gp_enable_mk_sort=on) it threw the error in 10 min.

[2016-09-16 12:13] kuruv commented on #833
@hlinnaka, @foyzur , @vraghavan78,

The code successfully ran with gp_enable_mk_sort=off

[2016-09-16 14:56] disambiguator commented on #1128
We could be wrong, but we were getting the error "bdist_wheel not found" and were able to solve it by installing wheel. We tried that after reading [this SO article](http://stackoverflow.com/questions/26664102/why-can-i-not-create-a-wheel-in-python).

[2016-09-16 17:11] Chibin commented on #1121
any updates?

[2016-09-16 18:03] Eulerizeit commented on #1121
A similar issue exists on an AWS install.  Asim worked on it some
yesterday.

On Sep 16, 2016 1:12 PM, "Marbin Tan" <notifications@github.com> wrote:

[2016-09-16 18:28] asimrp commented on #1121
Yes, I witnessed that standby cannot come up successfully when initialized as `gpinitsystem -s`.  But when `gpinitstandy` is used to initialize standby after `gpinitsystem` has completed, it comes up successfully.

[2016-09-18 01:29] zhangyuvip commented on #1121
gpstart -v
20160918:09:20:12:031197 gpstart:mdw:gpadmin-[INFO]:-Starting standby master
20160918:09:20:12:031197 gpstart:mdw:gpadmin-[INFO]:-Checking if standby master is running on host: smdw  in directory: /data/master/gpseg-1
20160918:09:20:12:031197 gpstart:mdw:gpadmin-[DEBUG]:-Starting standby: start standby master cmdStr='ssh -o 'StrictHostKeyChecking no' smdw ". /opt/gpdb/greenplum_path.sh;

[2016-09-19 09:20] danielgustafsson commented on #1129
With #1127 pushed this should now be fixed.

[2016-09-19 19:51] phoccer commented on #1112
That doesn't recreate gp_toolkit.* objects. I'm referring to a situation where you need to use template0 or maybe you've completely messed up template1 and can't access gp_toolkit objects. You'll notice in that file line 28 selects from gp_toolkit.__gp_is_append_only but I'm looking at a situation where you don't have those gp_toolkit.* objects in template1. That file assumes gp_toolkit and it's o

[2016-09-19 20:00] phoccer commented on #1112
What I've done for now is to keep a dump of the gp_toolkit schema in a local git repo just in case it should ever need to be recreated.

[2016-09-19 23:18] xinzweb opened #1139 "ICG `constraints` failed due to inconsistent behavior"
The Postgres planner will bail when given `UPDATE` statements on distribution column.

GPORCA can produce a query plan supporting such updates. However, on GPDB, we observed different behaviors on different platforms.

On Darwin (OSX 10.11), the test passed, however on Linux the test failed. We got repro on following configuration and platform:
- Image: CentOs6
- Configuration flags are:

[code]

[2016-09-20 22:20] Eulerizeit opened #1143 "gpstate error message is misleading"
If you run gpstate with the cluster off the error message is odd. It asks if you are running locally and if the TCP port is open.

At the least it ought to suggest the cluster is off. I'm unclear as to why it would suggest local host.  Also, Is the Post in this error message gotten from the configuration settings?

[gpadmin@mdw pg_log]$ gpstate
20160920:21:16:09:002778 gpstate:mdw:gpadmin-[INFO]:-

[2016-09-20 23:02] asimrp commented on #1112
@phoccer the correct path to gp_toolkit.sql is `src/backend/catalog/gp_toolkit.sql`.

[2016-09-20 23:10] jimmyyih commented on #1112
You can also find it in your installation:
`find $GPHOME -name gp_toolkit.sql`

[2016-09-21 15:59] Eulerizeit opened #1145 "gpdeletesystem requires the same variable to be set twice."
Why does the same variable need to be set twice? This seems suboptimal.

[gpadmin@mdw ~]$ gpdeletesystem
20160921:15:50:33:012935 gpdeletesystem:mdw:gpadmin-[CRITICAL]:-Required option --master-data-directory is missing.
[gpadmin@mdw ~]$ gpdeletesystem --master-data-directory /gp5data/master/gpseg-1/
20160921:15:50:39:012938 gpdeletesystem:mdw:gpadmin-[CRITICAL]:-MASTER_DATA_DIRECTORY environment

[2016-09-23 00:11] amilkh opened #1149 "make cluster fails due to ssh key"
On a fresh El Capitan iMac, while following the instructions in the [README](https://github.com/greenplum-db/gpdb/blob/master/README.md) (with exception to using a different configure command), config and compilation completed just fine.

However, when running `make cluster`, I ran into the below issues:

[code]

**Contents of gpinitsystem log**

[code]

Upon digging into the `gpdb/gpAux/greenplum

[2016-09-23 00:42] jimmyyih commented on #1149
It's somewhat already mentioned in the README.md under Requirements -> http://gpdb.docs.pivotal.io/4360/prep_os-overview.html#topic1.

[2016-09-23 00:58] amilkh commented on #1149
Thanks @jimmyyih.
The only thing I found about ssh was the gpssh stuff below, but it doesn't seem to solve the issue.
http://gpdb.docs.pivotal.io/4360/prep_os-install-hosts.html#topic8

[2016-09-23 20:12] phoccer commented on #1112
Awesome! Thank you @asimrp and @jimmyyih . So now I, and everyone, know where to find that. I guess I still have my original question of whether this should be loaded into template0 by default. I guess I'm simply looking at it in terms of how PostgreSQL handles things but maybe I shouldn't look at the situation that way.

[2016-09-26 03:59] eejoin opened #1152 "How can I find the corresponding version of the code？"
Gpdb hasn't tags on github, How can I find the corresponding version of the code?  for example, i want get the code of this version(PostgreSQL 8.2.15 (Greenplum Database 4.3.6.1 build 2)), is there  a corresponding source package on somewhere? please tell me the way, thanks

[2016-09-26 11:13] danielgustafsson commented on #1152
At the time of open sourcing the history was collapsed into a single origin commit, tags corresponding earlier non-open source versions (like 4.3.6.1) are thus not possible.

[2016-09-26 23:47] ashwinstar commented on #1145
Agree its not good behavior. @oakbarrett please can you bring this in team's backlog and schedule to fix it.

[2016-09-26 23:49] ashwinstar commented on #1129
@xinzweb can you confirm if this fixed now and close the same if it is.

[2016-09-27 02:48] Chibin commented on #1145
I've noted this with @oakbarrett already, same with issue 1143.
Will follow up.

[2016-09-27 23:10] oakbarrett commented on #1145
I can create a story, but not sure when it will land...
quick test, and it appears gpdeletesystem does a check against the ENV and command line parameter checking for consistency...  agree it may not be optimal, but curious if there is a reason for it...

[code]

[2016-09-27 23:17] oakbarrett commented on #1143
Story created for enhancement to messaging

[2016-09-28 09:30] zeromax007 opened #1161 "help! gp cluster error!"
gpstate -e

20160928:17:26:14:001667 gpstate:greenplum-001:gpadmin-[INFO]:-Starting gpstate with args: -e
20160928:17:26:14:001667 gpstate:greenplum-001:gpadmin-[INFO]:-local Greenplum Version: 'postgres (Greenplum Database) 4.3.99.00 build dev'
20160928:17:26:14:001667 gpstate:greenplum-001:gpadmin-[INFO]:-master Greenplum Version: 'PostgreSQL 8.3.23 (Greenplum Database 4.3.99.00 build dev) on x8

[2016-09-28 09:31] zeromax007 commented on #1161
the greenplum-003 5007 segment is always core

[2016-09-28 17:58] Eulerizeit opened #1162 "No Binary keyword support in the copy command"
The Binary keyword is not supported in the COPY command. ( This was tested with 4.3.9.1).    But, the documentation implies that binary data can be loaded with COPY.  Has this been fixed in 5.0?

http://gpdb.docs.pivotal.io/4320/ref_guide/sql_commands/COPY.html

[2016-09-28 18:54] ivannovick commented on #1161
can you run select * from gp_segment_configuration; and also gprecoverseg --verbose?

[2016-09-28 19:11] amilkh commented on #1149
@jimmyyih Is it alright to suggest the below to Docs team?

---
Could you please add the below to the [Mac OS X System Settings?](http://gpdb.docs.pivotal.io/4390/prep_os-system-params.html#topic6):

[2016-09-29 00:07] amilkh commented on #1149
@deepesh1081 @ivannovick any thoughts?

[2016-09-29 01:00] jimmyyih opened #1164 "OSX dispatch issue - socket is not connected"
Compiling and running the latest commit 78b8726c47e9ffec0e3118467e16f2f953b9316f on my OSX Yosemite box and on another OSX El Capitan box, I frequently run into some dispatch errors while running pg_regress tests on a gpdemo cluster (master, 3 primaries, 3 mirrors).

Master pg_log:
[code]

seg2 pg_log:
[code]

It doesn't seem to error on CentOS though.  Any Greenplum developers hacking on OSX runn

[2016-09-29 07:13] zeromax007 commented on #1161
Hi ivannovick ,
psql report  psql: FATAL:  DTM initialization: failure during startup recovery, retry failed, check segment status (cdbtm.c:1624) error.
I use master only mode access database, the follow is detail

 dbid | content | role | preferred_role | mode | status | port  |               hostname               |               address                | replication_port | san_mounts
------+----

[2016-09-29 07:32] zeromax007 commented on #1161
gprecovery --verbose report follow infomation, I think the problem is greenplum-003 50007 segment

20160929:15:15:55:004929 gprecoverseg:greenplum-001:gpadmin-[DEBUG]:-[worker6] got cmd: $GPHOME/bin/gp_primarymirror -h greenplum-005 -p 50006
20160929:15:15:55:004929 gprecoverseg:greenplum-001:gpadmin-[DEBUG]:-[worker12] finished cmd: Get segment status cmdStr='ssh -o 'StrictHostKeyChecking no' gre

[2016-09-29 07:36] danielgustafsson commented on #1164
I have seen the same issues on OS X El Capitan. I think it started sometime when I was away since I didn't see it before being on leave but had it happen immediately when I came back (so between July 22 and August 22). Haven't had time to dig in to the details and figure out why yet.

[2016-09-29 07:39] danielgustafsson commented on #1149
If adding this then please make sure to use an appending pipe to avoid overwriting existing authorized keys:
[code]

[2016-09-29 08:13] xiong-gang commented on #1164
We can reproduce on OS X, we are looking for the root cause.
Thanks for reporting it.

[2016-09-30 09:44] ascherbaum-pivotal opened #1169 "Machine-parseable GPDB version function"
There is no function which returns just the GPDB version number, something like:

[code]

[2016-09-30 09:45] ascherbaum-pivotal opened #1170 "Get rid of pg_exttable.fmterrtbl"
The pg_exttable.fmterrtbl column stored the OID of the error table, but without an error table it is just set to the OID of the external table. That is not necessary, there are other columns which indicate if error logging is enabled. Therefore this column can be removed.

[2016-09-30 11:09] eurekaka commented on #1164
Here is my finding:

QD calls an asynchronous connect() to make a TCP connection to segment 2,
after that, QD calls poll() on the socket to wait for the socket being
ready for writing; after poll() tells that the socket is ready for writing,
QD calls send() to send libpq startup packet to the QE started on segment
2, but send() returns -1 and the errno is ENOTCONN, which means the socket
is not co

[2016-09-30 13:05] danielgustafsson commented on #1169
On that note, shouldn't the CLI utils actually report the GPDB version as well as the underlying postgres version and not just the latter?
[code]

[2016-09-30 13:25] Eulerizeit commented on #1169
@danielgustafsson yes, yes it should. Or only report GPDB version since the Postgres version can be derived from the gpdb version but the opposite is not true.

[2016-09-30 20:53] amilkh commented on #1149
It may be better to just mentioned [gpssh-exkeys](http://gpdb.docs.pivotal.io/4390/install_guide/refs/gpssh-exkeys.html).

[2016-09-30 21:50] ivannovick commented on #1152
Hi, after our first open source release, Greenplum 5.0.0 we will have versions/tags in github.  As for now, we don't have them yet in open source.

[2016-09-30 21:50] #1152 closed

[2016-09-30 21:51] ivannovick commented on #1149
Assigning to @dyozie for docs updates

[2016-09-30 21:53] ivannovick commented on #1139
@xinzweb is this resolved?

[2016-09-30 21:54] ivannovick commented on #1129
@xinzweb is it resolved?

[2016-09-30 22:52] ivannovick commented on #1128
Updated the Amazon README to be more detailed and rich since you guys are actually using it.  I verified again.  Be sure to use Amazon linux and not CentOS for steps to match more exactly

[2016-09-30 22:52] #1128 closed

[2016-10-01 02:24] d commented on #1139
No not yet :(

[2016-10-02 04:06] gloCalHelp opened #1171 "Can greenplum have not only 1 query point of master node?"
Dear Pioneer,

     greenplum seems really have a great performance of inserting and loading plenty other data sources , but  can greenplum have not only 1 query point of master node?  because only 1 query point of a server has a connection bottleneck.

     And in greenplum 4.3.8,  I have try PgBouncer with the  configuration of  not setting the master IP in a user-defined-database, but it seems

[2016-10-03 21:48] jimmyyih commented on #1164
Thanks Kenan for the detailed RCA!  It is very insightful.  For now, I will use the GUC `gp_connections_per_thread` (setting to 64) to get around the asynchronous dispatcher issues on OSX.

[2016-10-04 21:13] deepesh1081 commented on #1161
could you provide the db logs for the segment which we are unreachable?
`
dbid | content | role | preferred_role | mode | status | port | hostname | address | replication_port | san_mounts
69 | 47 | m | p | r | u | 40007 | greenplum-002 | greenplum-002 | 41007 |
141 | 47 | p | m | r | u | 50007 | greenplum-003 | greenplum-003 | 51007 |
`
Run this query on master to identify the directory for logfi

[2016-10-05 08:20] danielgustafsson commented on #1164
Even using the threaded dispatcher I see errors, have others observed that as well or am I just doing something wrong?

[2016-10-05 09:13] skimmilk6877 opened #1178 "greenplum error, what's the reason for this error?please help"
select count(1) from xx.xxxx where hour_key=2016100416 limit 1;

ERROR:  VarBlock  is not valid. Valid block check error 10, detail 'offset 17973 at index 0 is bad -- must equal 8 (bytes_0_3 0x81007ea0, bytes_4_7 0x0000002f)' (appendonlyam.c:812)  (seg26 slice1 MPP09:40002 pid=13244) (cdbdisp.c:1526)
DETAIL:
     Append-Only storage Small Content header: smallcontent_bytes_0_3 0x1900BC0F, smallcon

[2016-10-06 18:57] ashwinstar commented on #1164
With threaded dispatcher atleast I am not hitting the error now which used
to happen extremely frequently earlier. Like even basic ICG tests int64 and
all used fail, not seeing errors with threaded dispatcher.

But its certainly annoying to remember one more tweak to work on OSX.

On Wed, Oct 5, 2016 at 1:20 AM, Daniel Gustafsson <notifications@github.com>
wrote:

[2016-10-06 22:04] ashwinstar commented on #1060
Stack trace where relation was being left open

[code]

Creating PR to close the relation for return false cases in function `isSimplyUpdatableRelation`

[2016-10-06 23:36] deepesh1081 commented on #1171
@gloCalHelp in Greenplum Master node( also known as Query Dispatcher) is the only server where clients can connect and query the cluster. Pgbouncer and other tool will also connect to the Master node and query the data.

[2016-10-07 07:39] hlinnaka commented on #1121
I just pushed commit e95907077a0728bbdd9d3f4a398e34e8ee210f6d to fix an issue that might've been the same as this one. Can you retry with a fresh checkout, to see if it works now?

[2016-10-07 21:00] Chibin commented on #1149
You can do the following so you don't have to press enter 3 times. Generates a key with an empty pass phrase:
`ssh-keygen -N '' -f $HOME/id_rsa`

[2016-10-07 22:11] ivannovick commented on #1171
This issue does not seem actionable.

[2016-10-07 22:11] #1171 closed

[2016-10-07 22:19] #747 closed

[2016-10-07 22:20] ivannovick commented on #727
ok this is resolved in master.

[2016-10-07 22:20] #727 closed

[2016-10-07 22:30] ivannovick commented on #310
@ashwinstar is it resolved?

[2016-10-07 22:31] ivannovick commented on #254
is this error when compiling from source, or with binaries provided from Pivotal?

[2016-10-07 22:38] kdunn926 commented on #254
This is a runtime error; gpload.py is raw Python, so the same behavior exists regardless of being OSS unpackaged or Pivotal packaged.

[2016-10-08 00:45] amilkh commented on #659
@salahaldin, regarding your below issue:

Just wanted to let you know this was fixed in https://github.com/greenplum-db/gpdb/issues/1121!

Also, regarding the below error messages you see in the pg_logs when running `gpstop`:
[code]

These are expected in the code currently and the Catalog and Storage Greenplum team is aware of this.

[2016-10-08 01:56] gaos1 commented on #1091
@funnyxj could you please create a pull request for your fix? Thanks.

[2016-10-08 08:03] zeromax007 commented on #1161
2016-09-28 19:51:22.683939 CST,,,p30370,th2001926208,,,,0,,,seg-1,,,,,"LOG","00000","database system was interrupted; last known up at 2016-09-28 19:51:20 CST",,,,,,,0,,"xlog.c",6497,
2016-09-28 19:51:22.684341 CST,,,p30370,th2001926208,,,,0,,,seg-1,,,,,"LOG","00000","database system was not properly shut down; automatic recovery in progress",,,,,,,0,,"xlog.c",6802,
2016-09-28 19:51:22.685388 CST,

[2016-10-08 08:06] zeromax007 commented on #1161
The cluster state is returned to normal. It looks like  a bug about gprecoveryseg, using gprecoverseg -F to avoid it.

[2016-10-08 14:50] funnyxj opened #1187 "[BUG] "select date '1993-01-01' + interval '1' year" generate wrong answer"
[code]

The result should be '1994-01-01 00:00:00', this bug will cause TPCH Q6 get wrong result.

[code]

[2016-10-08 18:30] hlinnaka commented on #509
This may be the same issue as discussed upstream at https://www.postgresql.org/message-id/flat/50ECCC61.6090409%40agliodbs.com, which lead to commit:

[code]

We could backport it, but frankly I'd prefer to just leave it, and we'll get that change from the upstream eventually, when we merge with 9.3. It was not deemed worth backpatching in the upstream either.

Closing, on the assumption that ever

[2016-10-08 18:30] #509 closed

[2016-10-08 18:48] hlinnaka commented on #436
I agree with @hardikar, that we should replace 'psi' with 'psutils'. Not being a python hacker, and because I don't know what all those scripts do or how to test them, I'm not volunteering to do that work..

[2016-10-08 18:55] hlinnaka commented on #938
I can't reproduce this. Closing. Please feel free to re-open, and provide the exact commands to reproduce, if you're still seeing this problem.

[2016-10-08 18:55] #938 closed

[2016-10-08 18:57] hlinnaka commented on #624
Yeah, making the tests faster, and parallelizing them is one way to do it, would be nice. I don't think there's much point in keeping this as an open issue, though, so closing.

(We have changed the test schedule many times, since this was opened, some of those changes made them more parallel.)

[2016-10-08 18:57] #624 closed

[2016-10-08 21:18] danielgustafsson commented on #455
Considering that we require bash for much of gpMgmt, is it useful to support non-bash shells? I don't object to the change per se (unless where it would deviate from upstream should that be the case) but if we explicitly support other shells we should perhaps ensure the rest of the scripts work with them?

[2016-10-09 02:32] zeromax007 opened #1189 "Master crash when segment can't connect"
Master will crash when segment can't connect .

the follow log is the detail.

2016-10-09 10:16:48.498553 CST,"testschema","testdatabase",p16183,th1996822592,"192.168.64.15","49682",2016-10-09 10:16:27 CST,125012,con4809,cmd8,seg-1,,dx5436,x125012,sx1,"LOG","00000","Failed connection to seg28 172.21.8.8:40000",,,,,,"BEGIN",0,,"cdbgang.c",660,
2016-10-09 10:16:48.498648 CST,"testschema","testdataba

[2016-10-09 02:34] zeromax007 commented on #1189
master will codedump

[2016-10-09 04:28] funnyxj commented on #1189
It should be segment ERROR or FATAL, you should see segment logs, master is normal and not coredump.

[2016-10-09 05:26] zeromax007 commented on #1189
The network is lag at that time. Master is really coredump and generate corefile. And all connections disconnect at that time.

[2016-10-09 05:33] funnyxj commented on #1189
Can you give master core file "Stack trace"?

[2016-10-09 05:34] funnyxj opened #1190 "[BUG] ERROR: operator 37 is not a valid ordering operator (pathkeys.c:492)"
while I run tpch Q2, it will be ERROR.
[code]

[2016-10-09 06:20] zeromax007 commented on #1189
GNU gdb (GDB) Red Hat Enterprise Linux 7.6.1-80.el7
Copyright (C) 2013 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type "show copying"
and "show warranty" for details.
This GDB was configured as "x86_64-redhat-lin

[2016-10-09 06:22] zeromax007 commented on #1189
I find the issue is about segment using pl/java , the jvm OOM and the segment will be error.

[2016-10-09 06:24] zeromax007 commented on #1189
PG_LOG detail

2016-10-09 13:53:14.626145 CST,"testschema","testdatabase",p23705,th-224700352,"172.18.31.10","49680",2016-10-09 13:53:01 CST,129716,con4925,,seg34,,dx5845,x129716,sx1,"LOG","00000","could not unlink file ""base/16384/pgsql_tmp/pgsql_tmp_sess4925_w23705_qdxid5845_qdcid0_sync2"": No such file or directory",,,,,,,0,,"fd.c",1140,
2016-10-09 13:53:14.626183 CST,"testschema","testdatabas

[2016-10-09 06:25] zeromax007 commented on #1189
hs_err_log detail

#
# There is insufficient memory for the Java Runtime Environment to continue.
# Native memory allocation (malloc) failed to allocate 8192 bytes for AllocateHeap
# Possible reasons:
#   The system is out of physical RAM or swap space
#   In 32 bit mode, the process size limit was hit
# Possible solutions:
#   Reduce memory load on the system
#   Increase physical memory or swap

[2016-10-09 06:27] zeromax007 commented on #1189
Is this the bug of pl/java? I don't using the lastest version of pl/java. the jvm option  is xms 256MB xmx 2048MB.

[2016-10-09 06:51] zeromax007 commented on #1187
I think  you can use

 date '1993-01-01' + interval **'1 year';**

[2016-10-09 06:55] zeromax007 commented on #1189
I try to decrease xms xms to 128MB and 512MB , and test again. waiting for my subsequent information.

[2016-10-09 07:38] liruto commented on #987
After redistribution on _‘request_histories’_ and _‘current_uuid’_ columns, it occurs seriously data skew.  Disable optimization on distinct-qualified aggregates by _'set gp_enable_agg_distinct_pruning = off'_ and try again, can it help?

[2016-10-09 12:47] andreasscherbaum commented on #455
We want to improve gpMgmt anyway. The main reason is outlined in the original posting: Ubuntu does not even have bash as the standard shell. We surely will see more such problems in the future.

[2016-10-09 17:17] danielgustafsson commented on #455
Probably yes, ideally we should be more shell agnostic.

[2016-10-10 06:57] hlinnaka commented on #506
Updated README. I think that's good enough for now.

[2016-10-10 06:57] hlinnaka commented on #507
Updated README. I think that's good enough for now.

[2016-10-10 06:57] hlinnaka commented on #508
Updated README. I think that's good enough for now.

[2016-10-10 06:57] hlinnaka commented on #510
Updated README. I think that's good enough for now.

[2016-10-10 12:33] ascherbaum-pivotal commented on #1187
Works as expected in PostgreSQL 9.4. It will return 1994.

[2016-10-10 12:45] ascherbaum-pivotal commented on #1187
Heikki confirmed that this is fixed in PostgreSQL 8.4. The next merge will fix this problem.

[2016-10-10 17:59] #1060 closed

[2016-10-11 09:36] hlinnaka commented on #1162
No:

postgres=# copy foo from '/tmp/aaa'  with binary;
ERROR:  BINARY is not supported

[2016-10-11 09:42] hlinnaka commented on #1129
Yes. Closing.

[2016-10-11 09:42] #1129 closed

[2016-10-11 19:11] deepesh1081 opened #1197 "Is there a compatibility check which tells what modules are required"
During my attempt to build gpdb-master on the sandbox i ran into many compatibility issues, and it is a very iterative process.
My ask:  is there a script which looks at the environment to, and identify dependencies and suggest a yum command to install those, If such functionality does not exists, i feel it would be greatly helpful.

Following were the yum install command i had to use for configur

[2016-10-11 19:32] Eulerizeit commented on #1197
Look at the README for AmazonLinux

[2016-10-11 23:12] deepesh1081 commented on #1170
This column was used to determine the error table table type, If we are going to drop error tables and only keep error log, yes this is not needed and can be removed.

[2016-10-11 23:13] deepesh1081 commented on #1189
In the event where segment is not responding to the master request while we are in two phasecommit, we expect the master to crash/Panic. This is working as designed

[2016-10-11 23:15] deepesh1081 commented on #1197
agreed, the file has the details, I am more looking for a verification step, which configure can execute what dependencies needs to be resolved beforehand, rather one running configure and resolving dependencies as you see them.

[2016-10-12 06:58] hlinnaka commented on #1197
No, I'm afraid there isn't. We rely on configure to do the checks, and unfortunately it bails out at the first error.

[2016-10-12 06:58] #1197 closed

[2016-10-12 10:53] zeromax007 opened #1201 "FATAL: DTM initialization : failure during startup recovery, retry failed, check segment status (cdbtm.c:1593)"
Using 12 Oct commit version building without code generation.

Init system will be error.
psql template1
psql: FATAL:  DTM initialization: failure during startup recovery, retry failed, check segment status (cdbtm.c:1593)

pg_log information

2016-10-12 18:43:42.099286 CST,"gpadmin","template1",p95850,th592222272,"[local]",,2016-10-12 18:43:42 CST,0,con13,,seg-1,,,,sx1,"LOG","00000","dumping all g

[2016-10-12 11:34] zeromax007 commented on #1201
Segment pg_log information

2016-10-12 18:32:28.901354 CST,"gpadmin","template1",p6937,th-706648000,"192.168.8.25","51717",2016-10-12 18:32:28 CST,0,con5,,seg32,,,,sx1,"FATAL","42704","unrecognized configuration parameter ""codegen_advance_aggregate""",,,,,,,0,,"guc.c",4500,

[2016-10-12 15:03] volkovandr opened #1202 "gpactivatestandby fails"
Hello,

I have a cluster of 2 master nodes and 2 data nodes, 1 primary and 1 mirror segment on each data node. Cluster is up and running normally.

I want to test how the standby master takes over if the primary master dies. I kill the primary master with
[code]
now I go to the standby master and try to activate it
[code]
there is nothing relevant the startup.log
but in the gpdb log I see this:
[c

[2016-10-12 15:19] volkovandr commented on #1202
That's the log file after gpstart:
[code]

[2016-10-12 17:27] volkovandr commented on #1202
Checked out the repository at randomly chosen commit 30948311d2cbba4154a88a731ef57b083688cbf1 which was somewhere in the beginning of August and compiled the binaries again. The only difference is that the DB is now compiled without GPORCA.

Repeated the same steps to make the standby master take over and now it was successful!
So I believe some changes after that commit broke the standby master a

[2016-10-12 20:04] volkovandr commented on #1202
Now checked out the repository at commit 1287e6317ec3e1d0ccf090e3575711960c159025 which was in the middle of September.
The issue is there now. So the problem arose somewhere between beginning of August and middle of September. And there was another issue with starting the standby master after restarting the cluster, i think that is fixed already.

[2016-10-12 20:37] ascherbaum-pivotal commented on #1170
According to @hlinnaka on Slack the code for error tables is no longer in v5.

[2016-10-12 22:03] jimmyyih commented on #1202
It's failing to update gp_segment_configuration relation on the standby master.  The issue is easily reproducible and I think was introduced in commit 8df78e67f4de4bda603f021f573e81745102902b for function segment_config_activate_standby() in src/backend/utils/gp/segadmin.c.

[2016-10-12 22:30] asimrp commented on #1201
@karthijrk can you please take a look at this issue?

[2016-10-12 23:14] alldefector commented on #1162
Comparing https://github.com/greenplum-db/gpdb/blob/ef42590d2e5f9d01ee5839d93b1d6b36fd2b1e9e/src/backend/commands/copy.c with https://github.com/postgres/postgres/blob/REL8_2_STABLE/src/backend/commands/copy.c (search for `->binary`), binary COPY was deliberately disabled in gpdb.

Would appreciate if someone could explain the rationale behind that and what's a good way to re-enable it.

[2016-10-12 23:24] kaknikhil commented on #1201
i see the same error if i run make installcheck-bugbuster but i don't see the exception `unrecognized configuration parameter ""codegen_advance_aggregate""",,,,,,,0,,"guc.c",4500 `

here is what i have in the log file

[code]

[2016-10-12 23:25] Eulerizeit commented on #1162
The reason given was a performance improvement:
"This greatly simplifies the logic in COPY (and some external table) data processing, reduces complexity, removes many conditionals and allows the compiler to do a better job optimizing the code for faster execution. I don't have numbers but COPY (FROM file/STDIN) should get a good performance boost from reducing the CPU bottleneck on the QD a bit, a

[2016-10-13 02:25] zeromax007 commented on #1201
Building without  --with-mapreduce can avoid this error.

[2016-10-13 09:43] pengzhout commented on #1164
we found a potential defect that cause this issue, will draft a PR to fix this.

[2016-10-13 17:11] volkovandr opened #1207 "Segment recovery destroys the cluster"
Hello,

I have a cluster of 2 master nodes and 2 data nodes with 1 primary and 1 mirror segment on each data node.
Wanted to test high availability featured and restarted one of the data nodes.
All the active queries were frozen for a while and then the mirror segment took over and the cluster continued working normally.
I run gprecoverseg and it was executed quite normally.
But then the mirror se

[2016-10-13 17:17] ashwinstar commented on #1164
Thank You that would be very helpful.

On Thu, Oct 13, 2016 at 2:43 AM, Tang Pengzhou <notifications@github.com>
wrote:

[2016-10-13 18:57] jimmyyih commented on #1202
Fix merged into master:
https://github.com/greenplum-db/gpdb/commit/67963ee0b169820274097fe771faca38725f8f0a

Thanks again @volkovandr for the detailed report!  Closing this issue.  Please reopen if the issue persists.

[2016-10-13 18:57] #1202 closed

[2016-10-13 19:16] vraghavan78 commented on #1190
[code]

It seems to work. What is the number of segments in your setup?

[2016-10-13 19:20] vraghavan78 commented on #1104
Thanks for reporting this. We will take a look at this.

[2016-10-14 00:32] karthijrk commented on #1201
oh, really. We will create a story in our backlog to investigate this issue.

[2016-10-14 02:25] zeromax007 commented on #1207
I have the same issue   https://github.com/greenplum-db/gpdb/issues/1161

It seems a bug of gprecoveryseg, you can use gprecoverseg -F to avoid it.

[2016-10-14 04:27] asimrp commented on #1161
I'm encountering similar failures in resync manager process.  `gprecoverseg a` runs without error but the segments perpetually remain in resync state.  In my case, resync manager process is failing with the following stack trace:

[code]

[2016-10-15 23:33] asimrp commented on #1164
Hey @eurekaka, thank you for digging into the details of packet exchange.  I found it very helpful.  The mystery of "5-way handshake" can be explained with TCP window scaling, as defined in RFC 7323: https://tools.ietf.org/html/rfc7323

Notice the window size being exchanged in your packet trace.  Let me quote the packets again for convenience:
[code]
Window size in the first two (SYN and SYN-ACK)

[2016-10-17 09:56] pengzhout commented on #1164
fixed , patch is f626e74dda981f7a71e88f552284c60b11aac856

[2016-10-17 09:56] #1164 closed

[2016-10-17 16:57] asimrp commented on #1178
@skimmilk6877 can you please provide steps to reproduce this?

[2016-10-18 00:54] skimmilk6877 commented on #1178
@asimrp is this means the physical file broken？because this system is the production system，so I already     recover this problem. But I don't know what trigger this problem。I trancate the partition “xxxx_1_prt_p_1h_2016100416”，and the error is gone.

Actually,what I concerned most is  when this error appear,what can i do to skip or delete error line instead of truncate the whole partition ? Fortu

[2016-10-18 03:38] eurekaka commented on #1164
Thanks @asimrp for the clarification, it helps, and thanks @pengzhout for the fix, it is awesome.

[2016-10-18 18:35] foyzur commented on #1201
Opened PR https://github.com/greenplum-db/gpdb/pull/1220/commits/fb3c2df954e11cfdc6c79ddeb209833bb08a7c48

Note, that PR is only relevant to this symptom. We will need a separate PR to fix the test.

[2016-10-19 17:16] #1201 closed

[2016-10-19 23:11] vraghavan78 commented on #1190
Closing the story. Please reopen if needed.

[2016-10-19 23:11] #1190 closed

[2016-10-20 01:44] #1161 closed

[2016-10-20 01:44] #1207 closed

[2016-10-20 03:03] zhangyuvip opened #1231 "gpcheck utility is not found"
gpcheck utility is not found

[2016-10-20 04:59] fengttt opened #1234 "Unable to detoast"
create table a (i int, t text);
insert into a select i, i::text from generate_series(1, 10) i;
create table b as select i + 1 as i, t from a;
create table c as select i + 2 as i, t from a;

Now run the following query,
select *
from a inner join b on coalesce(a.t, '0') = coalesce(b.t, '0')
where not exists
    ( select 1 from c
        where coalesce(c.t, '0') = coalesce(b.t, '0')
        and coal

[2016-10-20 05:00] fengttt commented on #1234
This is latest head, using planner, not orca.

[2016-10-20 10:58] danielgustafsson commented on #1231
gpcheck was deprecated in previous closed source releases of Greenplum and has been removed. Created #1238 to remove leftover files from the deprecation.

[2016-10-20 16:54] ivannovick commented on #1234
@fengttt can you help us try it on ORCA as well?  Do you have explain?

[2016-10-20 16:59] ashwinstar commented on #1121
Closing the issue as most likely commit e959070 fixed the problem. If not please feel free to re-open.

[2016-10-20 16:59] #1121 closed

[2016-10-20 17:22] asimrp commented on #1234
Did a bit of initial investigation.  `ExecEvalScalarVar()` is returning a NULL datum without `isNull` argument set to true.  This datum is passed to `varattrib_untoast_ptr_len()` which does not tolerate a NULL datum and fails with the reported error.

Stack trace:
[code]

[2016-10-20 18:55] ivannovick commented on #1056
@andreasscherbaum can you update it?

[2016-10-20 18:56] ivannovick commented on #1056
I am not coding :)

[2016-10-20 18:56] ivannovick commented on #1231
thx @danielgustafsson and thx for associated PR

[2016-10-20 18:57] ivannovick commented on #1231
can we close this?

[2016-10-20 19:08] Eulerizeit commented on #1231
I'd keep it open until the documents have been changed.

[2016-10-20 19:56] fengttt commented on #1234
I am pretty sure ORCA plan will work fine.

Guts feeling is that this bug is deeply inside cdbsubplan/cdbdisp and postgres init plan in general.   It is tough.

[2016-10-20 21:05] andreasscherbaum commented on #1056
@ivannovick If you say the new copyright line is ok, I'm happy to go ahead and update it.

[2016-10-20 21:07] ivannovick commented on #1056
@andreasscherbaum can you do a PR?

[2016-10-20 21:08] ivannovick commented on #1056
We need to update the year for sure, and removing EMC and putting Pivotal sounds good

[2016-10-20 21:14] Eulerizeit commented on #1056
According to David Schachner

"To avoid having to continually adjust, you can also use the following format on the © notice:

Copyright (c) YYYY - Present Pivotal Software, Inc.

...where YYYY is the year of first creation/publication."

[2016-10-20 21:36] andreasscherbaum commented on #1056
@ivannovick Already there: https://github.com/greenplum-db/gpdb/pull/1193

[2016-10-20 22:17] ivannovick commented on #1056
looks good to merge

[2016-10-20 23:50] vraghavan78 commented on #1021
Closing the issue, @GuoLiuFang please re-open it if @Eulerizeit hint did not help you.

[2016-10-20 23:50] #1021 closed

[2016-10-21 01:00] vraghavan78 commented on #372
@digoal please let me know if this is still an issue.

[2016-10-21 01:00] #372 closed

[2016-10-21 01:00] #833 closed

[2016-10-21 01:10] vraghavan78 commented on #1015
@deepesh1081 please take a look.

[2016-10-21 02:23] gaos1 commented on #1234
added a tracker story to triage it.

[2016-10-21 06:27] hlinnaka commented on #833
@vraghavan78, did you fix the bug in tuplesort_mk.c? I didn't see a commit.

[2016-10-21 19:41] vraghavan78 commented on #982
Issue fixed via https://github.com/greenplum-db/gpdb/commit/ff3474e2d9e1947c0bf595f8508fe04010064eb6

[2016-10-21 19:41] #982 closed

[2016-10-23 09:05] zhangyuvip opened #1242 "After gprecoverseg command, the segments has been in a Resynchronizing mode。"
In order to test High Availability Features, I reboot a segment host.

When the segment host is up, I execute gprecoverseg command。

After gprecoverseg command, the segments has been in a Resynchronizing mode。

Segment Log continuously display the following information:

2016-10-23 16:54:57.164426 CST,,,p5683,th1047177152,,,2000-01-01 08:00:00 CST,0,,,seg-1,,,,,"LOG","00000","'set segment state',

[2016-10-24 10:03] lij55 opened #1246 "Import CSV file with multi-byte delimiter by external table"
As a user of GPDB, I have a lot of CSV/text files with multi-byte delimiter and I want to use external table to import these files.

[2016-10-24 19:34] asimrp commented on #1242
@zhangyuvip did you try the latest code?  An issue with gprecoverseg was fixed by commit https://github.com/greenplum-db/gpdb/commit/b973dd1484119b0a03c257278dcc2c2dd301cfe5

[2016-10-24 23:03] ascherbaum-pivotal commented on #1056
Merged

[2016-10-24 23:03] #1056 closed

[2016-10-25 02:19] zhangyuvip commented on #1242
@asimrp I tested the latest code, the issue already fixed . Thank you

[2016-10-25 07:00] ashwinstar commented on #1242
Thank You @zhangyuvip for confirming. Closing the issue.

[2016-10-25 07:00] #1242 closed

[2016-10-25 07:11] xiong-gang opened #1250 "Planner sigsegv"
Reproduce steps:

[code]

Backtrace:

<pre><code>

(gdb) bt
#0  0x000000000099994d in examine_variable (root=0x1c9a8a8, node=0x1ca2c58, varRelid=0, vardata=0x7fff9f760190) at selfuncs.c:3634
#1  0x000000000099828e in estimate_num_groups (root=0x1c9a8a8, groupExprs=0x7f0ae80e6880, input_rows=56400) at selfuncs.c:2716
#2  0x0000000000aedc24 in planDqaJoinOrder (root=0x1c9a8a8, ctx=0x7fff9f760410, in

[2016-10-25 07:57] zlyswjtu commented on #197
install GP on CentOS 7.2 , meet this problem,
 service systemd-logind restart not working, while reboot is OK.

[2016-10-25 18:25] Eulerizeit commented on #1234
@danielgustafsson does  this effect the work you're doing with pg_upgrade?

[2016-10-25 19:11] danielgustafsson commented on #690
This was fixed in #1095, closing.

[2016-10-25 19:11] #690 closed

[2016-10-26 03:24] liruto opened #1253 "a type error for getopt's return value"
In some systems '_(char)-1 != -1_' is always TRUE while others is FALSE.
M1:

[code]

M2:

[code]

Looking through all 'getopt' function, I find that '_gpmirrortransition.c_' has a typo.

[code]

As code as above, it would cause an endless loop with **"char opt;"** in M2 system.

[2016-10-26 09:57] VinnyPem opened #1255 "GP Client Tools"
Hello,

I've installed Greenplum from the GPDB Software available from Pivotal directly previously, with a Master server and an ETL server to catch files for loading. On the ETL server we had just the GP Client Tools package installed to allow the use of GPFDIST, PSQL, etc.

I've now installed a server using GitHub GPDB open source software successfully, but in trying to create a test ETL server,

[2016-10-26 18:49] ashwinstar commented on #310
Yes was committed 7d2d89f67eca0b04f02f10a4e8eec443b69b6056. Closing.

[2016-10-26 18:49] #310 closed

[2016-10-27 04:54] adam8157 commented on #1000
Thanks @shahin  for the report! Closing this issue. Please reopen if the issue persists.

[2016-10-27 04:54] #1000 closed

[2016-10-30 20:57] ivannovick commented on #1255
Hi Vinny I think you are right their is no custom packaging for stripping out the server components.  As an easy step, you can just remove the postgres binary which will make the install only good for non-server use cases.  There are a few efforts to provide packaging for open source Greenplum and it would most likely by up to those packaging efforts to select the right output from the build for a

[2016-10-30 20:57] #1255 closed

[2016-11-01 05:11] #1253 closed

[2016-11-03 07:53] pengzhout opened #1275 "Query got stuck due to tuple visibility inconsistency"
Reproduce step:
[code]

Due to codes list bellow, ShmemVariableCache->latestCompletedXid is not updated when aborting sub-transaction, and it may cause subsequent tuple visibility check incorrect.

[code]

@hlinnaka this isQEReader check was involved in commit a453004ea, aren't !isQEReader more reasonable here?

@ashwinstar @asimrp please take a look.

[2016-11-03 08:44] pengzhout opened #1276 "Wrong result of bugbuster cursor case"
Repo steps: (has a fail rate, please try several times)

[code]

Results:

[code]

As we investigated, this bug was introduced by a453004ea1946b5c141bd26ac871ac6edde64f37, snippet in src/backend/utils/time/tqual.c might be the core
[code]

The possible root cause:

line `update y_schema.y set b =333 where b =666` in the sub transaction updated tuple before cursor QE. while cursor reading that tupl

[2016-11-03 09:04] hlinnaka commented on #1275
On 11/03/2016 09:53 AM, Tang Pengzhou wrote:

Yeah, seems so at a quick glance.

I'm a bit confused of how all this works. What does a QE reader process
have as its top transaction ID, and in its subxid cache, in the PGPROC
entry? Can a QE reader process acquire a (sub-)XID independently of the
QE writer process? This are needs some more comments. More assertions to
check those invariants would he

[2016-11-03 09:19] hlinnaka commented on #1276
On 11/03/2016 10:45 AM, Tang Pengzhou wrote:

Hmm, so the problem is that in a QE reader process,
TransactionIdIsCurrentTransactionId() returns false, for a sub-XID that
is in fact part of the current top-level transaction. I think we need to
add some more code into TransactionIdCurrentTransactionId() to check for
that case. Perhaps have it check the PGPROC->subxid cache of the
"parent" process (i

[2016-11-03 10:53] salahaldin opened #1278 "pg_dump issue"
Hello,

Can please some one confirm this issue if still exists
 pg_dump -U gpadmin -h localhost <my_database> -n <my_schema> -s
pg_dump: [archiver (db)] query failed: ERROR:  unrecognized configuration parameter "synchronize_seqscans"
pg_dump: [archiver (db)] query was: SET synchronize_seqscans TO off

 SELECT version();

[2016-11-03 11:50] #1278 closed

[2016-11-03 11:54] salahaldin commented on #1278
My mistake several versions of pg_dumps

[2016-11-03 16:22] ryantang commented on #1275
@Eulerizeit Does it make sense for you (on behalf of your team) to be assigned this issue?

[2016-11-03 19:03] Eulerizeit commented on #1275
We've got it.

[2016-11-04 02:10] pengzhout commented on #1276
@hlinnaka you are right, we need to enhance the TransactionIdCurrentTransactionId(), but GPDB seems to use tmp files to share snapshot include sub-transactions  between QE writer and QE cursor reader.  We have no strong background on this area, is catalog and storage team the right team to take this issue? @ryantang @Eulerizeit thanks.

[2016-11-04 02:21] ashwinstar commented on #1276
Yes we will take care of this.

- AshwinA

On Nov 3, 2016, at 7:10 PM, Tang Pengzhou <notifications@github.com> wrote:

@hlinnaka <https://github.com/hlinnaka> you are right, we need to enhance
the TransactionIdCurrentTransactionId(), but GPDB seems to use tmp files to
share snapshot include sub-transactions between QE writer and QE cursor
reader. We have no strong background on this area, is cata

[2016-11-04 02:32] pengzhout commented on #1276
@ashwinstar thanks a lot.

[2016-11-07 08:17] wjzeng opened #1285 "gpdb codegen question"
1 Why gpdb codegen is not based on llvm-c API development?
2 Can you share codegen's todo list?

[2016-11-10 03:19] pengzhout opened #1301 "MemoryContext error caused by backslash in GUC"
[code]

[2016-11-10 21:26] foyzur commented on #1250
Opened a PR: https://github.com/greenplum-db/gpdb/pull/1294

[2016-11-11 20:00] hlinnaka opened #1310 "EXPLAIN ANALYZE on non-started sort crashes"
[code]

The node below the Sort returns 0 rows, so the sort is never started. That causes a NULL-pointer dereference in show_sort_info()

[2016-11-11 22:55] hardikar commented on #427
Fixed with https://github.com/greenplum-db/gpdb/pull/1293.

[2016-11-11 22:55] #427 closed

[2016-11-11 22:56] hlinnaka commented on #1310
Fixed.

[2016-11-11 22:56] #1310 closed

[2016-11-11 23:11] #1250 closed

[2016-11-14 18:33] hardikar commented on #1285
I can answer question 1. This decision was made to maximize the benefits we can get from the C++ features:

1. LLVM and Clang are both implemented in C++. It's C interface is effectively a wrapper around the C++ implementation. Practically this means the C interface is less expressive than the C++ API. Compare the functions available the C API and C++ API of the fundamental IR Builder.
2. Using C+

[2016-11-14 18:53] vraghavan78 commented on #1285
Thanks @hardikar

Some of the items in our immediate todos:
1. We are wrapping up TPC-H Q1. We only have "average" left.
2. Instantiate PGGenericFuncGenerator for all simple int8 and int4 operators
3. Investigate how we can auto-generate code for catalog functions based on understanding current approaches and our initial idea.
4. Improve debug-ability of our codegen.
5. Support operation on partit

[2016-11-14 18:53] #1285 closed

[2016-11-14 19:28] vraghavan78 commented on #153
[code]

Seems to not be an issue. Please reopen this if it is still an issue.

[2016-11-14 19:28] #153 closed

[2016-11-15 08:03] fengttt commented on #1250
Not so fast :-)

On latest master, debug build, hit assert,

FATAL:  Unexpected internal error (planner.c:1348)
DETAIL:  FailedAssertion("!((var->varno == 65001 || (var->varno > 0 && var->varno <= list_length(root->parse->rtable))) && "Plan contains var that refer outside the rtable.")", File: "planner.c", Line: 1348)

[2016-11-15 08:05] fengttt opened #1323 "Reopen #1250"
While release build seems to work, the debug build hit assert.   I tried to re-open 1250 but seems github only allow me to open new issues.   Therefore, here it is,

ftian=# create table sale(cn int, vn int) distributed by (cn, vn);
CREATE TABLE
ftian=# create view myview as select sum(distinct sale.cn) from sale group by grouping sets(sale.vn, sale.cn);
CREATE VIEW
ftian=# select * from myview;
F

[2016-11-15 23:39] wjjung317 opened #1329 "UDFs returning composite types potentially triggering unneeded executions"
From Robert in the DS team:

I noticed something odd.  When I have a PL/R function that returns a composite type and I call the function like this

create table mdl as
select (plr_func(…)).*
from …

It calls the function once for each element of the composite type.  i.e. If the composite has 4 items, it runs four times.  If the composite type has 5 items, it runs five times!!!

On the other hand,

[2016-11-16 06:23] micklf opened #1331 "delete error while delete all data from a big table"
[code]

found infomations from the log:
[code]

In big table whith many lines, say 100 million lines, Can not use `delete from tablexxxx` ?

[2016-11-16 06:56] gaos1 commented on #1091
@funnyxj i cannot reproduce it with the latest master code. if you still see it, please help to comment. thanks.

[2016-11-16 06:56] #1091 closed

[2016-11-16 07:42] hlinnaka commented on #1112
gp_toolkit *is* installed in template0. At least in current git master. Perhaps you were testing with an earlier version?

I'll mark this as closed...

[2016-11-16 07:42] #1112 closed

[2016-11-16 14:51] hlinnaka commented on #1329
Yeah, this is expected behavior. We've inherited that from the upstream. I couldn't find a reference right now, but I believe it's required by the SQL spec.

The "SELECT (compositetype).*" syntax is expanded in the parse analysis phase into:

SELECT compositetype.col1, compositetype.col2, ...

Hence, if "compositetype" is a function call, it gets expanded too, and called multiple times.

[2016-11-16 14:51] #1329 closed

[2016-11-16 15:23] hlinnaka commented on #1331
Hmm. That stack trace isn't very helpful, unfortunately, as it's from the master node, rather than the segment where the error happened. Can you look into seg17's log, to see if there's a more useful stack trace?

[2016-11-16 22:06] ascherbaum-pivotal commented on #1323
For reference: https://github.com/greenplum-db/gpdb/issues/1250

[2016-11-17 18:31] vraghavan78 commented on #1331
@asimrp @ashwinstar @yydzero can one of you look into this?

[2016-11-17 22:51] ashwinstar commented on #1275
Fixed by a8c69af09a11ba215f662c59b1a7ef4d3610663e.

[2016-11-17 22:51] #1275 closed

[2016-11-18 01:03] jimmyyih opened #1341 "possible planner issue involving nested loop chosen instead of merge join"
Possible planner issue:
[code]
Running the delete takes about ~620627.34 ms.  It's weird that it's still doing a nested loop instead of going for a merge join... especially since I have enable_nestloop set to off.

On 4.3.10.0:
[code]

[2016-11-18 04:54] kuruv opened #1342 "Incorrect plan generated for inequality joins and roll up"
Using GPDB 4.3.10 with Optimizer PQO version 1.677

The following query

select
   a.member
   ,min(a.transdate)
from core.trans as a
join custlist as b
   on a.member=b.member
   and a.transdate between '2015-01-01' and current_timestamp
where a.transdate>b.min_trans_date
group by a.member;

generates query plan whose deepest three explain line items are -

->  Partition Selector for trans (dynam

[2016-11-18 05:53] vraghavan78 commented on #1342
Hi @kuruv, this is a known explain bug. The plan is correct but the expression under the partition selector is printed incorrectly. Can you send me the DDL and we can fix this.

[2016-11-18 06:36] kuruv commented on #1342
Hi @vraghavan78, please find the DDLs attached. Forgive me if I am wrong, but if the plan is correct, its execution should not be throwing the high VMEM usage error, right?

Following is the error I get -

NOTICE:  Canceling query because of high VMEM usage. Used: 15180MB, available 1704MB, red zone: 15358MB (runaway_cleaner.c:135)  (seg22 slice2 app2060:40006 pid=34820) (cdbdisp.c:1320)

Followin

[2016-11-18 07:13] vraghavan78 commented on #1342
Thanks from the DDL.

Sorry, I did not completely answer your original post. There are two issues here as I see (I will confirm when I get in tomorrow morning):
* Wrong predicate which could be the explain issue that we know (will confirm tomorrow)
* Execution issue. <--- This could be because of a bad plan that PQO generated.

I saw that DDL, thank you for that, but I forgot to ask you the stats

[2016-11-18 08:44] micklf commented on #1331
@hlinnaka I tried again, and got the logs below on the segment, the error one got from master's log.
[code]

[2016-11-18 09:04] hlinnaka commented on #1331
Thanks!

Which version did you build this from? This looks a lot like the bug that was fixed in commit 3d3d3cc2, but that was fixed on Sep 1st already. Is it possible that your checkout is older than that?

If that's not it, any chance you could re-build with --enable-debug, to get accurate line number information in there?

[2016-11-18 09:24] micklf commented on #1331
@hlinnaka I got the source code at about August. I'll try to review commit  3d3d3cc, open the debug mode to try to solve this.

If it is caused by 3d3d3cc, i'll close this issue ASAP.

[2016-11-18 11:46] zeromax007 opened #1345 "Insert mass big bytea records issue"
When I insert mass big bytea records, maybe one record have 100 - 500MB. gpdb will report the follow error.

`ERROR:  Canceling query because of high VMEM usage. Used: 7378MB, available 792MB, red zone: 7372MB (runaway_cleaner.c:129)
CONTEXT:  SQL statement "select Ta.btyeacolumn from public.byteatable as Ta where random() < 0.13841724395751953125000000000000000000 limit 7500 "`

It looks like abo

[2016-11-18 13:22] hlinnaka commented on #1345
Hmm. ANALYZE grabs a sample of the table, and holds it in memory. If you have a lot of very large records, I can see that being a problem..

Looking at the corresponding upstream function, which we had to rewrite in GPDB to issue a SQL query, in order to have it work across the cluster, it doesn't detoast the columns. I guess that keeps the memory usage down in the upstream. Since we're fetching t

[2016-11-18 13:57] brucezte opened #1347 "shared_buffer setting issue"
Increase shared_buffer from 256MB TO 1GB make  CPU utilization Increased , but  without  Performance improvement,why?

Is there a  Suggest setting for  GP shared_buffer?

[2016-11-18 14:11] brucezte opened #1348 "resource queue don't work Issues"
With the default of "eager_free" gp_resqueue_memory_policy,  Set default memory  limit to 20GB, statement_mem to 3GB.
 test with lots sqls,  use more than 50GB system  memory ,  large greater  than  20GB

[2016-11-18 17:51] hlinnaka commented on #1341
show enable_mergejoin;

?

[2016-11-18 18:25] hlinnaka opened #1349 "Common Table Expression evaluated twice"
This regression test case from PostgreSQL 8.4 returns incorrect results on GPDB:

[code]

"5" is the correct answer, from the upstream expected output, but GPDB returns "10".

[2016-11-18 18:57] fengttt commented on #1349
The question is, why 5 is the (only) correct answer?   There is no
guarantee that CTE, when referenced multiple times in a query, should be
executed only once.

On Fri, Nov 18, 2016 at 10:25 AM, Heikki Linnakangas <
notifications@github.com> wrote:

[2016-11-18 19:00] jimmyyih commented on #1341
Thanks Heikki, that was kinda the issue.

On 4.3.10.0, enable_mergejoin is set to off as well but still uses merge join in the plan.  Probably something different in 5.0 which is more correct.

[2016-11-18 19:00] #1341 closed

[2016-11-18 19:02] vraghavan78 commented on #1342
@kuruv I can confirm that the explain issue is the known issue I talked earlier about. Here is the details:

Consider a smaller query

[code]

The explain of the same is as follows:

[code]

The partition selector filter is the same as what you saw.

[code]

When you look at the minidump for this query you will see the DXL element for the printable fllter is correct.

[code]

The explain bug is in

[2016-11-18 19:34] vraghavan78 commented on #1349
Thanks @hlinnaka this is a planner bug. GPORCA generates the right result

[code]

Planner on the other hand generates wrong result.

[code]

[2016-11-18 19:36] vraghavan78 commented on #1349
When you enable CTE sharing with Planner, we generate the right result.

[code]

[2016-11-18 19:37] hlinnaka commented on #1349
The SQL standard is a pretty difficult read, but my understanding is that the intended behavior is as if the CTE was executed once. I believe the relevant snippet is this (from a draft version of SQL2008):

[code]

My interpretation of that is that: a) The query within the WITH-clause is evaluated, and it becomes table WLT. b) Every reference to the CTE, identifies WLT. There is only one WLT, so t

[2016-11-18 21:11] fengttt commented on #1349
I am not SQL language lawyer, and I cannot read that thing.   Causing headache.   But, I know at least lawyers from one major vendor read the spec differently :-).    Actually I think lawyers from another big vendor also think that way because the feature is called "inline view".    I have no idea/experience with vendor O.

[2016-11-18 21:17] fengttt commented on #1349
BTW, I believe, even if it real table, there is no guarantee that refer it twice in same query will give you save result.   But what do I know, need lawyers ...

[2016-11-18 23:12] vraghavan78 commented on #1342
@kuruv since you are using the enterprise edition of GPDB could you channel the discussion via Pivotal GSS so we can appropriately prioritize it.

[2016-11-21 05:56] wjzeng commented on #1285
Thank you very much for your answer

[2016-11-21 09:17] kuruv commented on #1342
@vraghavan78 , please find attached attached the minirepro's output for both the codes:
[code2_querystats.txt](https://github.com/greenplum-db/gpdb/files/603107/code2_querystats.txt)
[code1_querystats.txt](https://github.com/greenplum-db/gpdb/files/603108/code1_querystats.txt)
The queries are the ones ran originally, not simplified for raising issue, but the same issue exists.

You seem to have mi

[2016-11-21 11:40] hlinnaka commented on #1349
It might not be worth it to try fixing this right now. When we merge with 8.4, we'll acquire the upstream CTE implementation, which will handle this correctly. The tricky part of that effort is going to be to also keep the current "inlining" approach, for the cases where that's more performant (and safe, i.e. when there are no volatile functions like this).

[2016-11-22 05:49] shubh8689 commented on #1145
Hi, @oakbarrett / @ashwinstar, I can take this up.

Looking at gpdeletesystem, we are tracking two issues here-

1 - "--master-data-directory" being an undocumented option.
 - Looking at the below snippet --master-data-directory is the long/expanded form of "-d"
[code]

But when we check, if this required argument is present, we chose to print the expanded form. Please refer the below snippet

[co

[2016-11-22 06:33] ashwinstar commented on #1145
On Mon, Nov 21, 2016 at 9:49 PM, Shubham Sharma <notifications@github.com>
wrote:

Sure that sounds good.

Lets try to make it consistent with the behavior of other utilities,
@oakbarrett <https://github.com/oakbarrett> and team would be able to
provide guidance on it. From my personal opinion, -d should not be
mandatory option. Only if MASTER_DATA_DIRECTORY is not set it should be
asked to set it

[2016-11-22 10:52] flabby opened #1366 "gpload log errors not working"
I want to log detail errors when gpload. But it is not capable.
* ERROR_TABLE is not supported.
* when LOG_ERRORS is true, SQL function gp_read_error_log('') cannot work;

After track tcp packets, I believe that gpload would communicate with greenplum basicly as follows after logging:
* 1 fetch table catalog;
* 2 create external table, eg: `create external table public.ext_gpload_691088be_b097_11e

[2016-11-22 12:48] ascherbaum-pivotal opened #1369 "Safeguard for reserved OID block space"
Right now the first 16384 OIDs are reserved for initdb. Currently (as of 2016-11-22) after initdb the highest used OID is 12066. 437 OIDs are consumed by gp_toolkit entries in pg_class and pg_attribute.

That is safe for now, but could be a problem if someone decides to dump a bunch of new features into gp_toolkit.

gp_upgrade during an upgrade will preserve OIDs from the old into the new database

[2016-11-22 13:05] flabby commented on #1366
Sorry， should set REUSE_TABLES

[2016-11-22 13:05] #1366 closed

[2016-11-24 12:28] StigPem opened #1380 "gpdb configure failure - gpopt/init.h GPOPT header file is required"
Apologies in advance if this is posted to the wrong place.
I’ve been trying to install Greenplum with gp-orca.
I currently have Greenplum installed and running on a test server so have had to use an upgrade method to install the new version with orca to test the optimisers, hence the /usr/local/gpdb4 prefixes.

gp-xerces, gpos and gporca all seem to install OK.
ctest returns 100% OK after the gpor

[2016-11-24 16:26] StigPem commented on #1380
I got the configure to work with this -

./configure --with-openssl --with-libxml --with-libxslt --with-python --with-perl --enable-orca --with-includes=/usr/local/gpdb4/gporca/include/gpopt --prefix=/usr/local/gpdb4/gpdb --exec-prefix=/usr/local/gpdb4/gpdb

However the make fails with -

/usr/local/gpdb4/gporca/include/naucrates/dxl/xml/dxltokens.h:21:39: fatal error: xercesc/util/XMLUniDefs.hpp:

[2016-11-27 15:29] kuien opened #1381 "When create a nonexistent table, it reports: relation already exists."
[code]

[code]

[2016-11-27 21:05] asimrp commented on #1381
Hey @kuien can you please share the stack trace from seg0 logs?

[2016-11-28 15:05] kuien commented on #1381
Sorry, I re-init the database when I was preparing the hackday project, no log can be found now.

I try to share some context on the issue:
1. I was learning the VISIMAP of UAO table in Utility mode, and I may performed some operation  ( I am not sure) ;
2. when I switch back to normal mode, I met this issue.

I guess I may remove some info on master and make it inconsistent with seg0. Let's close

[2016-11-28 15:50] asimrp commented on #1381
Yes, please close it.

[2016-11-28 19:57] vraghavan78 commented on #1380
@oarap @xinzweb @hsyuan @d can you help @StigPem

[2016-11-28 21:49] vraghavan78 commented on #1380
@hlinnaka's comment:

[code]

[2016-11-29 10:12] #1381 closed

[2016-11-29 10:14] zeromax007 opened #1388 "gpconfig display issue"
gpconfig -c pljava_vmoptions -v \''-Xms512m '-Xmx1024m\' -m \''-Xms1024m '-Xmx4096m\'

gpconfig -s pljava_vmoptions
Values on all segments are consistent
GUC          : pljava_vmoptions
Master  value: -Xms1024m -Xmx4096m
Segment value: -Xms1024m -Xmx4096m

In postgresql.conf , pljava_vmoptions value is right. This is just display issue with using gpconfig -s.

[2016-11-29 12:03] micklf commented on #1331
@hlinnaka yes, i merged the commit of  3d3d3cc, which could fix the bug.

[2016-11-29 12:04] #1331 closed

[2016-11-29 18:13] vraghavan78 commented on #1380
@StigPem please let us know if this helped. If not please re-open the issue.

[2016-11-29 18:13] #1380 closed

[2016-11-30 06:44] adam8157 opened #1392 "Column type `serial` triggers SEGV"
[code]
[code]

[2016-11-30 06:59] adam8157 commented on #1392
[code]

[2016-11-30 07:41] adam8157 commented on #1392
Related commit:

commit 46379d6e60f0f95e127a5045ca1fa74dfdc48a85
Author: Tom Lane <tgl@sss.pgh.pa.us>
Date:   Sat Jun 23 22:12:52 2007 +0000

    Separate parse-analysis for utility commands out of parser/analyze.c
    (which now deals only in optimizable statements), and put that code
    into a new file parser/parse_utilcmd.c.  This helps clarify and enforce
    the design rule that utility stat

[2016-11-30 11:10] StigPem commented on #1380
Thanks for the pointers. I finally got it installed.
The key for me was to find the files that were not being found and then include the relevant include or lib as required.

[2016-12-01 02:20] zlyswjtu opened #1397 "query hang when mirror act as primary"
When primary segment is down, mirror segment acts as primary automatically. But query, which started before switching, hang up.
"select * from pg_stat_activity;" can find this statement still in pg_stat_activity. It's looks like query is still running, no result or warn return.
Is this a bug? How to fix?

 I got the source code from master at about August.

[2016-12-01 02:56] zlyswjtu commented on #1397
the down primary segment's log:
[code]

the mirror segment's log:
[code]

[2016-12-01 08:18] ivannovick commented on #1397
@Eulerizeit  can you help take a look at this?

[2016-12-01 13:57] YinAqu opened #1399 "gpfdist and gpload not work when there're some segments deployed on master host and segment host"
Hi, dear team:
I'm a new guy, I've got two hosts in my greenplum DBMS, which consists of a master host named `mdw` and a segment host named `sdw1`.
When I deploy some segments on `sdw1` only,  gpfdist and gpload work well.
When I deploy some segments on `mdw` making it as a single node system, gpfdist and gpload work well.
But when I deploy some segments **on both of them**, gpfdist and gpload get

[2016-12-01 15:53] YinAqu commented on #1399
Well, I tested it further, and I found it might not be gpfdist's business.
I used psql utility within the mdw host to connect greenplum, I got stuck at the `insert into` statement at the first time. Then I used `ctrl c` to cancel it, issued 'insert into' again, it worked.
[code]
However, it always got stuck at the statement `tpch=# insert into nation select * from ext_nation ;`
And I found update

[2016-12-02 02:20] eurekaka commented on #1399
@lij55 FYI

[2016-12-02 05:02] YinAqu commented on #1399
I fixed it myself. There was something wrong in my /etc/hosts like this:
[code]
Removing the `mdw` from the `127.0.0.1` line fixed my issue.
Anyway, tks your comment in time @eurekaka, and I'll close this issue.

[2016-12-02 05:02] #1399 closed

[2016-12-02 05:44] adam8157 commented on #1392
@Eulerizeit Please take a look at this?

[2016-12-05 03:47] zeromax007 commented on #1345
How can I turn AUTO ANALYZE  off?

[2016-12-05 19:31] bhuvnesh2703 commented on #1345
You can set the values of gp_autostats_mode to none. Refer to:
http://gpdb.docs.pivotal.io/4340/guc_config-gp_autostats_mode.html

Thanks,
Bhuvnesh Chaudhary
Email: bchau <bchaudhary@gopivotal.com>dhary@pivotal.io
Desk: +1-650-846-1696 | Mobile: +1-973-906-6976

On Sun, Dec 4, 2016 at 7:47 PM, max <notifications@github.com> wrote:

[2016-12-07 01:50] funnyxj commented on #1397
still hang up now?

[2016-12-07 05:42] zlyswjtu commented on #1397
@funnyxj Yes. Before the queries to complete, I kill one primary segment, then mirror segment will act as primary segment, but query will hung up.

[2016-12-07 22:45] shubh8689 opened #1424 "gpactivatestandby requires master data directory to be set twice"
This is similar behavior as seen under #1145  but for gpactivatestandby. I have already submitted a pull request #1385 to fix #1145 . The changes should be similar, will submit a pull request for this issue as well.

As per current behavior, both, environment variable MASTER_DATA_DIRECTORY and -d parameter should be set. They must also have the same value.

[gpadmin@smdw ~]$ gpactivatestandby -d /

[2016-12-09 22:23] amilkh opened #1433 "Planner crash due to an update statement referring to a dropped partition"
@asimrp and I ran the below .sql file:
[code]

However, we see the below error upon running `Update sto_alt_ao_part set d = 5 where b = 10;`, which is trying to update a value b that would have lived in the default partition that we deleted in earlier .sql commands.
[code]

@d @oarap @dhanashreek89

[2016-12-15 05:56] kuien opened #1446 "crash when invoking pg_available_extension_versions and pg_available_extensions on segments"
[code]

lldb bt
[code]

[code]

log (on master):
[code]

[2016-12-15 13:54] hlinnaka commented on #1234
This seems to be the essentially same bug as was fixed in PR #1400, but for NOT EXISTS rather than EXISTS. @dhanashreek89, @vraghavan78, @xinzweb, can you fix the issue more completely, please? This code seriously needs to be refactored.

[2016-12-16 07:23] hlinnaka commented on #1446
Fixed by PR #1447, thanks for the report!

[2016-12-16 07:23] #1446 closed

[2016-12-16 10:52] hlinnaka commented on #1301
PostgreSQL actually happens to have the same bug, although the code has been moved around quite a bit. Reported this at https://www.postgresql.org/message-id/20161216105001.13334.42819%40wrigleys.postgresql.org.

[2016-12-16 11:59] hlinnaka commented on #1301
Fixed by commit 2dea34a5d39a4ee4bfa07e8195d9e0f931acfcd4.

[2016-12-16 11:59] #1301 closed

[2016-12-17 01:39] yifeiyangecnu opened #1458 "transformWindowClause function in the parese_clause.c"
in src/backend/parser/parese_clause.c
	in the function transformWindowClause
line :517   **foreach(tmp,winout)**
  winout is initialize with NIL,and no other assigned,
so it's always false for the for statement,but it's not the purpose

[2016-12-18 12:13] jianlirong commented on #1458
Please check the line 739 of the file: winout = lappend(winout, newspec);

[2016-12-18 12:59] yifeiyangecnu commented on #1458
thank you

[2016-12-18 12:59] #1458 closed

[2016-12-19 19:00] hlinnaka commented on #1433
Fixed, thanks for the report!

[2016-12-19 19:00] #1433 closed

[2016-12-20 18:19] #1276 closed

[2016-12-20 19:57] armenatzoglou opened #1467 "Select get_ao_compression_ratio_name() crashes GPDB"
There are two issues related to `get_ao_compression_ratio_name`. Please see below:

# Issue 1
If we execute `Select get_ao_compression_ratio_name(null)`, then GPDB will crash. The backtrace from the core file looks like:
[code]

The reason is that `get_ao_compression_ratio_name` built-in function is not strict. Thus, although  `fcinfo->argnull[0] = true`, `get_ao_compression_ratio_name` function i

[2016-12-20 19:59] armenatzoglou commented on #1467
@hlinnaka @danielgustafsson Please take a look if you have some free time. Thanks

[2016-12-20 20:06] hlinnaka commented on #1467
For the first issue, marking the function as STRICT seems most straightforward.

For the second issue, I wouldn't modify scanint8, that's used in many other places. Checking for NULLs in aorow_compression_ratio_internal(), before calling scanint8, seems most straightforward.

[2016-12-20 20:08] asimrp commented on #1467
For the second issue, I too think modifying `scanint8()` is not necessary.  Return value of `SPI_getvalue()` should be checked and passed to `scanint8()` only if not null.

[2016-12-21 03:45] Tao-Ma opened #1469 "gptransfer hang due to open/write/close named pipe race condition."
Recently, I found that gptransfer hang and gpfdist stuck on the open(named pipe) syscall.

When I digged into the case, I found that gptransfer cannot cooridate read/write pipe.

[code]

It looks like the designer known the issue and just ignore it.

simplify way to learn this issue use the following codes:

[code]

[2016-12-21 04:31] chhitesh commented on #1143
any update on this ?

[2016-12-21 04:53] armenatzoglou commented on #1467
@karthijrk @vraghavan78 Do you think is a good idea to mark `get_ao_compression_ratio_name` as STRICT?

[2016-12-21 05:30] karthijrk commented on #1467
+1 for using strict in `get_ao_compression_ratio_name`.

[2016-12-21 07:05] Tao-Ma commented on #1469
A possible fix requires gpfdist to cooridate the read/write for named pipe.

[2016-12-21 09:15] hlinnaka commented on #1469
Yeah. At some point gptransfer really needs to be redesigned anyway, though. It's overly complicated, with all the external tables and pipes and gpfdist processes.

[2016-12-21 20:25] foyzur commented on #1467
+1 for strict and for checking for null in aorow_compression_ratio_internal

[2016-12-21 23:02] ivannovick commented on #1469
I agree changes are required for a future solution... do you guys have any ideas or suggestions what should be done?

[2016-12-22 07:59] timothyclemansinsea opened #1476 "Make license more obvious"
Many Github repos ave their license near the top on Github. GPDB doesn't and because there is not a license header in the readme I missed it when I first wrote this issue. I was really happy to see Apache license though :)

[2016-12-22 11:00] hlinnaka commented on #1476
Hi Tim!

Hmm. The second paragraph in the README says "The Greenplum project is released under the Apache 2 license". I think that's quite prominent. I guess we could add a "## License" header before that paragraph, though; do you think that would be helpful/worthwhile?

[2016-12-22 11:07] hlinnaka commented on #1469
Off the top of my head, instead of launching gpfdist processes on the segment servers, I would launch a custom program on each (source) segment that would connect to the source and destination segment servers in utility mode, start COPY FROM in the source, and COPY TO in the destination, and pipe the data between them.

[2016-12-22 19:14] ivannovick commented on #1469
I am afraid of utility mode as it will avoid the global transaction logic right and be hard to get consistent data across the cluster at a point in time?

[2016-12-22 19:20] Eulerizeit commented on #1469
Shouldn't gptransfer just be the many to many version of the Postgres to
Postgres FDW?

-- Rob

On Thu, Dec 22, 2016 at 2:14 PM, Ivan Novick <notifications@github.com>
wrote:

[2016-12-22 19:27] ivannovick commented on #1469
i want to make sure it can maintain a consistent transfer of a GPDB MPP system to another system.  Going directly PG to PG it may be inconsistent between the segments and not a shared snapshot

[2016-12-22 19:44] hlinnaka commented on #1469
On 12/22/2016 09:14 PM, Ivan Novick wrote:

True.

- Heikki

[2016-12-22 21:02] hsyuan commented on #1234
Fixed in PR https://github.com/greenplum-db/gpdb/pull/1477

[2016-12-22 21:14] hlinnaka opened #1480 "Assertion failure with unary operator in subquery"
[code]

Spotted this while reviewing PR #1477.

[2016-12-29 01:56] xiong-gang commented on #1348
Could you paste the query statement please?

[2016-12-30 01:22] ashwinstar opened #1498 "Dangling entry in pg_exttable"
Dropping external table is leaving behind entry in pg_exttable.

Simple repro
[code]

[2016-12-30 01:29] Eulerizeit commented on #1498
@yydzero I think this is yours.

[2016-12-30 04:05] xiong-gang commented on #1392
We had a pair interview on this story and we find the root cause and the way to fix it. @gaos1 Should we put this in our backlog?

[2016-12-30 11:27] amosbird opened #1500 "Inconsistent code style?"
I saw a lot inconsistency in gpdb's code base. Is there a formal code style that should be followed?

![](https://ptpb.pw/Qwt_.jpg)

[2016-12-30 17:35] hlinnaka commented on #1500
The basic rule is to follow the PostgreSQL's coding style. That said, there is tons of existing code with varying styles in the codebase (like above :-) ), accumulated over the years, and there hasn't been any concerted effort to clean it all up. People have been cleaning it up as they go, fixing indentation etc. in the files whenever they've had to make other changes to them.

PostgreSQL has a to

[2016-12-30 20:10] hlinnaka commented on #1500
Closing the issue, I don't think there's anything to actually do here. But feel free to continue discussing.

[2016-12-30 20:10] #1500 closed

[2016-12-30 20:43] armenatzoglou commented on #1467
The fix has been pushed to master 13b2b39cfcf1602e9a0b2d1dbd3fdacc6f75cf2a. Thanks a lot for the valuable feedback.

[2016-12-30 20:43] #1467 closed

[2017-01-03 07:56] laixiong opened #1507 "query failed."
when we start a query on a large table,we got that error message:
"unable to read table "xx" file "xx" (errcode 5)  read postition 7077888 (small offset 61440),actual read length  -1 (large read length 65535) (seg57 slice1 mdw22:40003 pid=28960)"

and I find the exception from file "src/backend/cdb/cdbbufferedread.c",does any one can tell me what happened to this file, and how to fixed it. thanks.

[2017-01-03 09:34] hlinnaka commented on #1507
Errcode 5 file stands for EIO, "Input/output error". Is there anything in the server log, indicating a disk failure or similar?

(That error message is horrible. Aside from the typo, it should use %m to print a human-readable error message rather than the raw errno. We should fix that.)

[2017-01-03 13:55] danielgustafsson commented on #1392
If the fix is identified, can't it be submitted as a PR directly?

[2017-01-03 16:01] adam8157 commented on #1392
root cause is:
1, rel is not initialized, creating external table should a list of statements but not a simple single one https://github.com/greenplum-db/gpdb/blob/c653ebbc246d6c158f3117b5a8ccc07a20d58e36/src/backend/parser/parse_utilcmd.c#L1163
2, creating external table is considered as a simple statement https://github.com/greenplum-db/gpdb/blob/ef42590d2e5f9d01ee5839d93b1d6b36fd2b1e9e/src/back

[2017-01-03 23:39] asubramanya opened #1511 "CTAS fails in utility mode"
Connect to a segment in utility mode and run the following query

[code]
Stack trace from the segment

[code]

Seems to be related to this patch https://github.com/greenplum-db/gpdb/commit/41478b89d1fe5651ae5310b1c06f7f928f930a80
The OpenIntoRel() function tries to access the intoTableSpace variable from the dispatch descriptor.

[code]

But in utility mode, the dispatch descriptor is set to null

[2017-01-04 08:46] laixiong commented on #1507
@hlinnaka ,there is no messages mentioned about disk failure,
here is the full log in primary segment log file( and master instance logged nothing expect the main error.)
2017-01-03 11:23:34.515896 CST,"model","model",p32429,th2101761824,"12.10.6.75","46655",2017-01-03 11:23:07 CST,75347679,con799674,cmd2,seg57,slice1,dx1838324,x75347679,sx1,"ERROR","58030","unable to read table ""event_1_prt_p201

[2017-01-04 12:35] hlinnaka commented on #1507
On 01/04/2017 10:46 AM, laixiong wrote:

Did you check the Operating System's syslog? /var/log/messages and similar.

- Heikki

[2017-01-04 16:23] hlinnaka opened #1517 "Assertion failure with partition exchange"
Bumped into this while converting the OID consistency TINC tests to installcheck-good:
[code]

This leads to assertion failure:
[code]

[2017-01-04 19:53] hlinnaka commented on #1511
Yep, thanks for the report. Created PR #1519 to fix this.

[2017-01-05 07:25] #1392 closed

[2017-01-05 07:25] #1102 closed

[2017-01-06 01:49] laixiong commented on #1507
os log message (master node,segment node all have this message):
kernel:TCP: time wait bucket table overflow
kernel: __ratelimit: xx callbacks suppressed

[2017-01-06 06:07] zlyswjtu opened #1524 "gpdb source code make --with-tcl error"
configure --with-tcl
make error:
[code]

I find makeRangeVar defind in src/backend/nodes/makefuncs.c
[code]
Does any one can tell me how to solve this problem? Thanks.

[2017-01-06 23:03] jimmyyih commented on #1524
The line which errors is missing location argument.  I think adding -1 as the location should make it work?

[code]

[2017-01-07 05:04] laixiong opened #1532 "REUSE_TABLES failed."
I use a tab as delimiter,neither using "E'\t'" or using "'\x09'",  it tells me "did not find an external table to reuse. ",because of the delimiter in pg_exttable not "E'\t'" or "'\x09'" any more.
and if I change another character like “|”, it also find not external table to use, because of the columns name  of "INPUT:COLUMNS"yaml file are not lower-case .
does this two situtions should be concern

[2017-01-09 06:40] zlyswjtu commented on #1524
@jimmyyih It works. Thank you.

[2017-01-10 06:31] hli1992 opened #1536 "crash with MERGE JOIN in subquery"
[code]

**error stack:**

[code]

[2017-01-10 20:10] dhanashreek89 opened #1538 ""ALTER OPERATOR FAMILY" returns an error"
When we alter operation family, gpdb returns an error.
Repro:

[code]

The above repro passes on Postgres 9.6.1

[2017-01-10 20:32] danielgustafsson commented on #1538
Thanks for the report, I'll have a look.

[2017-01-11 18:09] asubramanya opened #1543 "ERROR: no pre-assigned OID for relation "output""
[code]

It seems like there are two dispatches involving the above query. The first is for executing the function inputArray(). The second one dispatches the main plan for creating the table. In the first dispatch `GetAssignedOidsForDispatch()` function copies the list of assigned oids to dispatch to segments and sets the `dispatch_oids` list to null. This list contains the oid assigned for `outpu

[2017-01-11 18:43] vraghavan78 commented on #1543
Assigning it to @yydzero to triage

[2017-01-11 18:50] asubramanya commented on #1543
Assigning to @hlinnaka since it looks related to f9016da2a65a27c6e80be9bfec80861787b52a85

[2017-01-12 18:43] hlinnaka commented on #1511
Committed a fix. Thanks for the report!

[2017-01-12 18:43] #1511 closed

[2017-01-12 19:00] vraghavan78 commented on #1536
On the latest master the query seems to work:

[code]

@hli1992 can you please check on your side.

[2017-01-12 19:03] vraghavan78 commented on #1480
@hlinnaka the issue seem to have been fixed on the latest master.

[code]

Please check and let me know if this is still an issue. If not please close the issue.

[2017-01-12 21:54] hlinnaka commented on #1480
On 01/12/2017 11:04 AM, Venkatesh Raghavan wrote:

I can still reproduce it on master. Are you sure you have assertions
enabled?

- Heikki

[2017-01-12 22:45] vraghavan78 commented on #1480
Sorry my bad.

[2017-01-13 00:05] ashwinstar opened #1547 "Creating external table creates incorrect dependency."
Creating normal external table is creating dependency entry in pg_depend with refobjid = 0. This causes gpcheckcat's dependency check to fail if external table is created.

Repro:
[code]

I think only need to create the dependency if custom protocol is used and not otherwise. Seems this was introduced as part of commit 92e6088a462e1024717dcd726a1c3bb6f2f95fd4 in InsertExtTableEntry.

[2017-01-13 00:06] ashwinstar commented on #1547
@HaozhouWang @yydzero

[2017-01-13 02:16] hlinnaka commented on #1524
Pushed commit 417a581d4e to make it compile, per @jimmyyih's fix. We still don't pass the PL/TCL regression tests; patches are welcome ;-).

[2017-01-13 02:16] #1524 closed

[2017-01-13 05:10] hlinnaka commented on #1543
Pushed a fix, thanks for the report!

[2017-01-13 05:10] #1543 closed

[2017-01-13 17:02] qqcvd opened #1551 "gpstop issue, "Sending SIGQUIT signal" error"
Hello,
I have a gpstop issue :
When I stop greenplum cluster I get the following messages:
20170113:17:09:06:013242 gpstop:gp-master01:gpadmin-[INFO]:-Failed to shutdown master with pg_ctl.
20170113:17:09:06:013242 gpstop:gp-master01:gpadmin-[INFO]:-Sending SIGQUIT signal...
(you can see the full log in the attached file)

I tested it after removing the standby master (gpinitstandby -r) and the er

[2017-01-13 17:18] ashwinstar commented on #1551
Thank you for reporting the issue @qqcvd. Yes, @jimmy recently committed a fix 5f2688acc6aff4813f6eefe17b5e77abd441fa3b for the same to fix `gpstop -M fast` which is what you are running. Try with latest code and lets us know if that resolves issue for you.

Just FYI.. there still remains similar issue with `-M Smart` which will be fixed soon as well.

[2017-01-16 04:04] ivannovick commented on #1532
@lij55  can you have a look?

[2017-01-16 04:06] ivannovick commented on #1476
Hi Tim,

I see this file in the root directory, https://github.com/greenplum-db/gpdb/blob/master/LICENSE

Any reason this is not good enough.

Plus @rvs for his input?

[2017-01-16 04:08] ivannovick commented on #1424
@Chibin @oakbarrett has this fix been merged? Can we close the issue?

[2017-01-16 04:08] timothyclemansinsea commented on #1476
Making it appear at top right in Github would be helpful

On Sun, Jan 15, 2017 at 8:06 PM Ivan Novick <notifications@github.com>
wrote:

[2017-01-16 04:08] ivannovick commented on #1424
@skahler-pivotal for more follow up

[2017-01-16 04:08] ivannovick commented on #1388
@skahler-pivotal can you have a look?

[2017-01-16 04:10] ivannovick commented on #1347
Can you post this query on the users mailing list?  Doesn't seem to be enough details to call it an issue, its more a question

[2017-01-16 04:10] #1347 closed

[2017-01-16 04:13] ivannovick commented on #254
Is this a packing error or a code error you think?  We should fix it up @schubert @lij55

[2017-01-16 04:16] ivannovick commented on #1145
Is this resolved now?  @skahler-pivotal @oakbarrett @Chibin ?

[2017-01-16 04:17] ivannovick commented on #1231
I have added a docs todo item for 5.0

[2017-01-16 04:17] #1231 closed

[2017-01-16 04:18] ivannovick commented on #1551
please let us know if recent code is not working

[2017-01-16 04:18] #1551 closed

[2017-01-16 04:22] ivannovick commented on #667
this will be removed with WalRep, not worth changing now

[2017-01-16 04:22] #667 closed

[2017-01-16 04:23] ivannovick commented on #627
@ashwinstar @hlinnaka @Eulerizeit can this be closed?

[2017-01-16 04:24] ivannovick commented on #394
@vraghavan78 @hlinnaka is this a valid issue?

[2017-01-16 04:25] ivannovick commented on #857
@ascherbaum-pivotal @schubert is this valid issue still?  Do we care about it?

[2017-01-16 04:26] ivannovick commented on #499
Is this issue going anywhere?

[2017-01-16 04:27] ivannovick commented on #71
@yydzero @lij55 any action item for this issue?

[2017-01-16 04:27] ivannovick commented on #89
@danielgustafsson I know you love gpmapreduce?  Is this issue valid?

[2017-01-16 04:28] ivannovick commented on #306
@yydzero any action item needed on this issue?

[2017-01-16 05:10] Eulerizeit commented on #499
I think it has gone about as far as it is going to go with ICW.

Rob

On Jan 15, 2017 11:26 PM, "Ivan Novick" <notifications@github.com> wrote:

[2017-01-16 05:19] yydzero commented on #306
SQL file need changes according to @renkemingithub's comments

[2017-01-16 05:49] danielgustafsson commented on #89
Who doesn't love gpmapreduce? 😄 This was fixed in 595586bbe654cd538144298f1e0b2f63c101fd22 which moved the version checks (for Python and Perl) in under ignore blocks. Closing this as it's a solved issue.

[2017-01-16 05:49] #89 closed

[2017-01-16 06:10] danielgustafsson commented on #499
I'm fine with closing this given the work that has been put in since.

[2017-01-16 08:47] danielgustafsson commented on #1476
The license in the top right corner on Github is per automatic discovery of the LICENSE file. I'm not sure why Github doesn't pick it up though, but the licensee Ruby gem used seems to be very good at picking up Apache 2 license files (same issue is in https://github.com/gradle/gradle and https://github.com/grails/grails-core for example). I've made an attempt to fix this in #1559 but I'm unsure i

[2017-01-16 08:53] hlinnaka commented on #1538
Fixed by PR #1546, closing issue.

[2017-01-16 08:53] #1538 closed

[2017-01-16 09:38] lij55 commented on #254
Environment issue. Python 2.5 dependency is hardcoded because of DLL file.

[2017-01-16 09:47] lij55 commented on #1532
@laixiong ,
Is it possible to paste or send us the yml file that you use so that we can get a better understanding of your trouble?

[2017-01-16 13:31] laixiong commented on #1532
I post my yaml files and my datas.blow is my table and the load logs:

--my test table
create table masterlog (like gp_toolkit.__gp_log_master_ext);
alter table masterlog alter column logsessiontime type text;
alter table masterlog alter logquerypos type text;

--mylogs
[gpadmin@zeus2 tmp]$ gpload -f load_delimiter_with_tab.yaml
2017-01-16 21:28:32|INFO|gpload session started 2017-01-16 21:28:32
2

[2017-01-16 19:36] qqcvd commented on #1551
Thank you for yours answers. We will test it next week.
Thanks a lot.
Regards.

[2017-01-16 20:54] asanjar opened #1563 "Urgent: build fails on IBM Power architecture"
build fails with error :
checking build system type... config/config.guess: unable to guess system type

This script, last modified 2011-05-11, has failed to recognize
the operating system you are using. It is advised that you
download the most up to date version of the config scripts from

  http://git.savannah.gnu.org/gitweb/?p=config.git;a=blob_plain;f=config.guess;hb=HEAD
and
  http://git.sava

[2017-01-16 23:07] hlinnaka commented on #1563
PR #1554 addresses this.

[2017-01-17 00:06] Chibin commented on #1424
@ivannovick Not yet, we'll be doing this soon.

[2017-01-17 01:51] ivannovick commented on #1563
Closing the issue as we have a PR.... @asanjar can you help verify the fix with the PR?

[2017-01-17 01:51] #1563 closed

[2017-01-17 02:12] xiong-gang opened #1567 "can we bypass 2PC for readonly transaction?"
I noticed transactions as follow will perform WAL write during 2PC, does it make sense?

[code]

[code]

[2017-01-17 02:20] asimrp commented on #1567
Hi Gang, once we have lazy XIDs fully implemented, there will be no WAL logs and 2PC overhead for read-only transactions.  Until then, this is expected behavior.

[2017-01-17 02:25] xiong-gang commented on #1567
Cool, thanks for the reply. @asimrp

[2017-01-17 02:25] #1567 closed

[2017-01-17 04:45] lij55 commented on #1532
Thanks. We will work on it soon.

[2017-01-17 06:18] #1498 closed

[2017-01-17 07:37] yydzero commented on #1567
@asimrp any rough ETA for lazy XIDs?

[2017-01-17 08:02] asimrp commented on #1567
The lazy XID work is quite intrusive and needs tests to for validation.  All tests under `src/test/tinc/tincrepo/mpp/gpdb/tests/storage` must pass before making lazy XID work.  We are actively working on making tests green.

[2017-01-17 08:37] yydzero commented on #1567
Thanks a lot Asim for the quick response!

[2017-01-17 11:51] abekn opened #1568 "gpinitsystem failed and please help"
OS: OSX Sierra 10.12.2
SOURCE: master at today
command:  gpinitsystem -c gpinitsystem_config -D

gpinitsystem failed with below message.

***

20170117:03:17:58:059706 gpstart:mdw:admin-[DEBUG]:-[worker1] got cmd: $GPHOME/sbin/gpsegstart.py -C en_US.utf-8:en_US.utf-8:en_US.utf-8 -M mirrorless -V 'postgres (Greenplum Database) 5.0.0 build dev' -n 4 --era 9ed8e5a79495d432_170117031755 -t 600 -v -D '

[2017-01-17 14:26] asanjar commented on #1563
yes,will do, thanks

[2017-01-17 15:16] asanjar commented on #1563
+1 build successfully on IBM Power

[2017-01-17 18:47] hlinnaka commented on #1563
Pushed the PR, so it should work now.

[2017-01-18 04:18] #1547 closed

[2017-01-18 10:24] danielgustafsson commented on #1476
I pushed #1559 and the license is now properly identified by Github in the top-right corner on the repository. Thanks for the report.

[2017-01-18 10:24] #1476 closed

[2017-01-18 14:16] danielgustafsson commented on #254
Since Python 2.5 was EOL'd in 2011, we need a strategy to remove this dependency.

[2017-01-18 17:20] Chibin commented on #1568
Thanks for the report.
We will put this into our backlog and look into it.

[2017-01-18 19:06] jimmyyih commented on #1568
[code]

Can you give us the content of `/usr/local/gpdb/greenplum_path.sh` on both mdw and sdw1 hosts?  Inside greenplum_path.sh should have a PYTHONPATH, PATH, and DYLD_LIBRARY_PATH that could be incorrect.  Also can you verify for us that the greenplum_path.sh files are the same on both hosts and that sdw1 host also has those Python libraries installed (it could be that you configured one server

[2017-01-18 21:48] hlinnaka commented on #618
See also discussion on gpdb-dev: https://groups.google.com/a/greenplum.org/d/msg/gpdb-dev/4VPId5V0tT8/DK0ERDkaCwAJ

[2017-01-19 02:18] ashwinstar commented on #627
@armenatzoglou please can you see if its still happening on latest master. I feel the commit 728119a4487bef351730c907b96c8ce47982b824 might have as side effect fixed this problem as well. If not please let me know.

[2017-01-19 03:13] lij55 commented on #254
What about upload gpload to pypi(https://pypi.python.org/pypi) so that any user can install it though pip? @ivannovick @yydzero

[2017-01-19 12:35] funnyxj commented on #1568
Error: unable to import module: No module named psutil
pip install psutil

[2017-01-19 16:07] shubh8689 commented on #1424
Last time I didn't have the merge rights and Daniel helped me. I was recently added to GPDB org. I can give it a try. Are we following https://github.com/greenplum-db/greenplum-db.github.io/wiki/Merging-Pull-Requests to maintain a linear commit history ?

[2017-01-19 16:07] shubh8689 commented on #1145
Last time I didn't have the merge rights and Daniel helped me. I was recently added to GPDB org. I can give it a try. Are we following https://github.com/greenplum-db/greenplum-db.github.io/wiki/Merging-Pull-Requests to maintain a linear commit history ?

[2017-01-19 23:36] hsyuan opened #1600 "GPDB crashes while running update in a stable function"
DDL:

[code]

Query:
[code]

Error messages:
[code]

[2017-01-20 01:23] ivannovick commented on #254
@schubert do you know next step

[2017-01-20 01:53] schubert commented on #254
Yup. I tracked down the problem (I think). The bundled pygresql library was compiled against Python 2.5 and not 2.6. So it's not so much a 32-bit vs. 64-bit issue as it is a 2.5 vs. 2.6 issue.

I think I can surgically replace that correctly here.

The next step is to experiment with substuting the packaged pygresql with the contents of http://www.pygresql.org/files/PyGreSQL-4.0.win32-py2.6.msi an

[2017-01-20 08:39] danielgustafsson commented on #1424
Correct, merge commits are only allowed for merging upstream PostgreSQL releases.

[2017-01-20 10:38] danielgustafsson commented on #1600
This is due to PlannedStmt handling being lost in the 8.3 merge, #1604 attempts to fix this.

[2017-01-20 10:57] danielgustafsson commented on #1145
Yes, see answer to same question on another issue today.

[2017-01-20 11:16] danielgustafsson commented on #1600
This should be fixed now.

[2017-01-20 11:16] #1600 closed

[2017-01-20 14:04] danielgustafsson commented on #1162
Pushed in #1558, closing.

[2017-01-20 14:04] #1162 closed

[2017-01-20 23:54] khuddlefish commented on #1568
Are you using brew?
We were hitting a similar issue and discovered that some environment variables were not getting sourced properly when commands were run through ssh.

This is what we were hitting:
[code]

To resolve this issue, we modified our ssh configuration.
`echo "PATH=$PATH" >> ~/.ssh/environment #this assumes that you have /usr/local/bin already in the path.`
We also set a property `Perm

[2017-01-24 02:31] schubert commented on #857
Looks like it was run on debian? As such, I didn't think that was a platform we got working yet so I'd say until we do that, probably not.

[2017-01-24 06:02] hlinnaka opened #1617 "Query locks up with gp_cte_sharing=on"
This query locks up forever, or until cancelled:
[code]

See discussion at https://groups.google.com/a/greenplum.org/forum/#!topic/gpdb-dev/gMa1tW0x_fk. This issue is to make sure we don't forget about it.

[2017-01-24 15:18] andreasscherbaum opened #1621 "Reading files with line ending 'CR' does not read anything"
An external table with the file:// protocol, and

[code]

Does not read any data:

[code]

[code]

The file *external_table_file_data_cr.csv* is 10 lines (plus header) in CR line endings.

[2017-01-24 15:21] andreasscherbaum commented on #1621
Data Files:
https://drive.google.com/open?id=0B0YS4ec0zw70cm16UjM0aklRSnM
https://drive.google.com/open?id=0B0YS4ec0zw70cXRGZ05wd3pUNkk
https://drive.google.com/open?id=0B0YS4ec0zw70U3BZSzJhR25DaEE

[2017-01-24 17:36] hlinnaka commented on #380
I believe this has been fixed, as we have USE_SSL guards on the OpenSSL-dependent code in gpfdist now. @xinzweb, can you verify and close, please?

[2017-01-24 17:40] aizikil opened #1622 "gpinisystem fail to initiliaze mirrors"
Hello everyone !

Can't initialize the cluster. The log says that it can't initialize the mirrors. If I try to create a cluster without mirroring gpinit get his job done.

Part of the gpinitsystem log

[code]

gpsegstart.py_seg1 log

[code]

Is there any utility that dumps all logs ?

Thanks in advance.

[2017-01-24 17:58] aizikil commented on #1622
Logs.

[gpinitsystem_20170124.log.txt](https://github.com/greenplum-db/gpdb/files/727503/gpinitsystem_20170124.log.txt)
[gpinitsystem_config.txt](https://github.com/greenplum-db/gpdb/files/727504/gpinitsystem_config.txt)
[gpstart_20170124.log.txt](https://github.com/greenplum-db/gpdb/files/727505/gpstart_20170124.log.txt)
[gpstop_20170124.log.txt](https://github.com/greenplum-db/gpdb/files/727506/

[2017-01-24 17:59] Eulerizeit commented on #1622
@skahler-pivotal can you take a look at this please.

[2017-01-24 18:33] xinzweb commented on #380
Yes, it's no longer complain.

[code]

[2017-01-24 18:33] #380 closed

[2017-01-24 21:42] dhanashreek89 commented on #618
Working on a story to fix the issue "ERROR: record type has not been registered"

[2017-01-25 06:22] abekn commented on #1568
Thank you for everyone.

I can have avoided  this issue.
This issue happened because of python path.
Sierra initially has python in "/use/bin" , but I added install python using BREW.
Then, Sierra has 2 python as PATH "/use/bin" and "/usr/local/bin" .
After that, Sierra generally used pyhton module  of "/usr/local/bin" .
Maybe, I installed  "psutil" module  into "/usr/local/bin" using  "/usr/local

[2017-01-25 08:04] hlinnaka commented on #770
The option was marked as deprecated in PostgreSQL in 8.4, so that it was a no-op. Just like it is now in GPDB. It was finally removed in 9.5. I think we can leave it as it is, until we merge the commit from 9.5 that finally removes it.

[2017-01-25 10:05] hlinnaka commented on #368
I think I was confused when looking at this back in February. We were constructing a deep copy, like a mutator is supposed to. copyObject() performs a deep copy. That wasn't the problem. However, because we didn't call expression_tree_mutator() on the SubPlan, we were not recursing into its children.

I created PR #1630 to fix this. It's essentially the same as @liruto's fix, but I rearranged the

[2017-01-25 11:44] hlinnaka commented on #921
This is a duplicate of issue #1001. I was able to reproduce it, after reverting the fix for #1001 (commit f94d9a7f0d1613c2c589d80f23806a0d31ce3c0b), but not on unmodified checkout from master. Using the auth_user option in pgbouncer was key to reproducing it, as that makes pgbouncer issue the auth_query using extended query protocol.

Closing.

[2017-01-25 11:44] #921 closed

[2017-01-25 11:54] hlinnaka commented on #854
Fixed by PR #1629.

[2017-01-25 11:54] #854 closed

[2017-01-25 16:37] qqcvd commented on #1551
It works.
Thank you.
Regards.

[2017-01-26 16:03] shadimari commented on #1622
This is to confirm that I am facing the same issue; whether through gpinitsystem or gpaddmirrors.
This issue is very crucial!

[2017-01-26 16:10] schubert commented on #1622
Hi @aizikil & @shadimari from what git commit did you build from? While someone tries to reproduce the error, I was wanting to know what version of the code you ran this from so we can determine if this issue was already fixed or not.

Please remember that GPDB is under active development right now and we have not yet made a stable release of 5.0

Cheers

[2017-01-26 16:19] shadimari commented on #1622
Appreciate your followup @schubert. I was working to find out a solution to the issue without luck! I pulled a fresh version of the source code and that was yesterday, so the issue is recent.

Please bear in mind that i was able to have the primary/mirrored segment work on the same node, however when i split them over two nodes, the issue occurs. (IPTables is disabled and all traffic can pass betw

[2017-01-26 16:53] skahler-pivotal commented on #1622
@shadimari @aizikil can you both comment on what OS you are using as the base?

[2017-01-26 16:56] shadimari commented on #1622
I'm using CentOS Linux release 7.3.1611 (Core)

[2017-01-26 17:09] skahler-pivotal commented on #1622
if you are using RHEL/CentOS 7, can you confirm that you disabled the IPC object removal by editing /etc/systemd/logind.conf and setting RemoveIPC=no

[2017-01-26 17:10] shadimari commented on #1622
Yes I confirm that RemoveIPC is set to no on both nodes.

[2017-01-26 18:14] asimrp commented on #1622
Found this in segment logs:
[code]

Your host file has `seg1` and `seg2` as hostnames.  Can you please check if the hosts are reachable from each other with the same name?  That is, can you `ping seg2` from host `seg1` and vice versa?

[2017-01-26 19:36] shadimari commented on #1622
Yes i confirm both nodes are reachable from each other through ping and all traffic is allowed and iptables is disabled.

On Thu, Jan 26, 2017 at 8:14 PM +0200, "Asim RP" <notifications@github.com> wrote:

Found this in segment logs:
2017-01-24 20:24:03.291672 MSK,,,p3148,th14800704,"10.0.0.100","18346",2017-01-24 20:24:03 MSK,0,,,seg-1,,,,,"LOG","00000","No NIC matches host name seg1.",,,,,,,0,,"

[2017-01-26 19:55] armenatzoglou commented on #627
The fix has been pushed to master: 554b878fdd4ff28100b4ffd37f91e82693540067. I and @hsyuan moved gpfaultinjector out of start/end ignore blocks, made gpfaultinjector less noisy, and modified the related icg tests accordingly.

We close this issue.

[2017-01-26 19:55] #627 closed

[2017-01-26 20:39] jimmyyih commented on #1622
@shadimari, I still think @asimrp's finding is still the issue.  Can you review each segment like this:

1. Check /etc/hosts and note down seg1 and seg2 IP addresses (if you're relying on DNS, use nslookup instead).
2. Run ipconfig and compare inet addresses for each NIC.

For example:
[code]

It's also common to have multiple NICs where some have restricted access for special scenarios.

[2017-01-27 03:30] kelvien opened #1645 "ERROR: invalid memory alloc request size (context 'MemoryAccountMemoryContext')"
Hi, does anyone know why I'm getting this error :
Full error message :
ERROR:  invalid memory alloc request size 1073741824 (context 'MemoryAccountMemoryContext') (mcxt.c:1257) (mcxt.c:477)  (seg25 slice4 a4.local:1026 pid=604599) (cdbdisp.c:1320)
DETAIL:
SQL statement "SELECT schema.func(10)"
PL/pgSQL function "getVal" line 4 at execute statement
********** Error **********
ERROR: invalid memory

[2017-01-27 06:46] asimrp commented on #1645
Hi @kelvien, can you dig out the stack trace from seg25 logs?  The logs should be at `a4.local:<segment_data_directory>/pg_log`.

Also, the exact query along with definition of udf `schema.func()` will be helpful.

[2017-01-27 08:55] hlinnaka commented on #394
Yeah, seems we should be consistent, and perform similar checks in CREATE TABLE and ALTER TABLE.

Why does that check in the first place, BTW? You mention maximum parallelism, but I wonder if it's actually because we have no way to enforce a unique constraint across segments?

[2017-01-27 12:13] shadimari commented on #1622
Thanks for the follow up.

I have the nodes nodes registered in etc/hosts, please find below a snapshot of etc/hosts and ifconfig

gpadmin@analytics02 ~]$ cat /etc/hosts
# Your system has configured 'manage_etc_hosts' as True.
# As a result, if you wish for changes to this file to persist
# then you will need to either
# a.) make changes to the master file in /etc/cloud/templates/hosts.redhat.tmpl

[2017-01-27 13:05] hlinnaka opened #1646 "EXPLAIN ANALYZE often omits Sort Method"
For a Sort node, you are supposed to get a Sort Method row in EXPLAIN ANALYZE output, which tells what whether the sort was performed in memory or it spilled to disk, or if it was done with a heap with a limit. For example:

[code]

But in many cases, it is not printed:
[code]

In the above case, it's omitted, because the Sort is "eagerly freed", and loses the information. Another case is when the

[2017-01-27 15:31] kelvien commented on #1645
@asimrp , sure.
The query for schema.func() is something along :
`CREATE FUNCTION func (function_name TEXT, value TEXT) RETURNS AS TEXT
DECLARE
          res TEXT;
BEGIN
          EXECUTE 'SELECT ' || function_name || '(' || value || ')' INTO res; RETURN res;
END
$$ language plpgsql`
I'm still working on getting the log

[2017-01-28 01:35] jimmyyih commented on #1622
@shadimari, thanks for the info.  I'm not too familiar with that kind of network bonding setup, but it looks fine I think.  It seems the new logs and network info belong to a new cluster?  The hostnames are different from your opening post and your latest post (seg2 vs analytics02).  In your logs for analytics01, the port is too high at 70000:
[code]

Ports only go up to 65535.  Are there any avai

[2017-01-28 11:48] aizikil commented on #1622
Hello !
I'm using Debian 8 and I did all the requirements except this - "rw,noatime,inode64,allocsize=16m" and this "/sbin/blockdev --setra bytes devname". The code was pushed about a week ago.

Is it possbile to download more old version form github ?

@skahler-pivotal  thanks for help !

[2017-01-29 09:52] shadimari commented on #1622
@jimmyyih, This is a different cluster than the one reported by @aizikil

I have tried to addmirrors using another port base lower than the max port limit as you mentioned and unfortunately it is the same issue. I still can not add mirrors neither through gpinitsystem nor through addmirrors.

Please bear in mind that i was able to deploy primary and mirror on a single nodet; this issue appears onl

[2017-01-29 12:53] shadimari commented on #1622
I think i have found the problem. It has to do with the way /etc/hosts is automatically generated by cloud templates which create a collision of host names on one of the nodes; once i fixed the template, the cluster creation went successfully. Unfortunately the logs do not indicate enough illustrative error reasons :(

I can say this issue is closed from my side; not sure about @aizikil

Thank you

[2017-01-30 07:53] hlinnaka commented on #770
I hear no objections, so closed.

[2017-01-30 07:53] #770 closed

[2017-01-30 08:00] danielgustafsson commented on #1645
This seems to be a fairly old installation of Greenplum, are you building from source or is this a 4.3 installation?

[2017-01-30 10:41] aizikil commented on #1622
@shadimari  Where I can find this cloud templates to check that ?

[2017-01-30 15:58] kelvien commented on #1645
@asimrp , sorry for the delay, I don't have access to view the log, but once I get it, I can post it here.
@danielgustafsson , I'm using greenplum-loaders-4.3.8.1. I notice that GP is on version 4.3.11 now, but the file they provide [here](http://gpdb.docs.pivotal.io/43100/client_tool_guides/load/unix/unix_load_install.html) is 4.3.8.1 which is what I have now. And apparently that link is also bro

[2017-01-30 16:14] mkiyama commented on #1645
Sorry about the broken link in the docs.
FYI - In the 4.3.11.3 docs (updated 26Jan) the link has been fixed.
Link to the updated page.
http://gpdb.docs.pivotal.io/43110/client_tool_guides/load/unix/unix_load_install.html

The link now points to https://network.pivotal.io/

[2017-01-30 16:59] kelvien commented on #1645
@mkiyama , is greenplum loaders still in v.4.3.8 ?
I am looking at this [page](https://network.pivotal.io/products/pivotal-gpdb/) and it only has that version.
I want to try using the -S flag, but it's not for gp-loader v4.3.8. which is mentioned in the documentation for gpfdist [here](http://gpdb.docs.pivotal.io/4380/client_tool_guides/load/unix/gpfdist.html), the documentation doesn't state whic

[2017-01-30 17:04] kelvien opened #1653 "gpfdist error - unable to open file (url.c:2040)"
I have multi-processes program that creates file which will eventually be read by gpfdist.
And I occasionally get this error message :

Do anyone know why this might occur ? This occur about 1/10 of a time of my whole process.

I am using gpfdist v.4.3.8.1 build 1

[2017-01-30 17:16] mkiyama commented on #1645
hmmm... I am afraid that is the latest version.
I will do a little more digging to figure stuff out.

[2017-01-30 22:06] kelvien opened #1654 "Question : Best way to do transformation and loading through Greenplum"
First of all, I can't assign a label to this issue. So if you have permission to do so, please add the question label to this issue. Thank you

My question :
What is the best way to do the transformation of ETL in Greenplum ?
I have a script that does all of the extraction. And the transformation and loading are done at the same time through Greenplum.
I am doing something like : (As a simple exam

[2017-01-30 22:12] kelvien commented on #1654
I also have to add, the memory warning comes up when I run a stored procedure that does many queries int it.
Due the design of my application, the process in the procedure has to go through some tables. Basically the procedure creates temp tables, and loading them to a permanent table while joining it with a table a couple times.

[2017-01-30 22:31] Eulerizeit commented on #1246
This is supported in Postgres by running through a sed or awk script. Because it is that easy in Postgres it is a function of the copy command that is unlikely to change. Furthermore, changing this behavior in COPY incurs a lot of overhead which will then be carried over to every use of the COPY command in GPDB.

[2017-01-31 09:09] shadimari commented on #1622
@aizikil I am using CentOS 7.3.x and the template for etc/hosts can be found at  /etc/cloud/templates/hosts.redhat.tmpl

[2017-01-31 16:17] kelvien commented on #1653
This's been resolved. Issue was a file is being written at the same time as gpfdist reading it.
I used a wildcard in my external table that the gpfdist is reading from, and apparently if will fail when one of them is being written.
I wanted to try the -S flag at gpfdist, which seems like it will mitigate my issue, but I'm still stuck with gpfdist version 4.3.8.1, the later version is not in the Pi

[2017-01-31 16:17] #1653 closed

[2017-01-31 23:10] larham commented on #1169
+1 for a function that returns some version that is easy to parse and relatively foolproof. We need it for utilities.

[2017-02-01 07:12] kuruv commented on #1342
@vraghavan78 , is this going to be taken up?

[2017-02-01 08:21] danielgustafsson commented on #1169
How about the proposal in PR #1663? Does that solve the problem?

[2017-02-02 06:11] hlinnaka commented on #368
Committed PR #1630, which fixed this issue. Closing.

[2017-02-02 06:11] #368 closed

[2017-02-02 21:39] karthijrk commented on #1646
Regarding the Sort Method for the segments, I assume each segment can choose the sort method it wants to be based on the number of tuples it has. So I don't know how we can better represent that on `analyze` output.

@hlinnaka What's you thought?

[2017-02-03 07:45] hlinnaka commented on #1646
On 02/02/2017 11:39 PM, Karthikeyan Jambu Rajaraman wrote:

We have a lot of things like that. Some sorts and hash aggs spill,
others don't, for example. And the number of rows processed by a node
varies across segments all the time. Surely we have a way to deal with
and report all that in way that makes sense? If we don't, we need to
invent one.

- Heikki

[2017-02-03 19:24] vraghavan78 opened #1674 "SQL accessing non-visible columns of an AO/CO table should error out"
[code]

Planner behavior when we try accessing OID column which does not exist. The parser errors out.

[code]

Planner behavior when we access invisible columns. The executor errors

[code]

Orca behavior when we access invisible columns. Orca translator errors out and falls back to Planner
[code]

I believe, we should error out when SQL tries to access invisible columns.

[2017-02-03 19:30] asimrp commented on #1674
Please allow me to make a small correction - in case of AO, xmin/xmax columns as  non-existent rather than invisible.

[2017-02-04 01:48] ashwinstar opened #1680 "IntervalStyle difference on master and segments"
While enabling gpcheckcat at end of ICW, bumped into this issue which gets flagged as inconsistency by gpcheckcat.

Basically, if run the sql "CREAT TABLE inter(a interval DEFAULT '5-7');" with PGOPTIONS="-c intervalstyle=postgres_verbose" it gives

[code]

So, need to fix this issue of correctly dispatching the config option to segments. As can yield to incorrect results pointed out by Heikki, fo

[2017-02-04 18:32] aizikil commented on #1622
@shadimari  I don't have that kind of stuff in Debian....

[2017-02-06 16:25] #1568 closed

[2017-02-06 22:06] kdunn926 commented on #254
Forgive me for not recalling the specifics, this issue was raised more than 1 year ago. We faced this  with multiple customers and spent too many hours spent tracking down the fact we needed to use a *very* specific Python version and architecture - mainly due to the ambiguity of the error, hence the proposed "fix".

What I can say for sure: download the Pivotal Greenplum loader packages on Window

[2017-02-08 09:10] vincexiaoqiang opened #1708 "NOTICE: bogus varno: 65001 (ruleutils.c:3229)"
Hi
   When i explain analyze sql, shows up 'bogus varno: 65001';

   here are steps:
   1.    CREATE TABLE test(
              organ_no character varying(20), -- 机构编码
              store_no character varying(20), -- 店仓编码
              product_no character varying(20), -- 商品编码
              brand_no character varying(20), -- 品牌部编码
              inv_flag numeric(5,0), -- bi库存标志(0 正品; 1 次品)

[2017-02-08 09:27] vincexiaoqiang commented on #1708
Additional instructions：
version: 4.3.99.00 build dev
commit id: 38efcba47b718244d6d7a91379fc4f94c5be2d10

[2017-02-08 16:55] hlinnaka commented on #1708
Works for me, on git master. Perhaps this was fixed some time after commit 38efcba?

[2017-02-08 19:36] vraghavan78 commented on #1708
@hlinnaka I am getting the following:

[code]

[2017-02-08 19:51] hlinnaka commented on #1708
On 02/08/2017 09:36 PM, Venkatesh Raghavan wrote:

Oh, I can also reproduce it now. Don't know why I didn't see it earlier,
must've been something funny in my environment.

- Heikki

[2017-02-08 20:04] vraghavan78 commented on #1708
[code]

Something to do with the Agg node.

[2017-02-08 20:22] vraghavan78 commented on #1708
on 4.3.11.3 it works.

[code]

[2017-02-08 20:27] vraghavan78 commented on #1708
On GPDB 5, I removed the Assert and this is the explain I get.

[code]

The problem is how explain show the local aggregate.

[code]

It is unable to print the grouping column. The following is the local agg node

[code]

@hlinnaka I do not see anything incorrect.

[2017-02-08 20:43] hlinnaka commented on #1708
On 02/08/2017 10:27 PM, Venkatesh Raghavan wrote:

The plan with optimizer=off is almost identical. I think the culprit
here is having a Sequence node, immediately below the Agg node. Sequence
nodes are a bit special. If a Sequence node has a Partition Selector as
the first child, like above, we shouldn't resolve the Var down to the
Partition Selector node, but into the second (or last?) child. Th

[2017-02-08 21:26] hlinnaka commented on #1708
This code will be superseded by similar code in PostgreSQL 9.4. Given that, I'm not going spend more time figuring out why show_grouping_keys() works differently from show_sort_keys(). I think by the time we get to 9.4, we'll know better.

For now, let's just add special handling of Sequence nodes into show_grouping_keys(), similar to  push_plan(). PR #1713 implements that.

[2017-02-09 08:37] lij55 commented on #254
Unite will work on the error message

[2017-02-09 11:02] hlinnaka commented on #1708
Pushed PR #1713 to fix this. Thanks for the report @vincexiaoqiang!

[2017-02-09 11:02] #1708 closed

[2017-02-09 18:49] kelvien commented on #368
I'm experiencing a similar issue at GP v.4.3.11.1
`ERROR:  JOIN qualification may not refer to other relations. (initsplan.c:237)`
My query has multiple subqueries in a `DELETE` statement. What is the version that is going to include this fix ?

[2017-02-09 23:13] karthijrk commented on #1646
ok, I am not sure if there is one. So we need to come up with one. I will send an email in gpdb-dev to start the conversation.

[2017-02-10 06:08] hlinnaka commented on #368
On 02/09/2017 08:49 PM, Kelvien Hidayat wrote:

This should be fixed in the minor version. I guess that would be 4.3.12
or 4.3.11.2.

- Heikki

[2017-02-10 12:09] ivannovick commented on #1680
dispatch issue for @gaos1 ?

[2017-02-10 12:11] ivannovick commented on #1654
Hi @kelvien can you post this as a question to the mailing list.  We are just tracking code level bugs and improvements etc in the issues.  Thx!

[2017-02-10 12:11] #1654 closed

[2017-02-10 12:16] ivannovick commented on #1645
Hi, so the error is that the query is trying to return more than 1GB of memory which is the max for a single row.

Looking at your function it takes 2 params and returns a simple string, which should not have this error.  Are you sure you have provided the correct function and the correct invocation?

`CREATE FUNCTION func (function_name TEXT, value TEXT) RETURNS AS TEXT DECLARE res TEXT; BEGIN EX

[2017-02-10 12:18] #1622 closed

[2017-02-10 12:19] #857 closed

[2017-02-10 12:22] ivannovick commented on #1149
@mkiyama @dyozie did you guys get this one?

[2017-02-10 12:23] ivannovick commented on #1075
@gaos1 any action item on this?

[2017-02-10 12:23] ivannovick commented on #777
@schubert @danielgustafsson do you want to keep this open?  Who can we assign it to?

[2017-02-10 12:25] ivannovick commented on #314
is this a real issue @skahler-pivotal ?

[2017-02-10 12:25] ivannovick commented on #306
@yydzero can you help close it out, or it takes more work?

[2017-02-10 13:15] danielgustafsson commented on #777
I think we can close this one, it hasn't come up since and the proper solution is to remove the dependency on plpython in the tests anyways.

[2017-02-10 13:15] #777 closed

[2017-02-10 14:48] kelvien commented on #1645
That `func` is the function that is being referred to by the error.
And the way I invoke it is through a bulk insert within a function. It essentially looks like
`CREATE OR REPLACE FUNCTION dynamic_bulk_insert ()RETURNS VOID
....
EXECUTE
'INSERT INTO big_table (name, transformed_address)
        SELECT name, func(address)
         FROM ' || staging_table_name;
...
END $$ language plpgsql;`

[2017-02-10 16:11] mkiyama commented on #1149
The Mac section was pulled from the GPDB InstallGuide.

[2017-02-10 17:53] amilkh commented on #1149
As @mkiyama mentioned, I no longer see a Mac OS X System Settings section in [Setting the Greenplum Recommended OS Parameters](http://gpdb.docs.pivotal.io/latest/prep_os-system-params.html), thus my suggested Docs update is not applicable.

Would still be nice to have this documented somewhere, but let's let this GitHub issue be the spot.

[2017-02-10 17:53] #1149 closed

[2017-02-10 20:09] cjcjameson commented on #1424
@skahler-pivotal Closing this issue as the PR has been pushed.

[2017-02-10 20:09] #1424 closed

[2017-02-10 20:09] cjcjameson commented on #1145
@skahler-pivotal Closing this issue as the PR has been pushed.

[2017-02-10 20:09] #1145 closed

[2017-02-10 20:17] Eulerizeit commented on #1145
Thank you

On Fri, Feb 10, 2017 at 3:09 PM, C.J. Jameson <notifications@github.com>
wrote:

[2017-02-12 17:03] Eulerizeit commented on #618
@vraghavan78 is this being looked at? It seems to maybe be causing flakey behavior in ICW.

[2017-02-13 01:56] gaos1 commented on #1075
@ivannovick at this moment we want to focus on design and implementation of percentage-based cpu schedule. after that we will spike potential improvement for priority based cpu schedule or we might deprecate priority based cpu schedule if percentage based works well for all scenarios.

[2017-02-13 02:15] yydzero commented on #306
Just tried this on master,  it is still broken while in different places (earlier). It will take more work

[2017-02-13 08:55] pengzhout commented on #1680
@ashwinstar fixed by [1746](https://github.com/greenplum-db/gpdb/pull/1746)

[2017-02-13 09:03] gloCalHelp commented on #984
Is there a detail guiding(such as: best developing OS, best Linux IDE for GPDB, step by step on developing GPDB) on how to setup the developing environment for GPDB and ORCA?
I found that in both REDME.mds, they are lacking of info on Centos version, IDE, etc.

Or is there any pioneer can give a bundle of  GPDB's IDE developing suite?

[2017-02-13 09:12] gloCalHelp commented on #1171
@deepesh1081
Dear Sir deepesh1081,

      Thanks for your reply,  I know the solution to solve GPDB's connection bottleneck of only 1 master connection point now by contacting segments. Some GPDB commands can directly operate segments data but not necessarily contacting master, aren't they?

[2017-02-13 09:44] gloCalHelp opened #1747 "IS GPDB4.3.8 or 4.3.9 not correct at million records' multiplying multi numberic columns' ?"
Dear GPDB's authors and pioneers,

      Is there anyone who can confirm me with that new GPDB versions' over 1 million records' multi numberic coloumns' multiplying and dividing and adding results, are all having a very very tiny difference with Excel's muliplying, dividing and adding results?

     It is strange that, 4 months ago, when I tested GPDB 4.3.8 (or 4.3.9 not so sure) by  multiplying,

[2017-02-13 12:18] hlinnaka commented on #1747
Can you share the actual table schema, data and query?

My first guess is that it could be rounding errors, if you're using the floating point datatypes, float4 or float8, rather than numeric.

[2017-02-13 15:31] ascherbaum-pivotal commented on #1747
What exactly is the "new GPDB version" for you? Is it a 4.3 or a 5.x?

[2017-02-13 17:45] ashwinstar commented on #1680
Fixed by 8a341fc398f7bfa9ac4be4094dcc4b7f25959a56

[2017-02-13 17:45] #1680 closed

[2017-02-14 01:46] Chibin commented on #314
Took a look and we may need to modify some parts of the makefile.

[2017-02-14 03:59] gloCalHelp commented on #1747
@ascherbaum-pivotal  I am sorry to make you puzzled, the new GPDB version is better to refer to newer version than 4.3.9, I think.  And isn't my offering this strange bug a great benefit to GPDB's future market?

@hlinnaka  I am sorry that I don't keep the 4 months ago's  query, I just keep table schema and data in a Excel file, I did these fundament tests with other 2 colleagues and test not only

[2017-02-14 07:28] hlinnaka commented on #1747
That indeed seems strange, but the thing is, there just isn't enough information here to reproduce it. We'd need to see the actual data and query. Or even better, a small artificial test case using made-up data that shows the same problem.

Adding up numerics is a very common operation, so I'd be very surprised if it's producing incorrect results. That's why I'm betting on a rounding error or a si

[2017-02-14 13:26] hlinnaka opened #1758 "Assertion failure from resource queues"
I tried to run "wrkloadadmin" regression test from bugbuster concurrently with the "resource_queue" regression test from the main suite.

I used this schedule file (wrkloadadmin depends on the "tenk1" table, created and populated by create_table and copy tests):
[code]

I got:
[code]

[2017-02-14 13:30] ascherbaum-pivotal commented on #1747
@gloCalHelp Sorry for the confusion. This is not about benefits for future markets, but about tracking down which version you are using, and what was the last version where this worked for you.

As Heikki pointed out: it would be helpful if you can create a small test case which shows the problem. The DDL, a few hundred lines of data, just the colums you are using in your query, and the actual que

[2017-02-14 13:35] ascherbaum-pivotal commented on #1646
For reference, the discussion thread: https://groups.google.com/a/greenplum.org/forum/#!topic/gpdb-dev/V-zIshnNzyE

[2017-02-14 13:41] gloCalHelp commented on #1747
@hlinnaka  at the beginning, I was also feeling doubt on a rounding error or expected result, but I have extended the precision of numberic to 4 decimal place.
@ascherbaum-pivotal  as you all seeing, not only me but  3 persons' testing , we multiplying around 1 million records, and only produce -25. differences, if I did again as your saying of only a few hundred lines, I guest that the diffence m

[2017-02-14 13:46] gloCalHelp commented on #1747
@ascherbaum-pivotal  in fact, doing this comparing test with excel should be the fastest and easiest method to confirm GPDB 4.3.8's multiplying correctness. I don't believe command line client has a faster way than excel  to get over 3 millions' data in and multiplying.

[2017-02-14 14:04] hlinnaka opened #1759 "Duplicated DPE tests"
In sql/dpe.sql:
[code]

In sql/qp_dpe.sql:
[code]

That seems to be essentially the same test. Let's remove one copy.

[2017-02-14 15:00] ascherbaum-pivotal commented on #1645
What does

[code]
return?

[2017-02-14 16:20] kelvien commented on #1645
@ascherbaum-pivotal , address column is of type TEXT, and the value of `MAX` I retrieve now might differ than when I got the error. But I now have it as `1000`

[2017-02-15 08:32] hlinnaka opened #1767 "Number of concurrent spilling queries exceeded with abort subtransactions"
Test case:
[code]

After running that for a while, it produces an (unexpected) error:
[code]

The syntax errors are expected, but the "could not create workfile manager entry" errors are not. The workfiles should be cleaned up on subtransaction abort.

[2017-02-15 08:54] hlinnaka commented on #1747
I don't think this is going to go anywhere, until we have a reproducible test case, so I'm closing this issue for now. Feel free to reopen once you have a clear test case to demonstrate the problem.

[2017-02-15 08:54] #1747 closed

[2017-02-15 22:42] andreasscherbaum commented on #1747
Ok, I spent a few minutes looking into this issue. After all, don't want to risk a bug.

Here is what I did:

- wrote a small Perl script which generates random numbers (10000000 rows, 3 columns, up to 100000 before decimal point, 4 digits after decimal point)
- installed the following GBDP versions: 4.3.8.0, 4.3.9.0, 4.3.11.1
- created a table with 3x NUMERIC(15, 4) columns in each database
- did

[2017-02-15 22:42] andreasscherbaum commented on #1747
[code]

[2017-02-15 22:43] andreasscherbaum commented on #1747
[code]

[2017-02-15 22:43] andreasscherbaum commented on #1747
[code]

[2017-02-15 22:46] andreasscherbaum commented on #1747
@gloCalHelp I can't see any difference in this calculations, and the numbers are certainly big enough to match your numbers in your Excel sheet.

Please go back and verify that Excel is not fooling you, by rounding numbers which do not fit the internal data types.

[2017-02-15 23:32] andreasscherbaum commented on #1747
On request from @Eulerizeit I ran the same tests on PostgreSQL (9.4.7) as well - just to make sure there are no differences between the two products.

[code]

Same results with PostgreSQL as well. This rules out a bug in the product, and is a strong pointer that Excel can't handle big data numbers.

[2017-02-16 00:04] ashwinstar opened #1774 "Inconsistent value of indcheckxmin on master and segment breaks visibility"
Based on discussion in PR https://github.com/greenplum-db/gpdb/pull/1764 and reading through https://github.com/greenplum-db/gpdb/blob/master/src/backend/access/heap/README.HOT came up with this simpler repro to demonstrate the wrong query result. HOT feature came from 8.3 postgres merge.

Steps:
[code]

Isolation test spec for the same would be
[code]

which produced following incorrect result ou

[2017-02-16 01:38] vraghavan78 commented on #1759
Deleted the duplicate tests

[2017-02-16 01:38] #1759 closed

[2017-02-16 03:26] gloCalHelp commented on #1747
Well, thank you all pioneers to do the test, and maybe it is 2 kinds of Excel's shortcoming.  but why the dividing and adding has a reasonable tiny difference with Excels' results except multiplying?

Anyway, because your tests are all done in Postgres, if someone can test the computing with other databases, it would be more convincing.

[2017-02-16 04:25] 21090310 opened #1775 "Does "content" in the table gp_segment_configuration for every segment equal the "gp_segment_id"?"
I think it equals the gp_segment_id, but i am not sure. I tested it with query 1 :
[code]
The result:
[code]
I login each segment, and query 2:
[code]
When the gp_segment_id equals the content of segment, the count in the result of query 2 is the same as query 1's.
So i think content equals gp_segment_id, is it true?

[2017-02-16 04:48] ashwinstar commented on #1775
Yes that correct @21090310 .

[2017-02-16 09:41] andreasscherbaum commented on #1747
@gloCalHelp What's wrong with this test here?

[code]

Initially you claimed that this is a bug between Greenplum versions 4.3.8 and 4.3.9.

I tested both versions with operations on 10M rows, and couldn't find a difference. Plus in addition I compared the results to the latest Greenplum version, and PostgreSQL. All show the same results.

At this point I'm going to demand that you provide us with

[2017-02-16 13:48] gloCalHelp commented on #1747
@andreasscherbaum  maybe you are right, but there are at least these doubts:
1, your tests are all based on Postgres, but our initial aims are to check whether Greenplum 4.3.8(9)'s 4 fundamental mathematics' operation are correct or not.
2, if excel is not good at big number and plenty numbers' operating, then why 3 fundamental mathematics' opearating is correct with very tiny difference except mu

[2017-02-16 14:03] andreasscherbaum commented on #1747
@gloCalHelp Your fundamental problem is that Greenplum does the correct math, but Excel then shows the data in an imprecise data type. Please follow up on my additional reading suggestion in my previous post. Even if Greenplum does the correct math, you have no data type in Excel which can show the correct values. They data might differ slightly.

Your fundamental assumption is that you believe Ex

[2017-02-16 20:19] #1646 closed

[2017-02-17 02:10] gloCalHelp commented on #1747
@andreasscherbaum  and other repliers, thank you all very much for your taking time to guiding me.

I don't think Excel can always do well computing especially when big data is bigger than 1 million records, that is why our tests at the beginning only choose about 1 million  records but not too bigger,

And I am not so good at Excel as your knowing data types in Excel, but as my post screencopy sh

[2017-02-17 05:55] 21090310 commented on #1775
Thank U.

[2017-02-17 10:42] pengzhout opened #1791 "cs-fts: gprecoverseg get stuck waiting on virtual xact lock"
cs-fts pipeline get failed intermittently recently, the failed case is
[code]
The case basically doing bellow steps:
[code]
The last two "gprecoverseg" commands may get stuck for 10 mins and finally report a error.

The reason is when doing gprecoverseg, a QE get stuck with bellow backtrace:
[code]

I checked the proclock and found the proc holding it has already exited, by adding some debug info,

[2017-02-17 16:51] Chibin commented on #1791
Out of curiosity, what kind of error does gprecoverseg show?

[2017-02-17 22:05] asubramanya commented on #1791
@pengzhout We will take a look. Thanks for the report.

[2017-02-18 01:36] ashwinstar commented on #1791
Debugged thus with @asubramanya, following seems to be the cause for the issue. It seems relates to commit d09cf2e6424470c3651365df133fcf4177a48871. What seems to be happening is `Resync Worker` process hits fault while in rsync due to this fault injector `filerep_resync_worker_read` and puts the segment is fault as intended by test. Then seeing the same Rsync Worker in FileRepPrimary_IsMirroringR

[2017-02-18 02:19] #1791 closed

[2017-02-19 08:20] #1775 closed

[2017-02-20 04:37] yanchaozhong opened #1803 "Error help available for "ALTER PROTOCOL"."
postgres=# SELECT version();
                                                                                   version
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 PostgreSQL 8.3.23 (Greenplum Database 5.0.0 build dev) on x86_64-pc-linux-gnu, compiled by GCC gcc (GCC)

[2017-02-20 07:01] #1803 closed

[2017-02-21 07:39] hlinnaka commented on #1090
The real culprit here are the assertions in MemoryContextNoteAlloc() and MemoryContextNoteFree(). Because they track low-level malloc/free sizes, which includes the MemoryContext header, rather than the user-specified alloc size, this assertion is wrong:
[code]
AllocSizeIsValid checks that (nbytes < MaxAllocSize), but we would need to check for (nbytes < MaxAllocSize + ALLOC_BLOCKHDRSZ + ALLOC_CHU

[2017-02-22 06:24] HaozhouWang commented on #1090
Thank you very much for your help! We fixed this based on your suggestion and updated this PR.

[2017-02-23 05:44] #1090 closed

[2017-02-23 15:40] skahler-pivotal commented on #1388
The way gpconfig works is that when you run -s it reads from the current values set for the user. We are adding a flag ( https://github.com/greenplum-db/gpdb/pull/1820 ) which is --file that will tell gpconfig to read directly from the postgresql.conf files

[2017-02-23 17:27] cjcjameson commented on #1009
Hi there! Just wanted to let you know that a new flag to gpconfig got merged, thanks to @Chibin and @skahler-pivotal -- thanks for your feedback.

[2017-02-24 07:07] water32 opened #1854 "View's definition in pg_views is incorrect when it's SELECT SQL contains filter condition"
Create a view like:

create or replace view test_view_filter
as select
count( * ) filter(where relkind='r') r,
count( * ) a
from pg_class;

After create, query the pg_views as:

select * from pg_views where viewname = 'test_view_filter';

The definition column value not contain any "filter" word.
When I query the view as:

select * from test_view_filter;

I can get the right result, but when I try

[2017-02-24 18:52] hlinnaka opened #1859 "Assertion failure from ALTER RESOURCE QUEUE"
[code]

I'm seeing this on my laptop, when I run the resource_queue and resource_queue_function tests concurrently. To do that, run this in the `src/test/regress` directory:
[code]

[2017-02-27 01:30] xiong-gang commented on #1859
Added a story in MPP backlog

[2017-02-27 01:31] xiong-gang commented on #1758
Added a story in MPP backlog

[2017-02-27 02:19] zeromax007 commented on #1388
I used gpstop -u to reload the config changing, but it's still display incorrect.

[2017-02-27 14:21] garryfan2013 commented on #314
Hi, guys , I've tried to make gpperfmon, seems some ext/{arch} header directories are missing,
If there is any solutions to this? Thanks

[2017-02-27 18:18] hlinnaka opened #1880 "Assertion failure from EXPLAIN ANALYZE"
[code]

[2017-02-27 18:19] hlinnaka commented on #1880
also just noticed a typo in the constant name above: UNINITALIZED_SORT should be UNINITIALIZED_SORT

[2017-02-27 22:04] Eulerizeit commented on #1170
@yydzero This is causing issues with pg_dump

[2017-02-28 04:19] xiong-gang commented on #1859
Duplicate to https://github.com/greenplum-db/gpdb/issues/1758

[2017-02-28 04:19] #1859 closed

[2017-02-28 04:24] xiong-gang commented on #1758
This can be simply repro as follow:

Session 1:
create resource queue rq1 with (active_statements=2, memory_limit='1024MB');
begin;
alter resource queue rq1 with (memory_limit='2GB');

Session 2:
create resource queue rq2 with (active_statements=2, memory_limit='1024MB');

The update in session 1 is invisible to session 2, so when session 2 call function AssertMemoryLimitsMatch, it finds the `memo

[2017-02-28 12:23] hlinnaka opened #1893 "ERROR: indexqual doesn't have key on left side"
See https://github.com/greenplum-db/gpdb/pull/1892

To reproduce:
[code]

[2017-02-28 14:13] laixiong commented on #1507
updates:
We find this file in mirror segment is ok. we copy it to primary segment,and then restart the query, it works well.

[2017-03-01 00:25] vraghavan78 commented on #1893
Thanks for reporting this. Will work on it this week.

[2017-03-01 11:04] hlinnaka opened #1907 "Incorrect query result for a left anti semi join"
The transformation of "NOT IN" or "= ALL" incorrectly added a condition
that the outer side of the join must not be NULL. But that's not true,
when the other side is an empty set.

Discovered while moving old TINC tests to the main test suite. The
'lasj_hash_all_3' test exposed this issue, when run with ORCA disabled.
This has apparently gone unnoticed, because no-one has run those tests
without O

[2017-03-01 16:32] hlinnaka commented on #1893
Ah, never mind, I found the cause: I used a custom build of ORCA, with some hacks that are apparently a few bricks shy of a load :-). With stock 2.7.0 checkout of ORCA, it works.

[2017-03-01 16:32] #1893 closed

[2017-03-01 20:49] skahler-pivotal commented on #314
we added a track recently to start working on the gpperfmon pieces, some of this should shake out over the next few weeks

[2017-03-01 21:17] skahler-pivotal commented on #1388
That parameter seems to only be populated from the postgresql.conf when the system is restarted, it doesn't looked like the -u process populates it to the user environment.

[2017-03-02 06:42] HaozhouWang commented on #1170
@Eulerizeit What's the issue? Do you mean removing this will cause issue?

[2017-03-02 12:09] Eulerizeit commented on #1170
It should be removed.

Rob

On Mar 2, 2017 1:42 AM, "Haozhou Wang" <notifications@github.com> wrote:

[2017-03-02 18:26] kelvien opened #1934 "High VMEM Usage on a stored procedure"
Is the 'High VMEM usage' error expected on a stored procedure that has multiple intensive queries in it ?
I was able to get through the queries without the error when I run them manually outside of the stored procedure. I am talking about moving around 2 billion rows of data.
My stored procedure sample code is a series of CTAS, INSERTs, and DELETE :
`CREATE OR REPLACE FUNCTION crunchData() RETURNS

[2017-03-02 18:39] vraghavan78 commented on #1907
Since PR is merged I will close this issue.

[2017-03-02 18:39] #1907 closed

[2017-03-03 00:41] oarap commented on #1345
The cursor idea is interesting but can you give us some more detail on how a cursor would handle the scenario where the SQL results of the sampling query already have large datum in it?

[2017-03-03 02:24] yydzero commented on #1170
Hi @ivannovick

Before we do any change, could you confirm that error table will be removed completely from 5.0?

Do we have document about EOF this?

[2017-03-03 03:31] 21090310 opened #1943 "Some questions about test/regress/sql/arrays.sql"
When I compare the arrays.sql file in Greenplum 4.3.99 with arrays.sql file in PostgreSQL 9.4, I confuse the sql as follows：
[code]

I try the sql in Greenplum 4.3.99  and PostgreSQL 9.4, it return the same result:
[code]
What is the meaning ？ Why the sql is commented out ？

[2017-03-03 08:02] hlinnaka commented on #1943
MPP-11852 refers to a ticket in greenplum's bug tracker, before it was open sourced. Here's the text from the ticket:

A developer commented:

It was unceremoniously fixed shortly after it was reported. Before it was fixed, you got this result:

[code]

I'm not sure why the test left commented-out then. Probably an oversight. We should re-enable it.

[2017-03-03 08:21] 21090310 commented on #1943
Awesome, I get what I want. Thank you very much !

[2017-03-03 08:57] hlinnaka commented on #1345
On 03/03/2017 02:41 AM, Omer Arap wrote:

The point of using a cursor is that you would not hold the whole result
set of the sampling query in memory at the same time, but only one row.
There can be large datums on a row, but a single wide row shouldn't be
enough to make you run out of memory. After fetching a row, if there are
any really large datums, you would truncate or leave them out, before

[2017-03-03 12:17] hlinnaka commented on #1943
Oh, it was re-enabled a long time ago already, by commit e81df1d2e22a17fe6fc108969e3d19d7b361c5a8. So we're all good.

[2017-03-03 12:17] #1943 closed

[2017-03-03 12:19] hlinnaka commented on #1943
The old bug tickets are not available to the public, unfortunately. We couldn't publish them, because they contain customer details etc. But we're happy to extract information from them as needed, so if there's a particular one you're interested in, just send an email to gpdb-dev and someone can pull it up.

[2017-03-03 19:07] oarap commented on #1345
We have come up with two options:
Let's say we have a table `foo(a int, b varchar, c varchar)`

1. First approach is to filter the huge rows in the sample. So, the select statement in `acquire_sample_rows_by_query` is going to look like

[code]

This have a potential to cause skewed stats because of the tuples that we filtered.

2. The second option is to create samples with the large records repl

[2017-03-05 01:58] ivannovick commented on #1170
I believe error table is completely removed from 5.0  @Eulerizeit can you confirm?

[2017-03-05 05:16] ashwinstar commented on #1170
Error Tables were completely removed from 5.0 long time back.

[code]

[2017-03-06 01:27] yydzero commented on #1170
Thanks for the confirmation

[2017-03-06 17:35] oarap commented on #1345
@hlinnaka What's your input for the options above?

[2017-03-06 18:55] hlinnaka opened #1967 "Deadlock with gp_cte_sharing"
With gp_cte_sharing, it's possible to get a deadlock, because of nodes waiting for each other to send tuples.

One such example is in the `qp_with_functional_inlining` test in the main test suite:
[code]

Another such issue was discussed on gpdb-dev recently: https://groups.google.com/a/greenplum.org/d/msg/gpdb-dev/gMa1tW0x_fk/wuzvGXBaBAAJ.

[2017-03-06 20:03] hlinnaka commented on #1345
Yeah, those both seem workable. Option 2 is a bit more complicated, but will give better stats.

[2017-03-06 20:04] vraghavan78 commented on #1345
I vote for Option 2.

[2017-03-06 20:08] d commented on #1345
Option 1 will lead to skewed samples: let's look at this scenario:
[code]
Our original random sampling
`SELECT a FROM foo WHERE random() < .38`

Returns a set of 8 samples: x1, x2, x3, x4, "y", "y", "z", "z". We use x1, x2, x3, and x4 to denote very large strings that will blow up our memory limit. Assuming the same random sequence, by moving the length check down to the filter, we have fundamenta

[2017-03-07 06:23] dhanashreek89 commented on #1345
Option#2 looks good.

[2017-03-07 18:53] jpatel-pivotal commented on #1345
#option2 looks good.

However `pg_column_size(column)` gives you `toasted` value of the column's size  and we may want to figure out how to get the `detoasted` value as the difference could be 100x depending on the column type.

Know of any built-in functions that get the detoasted length of a column?

[2017-03-07 19:21] vraghavan78 commented on #1967
This seems like a duplicate of https://github.com/greenplum-db/gpdb/issues/1617

[2017-03-07 19:23] hlinnaka commented on #1967
On 03/07/2017 09:21 PM, Venkatesh Raghavan wrote:

Yes, thanks! I looked for that old issue, because I remembered I had
opened one, but couldn't find it.

- Heikki

[2017-03-07 21:13] hlinnaka commented on #1345
On 03/07/2017 08:53 PM, Jemish Patel wrote:

Good point. Yeah, we definitely need the detoasted size for this.

Hmm, can't think of one off the top of my head. We could well write one
for this purpose, though.

- Heikki

[2017-03-08 07:23] vraghavan78 commented on #1617
Please check if it is a duplicate of #1967

[2017-03-08 12:19] VinnyPembe opened #1987 "Gpperfmon Install"
Hello,

This isn't an 'issue' as such, I'm just not entirely sure where else to post so I apologise! Basically, I'm trying to test if Gpperfmon can be installed or not with the open source version of GPDB. I understand that the GPCC web-interface utilities are non-compatible, but I only require gpperfmon itself anyway. How do I go about installing this?

I've just installed a fresh version of GPDB

[2017-03-08 13:26] VinnyPembe commented on #1987
Ps, this is the command I used to install the GPDB software, just in case I missed of a required package -

./configure --prefix=/usr/local/gpdb --with-openssl --with-libxml --with-libxslt --with-python --with-perl --with-includes=/usr/local/gpdb/include --with-libs=/usr/local/gpdb/lib --enable-orca

[2017-03-08 18:33] skahler-pivotal commented on #1987
the management and monitoring group is about to embark upon a track of work to validate gpperfmon on 5.0. we haven't started on it yet, but will in the near future. At this point in time I don't believe it will build

[2017-03-08 20:31] #1880 closed

[2017-03-09 01:33] dhanashreek89 commented on #1345
`octet_length()` gives the raw/detoasted length of the datum. `octet_length()` supports data types: bytea, text, character, bit

It is not polymorphic and hence it can not be used for User Defined Types.

Approach to address this issue :
1. Numeric types or Fixed length user defined types:
    Always include the column in the sample.

2. Built in Variable length type :
    Use `octet_length()` to

[2017-03-09 05:54] zlyswjtu opened #1995 "High VMEM Usage on JDBC insert data"
We use JDBC insert data into greenplum and commit ervery 1000 rows. When insert about 400,000 rows of data, high vmem error occurs.
"Canceling query because of high VMEM usage. Used: 7898MB, available 873MB, red zone: 7920MB (runaway_cleaner.c:129)"

Does any one can tell me why this happened, and how to fixed it. thanks.

[2017-03-09 09:32] 21090310 opened #1997 "Running gp_dump with the special database names that contain backslash return error ?"
When I run gp_dump with database name contains backslash like this :
[code]
Unfortunately,  it return error as follows：
[code]
I try with "abcdefg()\4" and "abcdefg()\\\4" and "abcdefg()\\\\4", it return same error.

Is it a bug ?

[2017-03-09 18:29] jonasbu11 opened #2000 "ERROR 42501 argument to pg_get_expr() must come from system catalogs parse_func.c"
This behavior has been observed in postgresql 8.3.23 and 9.0b3 (link below) where a user (not superuser) attempts to pass valid columns from system catalogs referenced by join alias.  AFAIK is has been fixed in more recent versions of postgresql.

Current build of GPDB.

Example of failing query:
select pa.oid,
       pr.parchildrelid,
       pg_get_expr(parlistvalues, parchildrelid )as ListValues

[2017-03-09 20:36] hsyuan opened #2002 "Explain error because of subplan double parallelized"
Repro:

[code]

Planner generated equivalent classes predicate `b = Subplan and b < 10 and Subplan < 10` for above query. The 2 Subplans are shallow copies that have plan_id pointing to the same plan inside of PlannerInfo initplans. After the 1st subplan is parallelized, it marks `is_parallelized` as true, but for the 2nd subplan, the `is_parallelized` is still false, so planner tries to paralleli

[2017-03-10 01:17] zlyswjtu commented on #1995
The vmem used of master is increasing until high vmem usage.
[code]

[2017-03-10 10:55] hlinnaka commented on #2002
We should process the InitPlans in a separate step, probably before processing the main plan. We stopped processing subplans recursively like that in the rest of the system, in commit eab6b8b27e that we got with the PostgreSQL 8.3 merge. But we never got around to refactor cdbparallelize to do the same.

[2017-03-10 11:46] hlinnaka commented on #1345
Hmm. pg_column_size does actually return the detoasted size. However, got to be careful with the terminology here. If the column is compressed, pg_column_size returns the *compressed* size, whether or not it is also toasted. Are compressed datums transferred as compressed, from segments to the master? If they are, it's probably OK to fetch a datum that's huge when decompressed, but has been compre

[2017-03-10 13:15] amosbird opened #2007 "Multi segments per node per disk vs one segment per node on RAID10"
What choice should I make to deploy gpdb? Based on `postgres` I think raid10 is better compared to multi tablespaces. I'm not sure if this is true for gpdb.

[2017-03-10 14:11] jonasbu11 commented on #2000
To clarify why this matters:  Several user tools (Aginity, pgadminIII, e.g.) use this when generating table info.

[2017-03-10 14:22] jonasbu11 opened #2008 "pg_proc.c proargdefvals from pg 8.3 replaced by proargdefaults from pg 8.4"
This causes errors on pgadmin3 which has a workaround for the catalog change, but triggers based on pg version of >= 8.4.  GPDB still reports pg version of 8.3

Compiling with version string 8.4 causes other issues presumably because 8.4 is not fully merged.

[2017-03-11 00:58] bhuvnesh2703 commented on #1345
Yes, agreed, pg_column_size returns the compressed size (if compressed).
When analyze gets the samples, i believe they are already uncompressed so in cases of columns like bytea if there is a huge string which is just a repetition of a single character, it might result in a very low compressed size but can cause the query to fail due to vmem issue, therefore using octet_length wherever applicable

[2017-03-13 10:12] VinnyPembe opened #2025 "Blocksize Storage Options"
Hello,

I have recently been doing a lot of system performance testing in the way of SSDs and RAID configuration options. I've concluded, as is already known amongst many, that a 256KB blocksize performs better for random reads than a 32KB blocksize.

Now, I understand that you can set the blocksize specifically (and only) for Append-Only, Column-Orientated tables.. Personally, this is not useful

[2017-03-13 10:34] hlinnaka commented on #2025
It would be quite difficult to increase the heap block size further, from 32kB, because there are many places throughout the code that assume that an offset into a block can be stored in a 16-bit integer.

I find it hard to believe that there would be a significant performance gain to be had from that anywya, to be honest, especially for random reads. How did you reach that conclusion?

[2017-03-13 10:52] VinnyPembe commented on #2025
Ah, that is also what the Pivotal Engineer I spoke to said - I was hoping (though highly unlikely it was) that perhaps the GitHub version may have been working towards it in some way.

Significant - Perhaps not quite so literally. Noticable - Yes. It also, of course, depends on the performance you have with disks in the first place. To gain an extra 500KB/s performance on a 4MB/s disk is pointless

[2017-03-13 16:22] mgoddard-pivotal opened #2027 "Add bounds check for the "-p" option in gpaddmirrors"
Currently, it's possible to mistakenly provide a value to the "-p" option, such as 10000, which would lead to port number values of 70000, which don't exist, leading to errors.

This request is to sanity check the provided port offset values to ensure they would lead to valid port numbers.

[2017-03-13 16:26] Eulerizeit commented on #2027
@oakbarrett @skahler-pivotal

[2017-03-13 16:59] mgoddard-pivotal commented on #2027
I neglected to mention that this arose during a PoC, and Scott K. and Jon R. helped diagnose and solve it.  Thanks, fellas!

[2017-03-13 18:54] hlinnaka commented on #2025
I don't think there's anything to be done here, so closing the issue.

[2017-03-13 18:54] #2025 closed

[2017-03-13 22:26] Eulerizeit commented on #2008
What version of GPDB are you using?

We don't own the pgAdmin3 code and it is unclear whether there is going to be any further work done on it. We are actively working on pgAdmin4 to get it to work with GPDB 5.

[2017-03-13 22:55] jonasbu11 commented on #2008
It's recent build of GPDB open source.    I'm not saying that you should
fix pgadmin3.   I am saying that currently there is a mix of pg8.3 and
pg8.4 that is causing problems.   Pgadmin4 compatibility would be the
better answer in the long run.   Thank you for clarifying the direction.

On Mon, Mar 13, 2017, 18:26 Robert Eckhardt <notifications@github.com>
wrote:

--

Jonas Bull
601-265-3006
601-4

[2017-03-14 00:03] ashwinstar opened #2032 "Splitting default partition for multilevel partitioned table without INTO default partition doesn't error out"
For single level partition, default partition cannot be split if `default partition` is not specified in the INTO clause of the SPLIT command

Like for single level
[code]
So to split default partition must specify first partition as new intended partition but second partition should be default itself.

But for multilevel partitioned table split goes through but doesn't create required constraints

[2017-03-14 06:52] baobao0206 opened #2033 "Query plan error with table function."
@ivannovick @yydzero @hlinnaka

QD segment fault when execute sql:
explain select count(*) from tbl1 t, search(table(select * from tbl2), 'aaa') s where t.id = s.id;

1. Buid bug.so with bug.cpp
[code]

2. Create a udf function:
[code]

3. run sql
[code]

4. QD segment fault
[code]
Core stack in gplog
[code]

[2017-03-14 06:55] JunfengYang commented on #2033
This bug affect GPText's several UDFs, please help us resolve it before official release.

[2017-03-14 07:26] hlinnaka commented on #2033
The line numbers in the stack trace don't line up with the current sources. Are you sure you're using a recent checkout of GPDB master?

[2017-03-14 07:29] hlinnaka commented on #2033
I was able to reproduce this with a fresh checkout, anyway. I'' investigate.

[2017-03-14 19:28] hlinnaka commented on #2033
Fixed, thanks for the report!

[2017-03-14 19:28] #2033 closed

[2017-03-15 02:25] amosbird commented on #1645
I encountered this when setting a large value of `statement_mem = 32GB`. Shrinking it to 320MB walks around this issue.

[2017-03-16 06:33] sonicmvb opened #2048 "psql hang while gpdb state is ok"
envrionment
gpdb version 4.1.2.4
master     OS centos 6.8
node        OS centos 5.4 ,centos 5,8 ,centos 6,8  mixed

after gprecoverseg  operation,  use psql connect to database  with 3-5 seconds delay (abnormal)
can not query any tables  while gpstate -s returns no errors

logs in pg_logs shows nothing happens ,just hang

issues means 4.1 bugs or something else goes wrong ?

[2017-03-16 06:48] sonicmvb commented on #2007
raid 5 is better in perf/price

[2017-03-16 16:36] ivannovick commented on #2048
4.1.2.4 is way too old.  Can you refile this with a recent version of Greenplum based on open source?

[2017-03-16 16:36] #2048 closed

[2017-03-17 23:06] jmcatamney commented on #1997
If you want to use gp_dump to backup a database with backslashes in the name, you can do so by using single quotes for the database name (`gp_dump 'abcdefg()\\4'`) or escaping each backslash and using double quotes (`gp_dump "abcdefg()\\\\4"`), as the shell will resolve a double-backslash into a single backslash before passing it to gp_dump unless the database name is single-quoted.

However, in g

[2017-03-18 03:07] johnnyflute opened #2065 "gptransfer fail on table which is distributed by multiply columns"
[code]

gptransfer failed to transfer on `test` table. It will create an external table like this:

[code]

which `"a, b"` is not a column of `test` table.

Columns in distributed by clause is incorrectly quoted.

[2017-03-18 03:24] johnnyflute commented on #2065
this issue has been fixed on the master

[2017-03-18 03:24] #2065 closed

[2017-03-19 00:53] zhangguohan opened #2066 "CentOS Linux release 7.3.1611 make[2]: *** [pygresql] Error 1"
When I run make install error, this is a bugs?

OS：CentOS Linux release 7.3.1611
GCC: gcc-4.8.5-11.el7.x86_64
python:python-2.7.5
Greenplum: 5.0.0.aplph.0
------------------------------------------------------------------------------------
mkdir -p /usr/local/src/gpdb-master/gpMgmt/bin/ext/pygresql
if [ `uname -s` = 'Darwin' ]; then \
  cp -r /usr/local/src/gpdb-master/gpMgmt/bin/pythonSrc/PyGreSQ

[2017-03-19 01:09] zhangguohan commented on #2066
renews download greeplump source is ok. Thinks

[2017-03-19 01:09] #2066 closed

[2017-03-19 03:01] zhangguohan opened #2067 "Greenplum initsystem failed"
HI,

  When I run gpinitsystem -c /home/gpadmin/gpconfigs/gpinitsystem_config ，failed ?

gpstop failed. (Reason='Unrecognised Greenplum Version 'PostgreSQL 8.3.23 (Greenplum Database build dev) on x86_64-pc-linux-gnu, compiled by GCC gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-11) compiled on Mar 19 2017 01:05:37'') exiting

OS:CentOS Linux release 7.3.1611
GCC:gcc-4.8.5
PYthon:python-2.7.5
Greenplum:

[2017-03-19 03:25] zhangguohan commented on #2067
****#

[2017-03-19 09:08] zhngling commented on #2067
git clone https://github.com/greenplum-db/gpdb.git
not use the zip

[2017-03-19 10:36] zhangguohan commented on #2067
renew use git clone https://github.com/greenplum-db/gpdb.git  is OK! Thanks  @zhngling

[2017-03-19 10:36] #2067 closed

[2017-03-20 09:54] zhangguohan opened #2070 "Greenplum Database 5.0.0 quicklz compression not supported ?"
Hi  everyone

when I`m user compression Table Storage Model test, tips  ERROR:  quicklz compression not supported (quicklz_compression.c:26)

Greenplum compile parameter : ./configure --with-perl --with-python --with-libxml --enable-mapreduce --prefix=/usr/local/gpdb-5.0.0

Specific operation as follows :

------------------------------------------------------------

tank=# create table foozip (li

[2017-03-20 09:58] hlinnaka commented on #2070
Quicklz compression is not supported in the open source GPDB 5 version, unfortunately. It could not be open sourced with the rest of the codebase, because of licensing issues.

What is the Table Storage Model test?

[2017-03-20 10:00] zhangguohan commented on #2070
OOO, Thank you! @hlinnaka

[2017-03-20 10:01] #2070 closed

[2017-03-20 13:05] marcin-github opened #2071 "compilation error: gppc.c:56:45: error: expected declaration specifiers or ‘...’ before ‘(’ token"
Hi!
I'm new here, I would like to try greenplum-db. When I compile gpdb I'm getting compilation error. I suspect that it is because I've got installed postgres-9.5 on the box.

`./configure --prefix=/usr --build=x86_64-pc-linux-gnu --host=x86_64-pc-linux-gnu --mandir=/usr/share/man --infodir=/usr/share/info --datadir=/usr/share --sysconfdir=/etc --localstatedir=/var/lib --docdir=/usr/share/doc/gpd

[2017-03-20 13:06] marcin-github commented on #2071
gcc-4.9.4

What should I do to compile gpdb?

[2017-03-20 16:39] Chibin commented on #2067
@tom-meyer @dsharp-pivotal For visibility.

[2017-03-20 22:58] hlinnaka commented on #2071
I think you're right that this is caused by the fact that you already have PostgreSQL 9.5 installed on the box. And in particular, because it's installed in the same directory. In fact, if you tried to do "make install", it would overwrite files from your existing PostgreSQL 9.5 installation, and create a mess. Better to install GPDB in a different location (i.e. use a different --prefix, and othe

[2017-03-21 09:38] marcin-github commented on #2071
I don't afraid overwriting files because I'm using package manager (I didn't mention about it). I set prefix to something not generic and now it's ok.
Thank you!

[2017-03-21 09:38] #2071 closed

[2017-03-21 14:48] skahler-pivotal commented on #23
Closing issue due to it being covered in [#2](https://github.com/greenplum-db/gpdb/pull/2)

[2017-03-21 14:48] #23 closed

[2017-03-21 19:30] davecramer opened #2080 "pg_class does not have reltablespace filled in"
select oid, relname, reltablespace from pg_class where relname = 'entry';
  oid  | relname | reltablespace
-------+---------+---------------
 24686 | entry   |             0

[2017-03-21 19:32] Eulerizeit commented on #2080
@asimrp @ashwinstar can you look at this please

[2017-03-21 19:41] ashwinstar commented on #2080
@davecramer can you provide more clues, that line doesn't say much. For tables in default tablespace of a database, pg_class entry records `0` as reltablespace. At runtime it finds it from pg_database what's default tablespace for the database.

[2017-03-21 19:48] davecramer commented on #2080
@ashwinstar in that case it is working as designed.For some reason I thought this was filled in upstream

[2017-03-21 19:48] #2080 closed

[2017-03-21 19:54] ashwinstar commented on #2080
Only for tables in non-default tablespace for a database it will have value. It's thins way to easy database creation by filesystem copy of pg_class instead of modifying the same later.

[2017-03-23 16:30] zhangguohan opened #2088 "open source GPDB 5 version relation "gp_master_mirroring" does not exist?"
HI ,everyone

When we try to use gp_master_mirroring check the synchronization process, prompt "gp_master_mirroring "does not exist?, the open source GPDB 5 does not support check synchronization  stat?

[gpadmin@mdw ~]$ gpstate
20170323:16:34:20:018371 gpstate:mdw:gpadmin-[INFO]:-Starting gpstate with args:
20170323:16:34:20:018371 gpstate:mdw:gpadmin-[INFO]:-local Greenplum Version: 'postgres (G

[2017-03-23 23:44] foyzur commented on #1995
Hi @zlyswjtu do you have logs that you could attach? Particularly the log should have a dump of all the contexts and accounts about the memory usage.

[2017-03-24 09:46] zlyswjtu commented on #1995
Hi @foyzur  is this the log of contexts and accounts about the memory usage?
[code]

[2017-03-24 09:56] zlyswjtu commented on #1995
@foyzur
I create a sql file with 500,000 insert commands, like
···
insert into fruit values(41509, 'blueberry');
insert into fruit values(41510, 'apple');
insert into fruit values(41511, 'banaba');
insert into fruit values(41512, 'orange');
insert into fruit values(41513, 'watermelon');
···
psql database -f test.sql
this will get same error, "Canceling query because of high VMEM usage. "
because o

[2017-03-24 15:43] davecramer commented on #1995
Curious, why would anyone do this ?

Dave Cramer

On 24 March 2017 at 05:56, Sara <notifications@github.com> wrote:

[2017-03-26 19:49] hlinnaka opened #2100 "Internal error in simple self-join query"
[code]

[2017-03-26 19:51] hlinnaka commented on #2100
It's not restricted to a self-join, you get the same error if you join two different but identical tables.

[2017-03-27 02:37] mstaryi opened #2101 "Failed to start Master instance in admin mode in version 5.0.0-alpha.0"
I‘m build a gpdb on centos 6.7 prepare to install, when executed the gpinitsystem I was encountered the “Failed to start Master instance in admin mode” error:

20170327:18:08:03:009605 gpstart:file3:gpadmin-[CRITICAL]:-Failed to start Master instance in admin mode
20170327:18:08:03:009605 gpstart:file3:gpadmin-[CRITICAL]:-Error occurred: non-zero rc: 1
 Command was: 'env GPSESSID=0000000000 GPERA=

[2017-03-27 03:05] mstaryi commented on #2101
This problem was caused by the coverage of the old version of gppylib directory, my compiler script has some problems. thanks

[2017-03-27 03:40] xiong-gang commented on #1758
Merged, https://github.com/greenplum-db/gpdb/pull/1925

[2017-03-27 03:40] #1758 closed

[2017-03-27 06:37] danielgustafsson commented on #2101
I was about to say, it seems you are running an old version of the management tools (gp.py in particular), `-z X` was removed in favor of `--gp_num_contents_in_cluster=X`. Seems you found it as well so closing this.

[2017-03-27 06:37] #2101 closed

[2017-03-27 09:43] 21090310 commented on #1997
Unfortunately, I run <code>gp_dump 'abcdefg()\\4'</code> and <code>gp_dump "abcdefg()\\\\4"</code>, it return same error. And I use <code>gpcrondump -x 'abcdefg()\\4'</code>, the error is as follow:
[code]
The file ./tmp_basedir_for_gpdb_bld/lib/python/gppylib/db/dbconn.py will retrun error when database name contain double backslashes.

[2017-03-27 18:21] ashwinstar commented on #2088
gp_master_mirroring was the table used in 4.2 version. It has been removed or doesn't exists since 4.3 and 5.0 OSS. New master mirroring implementation based on wal replication is used for newer GPDB versions so instead use `select * from pg_stat_replication`, refer to docs which provide information on newer functionality and functions.

[2017-03-27 18:21] #2088 closed

[2017-03-29 03:07] pivotal-ning-yu opened #2115 "Assertion failure in heap_deform_tuple"
Reproduce with the following queries
[code]

[code]

[2017-03-29 06:14] hlinnaka commented on #2115
I think we should remove the assertion. PostgreSQL doesn't have one, and I don't see any reason to have it.

I tried to trace the git history, to see why it was added. Looks like it was introduced back in 2007, in a patch that backported the short varlena feature from the upstream. There was no explanation of why it was added, when the upstream doesn't have it, unfortunately.

[2017-03-29 10:52] hlinnaka opened #2116 "Dynamic partition elimination goes wrong with volatile expressions"
Test case:
[code]

The above query should always return one row, but a random one. The subquery returns one row, with random value from 1 to 5, there should always be one matching row in parttab. However, with gp_dynamic_partition_pruning=on, it returns zero rows (except sometimes when you're lucky).

The plan looks like this:
[code]

The problem here is that the planner has duplicated the Functio

[2017-03-29 17:59] skahler-pivotal commented on #2007
I believe the two methods you are talking about here would be to 1) give each segment it's own set of disk 2) run all segments on a shared set of disk.

Ideally everything running in the cluster stays parallel so therefore each having it's own individual disk setup would be the most parallel. While this is an aim there are queries out there that tend to cause the system to skew so one node has to

[2017-03-29 18:10] skahler-pivotal commented on #1622
I believe this is there in SLES also

[2017-03-29 18:28] ysung-pivotal opened #2120 "CTAS with duplicated distribution keys should throw syntax error"
"create table 'aaa' as select * from bbb distributed by (key1, key1, key2);" should throw syntax error ", just like "create table bbb (key1, key2, key3) distributed by (key1, key1, key2); ", "ERROR, "duplicate column ", "key1"" in Distributed By clause.
 Instead, the table created without any error.
when \d+ aaa, it does show duplicate column in distributed by clause.

[2017-03-29 18:31] foyzur opened #2121 "Interconnect hangs on a single segment"
@karthijrk  found this during the PR https://github.com/greenplum-db/gpdb/pull/2076. This happens in master without the PR changes.

Consider this repro with a *single* segment GPDB:

[code]

[code]

The above hangs in QD with this stack trace:

[code]

The QEs are all idle. One QE stack looks like:

[code]

So, the QE is just waiting in ReadCommand.

[2017-03-30 03:32] amosbird commented on #2007
@skahler-pivotal Thanks for the help. Do you mean that gpdb will still use multiple segments on one node to do parallel query execution?

[2017-03-30 15:00] hlinnaka opened #2130 "Join on IS NOT FALSE clause produces wrong results."
Test case:

[code]

That result is incorrect. `x IS NOT FALSE` is true, when `x IS NULL`. The correct result would be:
[code]

Spotted this while reading code. It's caused by this code that was added into `make_restrictinfo_internal` function in GPDB:
[code]
That is wrong, it assumes that "x IS NOT FALSE" is equal to just "x", but that is wrong, because they handle NULLs differently.

[2017-03-31 11:36] danielgustafsson commented on #2120
Fixed via #2128

[2017-03-31 11:36] #2120 closed

[2017-04-01 02:59] pengzhout commented on #2121
@foyzur we can't reproduce this, few questions:
1. can you provide the dataset you used?
2. did you turn orca on?
3. what is the value of gp_connections_per_thread?

[2017-04-01 08:45] hlinnaka commented on #2116
Fixed by commit e378d84bf32922b324a8ce6e8a66be358a0b805f

[2017-04-01 08:45] #2116 closed

[2017-04-01 08:45] hlinnaka commented on #2100
Fixed by commit e378d84bf32922b324a8ce6e8a66be358a0b805f

[2017-04-01 08:45] #2100 closed

[2017-04-03 11:59] salahaldin opened #2148 "Delete From table with partition"
Hello,

I am using an old version of greenplum, so I can not tell if this already fixed/reported  or not

I am getting the following error.
` DELETE FROM master  WHERE date_iso ='2017-04-01';
ERROR:  could not find junk ctid column (execMain.c:1973)
`
Master is the parent table and it has several childs as follws:
` db=# \d+ master
                           Table "master"
     Column      |

[2017-04-04 18:13] skahler-pivotal commented on #2007
Yes, gpdb will use a hashing algo on the data which ideally ends up with the data spread evenly across all of the segments. When a query is run every segment will participate in the query on it's piece, potentially passing tuples around to other nodes or aggregating them as needed by the query plan. So the query is executed in parallel across all of the nodes.

[2017-04-05 02:41] asimrp commented on #913
FIxed by PR #2046

[2017-04-05 02:41] #913 closed

[2017-04-05 07:49] funnyxj commented on #2148
try vacuum full master, execute again.

[2017-04-05 09:10] salahaldin commented on #2148
Thank you it works now.

[2017-04-05 09:10] #2148 closed

[2017-04-06 07:28] Tao-Ma commented on #913
Cool, happy to have a faster temp table.

[2017-04-06 18:20] vraghavan78 commented on #1345
https://github.com/greenplum-db/gpdb/pull/2156

[2017-04-06 18:20] #1345 closed

[2017-04-06 18:23] vraghavan78 commented on #177
Closing  this since it is not in the immediate roadmap.

[2017-04-06 18:23] #177 closed

[2017-04-07 02:05] Chibin commented on #1987
This is getting addressed with the following PR:
https://github.com/greenplum-db/gpdb/pull/2154

[2017-04-07 23:27] foyzur commented on #1995
Hi @zlyswjtu thanks for attaching the context dump. Do you also have an account dump? It should precede the context dump and has a header "memory: account_name, account_id, parent_account_id, quota, peak, allocated, freed, current"

[2017-04-07 23:31] foyzur commented on #1995
@xiong-gang could you please look at why the Gang Context/Per Gang Context is leaking so much?

[2017-04-09 00:43] asimrp commented on #1621
@HaozhouWang can this issue be closed?  You seem to have merged a fix already.  If so, please close this issue.

[2017-04-09 01:33] ashwinstar commented on #801
Also, while reading code for something else found 8.3 merge brought in great feature of "Heap Page Pruning" with HOT (which is similar to lazy vacuum cleans up dead tuples on page while scanning page for selects / updates / inserts /...) so reduces the need for separate individual vacuum and also potentially avoids on-disk space growth for a relation.

This feature is kind-off in disabled state cu

[2017-04-10 03:07] HaozhouWang commented on #1621
@asimrp Yes, this issue has been fixed. I close it now.
Thanks!

[2017-04-10 03:07] #1621 closed

[2017-04-10 04:28] pengzhout commented on #2121
We can reproduce the issue now with one single segment configured and set ORCA to on.
A segment who supposed to be writer gang is now assigned to a reader gang , so it get stuck in getting the snapshot from the writer gang.

The RCA is gpdxl::CTranslatorDXLToPlStmt::PplanMotionFromDXLMotion set the flow type to an incorrect value,
[code]
In line 2452, you also need to check if total number of segm

[2017-04-10 06:46] qinzl1 opened #2185 "why the Docs have no install guide"

[2017-04-10 08:14] pivotal-ning-yu commented on #1995
Hi @zlyswjtu,

I can't reproduce this issue with my own jdbc script. Could you please share us the code or binary to reproduce it?

Thanks.

[2017-04-10 17:51] vraghavan78 commented on #2121
Thanks @pengzhout

[2017-04-11 00:12] cjcjameson commented on #2185
Hi there! Are you thinking about the Readme here? https://github.com/greenplum-db/gpdb#build-gpdb-with-planner is a good start that goes through installation but isn't comprehensive.

The bulk of the documentation is checked in here: https://github.com/greenplum-db/gpdb/tree/master/gpdb-doc and rendered to here: http://docs-greenplum-db-staging.cfapps.io/docs-gpdb/common/pivotal-gpdb-features.html

[2017-04-11 02:54] Toknowledge opened #2195 "merge join can not work"
We find below bug in the latest GP code:

[code]

It seems that commit 'eefa4e04bc06fb26c4a0b6732d5fd9a4bbe2d441' has fixed some scenarios, but it does not cover above case.

[2017-04-11 08:30] zlyswjtu commented on #1995
Hi @pivotal-ning-yu ,

I use ETL tool kettle, version is 5.3.0.0, csv input, table output to GP, JDBC driver, commit every 1000 rows.
This is home page of kettle http://community.pentaho.com/projects/data-integration/
You can download from here.

This issue also can be reproduced by following steps, although nobody will use like this.
1. create a sql file with 500,000 insert commands, like
[code]

[2017-04-11 10:14] pivotal-ning-yu commented on #1995
Hi @zlyswjtu,

Actually we also tried sql files like that with 500000 insert commands as well as some variants:

1. commit every row;
2. commit every 1000 row;
3. all rows in one commit;

But no lock to reproduce the issue. Could I know your table structure? Thanks.

[2017-04-11 10:52] zlyswjtu commented on #1995
Hi @pivotal-ning-yu,

tpch, table part
[code]
By the way, I pull gpdb source code in August 2016. I don't know whether the latest version has this problem.

[2017-04-11 10:54] zlyswjtu commented on #1995
Hi @foyzur , the memory account and context dump.
[mem_context.txt](https://github.com/greenplum-db/gpdb/files/912921/mem_context.txt)

[2017-04-11 11:19] pengzhout commented on #1995
@zlyswjtu  can you cherry-pick the commit 4c6eddf08d7f30669d641a27fad51e6844cb2368, it might resolve your issue.

[2017-04-12 00:45] Toknowledge commented on #2195
[code]

[2017-04-12 02:34] zlyswjtu commented on #1995
Hi @pengzhout , thanks for helping.
I tried this commit, it slows down memory leak, but still has problem.

[2017-04-12 02:55] hsyuan commented on #2195
Since merge join doesn't support JOIN_LASJ_NOTIN, planner should generate plan with `subplan` instead of error out.

[2017-04-12 08:33] xiong-gang commented on #1995
Hi @zlyswjtu,

I checked out the commit of Aug 1st (1a861ede8b855f3f1a8a13b58394989a63e110b6) and ran the test in the way 'psql -d database -f test.sql'. The memory usage did increase by time. But after cherry-pick the above commit, i can not reproduce the problem.
I used a cluster of 3 primary and 3 mirror segments, with default configuration.

So is there anything you could think of to help us d

[2017-04-12 10:38] deepakgupta8777 opened #2217 "make build failing"
Error log is as follows:

make[4]: Entering directory '/home/deepak/gpdb/src/backend/gpopt/translate'
g++ -O3 -Wall -Wpointer-arith -Wendif-labels -Wformat-security -fno-strict-aliasing -fwrapv -fno-aggressive-loop-optimizations -Wno-unused-but-set-variable -Wno-address -I../../../../src/include -D_GNU_SOURCE -I/usr/include/libxml2   -c -o CTranslatorRelcacheToDXL.o CTranslatorRelcacheToDXL.cpp
CT

[2017-04-12 15:37] hsyuan commented on #2217
please get latest gpdb and gporca, and build again.

[2017-04-13 00:22] vraghavan78 commented on #2217
It works now.

[2017-04-13 00:22] #2217 closed

[2017-04-13 06:50] zlyswjtu commented on #1995
Hi @xiong-gang,

After cherry-pick the above commit, the test in the way 'psql -d database -f test.sql' is no problem.
But test run in ETL tool kettle can  reproduce the problem.
I used a cluster of 4 primary and 4 mirror segments, with default configuration, CentOS7.2.

So can you test with kettle?

Thanks.

[2017-04-13 16:16] orhankislal opened #2236 "Multiple sum over partition clauses produce wrong results."
Here is a simple test case demonstrating the issue.
Input:
[code]
The following query gives the correct result:
```select sum(z) over (partition by x) as sumx from test1;```
[code]
This one does not:
```select sum(z) over (partition by x) as sumx, sum(z) over (partition by y) as sumy from test1;```
[code]

[2017-04-13 17:07] hlinnaka commented on #2236
Works for me:
[code]
Can you give more details on your environment? Which version, how many segments? Any non-default GUCs? What does EXPLAIN output look like?

[2017-04-13 17:18] orhankislal commented on #2236
Single node 4 segments
Installed using the following version:
`greenplum-db-5.0.0-alpha.1+dev.34.g7e205ce-build-1-rhel6-x86_64.bin`
Explain output:
[code]

[2017-04-13 17:22] zhangguohan opened #2237 "GPDB5.0 has plans to support oracle_fdw\Mysql_fdw \Redis_fdw and other related FDW?"

[2017-04-13 17:57] vraghavan78 commented on #2236
@orhankislal does Orca produce same output just as a data point.?

[2017-04-13 18:32] orhankislal commented on #2236
@vraghavan78 No, ORCA works fine
[code]

[2017-04-13 20:34] hlinnaka commented on #2236
Thanks, that did the trick, using a 4-segment cluster. Opened PR #2239 to fix this.

[2017-04-13 20:36] hlinnaka commented on #2237
No, GPDB 5 will not support FDWs. The current plan is to support them in GPDB 6, after merging with PostgreSQL 8.4-9.1, where FDW support was added to PostgreSQL.

[2017-04-13 23:56] zhangguohan commented on #2237
Thank you! @hlinnaka

[2017-04-13 23:56] #2237 closed

[2017-04-14 05:27] xiong-gang commented on #1995
Thanks @zlyswjtu , i think i can reproduce it using kettle. I am looking into it.

[2017-04-14 07:33] xiong-gang commented on #1995
I find one memory problem in CachedPlan context.
In this case here, a CachedPlan context is created and reused for each `insert`, and during each `insert` we keep `palloc` in this context in function exec_make_plan_constant()
@foyzur  Do you have any idea about this?

[2017-04-14 08:40] zlyswjtu commented on #1995
Hi @xiong-gang, here is memory context log after I cherry-picked the above commit.
[mem_context_after.txt](https://github.com/greenplum-db/gpdb/files/921767/mem_context_after.txt)

[2017-04-14 08:58] ppggff opened #2248 ""Unexpected internal error“ with debug build"
Version:
 - Ubuntu 16.04.1, Linux x64
 - GPDB: 7fbb36d Raise warning when using gpconfig to set gp_resource_manager to 'group' value.
 - ORCA: 2567ef1 Disabling a test for space size issue

Configured with:
[code]

Failed using ORCA:
[code]

Problem disappeared after changing CFLAGS and CXXFLAGS in `Makefile.global` from 'O3' to 'O0'.
Should we use 'O0' as default optimization level when 'enable_d

[2017-04-14 09:07] ppggff opened #2249 "produce zero result when 'optimizer_static_partition_selection = off'"
When 'optimizer_static_partition_selection = off', query may produce zero result.
Example:
[code]

It may be caused by "https://github.com/greenplum-db/gpdb/commit/7b6dc9bfff555e902a6a5b9333023a4c618de3fe".

[2017-04-14 10:31] xiong-gang commented on #1995
Thanks @zlyswjtu, i think this confirms the leak is in `CachedPlan` memory context.

[2017-04-14 16:57] orhankislal commented on #2236
Thanks!

[2017-04-14 18:20] dhanashreek89 commented on #2249
Hi Zhenqi, thanks for bringing this up. Jesse and I will take a quick look at it. Before we get back to you, make sure you reach a wider community by posting this question on [our mailing list](gpdb-dev@greenplum.org).

Thanks!
Dhanashree and Jesse (@d)

[2017-04-14 19:23] danielgustafsson commented on #2248
`--enable-debug` doesn't do anything specific other than add `-g` to the build, so changing the optimisation level for debug won't do much good. Did you get a coredump from the assertion failure?

[2017-04-17 02:32] ppggff commented on #2248
@danielgustafsson yes, I got a coredump.
Should I send it to somewhere?

[2017-04-17 09:02] adam8157 commented on #1170
Will do this in next catalog window, it's frozen right now.

[2017-04-17 15:00] asimrp commented on #2248
Cored ump could be too large to share, can you load it in `gdb` and report the backtrace?  If backtrace is not enough to diagnose, the core must be shared somehow.

[2017-04-18 03:14] hsyuan commented on #2249
Why do we need this GUC? Shouldn't it be removed?
We already have `optimizer_enable_partition_selection` to control whether to enable partition elimination or not, having GUC `optimizer_static_partition_selection` to control static partition elimination doesn't make sense to me.

I recommend we remove this GUC.
Thoughts?

[2017-04-18 03:16] hsyuan commented on #2249
BTW, I don't think it is related with that specific commit.

[2017-04-19 20:50] dhanashreek89 commented on #2249
`optimizer_enable_partition_selection` only controls the printable filters. It is used in `PexprExtractPredicatesOnPartKeys()`. If this guc is off , the `<dxl:PrintableFilter>` does not contain filter expression and just a boolean Const set to true.  Also we never try to execute PrintablePredicate. So this guc only affects `Explain` behavior.

Whereas, `optimizer_static_partition_selection` contro

[2017-04-19 21:01] hsyuan commented on #2249
I don't think so. check this out:

[code]

Both static and dynamic partition selection can be controlled by `optimizer_enable_partition_selection`. Hence I don't think we need GUC `optimizer_static_partition_selection` specifically for static partition selection. It seems redundant.